Repository microsoft/promptflow, pull requests merged in 2023-11, with the labels that each got.

#861 [SDK]flow as func POC
  .pre-commit-config.yaml
  examples/tutorials/flow-deploy/create-service-with-flow/readme.md
  examples/tutorials/flow-deploy/create-service-with-flow/sample.ipynb
  examples/tutorials/flow-deploy/create-service-with-flow/simple_score.py
  src/promptflow/promptflow/_core/connection_manager.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/__init__.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/_sdk/schemas/_run.py
  src/promptflow/promptflow/entities/__init__.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/flows/flow_with_custom_connection/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_custom_connection/hello.py
Labels: examples, sdk, promptflow

#982 [Sample]fix flow as function sample
  examples/tutorials/flow-deploy/create-service-with-flow/readme.md
  examples/tutorials/flow-deploy/create-service-with-flow/sample.ipynb
  examples/tutorials/flow-deploy/create-service-with-flow/simple_score.py
Labels: examples

#990 Add persist_multimedia_data to _internal
  src/promptflow/promptflow/_internal/__init__.py
Labels: promptflow

#976 [Open_Source_LLM] Add Dynamic List Functionalities
  .cspell.json
  .github/workflows/tools_tests.yml
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/promptflow/tools/yamls/open_source_llm.yaml
  src/promptflow-tools/requirements.txt
  src/promptflow-tools/setup.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: promptflow-tools, fundamental

#986 [promptflow][fundamental] Rename environ name for pfazure test mode
  .github/workflows/promptflow-sdk-cli-azure-e2e-test.yml
  docs/dev/replay-e2e-test-for-pfazure.md
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/bases.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/constants.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
Labels: documentation, promptflow, fundamental

#991 [promptflow][BugFix] Keep original format in run output file
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: sdk, promptflow

#992 [Open_Source_LLM] Add Support for MaaS Llama
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: promptflow-tools

#950 update promptflow tools version to 0.1.0b11
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#975 [flow test] Add flow chat/test/streamlit_chat in telemetry
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
Labels: sdk, cli, promptflow

#1001 Fix create_tools_release_tag release
  .github/workflows/tools_release_tag.yml
Labels: fundamental

#1005 [infrastructure] Bypass GH operation for status update
  .github/actions/step_publish_test_results/action.yml
Labels: fundamental

#993 [Sample]Refine flow as func sample and add CI for it.
  examples/README.md
  examples/tutorials/flow-deploy/create-service-with-flow/readme.md
  examples/tutorials/get-started/flow-as-function.ipynb
  examples/tutorials/get-started/quickstart.ipynb
  scripts/readme/ghactions_driver/workflow_templates/flow_as_function.yml.jinja2
  scripts/readme/workflow_generator.py
Labels: examples, fundamental

#1002 [promptflow][infrastructure] Switch runtime in tests to compute instance hosted one
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_run_file_with_set.yaml
Labels: promptflow

#1008 Update flow test page
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_sdk/data/executable/flow_test_main.py.jinja2
  src/promptflow/promptflow/_sdk/data/executable/utils.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_image/flow.dag.yaml
Labels: sdk, cli, promptflow

#1004 [PFServing] add chat flow metadata in swagger and streaming event callback
  src/promptflow/promptflow/_sdk/_serving/response_creator.py
  src/promptflow/promptflow/_sdk/_serving/swagger.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_stream_output/flow.dag.yaml
Labels: sdk, promptflow

#1017 [SDK/CLI] Make flow create operation compatible with old azure-ai-ml version
  src/promptflow/promptflow/azure/_entities/_flow.py
Labels: sdk, promptflow

#953 [Bugfix][Executor] Set output of bypassed node to None
  src/promptflow/promptflow/executor/_dag_manager.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_flow_nodes_scheduler.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_activate.py
  src/promptflow/tests/executor/unittests/executor/test_dag_manager.py
  src/promptflow/tests/test_configs/flows/all_nodes_bypassed/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/all_nodes_bypassed/inputs.json
  src/promptflow/tests/test_configs/flows/all_nodes_bypassed/test.py
  src/promptflow/tests/test_configs/flows/conditional_flow_with_aggregate_bypassed/collect_node.py
  src/promptflow/tests/test_configs/flows/conditional_flow_with_aggregate_bypassed/expected_result.json
Labels: promptflow

#969 [SDK]Changed column mapping `${run.inputs.xx}`'s behavior, it will refer to run's data columns instead of run's inputs columns.
  docs/reference/pf-command-reference.md
  docs/reference/pfazure-command-reference.md
  docs/reference/run-yaml-schema-reference.md
  examples/tutorials/run-management/cloud-run-management.ipynb
  examples/tutorials/run-management/run-management.ipynb
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/datas/env_var_names.jsonl
Labels: documentation, examples, sdk, cli, promptflow

#1016 [promptflow][BugFix] Make image path absolute path
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#1022 [Bugfix][Executor] Change workinng dir when exec_bulk
  src/promptflow/promptflow/executor/batch_engine.py
  src/promptflow/tests/executor/e2etests/test_executor_with_image.py
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/incomplete_inputs.jsonl
Labels: promptflow

#1023 [promptflow] Use as_posix() instead of pure str()
  src/promptflow/promptflow/_utils/multimedia_utils.py
Labels: promptflow

#1013 [flow init] Add requirements.txt to flow init
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#1021 [Test] Fix transient issue for non_english flow test
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: promptflow

#1029 Jieting/lowercase Prompt flow to prompt flow
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/concepts/concept-flows.md
  docs/concepts/design-principles.md
  docs/dev/replay-e2e-test-for-pfazure.md
  docs/how-to-guides/add-conditional-control-to-a-flow.md
  docs/how-to-guides/develop-a-tool/create-your-own-custom-strong-type-connection.md
  docs/how-to-guides/init-and-test-a-flow.md
  docs/how-to-guides/manage-runs.md
  docs/how-to-guides/quick-start.md
  docs/index.md
  docs/integrations/index.md
  docs/integrations/llms/index.md
  docs/reference/flow-yaml-schema-reference.md
  docs/reference/run-yaml-schema-reference.md
  docs/reference/tools-reference/open_source_llm_tool.md
  docs/tutorials/index.md
  examples/tutorials/get-started/quickstart.ipynb
  examples/tutorials/run-management/cloud-run-management.ipynb
  examples/tutorials/run-management/run-management.ipynb
Labels: documentation, examples

#1024 [Bugfix][Contracts] Fix the bug that Image cannot be initialized with keyword args
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/tests/executor/unittests/contracts/test_multimedia.py
Labels: promptflow

#1006 Add `enable_kwargs` tag in tools.json for customer python tool
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/unittests/_utils/test_tool_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_tool.py
Labels: promptflow

#1037 [Test] Fix encoding error in test_pf_flow_test_with_non_english_input_output
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: promptflow

#1030 Revert changes in Open_Source_LLM made in version v0.1.0b11
  .cspell.json
  .github/workflows/tools_tests.yml
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/promptflow/tools/yamls/open_source_llm.yaml
  src/promptflow-tools/requirements.txt
  src/promptflow-tools/setup.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: promptflow-tools, fundamental

#994 add token provider for aoai connection
  src/promptflow/promptflow/_core/token_provider.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
Labels: sdk, promptflow

#1038 [PromptFlow][TestCase] Fix test case to enable them passable in different systems.
  src/promptflow/tests/executor/unittests/processpool/test_healthy_ensured_process.py
Labels: promptflow

#1033 Refine docs about the output of bypassed nodes
  docs/how-to-guides/add-conditional-control-to-a-flow.md
  docs/media/how-to-guides/conditional-flow-with-activate/output_bypassed.png
Labels: documentation

#999 [SDK]add batch run image tests
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/datas/image_inputs/inputs.jsonl
  src/promptflow/tests/test_configs/datas/image_inputs/logo_1.png
  src/promptflow/tests/test_configs/datas/image_inputs/logo_2.png
Labels: promptflow

#1040 [promptflow][Test] Skip known enum issue in test when Python 3.11
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow

#1039 Fix test_thread_utils
  src/promptflow/tests/executor/unittests/_utils/test_thread_utils.py
Labels: promptflow

#974 Cache Recording
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/constants.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/test_configs/node_recordings/testcli_node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/testcli_node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/testcli_node_cache.shelve.dir
Labels: sdk, promptflow

#1051 [promptflow][BugFix] Print error message when run status is failed
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#1035 [Test][CI] Remove AOAI connections in flow-as-func test to avoid transient connection invalid issue
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
Labels: promptflow

#1031 Add Azure Content Safety Tool to Prompt Flow promptflow-tools package
  .cspell.json
  src/promptflow-tools/promptflow/tools/azure_content_safety.py
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/promptflow/tools/yamls/azure_cotent_safety.yaml
Labels: promptflow-tools

#1056 Handle # separator from Open_Source_LLM tool
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: promptflow-tools

#1061 [promptflow][BugFix] Fix output padding when some inputs are missing
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/tests/sdk_cli_test/unittests/test_local_storage_operations.py
Labels: sdk, promptflow

#1060 Open_Source_LLM: Switch Icon for Readability
  src/promptflow-tools/promptflow/tools/yamls/open_source_llm.yaml
Labels: promptflow-tools

#1020 Update tool package version to 0.1.0b12
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#1062 [Internal][Executor] Print batch progress every 10 lines when there are more than 100 lines
  src/promptflow/promptflow/_utils/utils.py
Labels: promptflow

#1045 [PromptFlow][BugFix] Fixed "KeyError" caused when a single node does not reference flow input and the flow input default value is invalid.
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_with_image.py
  src/promptflow/tests/test_configs/flows/python_tool_with_invalid_default_value/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_invalid_default_value/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_invalid_default_value/logo_2.png
  src/promptflow/tests/test_configs/flows/python_tool_with_invalid_default_value/pick_an_image.py
Labels: promptflow

#1070 Enhancement: Enable Direct Import of convert_multimedia_data_to_base64 Function in promptflow._internal Module
  src/promptflow/promptflow/_internal/__init__.py
Labels: promptflow

#1069 Fix: connection not correctly initialized in Custom LLM tool
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/package_tools/custom_llm_tool.py
  src/promptflow/tests/executor/package_tools/custom_llm_tool/flow.dag.yaml
  src/promptflow/tests/executor/package_tools/custom_llm_tool/package_tool_definition.json
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow

#901 add "creating a dynamic list tool input" doc
  docs/how-to-guides/develop-a-tool/create-dynamic-list-tool-input.md
  docs/how-to-guides/develop-a-tool/index.md
  docs/media/how-to-guides/develop-a-tool/dynamic-list-azure.png
  docs/media/how-to-guides/develop-a-tool/dynamic-list-options.png
  docs/media/how-to-guides/develop-a-tool/dynamic-list-selected.png
Labels: documentation

#1026 [Internal][Executor] Support image path resolve in multi-level folders
  src/promptflow/promptflow/executor/batch_engine.py
  src/promptflow/tests/executor/e2etests/test_executor_with_image.py
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/incomplete_inputs.jsonl
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/inputs.jsonl
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image/inputs.jsonl
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image_with_default/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image_with_default/inputs.json
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image_with_default/inputs.jsonl
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image_with_default/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image_with_default/logo_2.png
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image_with_default/pick_an_image.py
Labels: promptflow

#1067 [Doc] Refine connection management doc and others
  docs/how-to-guides/manage-connections.md
  docs/how-to-guides/manage-runs.md
  docs/how-to-guides/quick-start.md
  docs/how-to-guides/run-and-evaluate-a-flow/index.md
Labels: documentation

#1072 Skip injection of openai that versions higher than 1.0.0
  src/promptflow/promptflow/_core/openai_injector.py
Labels: promptflow

#1071 [promptflow][infrastructure] Make tests honor environment variables
  src/promptflow/tests/_constants.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_pf_client.py
  src/promptflow/tests/sdk_cli_global_config_test/conftest.py
  src/promptflow/tests/sdk_cli_global_config_test/e2etests/test_global_config.py
Labels: promptflow

#1068 [Executor] Record source url for image
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/tests/executor/e2etests/test_executor_with_image.py
Labels: promptflow

#1080 [PromptFlow] Add "image" to feature list
  src/promptflow/promptflow/_utils/feature_utils.py
Labels: promptflow

#1081 [Internal][Executor] Add a warning log for max_lines_count
  src/promptflow/promptflow/executor/batch_engine.py
Labels: promptflow

#1082 [promptflow][fundamental] Update create tag workflow to also create a release
  .github/workflows/create_promptflow_release_tag.yml
  scripts/release/promptflow-release-note.md
Labels: fundamental

#1066 Initial version of retrieve_tool_func_result to support generate_index_json, reverse_generate_index_json
  .cspell.json
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_generated_by_input.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_generated_by_input.yaml
  examples/tools/tool-package-quickstart/setup.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_generated_by_input.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/promptflow/contracts/tool.py
Labels: examples, sdk, promptflow

#1086 refine "advanced features" of developing a tool and category/tag doc introduction
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/add-category-and-tags-for-tool.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/customize_an_llm_tool.md
Labels: documentation

#1073 Pipeline doesn't require any secrets
  .github/actions/step_create_python_environment/action.yml
  .github/actions/step_sdk_setup/action.yml
  .github/workflows/promptflow-replay-test.yml
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_executable.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_tool.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
  src/promptflow/tests/test_configs/node_recordings/testcli_node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/testcli_node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/testcli_node_cache.shelve.dir
Labels: promptflow, fundamental

#1065 [SDK]Add package installation warning for automatic runtime.
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
Labels: sdk, promptflow

#1047 [SDK] Lazy load some time-consuming modules to improve promptflow package import speed by 2x
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_telemetry/telemetry.py
  src/promptflow/promptflow/_utils/load_data.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, cli, promptflow

#1053 [SDK/CLI] Add pfazure flow list
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/azure/_entities/_flow.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
Labels: sdk, cli, promptflow

#1007 Prepare MSI installer using Pyinstaller and WIX Toolset
  .cspell.json
  scripts/installer/windows/.gitignore
  scripts/installer/windows/README.md
  scripts/installer/windows/product.wxs
  scripts/installer/windows/promptflow.wixproj
  scripts/installer/windows/resources/CLI_LICENSE.rtf
  scripts/installer/windows/resources/logo32.ico
  scripts/installer/windows/scripts/pf.py
  scripts/installer/windows/scripts/pfazure.py
  scripts/installer/windows/scripts/pfs.py
  scripts/installer/windows/scripts/promptflow.spec
  scripts/installer/windows/scripts/version_info.txt
Labels: fundamental

#524 New tutorial on prompt tunning and evaluation
  .github/workflows/samples_flows_chat_chat_math_variant.yml
  .github/workflows/samples_flows_evaluation_eval_chat_math.yml
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  README.md
  examples/README.md
  examples/dev_requirements.txt
  examples/flows/chat/chat-math-variant/.gitignore
  examples/flows/chat/chat-math-variant/.promptflow/flow.tools.json
  examples/flows/chat/chat-math-variant/README.md
  examples/flows/chat/chat-math-variant/chat.jinja2
  examples/flows/chat/chat-math-variant/chat_variant_1.jinja2
  examples/flows/chat/chat-math-variant/chat_variant_2.jinja2
  examples/flows/chat/chat-math-variant/data.jsonl
  examples/flows/chat/chat-math-variant/extract_result.py
  examples/flows/chat/chat-math-variant/flow.dag.yaml
  examples/flows/chat/chat-math-variant/requirements.txt
  examples/flows/evaluation/eval-chat-math/README.md
  examples/flows/evaluation/eval-chat-math/aggregate.py
  examples/flows/evaluation/eval-chat-math/data.jsonl
  examples/flows/evaluation/eval-chat-math/flow.dag.yaml
  examples/flows/evaluation/eval-chat-math/line_process.py
  examples/flows/evaluation/eval-chat-math/requirements.txt
  examples/flows/standard/customer-intent-extraction/.promptflow/flow.tools.json
  examples/tutorials/flow-fine-tuning-evaluation/media/Screenshot-video.png
  examples/tutorials/flow-fine-tuning-evaluation/media/realcase.png
  examples/tutorials/flow-fine-tuning-evaluation/media/visualization_chat_flow.png
  examples/tutorials/flow-fine-tuning-evaluation/media/visualization_eval_flow.png
  examples/tutorials/flow-fine-tuning-evaluation/promptflow-quality-improvement.md
  examples/tutorials/flow-in-pipeline/pipeline.ipynb
  examples/tutorials/get-started/flow-as-function.ipynb
  examples/tutorials/quick-start/media/logo_pf.png
  examples/tutorials/run-management/run-management.ipynb
  scripts/readme/readme.py
Labels: examples, fundamental

#1102 [promptflow][security] Allow PyArrow 14+
  src/promptflow/setup.py
Labels: promptflow

#1036 [Executor] Support including image in evaluation flow
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_with_image.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_utils.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_composite_image/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/eval_flow_with_composite_image/logo.jpg
  src/promptflow/tests/test_configs/flows/eval_flow_with_composite_image/logo_2.png
  src/promptflow/tests/test_configs/flows/eval_flow_with_composite_image/merge_images.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_composite_image/passthrough_list.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_simple_image/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/eval_flow_with_simple_image/logo.jpg
  src/promptflow/tests/test_configs/flows/eval_flow_with_simple_image/logo_2.png
  src/promptflow/tests/test_configs/flows/eval_flow_with_simple_image/merge_images.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_simple_image/pick_an_image.py
Labels: promptflow

#1104 [promptflow] Update README for Python package
  src/promptflow/README.md
Labels: promptflow

#1093 [examples] Use production workspace to test examples in PR
  .github/workflows/samples_configuration.yml
  .github/workflows/samples_connections.yml
  .github/workflows/samples_connections_connection.yml
  .github/workflows/samples_flowinpipeline_pipeline.yml
  .github/workflows/samples_flows_chat_basic_chat.yml
  .github/workflows/samples_flows_chat_chat_with_pdf.yml
  .github/workflows/samples_flows_chat_chat_with_wikipedia.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdf.yml
  .github/workflows/samples_flows_evaluation_eval_basic.yml
  .github/workflows/samples_flows_evaluation_eval_classification_accuracy.yml
  .github/workflows/samples_flows_evaluation_eval_entity_match_rate.yml
  .github/workflows/samples_flows_evaluation_eval_groundedness.yml
  .github/workflows/samples_flows_evaluation_eval_perceived_intelligence.yml
  .github/workflows/samples_flows_standard_autonomous_agent.yml
  .github/workflows/samples_flows_standard_basic.yml
  .github/workflows/samples_flows_standard_basic_with_builtin_llm.yml
  .github/workflows/samples_flows_standard_basic_with_connection.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_if_else.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_switch.yml
  .github/workflows/samples_flows_standard_customer_intent_extraction.yml
  .github/workflows/samples_flows_standard_flow_with_additional_includes.yml
  .github/workflows/samples_flows_standard_flow_with_symlinks.yml
  .github/workflows/samples_flows_standard_gen_docstring.yml
  .github/workflows/samples_flows_standard_maths_to_code.yml
  .github/workflows/samples_flows_standard_named_entity_recognition.yml
  .github/workflows/samples_flows_standard_web_classification.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tools_use_cases_cascading_inputs_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_llm_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_package_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_script_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_dynamic_list_input_tool_showcase.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  scripts/readme/ghactions_driver/workflow_templates/basic_workflow.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/basic_workflow_replace.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/flow_as_function.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/pdf_workflow.yml.jinja2
Labels: fundamental

#1099 [Executor] Allow run async tools in executor
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/executor/_flow_nodes_scheduler.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/test_configs/flows/async_tools/async_passthrough.py
  src/promptflow/tests/test_configs/flows/async_tools/flow.dag.yaml
Labels: promptflow

#1105 [SDK/CLI] Refine flow name and display name
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/azure/_entities/_flow.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
Labels: sdk, cli, promptflow

#1098 Refine Tool_with_Generated_by_Input to make it more real with RAG tool
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_generated_by_input.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_generated_by_input.yaml
  examples/tools/tool-package-quickstart/setup.py
Labels: examples

#1103 [Sample] Update flow as func example for multi-threaded usage
  examples/tutorials/flow-deploy/create-service-with-flow/echo_connection_flow/echo_connection.py
  examples/tutorials/flow-deploy/create-service-with-flow/echo_connection_flow/flow.dag.yaml
  examples/tutorials/flow-deploy/create-service-with-flow/readme.md
  examples/tutorials/flow-deploy/create-service-with-flow/simple_score.py
Labels: examples

#1100 [Executor] Add streaming_option_parameter for streaming control of package tools
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow

#1049 [Executor] Use filetype to detect image type
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/setup.py
Labels: promptflow

#1101 [SDK/CLI] Update SDK restclient 2023-11-23
  .cspell.json
  .gitignore
  src/promptflow/promptflow/azure/_restclient/README.md
  src/promptflow/promptflow/azure/_restclient/flow/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_connections_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_runtimes_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_runtimes_workspace_independent_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_tools_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_connections_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_runtimes_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_runtimes_workspace_independent_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_tools_operations.py
  src/promptflow/promptflow/azure/_restclient/swagger.json
Labels: sdk, promptflow

#1088 [SDK]improve error message when connection has scrubbed secrets & add CI for flow-as-func
  .github/workflows/samples_getstarted_flowasfunction.yml
  examples/flows/standard/web-classification/flow.dag.yaml
  examples/tutorials/get-started/flow-as-function.ipynb
  scripts/readme/ghactions_driver/workflow_templates/flow_as_function.yml.jinja2
  src/promptflow/promptflow/_core/connection_manager.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
Labels: examples, sdk, promptflow, fundamental

#1095 [Internal][Executor] Move resolve data and input mapping logic to batch inputs processor
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/batch/__init__.py
  src/promptflow/promptflow/batch/_batch_inputs_processor.py
  src/promptflow/promptflow/batch/_errors.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/batch_engine.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/unittests/batch_engine/__init__.py
  src/promptflow/tests/executor/unittests/batch_engine/test_batch_inputs_processor.py
  src/promptflow/tests/executor/unittests/executor/test_flow_executor.py
Labels: promptflow

#1116 improve pf version command
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow

#1087 Compatible with openai versions greater than 1.0.0
  src/promptflow/promptflow/_core/openai_injector.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/test_configs/flows/openai_v1_chat_api_flow/chat.py
  src/promptflow/tests/test_configs/flows/openai_v1_chat_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_v1_chat_api_flow/samples.json
  src/promptflow/tests/test_configs/flows/openai_v1_completion_api_flow/completion.py
  src/promptflow/tests/test_configs/flows/openai_v1_completion_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_v1_completion_api_flow/samples.json
Labels: promptflow

#1114 [fundamental] Add issue template for contribution
  .github/ISSUE_TEMPLATE/contribution_request.md
Labels: fundamental

#1118 [fundamental][BugFix] Add missing about for contribution request
  .github/ISSUE_TEMPLATE/contribution_request.md
Labels: fundamental

#989 [promptflow][fundamental] Add pfazure unit test workflow with pull_request
  .github/workflows/promptflow-sdk-cli-azure-unit-test.yml
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
Labels: promptflow, fundamental

#1117 [Bugfix] Add variant_id back for legacy runtime contract
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/tests/conftest.py
Labels: promptflow

#1121 [PromptFlow][Process-Pool] Add PromptflowException
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow

#1119 Change name for tests of run_records
  src/promptflow/tests/executor/unittests/storage/test_run_records.py
Labels: promptflow

#1113 [Doc] Add cloud doc manage flows
  docs/cloud/azureai/manage-flows.md
  docs/cloud/index.md
  docs/media/cloud/manage-flows/flow_create_0.png
  docs/media/cloud/manage-flows/flow_create_1.png
  docs/media/cloud/manage-flows/flow_list_0.png
  docs/reference/pfazure-command-reference.md
Labels: documentation

#1059 [Tools] add a separate tool to support openai with image input
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/promptflow/tools/yamls/openai_gpt4v.yaml
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_common.py
  src/promptflow-tools/tests/test_configs/prompt_templates/images/number10.jpg
  src/promptflow-tools/tests/test_configs/prompt_templates/prompt_with_image.jinja2
  src/promptflow-tools/tests/test_openai_gpt4v.py
Labels: promptflow-tools

#542 Refine Contract unittest
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/executor/unittests/contracts/test_multimedia.py
  src/promptflow/tests/executor/unittests/contracts/test_run_info.py
  src/promptflow/tests/executor/unittests/contracts/test_run_management.py
  src/promptflow/tests/executor/unittests/contracts/test_run_mode.py
  src/promptflow/tests/executor/unittests/contracts/test_tool.py
  src/promptflow/tests/executor/unittests/contracts/test_types.py
Labels: promptflow

#1126 Remove ValueError and add logs for gen_dynamic_list, retrieve_tool_unc_result
  src/promptflow/promptflow/_core/tools_manager.py
Labels: promptflow

#1055 [pfs] Expose PFS (Prompt Flow Service)
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_service/connection.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_connection_apis.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: sdk, promptflow

#1111 [Recording] Release most of unsupported tests.
  .github/workflows/promptflow-replay-test.yml
  scripts/building/run_coverage_tests.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: promptflow, fundamental

#1042 [fundamental] Add workflow to clean runtime disk
  .github/workflows/clean-runtime-disk.yml
  scripts/runtime_mgmt/clean-disk-flow/clean.py
  scripts/runtime_mgmt/clean-disk-flow/data.jsonl
  scripts/runtime_mgmt/clean-disk-flow/flow.dag.yaml
  scripts/runtime_mgmt/clean-disk-flow/run.yaml
  scripts/runtime_mgmt/create-clean-run.py
Labels: fundamental

#1127 [promptflow][Test] Make SDK PFS E2E use pull_request
  .github/workflows/promptflow-sdk-pfs-e2e-test.yml
  src/promptflow/tests/sdk_pfs_test/conftest.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_run_apis.py
Labels: promptflow, fundamental

#1135 [Connection] Refine workspace connection to require limited permission
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
Labels: sdk, promptflow

#1133 [SDK] Remove line number from flow as func output
  examples/tutorials/get-started/flow-as-function.ipynb
  examples/tutorials/get-started/quickstart-azure.ipynb
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
Labels: examples, sdk, promptflow

#1129 Update screenshots to remove the icon
  docs/media/how-to-guides/develop-a-tool/create_custom_strong_type_connection_add_sign.png
  docs/media/how-to-guides/develop-a-tool/create_custom_strong_type_connection_in_custom_category.png
  docs/media/how-to-guides/quick-start/flow-directory-and-dag-yaml.png
  docs/media/how-to-guides/quick-start/flow_dag.png
  docs/media/how-to-guides/quick-start/vs_code_connection_0.png
  docs/media/how-to-guides/quick-start/vs_code_connection_1.png
  docs/media/how-to-guides/quick-start/vs_code_connection_2.png
  docs/media/how-to-guides/quick-start/vs_code_connection_3.png
  docs/media/how-to-guides/quick-start/vs_code_dag_0.png
  docs/media/how-to-guides/quick-start/vs_code_interpreter_0.png
  docs/media/how-to-guides/quick-start/vs_code_interpreter_1.png
  docs/media/how-to-guides/quick-start/vscode-flow-dag.png
  docs/media/how-to-guides/vscode_create_connection.png
  docs/media/how-to-guides/vscode_interactive_chat_1.png
Labels: documentation

#962 Update the doc to introduce cloud value
  .cspell.json
  docs/cloud/index.md
  docs/media/cloud/azureml/llmops_cloud_value.png
Labels: documentation

#1140 Readme generator could exclude some files
  .github/workflows/samples_configuration.yml
  .github/workflows/samples_connections.yml
  .github/workflows/samples_connections_connection.yml
  .github/workflows/samples_flowinpipeline_pipeline.yml
  .github/workflows/samples_flows_chat_basic_chat.yml
  .github/workflows/samples_flows_chat_chat_math_variant.yml
  .github/workflows/samples_flows_chat_chat_with_pdf.yml
  .github/workflows/samples_flows_chat_chat_with_wikipedia.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdf.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdfazure.yml
  .github/workflows/samples_flows_evaluation_eval_basic.yml
  .github/workflows/samples_flows_evaluation_eval_chat_math.yml
  .github/workflows/samples_flows_evaluation_eval_classification_accuracy.yml
  .github/workflows/samples_flows_evaluation_eval_entity_match_rate.yml
  .github/workflows/samples_flows_evaluation_eval_groundedness.yml
  .github/workflows/samples_flows_evaluation_eval_perceived_intelligence.yml
  .github/workflows/samples_flows_standard_autonomous_agent.yml
  .github/workflows/samples_flows_standard_basic.yml
  .github/workflows/samples_flows_standard_basic_with_builtin_llm.yml
  .github/workflows/samples_flows_standard_basic_with_connection.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_if_else.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_switch.yml
  .github/workflows/samples_flows_standard_customer_intent_extraction.yml
  .github/workflows/samples_flows_standard_flow_with_additional_includes.yml
  .github/workflows/samples_flows_standard_flow_with_symlinks.yml
  .github/workflows/samples_flows_standard_gen_docstring.yml
  .github/workflows/samples_flows_standard_maths_to_code.yml
  .github/workflows/samples_flows_standard_named_entity_recognition.yml
  .github/workflows/samples_flows_standard_web_classification.yml
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tools_use_cases_cascading_inputs_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_llm_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_package_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_script_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_dynamic_list_input_tool_showcase.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  examples/README.md
  examples/tutorials/flow-in-pipeline/pipeline.ipynb
  examples/tutorials/get-started/flow-as-function.ipynb
  scripts/readme/ghactions_driver/workflow_templates/basic_workflow.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/basic_workflow_replace.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/flow_as_function.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/pdf_workflow.yml.jinja2
  scripts/readme/readme.py
  scripts/readme/readme_generator.py
Labels: examples, fundamental

#1143 [promptflow][Feature] Display node status in run visualize page
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_constants.py
Labels: sdk, promptflow

#1097 Promptflow-Azure-AI-Language tool package contribution level 1
  docs/integrations/tools/azure_ai_language_tool.md
  docs/integrations/tools/index.md
  examples/flows/integrations/azure-ai-language/analyze_documents/README.md
  examples/flows/integrations/azure-ai-language/analyze_documents/data.jsonl
  examples/flows/integrations/azure-ai-language/analyze_documents/document1.txt
  examples/flows/integrations/azure-ai-language/analyze_documents/document2.txt
  examples/flows/integrations/azure-ai-language/analyze_documents/flow.dag.yaml
  examples/flows/integrations/azure-ai-language/analyze_documents/parse_translation.py
  examples/flows/integrations/azure-ai-language/analyze_documents/read_file.py
  examples/flows/integrations/azure-ai-language/analyze_documents/requirements.txt
  examples/flows/integrations/azure-ai-language/connections/azure_ai_language.yml
  examples/flows/integrations/azure-ai-language/connections/azure_ai_translator.yml
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/MediaPlayer.json
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/README.md
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/chat.jinja2
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/flow.dag.yaml
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/requirements.txt
Labels: documentation, examples

#1142 [Example] Add flow integrations folder and readme.md
  examples/flows/integrations/README.md
Labels: examples

#1146 [CI] Fix CI errors
  .cspell.json
  docs/integrations/tools/azure-ai-language-tool.md
  docs/integrations/tools/index.md
Labels: documentation

#1141 Update doc index.md
  docs/cloud/index.md
  docs/media/cloud/azureml/llmops_cloud_value.png
Labels: documentation

#1147 [promptflow][test] Enable replay test for PF Azure flow
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/bases.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/constants.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/processors.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/test_configs/flows/simple_fetch_url/.gitattributes
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_create_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_list_flows.yaml
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_list_flows_invalid_cases.yaml
Labels: promptflow

#1137 [Executor] Avoid tool invoker since it is useless.
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/executor/_flow_nodes_scheduler.py
  src/promptflow/promptflow/executor/_tool_invoker.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/unittests/executor/test_flow_nodes_scheduler.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/test_configs/flows/async_tools_with_sync_tools/flow.dag.yaml
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: promptflow

#1122 Create workflow to upload msi to storage account.
  .github/workflows/build_msi_installer.yml
  scripts/installer/windows/README.md
  scripts/installer/windows/product.wxs
  scripts/installer/windows/promptflow.wixproj
  scripts/installer/windows/scripts/pfs.py
  scripts/installer/windows/scripts/version_info.txt
Labels: fundamental

#1158 [Doc] Add pf config cli reference doc
  docs/reference/pf-command-reference.md
  src/promptflow/promptflow/_cli/_pf/_config.py
Labels: documentation, cli, promptflow

#1161 [SDK]Skip sending statsbeats when initializing logging handler to improve perf
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_telemetry/logging_handler.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
Labels: promptflow

#1164 Fix Pipeline for replay test, prepare for forked changes
  .cspell.json
  .github/workflows/promptflow-replay-test.yml
  scripts/building/run_coverage_tests.py
Labels: fundamental

#1153 Fix replaying test documentation
  docs/dev/dev_setup.md
  docs/dev/replay-e2e-test-for-pfazure.md
  docs/dev/replay-e2e-test.md
  src/promptflow/.env.example
  src/promptflow/tests/sdk_cli_test/conftest.py
Labels: documentation, promptflow

#1152 Doc update for conn provider
  docs/cloud/azureai/consume-connections-from-azure-ai.md
  docs/cloud/index.md
  docs/how-to-guides/manage-connections.md
  docs/how-to-guides/set-global-configs.md
  docs/media/cloud/consume-cloud-connections/set-aml-connection-provider-2-wizard.png
  docs/media/cloud/consume-cloud-connections/set-aml-connection-provider-2.png
  docs/media/cloud/consume-cloud-connections/set-aml-connection-provider.png
  docs/media/cloud/consume-cloud-connections/set-connection-provider-2.png
  docs/media/cloud/consume-cloud-connections/set-connection-provider.png
Labels: documentation

#1174 [SDK/CLI] Add `pfaure flow show` funcion
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/bases.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/constants.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/processors.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_get_flow.yaml
Labels: sdk, cli, promptflow

#1159 [SDK] Add workspace info in telemetry for flow operations
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_telemetry/telemetry.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, promptflow

#1138 Add more tests related to image
  src/promptflow/tests/executor/e2etests/test_image.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_utils.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/test_configs/datas/logo.gif
  src/promptflow/tests/test_configs/datas/logo.png
  src/promptflow/tests/test_configs/datas/logo.webp
  src/promptflow/tests/test_configs/flows/eval_flow_with_simple_image/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_nested_api_calls/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_nested_api_calls/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_image_nested_api_calls/passthrough.py
Labels: promptflow

#1176 [fundamental] Exclude examples/flows/integrations from workflows
  .github/workflows/samples_configuration.yml
  .github/workflows/samples_flowinpipeline_pipeline.yml
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  scripts/readme/workflow_generator.py
Labels: fundamental

#1178 [example][fundamental] Fix typo for exclude path
  .github/workflows/samples_configuration.yml
  .github/workflows/samples_flowinpipeline_pipeline.yml
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  scripts/readme/workflow_generator.py
Labels: fundamental

#1173 [Executor] Refine error stack of execution
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_utils/exception_utils.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_execution_failures.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/test_configs/flows/async_tools_failures/async_fail.py
  src/promptflow/tests/test_configs/flows/async_tools_failures/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/sync_tools_failures/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/sync_tools_failures/sync_fail.py
Labels: promptflow

#1168 [msi] Install pfs as per-user service
  scripts/installer/windows/product.wxs
  scripts/installer/windows/scripts/pfs.py
Labels: fundamental

#822 Add new feature for image support in CHANGELOG
  src/promptflow/CHANGELOG.md
Labels: promptflow

#1171 Implement backward compatible mechanism for deprecated package tool
  src/promptflow-tools/promptflow/tools/yamls/azure_content_safety.yaml
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/_utils/test_tool_utils.py
Labels: promptflow-tools, promptflow

#1185 change "deprecated_tools" value to use yaml style
  src/promptflow-tools/promptflow/tools/yamls/azure_content_safety.yaml
Labels: promptflow-tools

#1123 [PromptFlowService] Add flask_restx to pfs to generate swagger
  .cspell.json
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_service/README.md
  src/promptflow/promptflow/_sdk/_service/apis/__init__.py
  src/promptflow/promptflow/_sdk/_service/apis/connection.py
  src/promptflow/promptflow/_sdk/_service/apis/run.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/connection.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/run.py
  src/promptflow/promptflow/_sdk/_service/swagger.json
  src/promptflow/promptflow/_sdk/_service/utils/__init__.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_pfs_test/conftest.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: sdk, promptflow

#1109 Update icon doc and gen meta for light and dark mode.
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/add-category-and-tags-for-tool.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/customize_an_llm_tool.md
  examples/tools/tool-package-quickstart/my_tool_package/icons/custom-tool-icon-dark.png
  examples/tools/tool-package-quickstart/my_tool_package/icons/custom-tool-icon-light.png
  scripts/tool/generate_package_tool_meta.py
Labels: documentation, examples, fundamental

#1169 [SDK] Improve flow function execution time by caching flow executor
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_context_resolver.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/_utils/flow_utils.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: sdk, promptflow

#1192 enable telemetry for tool list
  src/promptflow/promptflow/_sdk/operations/_tool_operations.py
Labels: sdk, promptflow

#1184 Refine MSI installer CI to support build dev branch
  .github/workflows/build_msi_installer.yml
  scripts/installer/windows/scripts/promptflow.spec
Labels: fundamental

#1183 [promptflow][test] One SDK CLI Azure test workflow with multiple test mode
  .github/workflows/promptflow-sdk-cli-azure-test.yml
  .github/workflows/promptflow-sdk-cli-azure-unit-test.yml
Labels: fundamental

#1191 [pfs] Hide x-remote-user in promptflow service
  src/promptflow/promptflow/_sdk/_service/apis/connection.py
  src/promptflow/promptflow/_sdk/_service/swagger.json
Labels: sdk, promptflow

#1193 Remove pull request in msi installer ci pipeline.
  .github/workflows/build_msi_installer.yml
Labels: fundamental

#1166 [Flow Test] Fix node test failed with dict input
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/flows/flow_with_dict_input/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_dict_input/get_dict_val.py
  src/promptflow/tests/test_configs/flows/flow_with_dict_input/print_val.py
Labels: sdk, promptflow

#1186 [SDK/CLI] Parse flow/run portal url for azure ai studio
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/_restclient/service_caller_factory.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_pf_client_azure.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_utils.py
Labels: sdk, cli, promptflow

#1196 [Doc][manage-flows] Add introduction of flow path on file share
  docs/cloud/azureai/manage-flows.md
  docs/media/cloud/manage-flows/flow_create_2.png
Labels: documentation

#1187 [Internal][Executor] Remove codes related to skip config in executor
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/contracts/_errors.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/promptflow/executor/_dag_manager.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_flow_nodes_scheduler.py
  src/promptflow/promptflow/executor/flow_validator.py
  src/promptflow/tests/executor/e2etests/test_skip.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/executor/unittests/executor/test_dag_manager.py
  src/promptflow/tests/executor/unittests/executor/test_flow_nodes_scheduler.py
  src/promptflow/tests/executor/unittests/executor/test_flow_validator.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/flows/conditional_chat_flow_with_skip/conditional_node.py
  src/promptflow/tests/test_configs/flows/conditional_chat_flow_with_skip/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/conditional_chat_flow_with_skip/inputs.json
  src/promptflow/tests/test_configs/flows/conditional_chat_flow_with_skip/is_even.py
  src/promptflow/tests/test_configs/flows/conditional_chat_flow_with_skip/print_result.py
  src/promptflow/tests/test_configs/flows/conditional_flow_with_skip/conditional_node.py
  src/promptflow/tests/test_configs/flows/conditional_flow_with_skip/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/conditional_flow_with_skip/inputs.json
  src/promptflow/tests/test_configs/flows/conditional_flow_with_skip/is_even.py
  src/promptflow/tests/test_configs/flows/conditional_flow_with_skip/print_result.py
  src/promptflow/tests/test_configs/wrong_flows/aggregation_skip_reference_non_aggregation/flow.dag.yaml
  src/promptflow/tests/test_configs/wrong_flows/nodes_cycle_with_skip/flow.dag.yaml
Labels: promptflow

#1201 fix broken doc links in docs folder readme
  docs/README.md
Labels: documentation

#1189 refactor: refactor submitter and extract base executor
  .cspell.json
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_sdk/_submitter/__init__.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_context_resolver.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/batch/__init__.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: sdk, promptflow

#1145 [documentation] Highlight difference across flow in PF/pipeline job
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
Labels: documentation

#1206 [promptflow][fundamental] Loose path for CI workflows
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-global-config-test.yml
  .github/workflows/promptflow-replay-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  .github/workflows/promptflow-sdk-pfs-e2e-test.yml
  .github/workflows/sdk-cli-azure-test.yml
Labels: fundamental

#1203 [Doc] Improve azure flow doc
  docs/cloud/azureai/manage-flows.md
Labels: documentation

#1217 upgrade tool package version to 0.1.0b15
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#1092 add monitor pf cli time consuming tests
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_azure_cli_time_consume.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli_time_consume.py
  src/promptflow/tests/test_configs/datas/print_input_flow.jsonl
Labels: promptflow

#1214 [pfs] Request of get connection exposes with_secrets
  src/promptflow/promptflow/_sdk/_service/apis/connection.py
  src/promptflow/promptflow/_sdk/_service/swagger.json
Labels: sdk, promptflow

#1188 [SDK]enable telemetry by default
  README.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf/help.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_telemetry/logging_handler.py
  src/promptflow/promptflow/_telemetry/telemetry.py
  src/promptflow/promptflow/exceptions.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/conftest.py
Labels: sdk, cli, promptflow

#1222 Revert "[PromptFlow] Remove openai version restrictions"
  src/promptflow/setup.py
  src/promptflow/tests/executor/e2etests/test_langchain.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/e2etests/test_traces.py
Labels: promptflow

#1211 One SDK CLI test workflow with multiple test mode
  .github/workflows/promptflow-replay-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
Labels: promptflow, fundamental

#1219 [PromptFlow][Extension] Fixed local batchrun could not be cancelled
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow

#1223 Add `batch_run_source` property to `OperationContext` for better batch run source insight
  src/promptflow/promptflow/batch/_batch_engine.py
Labels: promptflow

#1198 Allow extension detection of the latest msi version
  .github/workflows/build_msi_installer.yml
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
Labels: cli, promptflow, fundamental

#1229 Fix SDK cli test on executable
  .github/workflows/promptflow-sdk-cli-test.yml
  scripts/building/run_coverage_tests.py
  scripts/building/utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_executable.py
Labels: promptflow, fundamental

#1237 [PromptFlow] Fix can't raise exception in processpool's run.
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow

#1241 fix: fit latest csharp executor interface
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
Labels: promptflow

#1232 [PromptFlow] Use "bulk_logger" instead of "logger"
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/unittests/executor/test_flow_executor.py
  src/promptflow/tests/executor/unittests/processpool/test_healthy_ensured_process.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow
