Repository microsoft/promptflow, pull requests merged in 2023-12, with the labels that each got.

#1339 [setup] Add pfs in setup.py
  .github/actions/step_sdk_setup/action.yml
  src/promptflow/setup.py
Labels: promptflow, fundamental

#1338 [Executor] Refine openai metrics calculator to adapt openai v1
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_utils/openai_metrics_calculator.py
  src/promptflow/promptflow/batch/_result.py
  src/promptflow/tests/executor/e2etests/test_langchain.py
  src/promptflow/tests/executor/unittests/batch/test_result.py
  src/promptflow/tests/test_configs/flows/flow_with_langchain_traces/test_langchain_traces.py
  src/promptflow/tests/test_configs/flows/openai_chat_api_flow/chat.py
  src/promptflow/tests/test_configs/flows/openai_chat_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_chat_api_flow/inputs.jsonl
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/completion.py
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/inputs.jsonl
Labels: promptflow

#1344 [msi] build msi using promptflow[pfs]
  .github/workflows/build_msi_installer.yml
  scripts/installer/windows/README.md
  src/promptflow/promptflow/_sdk/_service/__init__.py
  src/promptflow/promptflow/_sdk/_service/apis/connection.py
  src/promptflow/promptflow/_sdk/_service/apis/run.py
  src/promptflow/promptflow/_sdk/_service/app.py
Labels: sdk, promptflow, fundamental

#1346 [Execution] Add more comments in tool.py
  src/promptflow/promptflow/_core/tool.py
Labels: promptflow

#1345 enable test_collect_package_tools_if_node_source_tool_is_legacy
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
Labels: promptflow

#1350 Assign promptflow-execution as Code Owner for Specific Directories
  .github/CODEOWNERS
Labels: fundamental

#1349 [SDK] Add workspace info in CLI telemetry
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_cli_telemetry.yaml
Labels: cli, promptflow

#1333 Fix the gap between pf-tools and the openai api when max_tokens is 0
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/tests/test_handle_openai_error.py
Labels: promptflow-tools

#1330 [SDK] Make sure we use same request id in log and when calling service
  src/promptflow/promptflow/_telemetry/activity.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_request_id_when_making_http_requests.yaml
Labels: sdk, promptflow

#1342 Verify the flow can successusfuly serve in app service
  examples/tutorials/flow-deploy/azure-app-service/README.md
  examples/tutorials/flow-deploy/azure-app-service/deploy.ps1
  src/promptflow/promptflow/_sdk/data/docker_csharp/Dockerfile
  src/promptflow/promptflow/_sdk/data/docker_csharp/runit/promptflow-serve/finish
  src/promptflow/promptflow/_sdk/data/docker_csharp/runit/promptflow-serve/run
  src/promptflow/promptflow/_sdk/data/docker_csharp/start.sh
Labels: examples, sdk, promptflow

#1341 revert add ua code and add test
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/executor/unittests/_core/test_operation_context.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_azure_cli_time_consume.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli_time_consume.py
Labels: sdk, promptflow

#1312 [Internal][Executor] Add e2e tests for executor proxy
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/tests/executor/e2etests/test_csharp_executor_proxy.py
  src/promptflow/tests/executor/mock_execution_server.py
  src/promptflow/tests/test_configs/flows/csharp_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/csharp_flow/inputs.jsonl
Labels: promptflow

#1356 Delete excess UA codes
  src/promptflow/promptflow/_core/operation_context.py
Labels: promptflow

#1355 Release/promptflow/1.1.1
  src/promptflow/CHANGELOG.md
Labels: promptflow

#1358 Refine typo.
  README.md
  docs/cloud/azureai/deploy-to-azure-appservice.md
Labels: documentation

#1359 Update pyarrow>=14.0.1
  src/promptflow/setup.py
Labels: promptflow

#1352 Upgrade tests to adapt openai v1
  src/promptflow/promptflow/_utils/openai_metrics_calculator.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_api_injector.py
  src/promptflow/tests/test_configs/flows/llm_tool/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_v1_chat_api_flow/chat.py
  src/promptflow/tests/test_configs/flows/openai_v1_chat_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_v1_chat_api_flow/samples.json
  src/promptflow/tests/test_configs/flows/openai_v1_completion_api_flow/completion.py
  src/promptflow/tests/test_configs/flows/openai_v1_completion_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_v1_completion_api_flow/samples.json
Labels: promptflow

#1370 [SDK]Move telemetry inside sdk since it's only used by SDK
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
  src/promptflow/promptflow/_sdk/_telemetry/__init__.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/_sdk/_telemetry/logging_handler.py
  src/promptflow/promptflow/_sdk/_telemetry/telemetry.py
  src/promptflow/promptflow/_sdk/operations/_connection_operations.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_sdk/operations/_tool_operations.py
  src/promptflow/promptflow/_telemetry/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
Labels: sdk, cli, promptflow

#1379 [promptflow][BugFix] Empty logs in visualize HTML to avoid large file
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
Labels: sdk, promptflow

#1297 Optimise docker image build: copy python requirements file only before install them
  src/promptflow/promptflow/_sdk/data/docker/Dockerfile.jinja2
Labels: sdk, promptflow

#1384 [promptflow] Hide additional info & debug info when list runs
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_failed_run_to_dict_exclude.yaml
Labels: sdk, cli, promptflow

#1381 Refactor recording core, mock tool instead of mock invoke tool
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/mock_tool.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: promptflow

#1368 sample: reduce the frequency of requests in chat-with-pdf
  examples/flows/chat/chat-with-pdf/chat-with-pdf-azure.ipynb
  examples/flows/chat/chat-with-pdf/chat-with-pdf.ipynb
  examples/flows/chat/chat-with-pdf/tests/azure_chat_with_pdf_test.py
  examples/flows/chat/chat-with-pdf/tests/base_test.py
  examples/flows/chat/chat-with-pdf/tests/chat_with_pdf_test.py
Labels: examples

#1393 [SDK] Scrub telemetry fields
  src/promptflow/promptflow/_sdk/_telemetry/logging_handler.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#1377 Merge multi entry file to reduce msi size
  .cspell.json
  scripts/installer/windows/product.wxs
  scripts/installer/windows/scripts/pf.bat
  scripts/installer/windows/scripts/pf.py
  scripts/installer/windows/scripts/pfazure.bat
  scripts/installer/windows/scripts/pfazure.py
  scripts/installer/windows/scripts/pfcli.py
  scripts/installer/windows/scripts/pfs.bat
  scripts/installer/windows/scripts/pfs.py
  scripts/installer/windows/scripts/pfsvc.bat
  scripts/installer/windows/scripts/promptflow.spec
  src/promptflow/promptflow/_sdk/_service/pfsvc.py
Labels: sdk, promptflow, fundamental

#1395 fix: flow_test_inputs
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: promptflow

#1076 Open_Source_LLM Tool - Restore Dynamic List + Fixes
  .cspell.json
  docs/media/reference/tools-reference/open_source_llm_on_vscode_promptflow.png
  docs/reference/tools-reference/open_source_llm_tool.md
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/promptflow/tools/yamls/open_source_llm.yaml
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_source_llm.py
  src/promptflow-tools/tests/utils.py
Labels: documentation, promptflow-tools

#1397 Emerge fix for remove unused vairables in test
  src/promptflow/tests/conftest.py
Labels: promptflow

#1392 [SDK/CLI] Remove experiment name for remote flow run case
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_with_registry_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_with_remote_flow.yaml
Labels: sdk, promptflow

#1329 [Fundamental] Introduce stale for issue/PR status monitor
  .github/workflows/stale.yml
Labels: fundamental

#1378 [SDK/CLI] Add pfazure download run feature.
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/azure/operations/_async_run_downloader.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
Labels: sdk, cli, promptflow

#1376 Enable more on new matrix.
  .github/workflows/promptflow-release-testing-matrix-alter.yml
  .github/workflows/promptflow-release-testing-matrix.yml
  scripts/building/run_coverage_tests.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_azure_cli_activity_name.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_executable.py
  src/promptflow/tests/sdk_pfs_test/conftest.py
Labels: promptflow, fundamental

#1400 [SDK] Fix test in matrix
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
Labels: promptflow

#1416 [Internal][Executor] Fix executor ci tests
  src/promptflow/tests/executor/e2etests/test_csharp_executor_proxy.py
Labels: promptflow

#1334 [Sample] Create CI for sample service
  .cspell.json
  .github/workflows/samples_tutorials_flow_deploy_create_service_with_flow.yml
  examples/README.md
  examples/dev_requirements.txt
  examples/tutorials/flow-deploy/create-service-with-flow/README.md
  examples/tutorials/flow-deploy/create-service-with-flow/readme.md
  scripts/readme/ghactions_driver/readme_step.py
Labels: examples, fundamental

#1415 [Fundamental] Refine stale workflow: Increase operations-per-run and exclude long-term PR
  .github/workflows/stale.yml
Labels: fundamental

#1402 Fixing the enum related failing test under python 3.11
  src/promptflow/tests/executor/unittests/_utils/test_exception_utils.py
Labels: promptflow

#1417 [Tools] change max_tokens default value to 512
  docs/reference/tools-reference/openai-gpt-4v-tool.md
  src/promptflow-tools/promptflow/tools/yamls/openai_gpt4v.yaml
Labels: documentation, promptflow-tools

#1426 [PromptFlow] Set the process startup mode to fork on Mac.
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow

#1435 update pf azure perf test to recording mode
  .github/workflows/sdk-cli-perf-monitor-test.yml
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_azure_cli_perf.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/constants.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli_perf.py
  src/promptflow/tests/test_configs/datas/print_input_flow.jsonl
  src/promptflow/tests/test_configs/recordings/test_azure_cli_perf_TestAzureCliPerf_test_pfazure_run_create.yaml
  src/promptflow/tests/test_configs/recordings/test_azure_cli_perf_TestAzureCliPerf_test_pfazure_run_update.yaml
  src/promptflow/tests/test_configs/recordings/test_azure_cli_perf_TestAzureCliPerf_test_run_restore.yaml
Labels: promptflow, fundamental

#1434 [SDK] Use separate log event for flow test & node run
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow

#1408 Add "allow_manual_entry" for embedding tool
  src/promptflow-tools/promptflow/tools/yamls/embedding.yaml
Labels: promptflow-tools

#1441 Python version expand on sdk cli test.
  .github/workflows/promptflow-sdk-cli-test.yml
Labels: fundamental

#1427 Support no use admin to install msi
  scripts/installer/windows/install_from_msi.md
  scripts/installer/windows/product.wxs
  scripts/installer/windows/promptflow.wixproj
  scripts/installer/windows/scripts/pfcli.py
  scripts/installer/windows/scripts/promptflow.spec
  scripts/installer/windows/scripts/promptflow_service.vbs
Labels: fundamental

#1444 [Internal][Executor] Add e2e image tests of batch run with eval flow
  src/promptflow/tests/executor/e2etests/test_image.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_composite_image/merge_images.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_composite_image/passthrough_list.py
Labels: promptflow

#1399 Support "response_format" for openai chat api in llm tool
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/tests/test_openai.py
Labels: promptflow-tools

#1411 [OSLT] Handle all OpenSource\HuggingFace Models with the same MIR request format
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: promptflow-tools

#1448 [CLI] Show help instead of failing when calling 'pf run".
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#1134 [Executor] Initial version of mixed async/sync tools in async scheduler
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow

#1437 Rename Open Source to Open Model LLM Tool
  docs/media/reference/tools-reference/open_model_llm_on_vscode_promptflow.png
  docs/media/reference/tools-reference/open_source_llm_on_vscode_promptflow.png
  docs/reference/index.md
  docs/reference/tools-reference/open_model_llm_tool.md
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/promptflow/tools/open_model_llm.py
  src/promptflow-tools/promptflow/tools/yamls/open_model_llm.yaml
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_model_llm.py
Labels: documentation, promptflow-tools

#1457 Update promptflow-tools version from 1.0.0 to 1.0.1
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#1443 [SDK/CLI] Support run create from local run folder
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_orm/run_info.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/azure/operations/_async_run_downloader.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_download_run.yaml
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/flow_artifacts/000000000_000000024.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/flow_outputs/output.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/instance_results.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/logs.txt
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/meta.json
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/metrics.json
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/classify_with_llm/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/classify_with_llm/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/classify_with_llm/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/convert_to_dict/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/convert_to_dict/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/convert_to_dict/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/fetch_text_content_from_url/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/fetch_text_content_from_url/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/fetch_text_content_from_url/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/prepare_examples/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/prepare_examples/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/prepare_examples/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/summarize_text_content/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/summarize_text_content/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/node_artifacts/summarize_text_content/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/run_metadata.json
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/README.md
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/convert_to_dict.py
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/data.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/fetch_text_content_from_url.py
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/flow.dag.yaml
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/prepare_examples.py
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/requirements.txt
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/run.yml
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/run_evaluation.yml
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/summarize_text_content.jinja2
  src/promptflow/tests/test_configs/runs/web_classification_variant_0_20231205_120253_104100/snapshot/summarize_text_content__variant_1.jinja2
Labels: sdk, cli, promptflow

#1451 Provides utility function to support load environment_variables.
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/test_configs/flows/flow_with_environment_variables/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_environment_variables/print_env.py
Labels: promptflow

#1461 [promptflow][internal] Remove unused local cache storage code
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/storage/_cache_storage.py
  src/promptflow/promptflow/storage/_sqlite_client.py
Labels: promptflow

#1446 [example][fundamental] Use extra text file to declare tutorial workflow monitor resources
  .github/workflows/samples_flowinpipeline_pipeline.yml
  .github/workflows/samples_flows_standard_flow_with_additional_includes.yml
  .github/workflows/samples_flows_standard_flow_with_symlinks.yml
  .github/workflows/samples_flows_standard_web_classification.yml
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_create_service_with_flow.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  examples/CONTRIBUTING.md
  examples/tutorials/e2e-development/chat-with-pdf.md
  examples/tutorials/flow-deploy/azure-app-service/README.md
  examples/tutorials/flow-deploy/create-service-with-flow/README.md
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/README.md
  examples/tutorials/flow-deploy/docker/README.md
  examples/tutorials/flow-deploy/kubernetes/README.md
  examples/tutorials/flow-fine-tuning-evaluation/promptflow-quality-improvement.md
  examples/tutorials/flow-in-pipeline/pipeline.ipynb
  examples/tutorials/get-started/flow-as-function.ipynb
  examples/tutorials/get-started/quickstart-azure.ipynb
  examples/tutorials/get-started/quickstart.ipynb
  examples/tutorials/run-management/cloud-run-management.ipynb
  examples/tutorials/run-management/run-management.ipynb
  scripts/readme/ghactions_driver/readme_step.py
  scripts/readme/ghactions_driver/resource_resolver.py
  scripts/readme/readme.py
  scripts/readme/workflow_generator.py
Labels: examples, fundamental

#1464 [example][bugfix] Make configuration example exception in workflow generation
  .github/workflows/samples_configuration.yml
  scripts/readme/workflow_generator.py
Labels: fundamental

#1465 merging record change for the rest 3 failed test at cli
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: promptflow

#1442 feat: correct the way to get used connection names for csharp
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/tests/executor/unittests/_utils/test_connection_utils.py
Labels: sdk, promptflow

#1424 Support Tool Tests CI run from the main PF code or from the public PF package
  .github/workflows/tools_tests.yml
Labels: fundamental

#1466 [SDK/CLI] Update run download help message
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_utils.py
Labels: cli, promptflow

#1467 [fundamental] Enable close stale items
  .github/workflows/stale.yml
Labels: fundamental

#1469 [Internal] Improve test cases for Flow.load_env_variables.
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
Labels: promptflow

#1452 Implement azure matrix, move pfs pipeline to sdk cli test pipeline
  .github/workflows/promptflow-sdk-cli-test.yml
  .github/workflows/promptflow-sdk-pfs-e2e-test.yml
  .github/workflows/sdk-cli-azure-test.yml
  src/promptflow/tests/sdk_pfs_test/e2etests/test_connection_apis.py
Labels: promptflow, fundamental

#1472 [Sample]fix typo in cloud run management
  examples/tutorials/run-management/cloud-run-management.ipynb
Labels: examples

#1445 Enhance Image Persistence: In-Place Conversion to Path Dictionaries and Generator Trace Preservation
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/storage/_run_storage.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_utils.py
Labels: promptflow

#1473 [PromptFlow] Fix test case
  src/promptflow/tests/executor/unittests/processpool/test_healthy_ensured_process.py
Labels: promptflow

#1401 Remove model text-davinci-003 dependency from promptflow
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/flows/basic-with-connection/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/basic-with-connection/hello.jinja2
  src/promptflow/tests/test_configs/flows/basic-with-connection/hello.py
  src/promptflow/tests/test_configs/flows/flow_with_langchain_traces/test_langchain_traces.py
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/completion.py
  src/promptflow/tests/test_configs/flows/web_classification/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/flows/web_classification/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification/summarize_text_content.jinja2
  src/promptflow/tests/test_configs/flows/web_classification/summarize_text_content__variant_1.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_invalid/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_no_variants/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_no_variants/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_no_variants/summarize_text_content.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_no_variants/summarize_text_content__variant_1.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_no_variants_unordered/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_v1/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_v2/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_with_additional_include/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_with_additional_include/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_with_additional_include/summarize_text_content__variant_1.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_with_exception/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_with_exception/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_with_exception/summarize_text_content.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_with_exception/summarize_text_content__variant_1.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_with_invalid_additional_include/flow.dag.yaml
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
  src/promptflow/tests/test_configs/wrong_flows/invalid_connection/flow.dag.yaml
  src/promptflow/tests/test_configs/wrong_flows/source_file_missing/flow.dag.jinja.yaml
  src/promptflow/tests/test_configs/wrong_flows/tool_type_missing/flow.dag.yaml
  src/promptflow/tests/test_configs/wrong_flows/wrong_module/flow.dag.yaml
  src/promptflow/tests/test_configs/wrong_flows/wrong_provider/flow.dag.yaml
Labels: promptflow

#1474 Fix bug that ignores timeout lines in batch run status summary
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/tests/executor/unittests/_core/test_run_tracker.py
Labels: promptflow

#1480 Add authorize step to tool_tests.yml
  .github/workflows/tools_tests.yml
Labels: fundamental

#1477 Generate error message when initializing exception
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_utils/exception_utils.py
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/exceptions.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/tests/executor/unittests/_utils/test_exception_utils.py
Labels: promptflow-tools, promptflow

#1405 Remove gen_tool_by_source
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
Labels: promptflow

#1492 [example][bugfix] Set environ to make CIs run against production region in PR
  .github/workflows/samples_connections.yml
  .github/workflows/samples_flows_chat_basic_chat.yml
  .github/workflows/samples_flows_chat_chat_math_variant.yml
  .github/workflows/samples_flows_chat_chat_with_pdf.yml
  .github/workflows/samples_flows_chat_chat_with_wikipedia.yml
  .github/workflows/samples_flows_evaluation_eval_basic.yml
  .github/workflows/samples_flows_evaluation_eval_chat_math.yml
  .github/workflows/samples_flows_evaluation_eval_classification_accuracy.yml
  .github/workflows/samples_flows_evaluation_eval_entity_match_rate.yml
  .github/workflows/samples_flows_evaluation_eval_groundedness.yml
  .github/workflows/samples_flows_evaluation_eval_perceived_intelligence.yml
  .github/workflows/samples_flows_standard_autonomous_agent.yml
  .github/workflows/samples_flows_standard_basic.yml
  .github/workflows/samples_flows_standard_basic_with_builtin_llm.yml
  .github/workflows/samples_flows_standard_basic_with_connection.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_if_else.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_switch.yml
  .github/workflows/samples_flows_standard_customer_intent_extraction.yml
  .github/workflows/samples_flows_standard_flow_with_additional_includes.yml
  .github/workflows/samples_flows_standard_flow_with_symlinks.yml
  .github/workflows/samples_flows_standard_gen_docstring.yml
  .github/workflows/samples_flows_standard_maths_to_code.yml
  .github/workflows/samples_flows_standard_named_entity_recognition.yml
  .github/workflows/samples_flows_standard_web_classification.yml
  .github/workflows/samples_tools_use_cases_cascading_inputs_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_llm_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_package_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_script_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_dynamic_list_input_tool_showcase.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_create_service_with_flow.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  scripts/readme/ghactions_driver/workflow_steps/step_extract_steps_and_run.yml.jinja2
  scripts/readme/ghactions_driver/workflow_steps/step_extract_steps_and_run_gpt4.yml.jinja2
Labels: fundamental

#1470 [SDK/CLI] Add pfazure run cancel
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_cancel_run.yaml
Labels: sdk, cli, promptflow

#1486 [Tools] add new tool to support Azure OpenAI GPT-4 Turbo with Vision
  docs/reference/index.md
  docs/reference/tools-reference/aoai-gpt4-turbo-vision.md
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/promptflow/tools/yamls/aoai_gpt4v.yaml
  src/promptflow-tools/tests/test_aoai_gptv.py
  src/promptflow-tools/tests/test_handle_openai_error.py
Labels: documentation, promptflow-tools

#1462 mark openai gpt4v tool as preview
  src/promptflow-tools/promptflow/tools/yamls/openai_gpt4v.yaml
Labels: promptflow-tools

#1495 [Executor] Fix bug when sync node is called in async mode
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
Labels: promptflow, executor

#1440 [Internal][Executor] Add aggregation nodes error summary to batch result
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/batch/_result.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/executor/unittests/batch/test_result.py
  src/promptflow/tests/test_configs/flows/aggregation_node_failed/aggregate.py
  src/promptflow/tests/test_configs/flows/aggregation_node_failed/expected_status_summary.json
  src/promptflow/tests/test_configs/flows/aggregation_node_failed/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/aggregation_node_failed/line_process.py
  src/promptflow/tests/test_configs/flows/aggregation_node_failed/samples.json
Labels: promptflow

#1429 Brand New Check Enforcer
  .github/workflows/check_enforcer.yml
  scripts/building/check_enforcer.ps1
Labels: fundamental

#1498 adding records for test_batch_storage
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dir
Labels: promptflow

#1387 [Internal][Executor] Run exec_line concurrently and refine cancel logic in batch engine
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/tests/executor/e2etests/test_csharp_executor_proxy.py
Labels: promptflow

#1336 [SDK]Refine UA usage for client (SDK/CLI) side
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_azure_cli_perf.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli_perf.py
  src/promptflow/tests/sdk_cli_test/unittests/test_pf_client.py
Labels: sdk, promptflow

#1499 [Executor] Update executor finalization in async scheduler
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
Labels: promptflow, executor

#1505 fixing tests
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dir
Labels: promptflow

#1497 [SDK/CLI] Remove data portal url from the result of pfazure run show
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_runs_admin_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_runs_admin_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/_restclient/swagger.json
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run.yaml
Labels: sdk, promptflow

#1450 [Internal][Executor] Create the executor proxy in batch_engine.run and ensure that the life cycle of it is in the run function
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/mock_execution_server.py
Labels: promptflow

#1507 [SDK/CLI] Hide properties when listing remote runs
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/_restclient/README.md
Labels: sdk, cli, promptflow

#1510 Revert "[Internal][Executor] Create the executor proxy in batch_engin…
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
Labels: promptflow

#1508 [promptflow][bugfix] Fix missing sanitizer for RH API rundata
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/bases.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/processors.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run.yaml
Labels: promptflow

#1493 [Internal][Executor] Update the start command of csharp executor proxy
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
Labels: promptflow

#1515 Add column mapping in SDK sample code
  docs/how-to-guides/run-and-evaluate-a-flow/index.md
Labels: documentation

#1521 [Fundamental] Promptflow-tool is blocked by promptflow enforcer matcher
  scripts/building/check_enforcer.ps1
Labels: fundamental

#1518 [Tools] bump promptflow-tools version to 1.0.2
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#1522 ruamel yaml lower bound to 0.17.10 and test
  src/promptflow/CHANGELOG.md
  src/promptflow/dev_requirements.txt
  src/promptflow/setup.py
Labels: promptflow

#1514 [promptflow][fundamental] Migratable SDK Azure run tests
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/flows/hello-world/.promptflow/flow.tools.json
  src/promptflow/tests/test_configs/flows/hello-world/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/hello-world/hello_world.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_download_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_failed_run_to_dict_exclude.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_metrics.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run_details.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_failed_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_update_run.yaml
Labels: promptflow

#1488 [SDK/CLI] Fix error when creating azure run in multi-thread context
  src/promptflow/promptflow/_sdk/_utils.py
Labels: sdk, promptflow

#1523 Fix changelog wording
  src/promptflow/CHANGELOG.md
Labels: promptflow

#1375 Replace pkg_resources with importlib.metadata
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
Labels: documentation, promptflow

#1509 [SDK/CLI] Improve `pfazure run download` to handle large run data files.
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/operations/_async_run_downloader.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_download_run.yaml
Labels: sdk, promptflow

#1525 [Logs] Add debug log for resolving connection and initializing executor
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow

#1207 doc on additional inlcudes
  docs/cloud/azureai/quick-start.md
  docs/how-to-guides/develop-a-flow/index.md
  docs/how-to-guides/develop-a-flow/referencing-external-files-or-folders-in-a-flow.md
  docs/media/cloud/azureml/run-with-additional-includes.png
Labels: documentation

#1526 [promptflow][fundamental] Make Azure test fixtures package scope when live mode
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/bases.py
Labels: promptflow

#1531 [Document] refine flow in pipeline doc
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
Labels: documentation

#1532 [promptflow][fundamental] Migrate Azure live test to canary
  .github/workflows/sdk-cli-perf-monitor-test.yml
  src/promptflow/tests/_constants.py
Labels: promptflow, fundamental

#1365 [Bug fix] Input is changed when rerun the node after run the overall flow
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/flows/flow_with_dict_input/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_dict_input/get_dict_val.py
  src/promptflow/tests/test_configs/flows/flow_with_dict_input/print_val.py
Labels: sdk, promptflow

#1536 [Workflow] Update ignore link for link check CI
  scripts/docs/conf.py
Labels: fundamental

#1535 [fundamental] Update PR labeler workflow to apply a label to PR from fork
  .github/workflows/labeler.yml
Labels: fundamental

#1539 [fundamental][bugfix] Remove useless steps in perf monitor CI
  .github/workflows/sdk-cli-perf-monitor-test.yml
Labels: fundamental

#1496 Change node test's interface. Add storage to persist image.
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_image.py
Labels: sdk, promptflow

#1132 Serialize image to url if it contains source_url
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/tests/executor/e2etests/test_image.py
Labels: promptflow, no-recent-activity

#1544 [Doc] Update log metrics doc
  docs/concepts/design-principles.md
  docs/how-to-guides/develop-a-flow/develop-evaluation-flow.md
Labels: documentation

#1148 Add bug bash sample flows
  .github/workflows/samples_flows_chat_chat_with_image.yml
  .github/workflows/samples_flows_standard_describe_image.yml
  docs/how-to-guides/index.md
  docs/how-to-guides/process-image-in-flow.md
  docs/index.md
  docs/reference/flow-yaml-schema-reference.md
  examples/README.md
  examples/flows/chat/chat-with-image/README.md
  examples/flows/chat/chat-with-image/chat.jinja2
  examples/flows/chat/chat-with-image/flow.dag.yaml
  examples/flows/chat/chat-with-image/requirements.txt
  examples/flows/standard/describe-image/.env.example
  examples/flows/standard/describe-image/README.md
  examples/flows/standard/describe-image/data.jsonl
  examples/flows/standard/describe-image/flip_image.py
  examples/flows/standard/describe-image/flow.dag.yaml
  examples/flows/standard/describe-image/question_on_image.jinja2
  examples/flows/standard/describe-image/requirements.txt
  examples/requirements.txt
  scripts/readme/ghactions_driver/readme_step.py
  scripts/readme/ghactions_driver/readme_workflow_generate.py
  scripts/readme/ghactions_driver/workflow_steps/step_create_env_gpt4.yml.jinja2
  scripts/readme/ghactions_driver/workflow_steps/step_env_create_aoai.yml.jinja2
  scripts/readme/ghactions_driver/workflow_steps/step_extract_steps_and_run_gpt4.yml.jinja2
Labels: documentation, examples, fundamental

#1512 Update Csharp service dll entry
  src/promptflow/promptflow/_sdk/data/docker_csharp/runit/promptflow-serve/run
  src/promptflow/promptflow/_sdk/data/docker_csharp/start.sh
Labels: sdk, promptflow

#1555 Support set msi version in msi package pipeline
  .github/workflows/build_msi_installer.yml
Labels: fundamental

#1557 Multiprocessing issue in msi
  .github/workflows/build_msi_installer.yml
  scripts/installer/windows/scripts/pfcli.py
Labels: fundamental

#1454 Update Start Service Condition to support start service when upgrade package.
  scripts/installer/windows/product.wxs
Labels: fundamental

#1558 [promptflow][feature] Support to configure PF home directory
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#1296 Remove duplicated inputs validation when gen meta
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
Labels: promptflow

#1374 Support calculating metrics when using azure_deployment
  src/promptflow/promptflow/_utils/openai_metrics_calculator.py
Labels: promptflow

#1561 [SDK/CLI] Refine run download error message with un-supported workspace datastore type
  src/promptflow/promptflow/azure/operations/_async_run_downloader.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_list_flows.yaml
Labels: sdk, promptflow

#1506 [SDK] Support "pf config set user_agent="smile-llm/0.0.1""
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
Labels: sdk, promptflow

#1407 Hint user to upgrade every 7 days for HINT_ACTIVITY_NAME
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/_utils/version_hint_utils.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#1562 [pfs] Show promptflow service info
  .cspell.json
  scripts/installer/windows/scripts/promptflow_service.vbs
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_cli.py
Labels: sdk, promptflow, fundamental

#1569 [pfs] using "pfcli pf" to submit batch run
  .cspell.json
  src/promptflow/promptflow/_sdk/_service/apis/run.py
Labels: sdk, promptflow

#1453 [pf serving] refactor to consolidate local and remote
  .cspell.json
  .github/actions/step_sdk_setup/action.yml
  src/promptflow/promptflow/_sdk/_serving/_errors.py
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/blueprint/__init__.py
  src/promptflow/promptflow/_sdk/_serving/blueprint/monitor_blueprint.py
  src/promptflow/promptflow/_sdk/_serving/blueprint/static_web_blueprint.py
  src/promptflow/promptflow/_sdk/_serving/extension/__init__.py
  src/promptflow/promptflow/_sdk/_serving/extension/azureml_extension.py
  src/promptflow/promptflow/_sdk/_serving/extension/default_extension.py
  src/promptflow/promptflow/_sdk/_serving/extension/extension_factory.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_serving/flow_result.py
  src/promptflow/promptflow/_sdk/_serving/monitor/__init__.py
  src/promptflow/promptflow/_sdk/_serving/monitor/data_collector.py
  src/promptflow/promptflow/_sdk/_serving/monitor/flow_monitor.py
  src/promptflow/promptflow/_sdk/_serving/monitor/metrics.py
  src/promptflow/promptflow/_sdk/_serving/monitor/streaming_monitor.py
  src/promptflow/promptflow/_sdk/_serving/response_creator.py
  src/promptflow/promptflow/_sdk/_serving/swagger.py
  src/promptflow/promptflow/_sdk/_serving/utils.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve_azureml_extension.py
  src/promptflow/tests/test_configs/flows/llm_connection_override/conn_tool.py
  src/promptflow/tests/test_configs/flows/llm_connection_override/connection_arm_template.json
  src/promptflow/tests/test_configs/flows/llm_connection_override/flow.dag.yaml
Labels: sdk, promptflow, fundamental

#1564 Refactor chat_app.py to use sseclient for improved SSE event handling
  docs/how-to-guides/enable-streaming-mode.md
  docs/media/how-to-guides/how-to-enable-streaming-mode/scripts/chat_app.py
  docs/media/how-to-guides/how-to-enable-streaming-mode/scripts/event_stream.py
  docs/media/how-to-guides/how-to-enable-streaming-mode/scripts/requirements.txt
Labels: documentation

#1577 [CLI] Fix --user-agent not exist in flow build
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#1576 [Internal][Executor] Extend health timeout of executor service
  src/promptflow/promptflow/batch/_base_executor_proxy.py
Labels: promptflow

#1574 [SDK/CLI] Fix log verbosity to warning
  src/promptflow/promptflow/_cli/_pf/_config.py
  src/promptflow/promptflow/_cli/_pf/_connection.py
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_cli/_pf/_tool.py
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf_azure/_connection.py
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_utils/logger_utils.py
  src/promptflow/promptflow/azure/operations/_async_run_downloader.py
  src/promptflow/promptflow/azure/operations/_connection_operations.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, cli, promptflow

#1487 Improving error handling for invalid image inputs
  src/promptflow/promptflow/_utils/_errors.py
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/contracts/_errors.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_utils.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow

#1529 [Doc] Add best practice of setting pf_worker_count
  docs/how-to-guides/faq.md
Labels: documentation, external

#1533 Handle cancellation of async flow test and node test
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/test_configs/flows/async_tools_with_sync_tools/async_passthrough.py
  src/promptflow/tests/test_configs/flows/async_tools_with_sync_tools/flow.dag.yaml
Labels: promptflow

#1579 Add version information in pfs start log.
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
Labels: sdk, promptflow

#1550 Flow test --ui supports streaming (for python chat flow)
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/data/executable/main.py
  src/promptflow/promptflow/_sdk/data/executable/utils.py
Labels: sdk, cli, promptflow

#1547 [SDK/CLI] Validate flow schema when creating flow to azure ai
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/schemas/_flow.py
  src/promptflow/promptflow/azure/_entities/_flow.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_create_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_get_flow.yaml
Labels: sdk, cli, promptflow

#1580 [SDK] Record aggregation node error in bulk run
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/flows/aggregation_node_failed/data.jsonl
Labels: sdk, promptflow

#1568 Add unit test for Azure Content Safety tool
  src/promptflow-tools/connections.json.example
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_acs.py
Labels: promptflow-tools, external

#882 [pf tool] Update how to doc of tool develop
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/add-category-and-tags-for-tool.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/create-cascading-tool-inputs.md
  docs/how-to-guides/develop-a-tool/create-dynamic-list-tool-input.md
  docs/how-to-guides/develop-a-tool/create-your-own-custom-strong-type-connection.md
  docs/how-to-guides/develop-a-tool/customize_an_llm_tool.md
  docs/how-to-guides/develop-a-tool/use-file-path-as-tool-input.md
  examples/tools/tool-package-quickstart/my_tool_package/tools/my_tool_1.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/my_tool_2.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_cascading_inputs.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_llm_type.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_strong_type_connection.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_dynamic_list_input.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_file_path_input.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_generated_by_input.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/utils.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/my_tool_1.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/my_tool_2.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_cascading_inputs.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_custom_llm_type.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_custom_strong_type_connection.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_dynamic_list_input.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_file_path_input.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_generated_by_input.yaml
  src/promptflow/promptflow/_cli/_pf/_tool.py
Labels: documentation, examples, cli, promptflow

#1583 [Doc & msi] Update promptflow icon
  scripts/docs/_static/bg_dark_large.png
  scripts/docs/_static/bg_dark_small.png
  scripts/docs/_static/bg_light_large.png
  scripts/docs/_static/bg_light_small.png
  scripts/docs/_static/custom.js
  scripts/docs/_static/logo.svg
  scripts/docs/_static/logo32.ico
  scripts/installer/windows/resources/logo32.ico
Labels: fundamental

#1585 [SDK/CLI] Fix circular import error for sdk/cli logger
  src/promptflow/promptflow/_utils/logger_utils.py
Labels: promptflow

#1519 Refine `support default input index when collect package tools`
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_tool.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/flows/prompt_tools/summarize_text_content_prompt.meta.json
  src/promptflow/tests/test_configs/flows/script_with___file__/script_with___file__.meta.json
  src/promptflow/tests/test_configs/flows/script_with_import/dummy_utils/main.meta.json
  src/promptflow/tests/test_configs/flows/script_with_special_character/script_with_special_character.meta.json
  src/promptflow/tests/test_configs/tools/expected_generated_by_meta.json
Labels: promptflow

#1587 Fix flake8
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_tool.py
Labels: promptflow

#1588 [promptflow][bugfix] Adjust fixture order to fix breaking flow serve test
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
Labels: promptflow

#1591 Fix flake8
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
Labels: promptflow

#1592 [pfserving] default to disable pf serving input&output data log
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
Labels: sdk, promptflow

#1594 [SDK] Fix extra warning for batch run
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
Labels: sdk, promptflow

#1589 Calculate sys metrices recursively on each level
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_utils/openai_metrics_calculator.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
Labels: promptflow

#1595 [fundamental][bugfix] Fix indentation in chat-with-pdf template & apply new template
  .github/workflows/samples_flows_chat_chat_with_image.yml
  .github/workflows/samples_flows_chat_chat_with_pdf.yml
  .github/workflows/samples_flows_standard_describe_image.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  scripts/readme/ghactions_driver/workflow_templates/basic_workflow_replace_config_json.yml.jinja2
Labels: fundamental

#1513 support tool internal PyPI release: release from main branch, and release from non-main branch
  .github/workflows/tools_continuous_delivery.yml
  .github/workflows/tools_deploy_runtime.yml
  .github/workflows/wheel_distributing.yml
Labels: fundamental

#1586 update cli perf time limit
  .github/workflows/sdk-cli-perf-monitor-test.yml
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_azure_cli_perf.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli_perf.py
Labels: cli, promptflow, fundamental

#1270 Provide AssistantToolInvoker to support assistant function calling
  .cspell.json
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/executor/_docstring_parser.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_tool_invoker.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/setup.py
  src/promptflow/tests/test_configs/flows/assistant_tool/data.jsonl
  src/promptflow/tests/test_configs/flows/assistant_tool/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/assistant_tool/get_all_clothes.py
  src/promptflow/tests/test_configs/flows/assistant_tool/get_calorie.py
  src/promptflow/tests/test_configs/flows/assistant_tool/get_current_location.py
  src/promptflow/tests/test_configs/flows/assistant_tool/get_current_weather.py
  src/promptflow/tests/test_configs/flows/assistant_tool/multiply.py
  src/promptflow/tests/test_configs/flows/assistant_tool/oai_assistant.py
Labels: promptflow
