Repository microsoft/promptflow, pull requests merged in 2023-10, with the labels that each got.

#682 numexpr is one optional package for langchain, install it for e2e test.
  .github/workflows/promptflow-executor-e2e-test.yml
Labels: fundamental

#679 add a FAQ item for how to make the installed tool visible in VSCode Extension
  docs/how-to-guides/faq.md
  docs/media/how-to-guides/vscode-tool-list.png
Labels: documentation

#680 Filter out None for exceptions's message_parameter
  src/promptflow/promptflow/exceptions.py
  src/promptflow/tests/executor/unittests/executor/test_exceptions.py
Labels: promptflow

#674 [Flow test] Support python node return streaming output
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_python_node_streaming_output/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat_flow_with_python_node_streaming_output/stream.py
Labels: sdk, promptflow

#678 Resolve input type for exec_aggreation.
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/executor/flow_validator.py
  src/promptflow/tests/executor/unittests/executor/test_flow_validator.py
Labels: promptflow

#595 [Internal][Executor] Add unit tests for exception_utils
  src/promptflow/tests/executor/unittests/_utils/test_exception_utils.py
Labels: promptflow

#675 [Flow test] Fix chat-history was not consumed in testing
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_default_history/chat.jinja2
  src/promptflow/tests/test_configs/flows/chat_flow_with_default_history/flow.dag.yaml
Labels: sdk, promptflow

#629 [promptflow][Feature] Include flow path & output path in contract with visualization
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_service/run.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/contracts/_run_management.py
Labels: sdk, promptflow

#681 Add lock to prevent concurrency issue when refreshing connections dir and enable custom strong type connection tests
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#676 Refine type check for is_custom_strong_type
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/tests/executor/unittests/contracts/test_tool.py
Labels: promptflow

#277 [Docs] Add doc for condition flow with activate
  docs/how-to-guides/add-conditional-control-to-a-flow.md
  docs/how-to-guides/index.md
  docs/how-to-guides/init-and-test-a-flow.md
  docs/how-to-guides/quick-start.md
  docs/index.md
  docs/media/how-to-guides/conditional-flow-with-activate/activate_config.png
  docs/media/how-to-guides/conditional-flow-with-activate/activate_when_bypassed.png
  docs/media/how-to-guides/conditional-flow-with-activate/bypassed_nodes.png
  docs/media/how-to-guides/conditional-flow-with-activate/dependencies_bypassed.png
  docs/media/how-to-guides/conditional-flow-with-activate/output_bypassed.png
  docs/media/how-to-guides/conditional-flow-with-activate/provide_default_value.png
  docs/media/how-to-guides/conditional-flow-with-activate/visual_editor.png
Labels: documentation

#694 update promptflow-tools version to 0.1.0b7
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#698 [SDK & CLI] Fix azureml connection provider bug
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
Labels: sdk, promptflow

#624 [PromptFlow] Optimize the start process logic and add some tests
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/unittests/processpool/__init__.py
  src/promptflow/tests/executor/unittests/processpool/test_healthy_ensured_process.py
  src/promptflow/tests/executor/unittests/storage/test_queue_run_storage.py
Labels: promptflow

#692 [Internal][Executor] Add average execution time and estimated execution time to bulk run logs
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/promptflow/_utils/logger_utils.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/e2etests/test_logs.py
  src/promptflow/tests/executor/unittests/_utils/test_logger_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#602 Migrate the docstring comments when generate connection template
  .cspell.json
  src/promptflow/promptflow/_cli/_pf/_connection.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_utils/connection_utils.py
  src/promptflow/setup.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/_utils/test_connection_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/connections/custom_strong_type_connection.yaml
  src/promptflow/tests/test_configs/connections/update_custom_strong_type_connection.yaml
  src/promptflow/tests/test_configs/flows/custom_strong_type_connection_basic_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/custom_strong_type_connection_basic_flow/requirements.txt
Labels: sdk, cli, promptflow

#693 [Executor] Improve UT coverage for _result
  src/promptflow/promptflow/_utils/openai_metrics_calculator.py
  src/promptflow/tests/executor/unittests/executor/test_result.py
Labels: promptflow

#613 Docker format image should start app using runit
  .cspell.json
  docs/how-to-guides/deploy-a-flow/deploy-using-docker.md
  docs/how-to-guides/deploy-a-flow/deploy-using-kubernetes.md
  src/promptflow/promptflow/_sdk/data/docker/Dockerfile.jinja2
  src/promptflow/promptflow/_sdk/data/docker/README.md
  src/promptflow/promptflow/_sdk/data/docker/runit/promptflow-serve/finish.jinja2
  src/promptflow/promptflow/_sdk/data/docker/runit/promptflow-serve/run.jinja2
  src/promptflow/promptflow/_sdk/data/docker/start.sh.jinja2
  src/promptflow/tests/test_configs/flows/export/linux/Dockerfile
  src/promptflow/tests/test_configs/flows/export/linux/README.md
  src/promptflow/tests/test_configs/flows/export/linux/connections/custom_connection.yaml
  src/promptflow/tests/test_configs/flows/export/linux/deploy.ps1
  src/promptflow/tests/test_configs/flows/export/linux/deploy.sh
  src/promptflow/tests/test_configs/flows/export/linux/runit/promptflow-serve/finish
  src/promptflow/tests/test_configs/flows/export/linux/runit/promptflow-serve/run
  src/promptflow/tests/test_configs/flows/export/linux/start.sh
Labels: documentation, sdk, promptflow

#705 remove pf version pinning and upgrade pf-tools to 0.1.0b8
  src/promptflow-tools/promptflow/version.txt
  src/promptflow-tools/requirements.txt
Labels: promptflow-tools

#712 [Bugfix] Fix epilog indent caused by pr #602
  src/promptflow/promptflow/_cli/_pf/_connection.py
Labels: cli, promptflow

#703 [PromptFlow][Feature] Remove logs which are useless for users
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow

#704 Fix arm connection case insensitive api_type, api_version
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_arm_connection_build.py
Labels: sdk, promptflow

#720 [Bugfix][Executor] Use actual start time to calculate execution time
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow

#726 [Doc] Add google tag to docsite
  scripts/docs/_static/custom.js
Labels: fundamental

#708 Add article about a FAQ: the differences between pf and langchain
  docs/concepts/design-principles.md
  docs/concepts/index.md
  docs/index.md
  docs/media/promptflow-dag.png
Labels: documentation

#648 add dev container
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/codespaces.png
  .devcontainer/default_requirements.txt
  .devcontainer/devcontainer.json
  .devcontainer/devcontainers.png
  examples/flows/standard/gen-docstring/main.py
Labels: examples

#713 [Serving] Support default env var override behavior for connection
  docs/how-to-guides/deploy-a-flow/deploy-using-dev-server.md
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: documentation, sdk, promptflow

#734 [SDK/CLI] Upgrade JS visualize library for experience improvements
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_constants.py
Labels: sdk, promptflow

#683 [SDK/CLI] Fix encoding issue with non-English input
  examples/flows/standard/basic-with-builtin-llm/data.jsonl
  examples/flows/standard/basic-with-builtin-llm/flow.dag.yaml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
  src/promptflow/tests/test_configs/flows/flow_with_non_english_input/data.jsonl
  src/promptflow/tests/test_configs/flows/flow_with_non_english_input/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_non_english_input/hello.jinja2
Labels: examples, sdk, promptflow

#578 Flow build as executable package using streamlit.
  .cspell.json
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  docs/how-to-guides/deploy-a-flow/distribute-flow-as-executable-app.md
  docs/how-to-guides/deploy-a-flow/index.md
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/README.md
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/app.py
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/main.py
  src/promptflow/promptflow/_sdk/data/executable/README.md
  src/promptflow/promptflow/_sdk/data/executable/app.py.jinja2
  src/promptflow/promptflow/_sdk/data/executable/app.spec.jinja2
  src/promptflow/promptflow/_sdk/data/executable/main.py.jinja2
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/setup.py
Labels: documentation, examples, sdk, promptflow, fundamental

#660 [Flow test] Only Chat Flow's flow.test result returns the generator type
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/flows/basic_with_builtin_llm_node/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/basic_with_builtin_llm_node/hello.jinja2
Labels: sdk, promptflow

#699 [Executor] Support persisting images for flow run
  .cspell.json
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/storage/_run_storage.py
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/python_with_image.py
Labels: sdk, promptflow

#697 [PF run] Show error msg when pf.run failed
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
Labels: sdk, promptflow

#737 [Doc] Improve test doc to remind no run record will be generated
  docs/how-to-guides/init-and-test-a-flow.md
  docs/how-to-guides/quick-start.md
Labels: documentation

#709 [PF run] Update cwd when additional includes exist
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/tests/test_configs/flows/web_classification_with_additional_include/prepare_examples.py
Labels: sdk, promptflow

#664 [Internal] Refine error message for tool meta generator.
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/test_configs/wrong_tools/multiple_tools.py
  src/promptflow/tests/test_configs/wrong_tools/no_end.jinja2
Labels: promptflow

#661 If the tool source is in additional_includes, convert the tool source in tool.json to additional_include path
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
Labels: sdk, promptflow

#756 fix tool test failure caused by unstable response of aoai
  src/promptflow-tools/tests/test_aoai.py
Labels: promptflow-tools

#738 Use gunicorn in docker to start test app
  .cspell.json
  src/promptflow/promptflow/_sdk/data/docker/Dockerfile.jinja2
  src/promptflow/promptflow/_sdk/data/docker/runit/promptflow-serve/finish.jinja2
  src/promptflow/promptflow/_sdk/data/docker/runit/promptflow-serve/run.jinja2
  src/promptflow/tests/test_configs/flows/export/linux/Dockerfile
  src/promptflow/tests/test_configs/flows/export/linux/runit/promptflow-serve/finish
  src/promptflow/tests/test_configs/flows/export/linux/runit/promptflow-serve/run
Labels: sdk, promptflow

#740 [SDK/CLI][BugFix] Disable pandas type infer when reading data
  .cspell.json
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_utils/load_data.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/datas/load_data_cases/colors.csv
  src/promptflow/tests/test_configs/datas/load_data_cases/colors.json
  src/promptflow/tests/test_configs/datas/load_data_cases/colors.jsonl
  src/promptflow/tests/test_configs/datas/load_data_cases/colors.parquet
  src/promptflow/tests/test_configs/datas/load_data_cases/colors.tsv
Labels: promptflow

#742 [Examples][BugFix] Update runtime used in examples
  examples/flows/chat/chat-with-pdf/README.md
  examples/flows/chat/chat-with-pdf/chat-with-pdf-azure.ipynb
  examples/flows/chat/chat-with-pdf/tests/azure_chat_with_pdf_test.py
  examples/tutorials/get-started/quickstart-azure.ipynb
  examples/tutorials/run-management/cloud-run-management.ipynb
Labels: examples

#739 [Doc] Add log metrics guide in `Run and evaluate flow`
  docs/how-to-guides/run-and-evaluate-a-flow.md
Labels: documentation

#744 [SDK/CLI][BugFix] Remove max rows limitation of loading data
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_utils/load_data.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/datas/load_data_cases/10k.jsonl
  src/promptflow/tests/test_configs/datas/load_data_cases/10k/5k.1.jsonl
  src/promptflow/tests/test_configs/datas/load_data_cases/10k/5k.2.jsonl
Labels: promptflow

#761 [Doc] Move tracking tag into header
  scripts/docs/_static/custom.js
Labels: fundamental

#759 Read tool file by utf-8 encoding.
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/tests/test_configs/flows/script_with___file__/script_with___file__.py
Labels: promptflow

#762 [Doc] Add site verification code
  scripts/docs/_static/custom.js
Labels: fundamental

#662 Add tool with filepath input and flow example with this tool to used for the filepath doc
  docs/media/how-to-guides/develop-a-tool/use_file_path_in_flow.png
  examples/flows/standard/filepath-input-tool-showcase/flow.dag.yaml
  examples/flows/standard/filepath-input-tool-showcase/hello_method.py
  examples/flows/standard/filepath-input-tool-showcase/requirements.txt
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_file_path_input.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_file_path_input.yaml
  examples/tools/tool-package-quickstart/tests/test_tool_with_file_path_input.py
  examples/tools/tool-package-quickstart/tests/test_utils/hello_method.py
Labels: documentation, examples

#765 [Doc] Use static verification tag
  .cspell.json
  docs/index.md
  scripts/docs/_static/custom.js
Labels: documentation, fundamental

#685 Add tool icon when creating tool package.
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  scripts/tool/convert_image_to_data_url.py
  scripts/tool/generate_tool_package_template.py
  scripts/tool/templates/tool.yaml.j2
  scripts/tool/templates/tool2.yaml.j2
Labels: documentation, fundamental

#763 Add 'Using File Path as Tool Input' doc
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/index.md
  docs/how-to-guides/develop-a-tool/use-file-path-as-tool-input.md
Labels: documentation

#733 Support custom strong type connection in script tool (Simplified)
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/_utils/test_tool_utils.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/flows/flow_with_package_tool_with_custom_strong_type_connection/data.jsonl
  src/promptflow/tests/test_configs/flows/flow_with_package_tool_with_custom_strong_type_connection/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_script_tool_with_custom_strong_type_connection/data.jsonl
  src/promptflow/tests/test_configs/flows/flow_with_script_tool_with_custom_strong_type_connection/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_script_tool_with_custom_strong_type_connection/my_script_tool.py
Labels: sdk, promptflow

#721 [Internal][Executor] Add capability list for executor
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_utils/capability_util.py
  src/promptflow/tests/executor/unittests/_utils/test_capability_util.py
Labels: promptflow

#778 Fix reading special character issue for tool resolver
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/test_configs/flows/script_with___file__/script_with___file__.py
  src/promptflow/tests/test_configs/flows/script_with_special_character/script_with_special_character.meta.json
  src/promptflow/tests/test_configs/flows/script_with_special_character/script_with_special_character.py
Labels: promptflow

#781 fix parsing role in prompt issue
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/tests/test_common.py
Labels: promptflow-tools

#780 Add "Using File Path as Python Tool Input" section
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/use-file-path-as-tool-input.md
  docs/media/how-to-guides/develop-a-tool/use_file_path_in_script_tool.png
  examples/tools/tool-package-quickstart/setup.py
Labels: documentation, examples

#722 Add testcase for FlowNodesScheduler
  src/promptflow/promptflow/executor/_flow_nodes_scheduler.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/executor/test_flow_nodes_scheduler.py
Labels: promptflow

#577 CLI supports to bootstrap tool package
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_cli/_pf/_tool.py
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/data/package_tool/README.md.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/init.py
  src/promptflow/promptflow/_cli/data/package_tool/setup.py.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/tool.py.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/utils.py.jinja2
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_tool_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/unittests/test_tool.py
  src/promptflow/tests/test_configs/tools/custom_llm_tool.py
  src/promptflow/tests/test_configs/tools/python_tool.py
Labels: sdk, cli, promptflow

#702 Enable node level tracing of generator output
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/test_configs/flows/generator_nodes/echo.py
  src/promptflow/tests/test_configs/flows/generator_nodes/flow.dag.yaml
Labels: promptflow

#792 remove file path doc from index since it is using private promptflow sdk
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/index.md
  docs/how-to-guides/develop-a-tool/use-file-path-as-tool-input.md
Labels: documentation

#799 Support dump to in flow invoker
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
Labels: sdk, cli, promptflow

#751 [Open_Source_LLM] Update Tool for Ignite - LLaMa2 Improvements
  .cspell.json
  docs/media/reference/tools-reference/open_source_llm_on_vscode_promptflow.png
  docs/reference/tools-reference/open_source_llm_tool.md
  src/promptflow-tools/connections.json.example
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/promptflow/tools/yamls/open_source_llm.yaml
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: documentation, promptflow-tools

#797 add new separator for role parsing logic
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/tests/test_common.py
Labels: promptflow-tools

#783 Support image inputs in complicated data structures
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/promptflow/contracts/_errors.py
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/storage/_run_storage.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/logo_2.JPG
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/logo_3.JPG
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/pick_images_from_list.py
Labels: sdk, promptflow

#800 Update tool package version to 0.1.0b9
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#802 Update compliance_check.yml for Azure Pipelines
  .github/pipelines/compliance_check.yml
Labels: fundamental

#804 [Bugfix][Executor] Revert log change in CredentialScrubberFormatter
  src/promptflow/promptflow/_utils/logger_utils.py
Labels: promptflow

#777 [PromptFlow] Add unit test for line_execution_process_tool
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow

#583 [SDK/CLI] Support pfazure runs archive/restore/update
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/promptflow/contracts/run_info.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
Labels: sdk, cli, promptflow

#782 Support gen tool meta for package tool with icon
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/media/contributing/custom-tool-with-icon-in-extension.png
  docs/media/how-to-guides/develop-a-tool/auto-list-tool-in-extension.png
  docs/media/how-to-guides/develop-a-tool/custom-tool-list-in-extension.png
  docs/media/how-to-guides/develop-a-tool/custom-tool-with-icon-in-extension.png
  scripts/tool/generate_package_tool_meta.py
  scripts/tool/generate_tool_package_template.py
  scripts/tool/templates/tool.yaml.j2
  scripts/tool/templates/tool2.yaml.j2
  scripts/tool/utils/generate_tool_meta_utils.py
Labels: documentation, fundamental

#812 Fix serialize function
  src/promptflow/promptflow/_utils/dataclass_serializer.py
Labels: promptflow

#803 Fix custom connection input value for package tool with custom strong type connection and add changelog
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/tests/test_configs/flows/flow_with_package_tool_with_custom_connection/data.jsonl
  src/promptflow/tests/test_configs/flows/flow_with_package_tool_with_custom_connection/flow.dag.yaml
Labels: sdk, promptflow

#789 [flow test] flow test support multi modal
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/data/executable/main.py.jinja2
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow

#814 Improve UT coverage for run tracker
  src/promptflow/tests/executor/unittests/_core/test_run_tracker.py
Labels: promptflow

#817 [SDK/CLI] Move tests to unit test file and add json schema script
  scripts/json_schema/gen_json_schema.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_pf_client_azure.py
Labels: promptflow, fundamental

#805 Add utils for multimedia data
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/storage/_run_storage.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/test_configs/datas/test_image.jpg
Labels: sdk, promptflow

#819 [promptflow][vulnerability] Upgrade pydash to 6.0.0+
  src/promptflow/setup.py
Labels: promptflow

#794 Add doc and support gen tool meta for category and tags.
  docs/how-to-guides/develop-a-tool/add-category-and-tags-for-tool.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/index.md
  docs/media/how-to-guides/develop-a-tool/category_and_tags_in_tool_list.png
  docs/media/how-to-guides/develop-a-tool/category_and_tags_in_tool_tree.png
  docs/media/how-to-guides/develop-a-tool/filter_tools_by_tag.png
  scripts/tool/generate_package_tool_meta.py
Labels: documentation, fundamental

#743 design "integrations" docs folder
  .cspell.json
  docs/index.md
  docs/integrations/index.md
  docs/integrations/llms/index.md
  docs/integrations/tools/index.md
Labels: documentation

#809 [SDK & CLI]Support provider configurable in some command
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
  src/promptflow/tests/sdk_cli_global_config_test/conftest.py
  src/promptflow/tests/sdk_cli_global_config_test/e2etests/test_global_config.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow_invoker.py
  src/promptflow/tests/sdk_cli_test/unittests/test_pf_client.py
Labels: sdk, cli, promptflow

#736 update request timeout limit to 6min
  src/promptflow/promptflow/_sdk/_serving/static/index.js
Labels: sdk, promptflow

#832 [Open Source LLM] Update Bad Tool Doc Link
  docs/reference/tools-reference/open_source_llm_tool.md
Labels: documentation

#821 [Doc]Add reference doc on run yaml
  docs/how-to-guides/manage-runs.md
  docs/reference/index.md
  docs/reference/run-yaml-schema-reference.md
Labels: documentation

#779 [Flow init] "pf flow init" supports to update the template connection and deployment
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_cli/data/chat_flow/flow_files/.promptflow/flow.tools.json
  src/promptflow/promptflow/_cli/data/chat_flow/flow_files/README.md
  src/promptflow/promptflow/_cli/data/chat_flow/flow_files/chat.jinja2
  src/promptflow/promptflow/_cli/data/chat_flow/template/azure_openai.yaml.jinja2
  src/promptflow/promptflow/_cli/data/chat_flow/template/flow.dag.yaml.jinja2
  src/promptflow/promptflow/_cli/data/chat_flow/template/openai.yaml.jinja2
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#831 [Doc]make use-column-mapping nested page of run-and-evaluate-a-flow
  docs/README.md
  docs/concepts/concept-flows.md
  docs/how-to-guides/add-conditional-control-to-a-flow.md
  docs/how-to-guides/index.md
  docs/how-to-guides/init-and-test-a-flow.md
  docs/how-to-guides/manage-runs.md
  docs/how-to-guides/quick-start.md
  docs/how-to-guides/run-and-evaluate-a-flow/index.md
  docs/how-to-guides/run-and-evaluate-a-flow/run-and-evaluate-a-flow.md
  docs/how-to-guides/run-and-evaluate-a-flow/use-column-mapping.md
  docs/how-to-guides/tune-prompts-with-variants.md
  docs/index.md
Labels: documentation

#833 Support including images in object type flow inputs
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/pick_images_from_list.py
Labels: sdk, promptflow

#798 [pf CLI] List all package tools in current environment
  docs/reference/pf-command-reference.md
  src/promptflow/promptflow/_cli/_pf/_tool.py
  src/promptflow/promptflow/_sdk/operations/_tool_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: documentation, sdk, cli, promptflow

#830 Fix error message's link for column mapping usage
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow

#836 [SDK]Fix dict subscribing in py38
  src/promptflow/promptflow/_utils/multimedia_utils.py
Labels: promptflow

#684 refactor: remove load_as_component and update doc
  .github/workflows/samples_flowinpipeline_pipeline.yml
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
  docs/cloud/index.md
  docs/reference/pf-command-reference.md
  examples/README.md
  examples/configuration.ipynb
  examples/tutorials/flow-in-pipeline/pipeline.ipynb
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/operations/_artifact_utilities.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_in_azure_ml.py
  src/promptflow/tests/test_configs/flows/saved_component_spec/command.yaml
  src/promptflow/tests/test_configs/flows/saved_component_spec/parallel.yaml
  src/promptflow/tests/test_configs/flows/saved_component_spec/parallel_anonymous.yaml
  src/promptflow/tests/test_configs/flows/web_classification/flow.dag.yaml
Labels: documentation, examples, sdk, promptflow, fundamental

#837 Support images in complicated structure as node input
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/pick_images_from_list.py
Labels: promptflow

#839 Update my tools package to 0.0.3 with custom strong type connection example
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_strong_type_connection.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_custom_strong_type_connection.yaml
  examples/tools/tool-package-quickstart/setup.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_custom_strong_type_connection.py
  scripts/tool/generate_package_tool_meta.py
Labels: examples, fundamental

#786 Support list type flow input with image data
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/data/executable/app.spec.jinja2
  src/promptflow/promptflow/_sdk/data/executable/main.py.jinja2
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow

#825 [Open_Source_LLM] Add Icon + MIR Telemetry Attribution + Fix Tests
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/promptflow/tools/yamls/open_source_llm.yaml
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: promptflow-tools

#840 [Sample]Improve chat with pdf ci time by 2x
  .gitignore
  examples/flows/chat/chat-with-pdf/README.md
  examples/flows/chat/chat-with-pdf/chat-with-pdf.ipynb
  examples/flows/chat/chat-with-pdf/chat_with_pdf/.index/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf.index_1024_64/index.faiss
  examples/flows/chat/chat-with-pdf/chat_with_pdf/.index/.pdfs/https___arxiv.org_pdf_1810.04805.pdf.pdf.index_1024_64/index.pkl
  examples/flows/chat/chat-with-pdf/chat_with_pdf/.index/.pdfs/https___grs.pku.edu.cn_docs_2018-03_20180301083100898652.pdf.pdf.index_1024_64/index.faiss
  examples/flows/chat/chat-with-pdf/chat_with_pdf/.index/.pdfs/https___grs.pku.edu.cn_docs_2018-03_20180301083100898652.pdf.pdf.index_1024_64/index.pkl
  examples/flows/chat/chat-with-pdf/chat_with_pdf/.pdfs/https___grs.pku.edu.cn_docs_2018-03_20180301083100898652.pdf.pdf
  examples/flows/chat/chat-with-pdf/chat_with_pdf/build_index.py
  examples/flows/chat/chat-with-pdf/chat_with_pdf/constants.py
  examples/flows/chat/chat-with-pdf/chat_with_pdf/download.py
  examples/flows/chat/chat-with-pdf/chat_with_pdf/main.py
  examples/flows/chat/chat-with-pdf/flow.dag.yaml
  examples/flows/chat/chat-with-pdf/setup_env.py
  examples/flows/chat/chat-with-pdf/tests/base_test.py
Labels: examples

#848 [Samples]update compute to fix failed samples CI
  docs/cloud/azureai/quick-start.md
  examples/flows/standard/basic-with-connection/README.md
  examples/flows/standard/basic/README.md
  examples/flows/standard/flow-with-additional-includes/README.md
  examples/flows/standard/flow-with-symlinks/README.md
  examples/flows/standard/web-classification/README.md
Labels: documentation, examples

#842 [Open_Source_LLM] Add Endpoints Tests and switch Deployment setup
  src/promptflow-tools/connections.json.example
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: promptflow-tools

#835 Add schema link for custom strong type connection
  src/promptflow/promptflow/_utils/connection_utils.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
Labels: promptflow

#815 Change function call type to object
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/tests/test_aoai.py
  src/promptflow-tools/tests/test_common.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/test_configs/flows/sample_flow_with_functions/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/sample_flow_with_functions/run_function.py
  src/promptflow/tests/test_configs/flows/sample_flow_with_functions/use_functions_with_chat_models.jinja2
Labels: promptflow-tools, promptflow

#764 Initial dynamic_list support
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_dynamic_list_input.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_dynamic_list_input.yaml
  examples/tools/tool-package-quickstart/tests/test_tool_with_dynamic_input.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
Labels: examples, sdk, promptflow

#811 [Promptflow] Support image in SingleNodeRun
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/python_node_2.py
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/python_with_image.py
Labels: sdk, promptflow

#816 Refine for mlflow flavor support
  docs/how-to-guides/set-global-configs.md
  src/promptflow/promptflow/__init__.py
  src/promptflow/promptflow/_cli/_pf/_config.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_tool_resolver.py
Labels: documentation, sdk, cli, promptflow

#857 Remove working_dir
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow

#862 upgrade my-tools-package to 0.0.4
  examples/tools/tool-package-quickstart/setup.py
Labels: examples

#845 Fix typo in readme
  README.md
  docs/how-to-guides/init-and-test-a-flow.md
  docs/how-to-guides/quick-start.md
Labels: documentation

#844 Fix editable scope in PYTHONPATH in dev_setup guide
  docs/dev/dev_setup.md
Labels: documentation

#866 Update promptflow tools version to 0.1.0b10
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#856 Fix comments when generate connection template
  src/promptflow/promptflow/_utils/connection_utils.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/_utils/test_connection_utils.py
Labels: promptflow

#855 [SDK]persist input from run results to avoid input missing in run results
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/datas/dictInput1.jsonl
Labels: sdk, promptflow

#868 [flow init] Add schema to flow template
  src/promptflow/promptflow/_cli/data/chat_flow/template/flow.dag.yaml.jinja2
  src/promptflow/promptflow/_cli/data/entry_flow/flow.dag.yaml.jinja2
  src/promptflow/promptflow/_cli/data/evaluation_flow/flow.dag.yaml
  src/promptflow/promptflow/_cli/data/standard_flow/flow.dag.yaml
Labels: cli, promptflow

#863 Refine multimedia e2e tests
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/e2etests/test_executor_with_image.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/logo_2.png
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/passthrough_dict.py
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/passthrough_list.py
  src/promptflow/tests/test_configs/flows/python_tool_with_image_input_and_output/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_input_and_output/python_with_image.py
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/logo_2.JPG
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/logo_3.JPG
  src/promptflow/tests/test_configs/flows/python_tool_with_image_list/pick_images_from_list.py
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/python_node_2.py
  src/promptflow/tests/test_configs/flows/python_tool_with_multiple_image_nodes/python_with_image.py
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image/logo_2.png
  src/promptflow/tests/test_configs/flows/python_tool_with_simple_image/pick_an_image.py
Labels: promptflow

#849 Add UT for multimedia_utils
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_utils.py
Labels: promptflow

#871 feat: recover private interface to upload a flow to file share
  src/promptflow/promptflow/azure/operations/_artifact_utilities.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
Labels: sdk, promptflow

#838 [pf tool] Support tool init with advance info, such as icon, tags and category
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_cli/_pf/_tool.py
  src/promptflow/promptflow/_cli/data/package_tool/MANIFEST.in.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/tool.py.jinja2
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_sdk/operations/_tool_operations.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/datas/logo.jpg
Labels: sdk, cli, promptflow

#867 Add "enabled_by_value" tool example
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_enabled_by_value.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_enabled_by_value.yaml
  examples/tools/tool-package-quickstart/setup.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_enabled_by_value.py
Labels: examples

#874 Fix typo in tools example quickstart
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_strong_type_connection.py
Labels: examples

#876 Move azure provider pf client test
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_pf_client.py
  src/promptflow/tests/sdk_cli_test/unittests/test_pf_client.py
Labels: promptflow

#854 Add flow with enabled by value tool and flow CI
  .github/workflows/samples_flows_standard_flow_with_enabled_by_value.yml
  examples/README.md
  examples/flows/standard/flow-with-enabled-by-value/README.md
  examples/flows/standard/flow-with-enabled-by-value/flow.dag.yaml
  examples/flows/standard/flow-with-enabled-by-value/requirements.txt
Labels: examples, fundamental

#853 [Sample]add local run management sample
  .github/workflows/samples_runmanagement_runmanagement.yml
  examples/README.md
  examples/tutorials/run-management/run-management.ipynb
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/__init__.py
  src/promptflow/promptflow/_sdk/_load_functions.py
Labels: examples, sdk, promptflow, fundamental

#884 [promptflow][Release] Manually install numexpr for matrix test
  .github/workflows/promptflow-release-testing-matrix.yml
Labels: fundamental

#878 Add test chat flow with image
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/tests/executor/e2etests/test_executor_with_image.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_image/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat_flow_with_image/logo.jpg
  src/promptflow/tests/test_configs/flows/chat_flow_with_image/logo_2.png
  src/promptflow/tests/test_configs/flows/chat_flow_with_image/mock_chat.py
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/flow.dag.yaml
Labels: promptflow

#893 [Tool Doc] Update pf tool cli reference doc
  docs/reference/pf-command-reference.md
Labels: documentation

#885 Fix executable issue: update api and add coveraga test
  .github/actions/step_sdk_setup/action.yml
  .github/actions/step_sdk_setup_win/action.yml
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_sdk/data/executable/main.py.jinja2
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow, fundamental

#560 [Executor] Support ToolProvider for script tool
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/test_configs/flows/script_tool_with_init/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/script_tool_with_init/script_tool_with_init.py
Labels: promptflow

#851 [promptflow][BugFix] Not clean-up log file for batch run
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#895 [flow test] Fix wrong annotation in test case
  src/promptflow/tests/test_configs/flows/chat_flow_with_python_node_streaming_output/stream.py
Labels: promptflow

#897 Support chat_history configrable in streamlit test page
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_sdk/data/executable/main.py.jinja2
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
Labels: sdk, cli, promptflow

#892 [SDK]increase timeout for automatic runtime and emphasize user can continue with retry
  src/promptflow/promptflow/azure/_constants/_flow.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
Labels: sdk, promptflow

#899 Update release date
  src/promptflow/CHANGELOG.md
Labels: promptflow

#727 [Fundamental] Enable recording playback for SDK/CLI Azure end-to-end tests
  .cspell.json
  .github/workflows/promptflow-sdk-cli-azure-e2e-test.yml
  scripts/building/dev_requirements.txt
  src/promptflow/dev_requirements.txt
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_in_azure_ml.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/bases.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/constants.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/processors.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/variable_recorder.py
  src/promptflow/tests/test_configs/recordings/test_arm_connection_operations_TestArmConnectionOperations_test_get_connection.yaml
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_basic_flow_run_bulk_without_env.yaml
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_run_with_remote_data.yaml
  src/promptflow/tests/test_configs/recordings/test_connection_operations_TestConnectionOperations_test_get_connection.yaml
  src/promptflow/tests/test_configs/recordings/test_connection_operations_TestConnectionOperations_test_list_connection_spec.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_automatic_runtime.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_automatic_runtime_with_environment.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_basic_evaluation.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_flow_id_in_submission.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_get_detail_against_partial_fail_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_get_invalid_run_cases.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_input_mapping_with_dict.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_list_runs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_pf_run_with_env_var.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_from_yaml.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_not_exist.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_without_retry.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_data_not_provided.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_display_name_with_macro.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_submission_exception.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_connection_overwrite.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_env_overwrite.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_remote_data.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_without_dump.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_metrics.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run_details.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_failed_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_invalid_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_tools_json_ignored.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_update_run.yaml
Labels: promptflow, fundamental, pfcloud

#898 Fix python_tool_with_composite_image flow
  src/promptflow/tests/test_configs/flows/python_tool_with_composite_image/passthrough_dict.py
Labels: promptflow

#900 [fundamental] Remove Mac OS from PR triggered checks for executor/SDK
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-sdk-cli-azure-e2e-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_run_file_with_set.yaml
Labels: promptflow, fundamental

#873 Add custom llm tool in my tools package
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_llm_type.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_custom_llm_type.yaml
  examples/tools/tool-package-quickstart/setup.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_custom_llm_type.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_file_path_input.py
Labels: examples

#904 Fix type in test that are not supported in python38
  src/promptflow/tests/executor/unittests/contracts/test_tool.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow

#907 Add multimedia utils
  src/promptflow/promptflow/_internal/__init__.py
Labels: promptflow

#913 [flow test] only --interactive supports streaming output
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
Labels: sdk, cli, promptflow

#902 [promptflow][test] Fix edge case for same timestamp in ORM E2E test
  src/promptflow/tests/sdk_cli_test/e2etests/test_orm.py
Labels: sdk, promptflow

#909 Skip test_flow_build_executable
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow

#905 Add composite image CLI test and refine image output
  docs/how-to-guides/deploy-a-flow/distribute-flow-as-executable-app.md
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/README.md
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/app.spec
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/main.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/data/executable/main.py.jinja2
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: documentation, examples, sdk, promptflow

#911 [Doc] Update pfazure command doc for run archive/restore/update
  docs/reference/pfazure-command-reference.md
Labels: documentation

#920 [SDK]update app insight key for telemetry
  src/promptflow/promptflow/_telemetry/logging_handler.py
Labels: promptflow

#860 [BufFix] Redact data when printing secret in the node
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/flows/print_secret_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/print_secret_flow/print_secret.py
Labels: bug, sdk, promptflow

#925 Move tool cap flows to examples/tools/use-cases
  .github/workflows/samples_tools_use_cases_flow_with_enabled_by_value.yml
  examples/README.md
  examples/tools/use-cases/filepath-input-tool-showcase/flow.dag.yaml
  examples/tools/use-cases/filepath-input-tool-showcase/hello_method.py
  examples/tools/use-cases/filepath-input-tool-showcase/requirements.txt
  examples/tools/use-cases/flow-with-enabled-by-value/README.md
  examples/tools/use-cases/flow-with-enabled-by-value/flow.dag.yaml
  examples/tools/use-cases/flow-with-enabled-by-value/requirements.txt
  scripts/readme/ghactions_driver/readme_templates/README.md.jinja2
  scripts/readme/readme.py
Labels: examples, fundamental

#918 Add 'Using File Path as Tool Input' doc
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/index.md
  docs/how-to-guides/develop-a-tool/use-file-path-as-tool-input.md
Labels: documentation

#927 [Sample]update sample env var to filter out sample data in telemetry
  .github/workflows/samples_configuration.yml
  .github/workflows/samples_connections.yml
  .github/workflows/samples_connections_connection.yml
  .github/workflows/samples_flowinpipeline_pipeline.yml
  .github/workflows/samples_flows_chat_basic_chat.yml
  .github/workflows/samples_flows_chat_chat_with_pdf.yml
  .github/workflows/samples_flows_chat_chat_with_wikipedia.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdf.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdfazure.yml
  .github/workflows/samples_flows_evaluation_eval_basic.yml
  .github/workflows/samples_flows_evaluation_eval_classification_accuracy.yml
  .github/workflows/samples_flows_evaluation_eval_entity_match_rate.yml
  .github/workflows/samples_flows_evaluation_eval_groundedness.yml
  .github/workflows/samples_flows_evaluation_eval_perceived_intelligence.yml
  .github/workflows/samples_flows_standard_autonomous_agent.yml
  .github/workflows/samples_flows_standard_basic.yml
  .github/workflows/samples_flows_standard_basic_with_builtin_llm.yml
  .github/workflows/samples_flows_standard_basic_with_connection.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_if_else.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_switch.yml
  .github/workflows/samples_flows_standard_customer_intent_extraction.yml
  .github/workflows/samples_flows_standard_flow_with_additional_includes.yml
  .github/workflows/samples_flows_standard_flow_with_symlinks.yml
  .github/workflows/samples_flows_standard_gen_docstring.yml
  .github/workflows/samples_flows_standard_maths_to_code.yml
  .github/workflows/samples_flows_standard_named_entity_recognition.yml
  .github/workflows/samples_flows_standard_web_classification.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tools_use_cases_flow_with_enabled_by_value.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  scripts/readme/ghactions_driver/workflow_templates/workflow_skeleton.yml.jinja2
Labels: fundamental

#933 [Doc]update run and evaluation flow doc structure
  docs/how-to-guides/develop-a-flow/develop-evaluation-flow.md
  docs/how-to-guides/run-and-evaluate-a-flow/index.md
  docs/how-to-guides/run-and-evaluate-a-flow/run-and-evaluate-a-flow.md
Labels: documentation

#922 [PromptFlow][ProcessPool] Fix the logic of child process handling exception.
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow

#880 Add flow with custom llm tool and flow CI
  .github/workflows/samples_tools_use_cases_custom_llm_tool_showcase.yml
  examples/README.md
  examples/tools/use-cases/custom_llm_tool_showcase/README.md
  examples/tools/use-cases/custom_llm_tool_showcase/custom_connection.yml
  examples/tools/use-cases/custom_llm_tool_showcase/flow.dag.yaml
  examples/tools/use-cases/custom_llm_tool_showcase/prompt_template.jinja2
  examples/tools/use-cases/custom_llm_tool_showcase/requirements.txt
Labels: examples, fundamental

#934 [promptflow] Loose PyArrow version limit
  src/promptflow/setup.py
Labels: promptflow

#921 Move flow with custom strong type connection tool and flow with cascading inputs tool to use-cases folder
  .github/workflows/samples_tools_use_cases_cascading_inputs_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_package_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_script_tool_showcase.yml
  examples/README.md
  examples/tools/use-cases/cascading-inputs-tool-showcase/README.md
  examples/tools/use-cases/cascading-inputs-tool-showcase/flow.dag.yaml
  examples/tools/use-cases/cascading-inputs-tool-showcase/requirements.txt
  examples/tools/use-cases/custom-strong-type-connection-package-tool-showcase/README.md
  examples/tools/use-cases/custom-strong-type-connection-package-tool-showcase/data.jsonl
  examples/tools/use-cases/custom-strong-type-connection-package-tool-showcase/flow.dag.yaml
  examples/tools/use-cases/custom-strong-type-connection-package-tool-showcase/my_custom_connection.yml
  examples/tools/use-cases/custom-strong-type-connection-package-tool-showcase/requirements.txt
  examples/tools/use-cases/custom-strong-type-connection-script-tool-showcase/README.md
  examples/tools/use-cases/custom-strong-type-connection-script-tool-showcase/custom.yml
  examples/tools/use-cases/custom-strong-type-connection-script-tool-showcase/data.jsonl
  examples/tools/use-cases/custom-strong-type-connection-script-tool-showcase/flow.dag.yaml
  examples/tools/use-cases/custom-strong-type-connection-script-tool-showcase/my_script_tool.py
  examples/tools/use-cases/custom-strong-type-connection-script-tool-showcase/requirements.txt
  examples/tools/use-cases/flow-with-enabled-by-value/README.md
Labels: examples, fundamental

#936 Rename cascading inputs tool
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_cascading_inputs.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_cascading_inputs.yaml
  examples/tools/tool-package-quickstart/setup.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_cascading_inputs.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_enabled_by_value.py
Labels: examples
