Repository microsoft/promptflow, pull requests merged in 2023-09, with the labels that each got.

#297 update CHANGELOG & sample for 0.1.0b4
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  examples/README.md
  examples/configuration.ipynb
  examples/connections/azure_openai.yml
  examples/tutorials/e2e-development/chat-with-pdf.md
  examples/tutorials/flow-deploy/azure-app-service/README.md
  examples/tutorials/flow-deploy/docker/README.md
  examples/tutorials/run-management/cloud-run-management.ipynb
  scripts/readme/ghactions_driver/readme_templates/README.md.jinja2
  scripts/readme/readme.py
  scripts/readme/readme_generator.py
  src/promptflow/CHANGELOG.md
Labels: examples, promptflow, fundamental

#299 [document] refine doc rule after repo public
  README.md
  docs/README.md
  docs/cloud/azureai/deploy-to-azure-appservice.md
  docs/how-to-guides/deploy-a-flow/deploy-using-dev-server.md
  docs/how-to-guides/deploy-a-flow/deploy-using-docker.md
  docs/tutorials/index.md
  examples/README.md
  examples/tutorials/flow-deploy/azure-app-service/README.md
  examples/tutorials/flow-deploy/azure-app-service/deploy.ps1
  examples/tutorials/flow-deploy/azure-app-service/deploy.sh
  scripts/docs/conf.py
  scripts/readme/ghactions_driver/readme_templates/README.md.jinja2
  src/promptflow/README.md
  src/promptflow/promptflow/_sdk/data/docker/deploy.ps1.jinja2
  src/promptflow/promptflow/_sdk/data/docker/deploy.sh.jinja2
  src/promptflow/tests/test_configs/flows/export/linux/deploy.ps1
  src/promptflow/tests/test_configs/flows/export/linux/deploy.sh
Labels: documentation, examples, sdk, promptflow, fundamental

#298 feat: private interface for vs extension to generate tools meta
  docs/reference/pf-command-reference.md
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
Labels: documentation, sdk, cli, promptflow

#303 [Fundamental] Add GH workflow to update version and add tag for promptflow
  .github/workflows/create_promptflow_release_tag.yml
Labels: fundamental

#290 Fix python 3.11 tests, Expand test matrix to 3.8-3.12
  .github/workflows/promptflow-release-testing-matrix.yml
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/executor/unittests/_utils/test_exception_utils.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow, fundamental

#278 [SDK]Support session reset
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, cli, promptflow

#317 Add long description when publish pypi
  src/promptflow-tools/setup.py
Labels: promptflow-tools

#315 Fix doc ci pipeline
  .github/workflows/build_doc_ci.yml
  .github/workflows/publish_doc.yml
  docs/how-to-guides/deploy-a-flow/deploy-using-kubernetes.md
Labels: documentation, fundamental

#262 [promptflow][Feature] Upgrade visualize JS version to 28
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_constants.py
Labels: sdk, promptflow

#274 [SDK]align display name generate logic with PFS
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#259 [SDK]raise proper error when output's empty
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#218 [Sample]Enable automatic runtime sample
  examples/flows/chat/chat-with-pdf/README.md
  examples/flows/chat/chat-with-pdf/chat-with-pdf-azure.ipynb
  examples/flows/chat/chat-with-pdf/flow.dag.yaml
  examples/flows/chat/chat-with-pdf/tests/azure_chat_with_pdf_test.py
  examples/flows/standard/flow-with-additional-includes/README.md
  examples/flows/standard/flow-with-symlinks/README.md
  examples/flows/standard/web-classification/README.md
  examples/tutorials/run-management/cloud-run-management.ipynb
Labels: examples

#318 [SDK]automatic runtime improvements: allow "automatic" runtime name & add progress message
  src/promptflow/promptflow/azure/_constants/_flow.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#307 New Enforcer, Add install python step in place of conda.
  .github/actions/step_create_python_environment/action.yml
  .github/actions/step_generate_configs/action.yml
  .github/actions/step_publish_test_results/action.yml
  .github/actions/step_sdk_setup/action.yml
  .github/actions/step_sdk_setup_win/action.yml
  .github/workflows/check_enforcer.yml
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-release-testing-matrix.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  scripts/building/dev_requirements.txt
Labels: fundamental

#231 warning the remove of embedding api
  docs/reference/tools-reference/llm-tool.md
Labels: documentation

#304 [Sample] Add deployment_name and model in flow.dag.yaml of samples
  examples/flows/chat/basic-chat/flow.dag.yaml
  examples/flows/chat/chat-with-wikipedia/flow.dag.yaml
  examples/flows/evaluation/eval-groundedness/flow.dag.yaml
  examples/flows/evaluation/eval-perceived-intelligence/flow.dag.yaml
  examples/flows/standard/basic-with-builtin-llm/flow.dag.yaml
  examples/flows/standard/flow-with-additional-includes/flow.dag.yaml
  examples/flows/standard/flow-with-symlinks/flow.dag.yaml
  examples/flows/standard/maths-to-code/flow.dag.yaml
  examples/flows/standard/named-entity-recognition/flow.dag.yaml
  examples/flows/standard/web-classification/flow.dag.yaml
Labels: examples

#314 feat: update private interface to generate tools meta
  src/promptflow/dev_requirements.txt
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/test_configs/flows/export/linux/flow/requirements_txt
  src/promptflow/tests/test_configs/flows/intent-copilot/requirements_txt
  src/promptflow/tests/test_configs/flows/web_classification_invalid/flow.dag.yaml
Labels: sdk, promptflow

#241 [Flow test] Remove private function for streaming output
  docs/how-to-guides/init-and-test-a-flow.md
  docs/media/how-to-guides/init-and-test-a-flow/streaming_output.gif
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: documentation, sdk, cli, promptflow

#324 [Promptflow SDK& CLI] Inappropriate message after running "pf init"
  docs/how-to-guides/init-and-test-a-flow.md
  docs/media/how-to-guides/init-and-test-a-flow/chat.png
  docs/media/how-to-guides/vscode_interactive_chat_1.png
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/data/chat_flow/README.md
  src/promptflow/promptflow/_cli/data/chat_flow/azure_openai.yaml
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
Labels: documentation, sdk, cli, promptflow

#168 Refactor get connection names
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_package_tool.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
Labels: promptflow

#311 [Executor][Internal] Refine error message in flow_executor.py
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/executor/_dag_manager.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_activate.py
  src/promptflow/tests/executor/unittests/executor/test_dag_manager.py
Labels: promptflow

#328 Refine quick start: Update images
  docs/how-to-guides/quick-start.md
  docs/media/how-to-guides/quick-start/run_flow_visual_editor.png
  docs/media/how-to-guides/quick-start/test_flow_dag_editor.gif
  docs/media/how-to-guides/quick-start/vs_code_interpreter_1.png
Labels: documentation

#253 [Executor][Internal]Apply default input value in flow executor
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/unittests/executor/test_flow_executor.py
  src/promptflow/tests/test_configs/flows/default_input/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/default_input/test_print_aggregation.py
  src/promptflow/tests/test_configs/flows/default_input/test_print_input.py
Labels: promptflow

#330 [Doc] Add doc string for public functions
  src/promptflow/promptflow/_core/metric_logger.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/operations/_flow_opearations.py
  src/promptflow/promptflow/exceptions.py
Labels: sdk, promptflow

#337 [SDK]Refine error message
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#320 [doc] Fix script path and remove useless file for custom tool package guidance.
  docs/how-to-guides/how-to-create-and-use-your-own-tool-package.md
  examples/tools/tool-package-quickstart/my_tool_package/yamls/output.yaml
Labels: documentation, examples

#338 fix: traverse directory import
  src/promptflow/promptflow/azure/operations/_flow_opearations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#336 Remove None value before returning connection names
  src/promptflow/promptflow/contracts/flow.py
Labels: promptflow

#331 [Promptflow CLI] Write exception info to stderr when set env PROMPTFLOW_STRUCTURE_EXCEPTION_OUTPUT
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#316 Use user agent as componentName in ErrorResponse
  src/promptflow/promptflow/_utils/exception_utils.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/tests/executor/unittests/_utils/test_exception_utils.py
Labels: promptflow

#343 [Pipeline] Update link check error display
  .github/workflows/publish_doc.yml
  scripts/docs/doc_generation.ps1
Labels: fundamental

#347 [Executor][Bugfix] Add psutil dependency
  src/promptflow/setup.py
Labels: promptflow, executor

#346 [SDK]Fix incorrect request id in service request error message
  .pre-commit-config.yaml
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#344 refine docstring
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/promptflow/azure/_configuration.py
  src/promptflow/promptflow/azure/operations/__init__.py
  src/promptflow/promptflow/azure/operations/_connection_operations.py
  src/promptflow/promptflow/azure/operations/_flow_opearations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/tests/test_configs/flows/intent-copilot/README.md
  src/promptflow/tests/test_configs/flows/intent-copilot/cli.ipynb
  src/promptflow/tests/test_configs/flows/intent-copilot/eval_cli.md
  src/promptflow/tests/test_configs/flows/intent-copilot/sdk.ipynb
Labels: sdk, promptflow

#349 [PromptFlow] Move import to the head of the file to avoid package references.
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow

#363 fix typo in event_stream.py
  docs/media/how-to-guides/how-to-enable-streaming-mode/scripts/event_stream.py
Labels: documentation

#364 fix a few typo identify by GPT
  examples/flows/chat/chat-with-wikipedia/get_wiki_url.py
  examples/flows/standard/basic/hello.py
  examples/flows/standard/web-classification/convert_to_dict.py
Labels: examples

#377 [promptflow][SDK/CLI] Add create_time in contract with visualize
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/contracts/_run_management.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#322 Refine error message body for flow_validator.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/executor/flow_validator.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/executor/unittests/executor/test_flow_validator.py
Labels: promptflow

#329 refine the error/message for run_tracker.py
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/test_configs/wrong_flows/flow_output_unserializable/divide_num.py
  src/promptflow/tests/test_configs/wrong_flows/flow_output_unserializable/flow.dag.yaml
Labels: promptflow

#333 [DOC]Detail explain flow.dag.yaml schema/concept: how to author nodes
  docs/how-to-guides/develop-a-flow/develop-standard-flow.md
  docs/how-to-guides/develop-a-flow/index.md
  docs/how-to-guides/index.md
  docs/how-to-guides/quick-start.md
  docs/index.md
  docs/media/how-to-guides/develop-standard-flow/add_tool.png
  docs/media/how-to-guides/develop-standard-flow/edit_tool.png
  docs/media/how-to-guides/develop-standard-flow/flow_input.png
  docs/media/how-to-guides/develop-standard-flow/flow_output.png
  docs/media/how-to-guides/develop-standard-flow/link_llm_with_flow_input_single_output_node.png
  docs/media/how-to-guides/develop-standard-flow/link_llm_with_multi_output_node.png
  docs/media/how-to-guides/develop-standard-flow/link_python_with_flow_node_input.png
  docs/reference/flow-yaml-schema-reference.md
  docs/reference/index.md
Labels: documentation

#385 Update tool package version from 0.1.0b5 to 0.1.0b6
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#382 [promptflow][Feature] Store token metrics in run properties
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_orm/run_info.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#327 [Executor][Internal]Improve inputs mapping's error message.
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/executor/test_flow_executor.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow

#388 [SDK/CLI] Update portal link to remove flight
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#379 [BUG][Promptflow SDK& CLI] docker build build is confusing
  docs/cloud/azureai/deploy-to-azure-appservice.md
  docs/how-to-guides/deploy-a-flow/deploy-using-docker.md
  examples/tutorials/e2e-development/chat-with-pdf.md
  examples/tutorials/flow-deploy/azure-app-service/README.md
  examples/tutorials/flow-deploy/docker/README.md
  examples/tutorials/flow-deploy/kubernetes/README.md
Labels: documentation, examples

#380 [Executor][Internal] Add some unit test to improve code coverage of log/metric
  .gitignore
  src/promptflow/promptflow/_utils/logger_utils.py
  src/promptflow/tests/executor/unittests/_core/test_log_manager.py
  src/promptflow/tests/executor/unittests/_core/test_metric_logger.py
  src/promptflow/tests/executor/unittests/_utils/test_credential_scrubber.py
  src/promptflow/tests/executor/unittests/_utils/test_logger_utils.py
Labels: promptflow

#352 [API] Resolve warnings/errors of sphinx build
  .github/workflows/build_doc_ci.yml
  .github/workflows/publish_doc.yml
  scripts/docs/conf.py
  scripts/docs/doc_generation.ps1
  scripts/docs/promptflow.connections.rst
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/connections/__init__.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: sdk, promptflow, fundamental

#393 First, unblock fork users to contribute
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
Labels: fundamental

#509 [Pipeline] Update doc ci trigger condition
  .github/workflows/build_doc_ci.yml
Labels: fundamental

#510 Remove item doesn't support pull request target.
  .github/actions/step_publish_test_results/action.yml
Labels: fundamental

#381 [doc][custom tool package guidance] Fix template not found
  scripts/tool/generate_tool_package_template.py
Labels: fundamental

#430 [Executor][Internal] Refine error message of input assignment parser
  src/promptflow/promptflow/executor/_input_assignment_parser.py
  src/promptflow/tests/executor/unittests/executor/test_input_assignment_parser.py
Labels: promptflow

#321 New readme with quick start
  README.md
  examples/tutorials/quick-start/media/logo_pf.png
  examples/tutorials/quick-start/media/vsc.png
  src/promptflow/README.md
Labels: examples, promptflow

#513 Fix executor unit tests ci pipeline
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  src/promptflow/tests/executor/unittests/executor/test_input_assignment_parser.py
Labels: promptflow, fundamental

#392 [Executor][Internal] Add docstring for flow.py and exception.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/exceptions.py
Labels: promptflow

#517 Revert Forked PR related PRs to unblock devs
  .github/actions/step_publish_test_results/action.yml
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
Labels: fundamental

#516 Improve error message in tools_manager.py
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
Labels: promptflow

#515 [SDK/CLI] Change flow op class methods to instance methods
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
Labels: sdk, promptflow

#514 Release/promptflow/0.1.0b6
  src/promptflow/CHANGELOG.md
Labels: promptflow

#309 Remove the not needed deploy.ps1/sh jinjia file when build
  src/promptflow/promptflow/_sdk/data/docker/README.md
  src/promptflow/promptflow/_sdk/data/docker/deploy.ps1.jinja2
  src/promptflow/promptflow/_sdk/data/docker/deploy.sh.jinja2
Labels: sdk, promptflow

#522 Fix chat-with-pdf doc and code issues
  .gitignore
  examples/flows/chat/chat-with-pdf/batch_run.yaml
  examples/flows/chat/chat-with-pdf/chat-with-pdf.ipynb
  examples/flows/chat/chat-with-pdf/chat_with_pdf/.env.example
  examples/flows/chat/chat-with-pdf/chat_with_pdf/main.py
  examples/flows/chat/chat-with-pdf/flow.dag.yaml
  examples/flows/evaluation/eval-groundedness/flow.dag.yaml
  examples/flows/evaluation/eval-perceived-intelligence/flow.dag.yaml
  examples/tutorials/e2e-development/chat-with-pdf.md
Labels: examples

#397 Fix tools_continuous_delivery when pr merge trigger.
  .github/workflows/tools_continuous_delivery.yml
  .github/workflows/wheel_distributing.yml
Labels: fundamental

#390 Add docstring for trace and run_mode
  src/promptflow/promptflow/contracts/run_mode.py
  src/promptflow/promptflow/contracts/trace.py
Labels: promptflow

#389 Refine docstring for run_info.py and types.py
  src/promptflow/promptflow/contracts/run_info.py
  src/promptflow/promptflow/contracts/types.py
Labels: promptflow

#535 Add docstring for flow_validator.py
  src/promptflow/promptflow/executor/flow_validator.py
Labels: promptflow

#523 [BugFix] Fix build & deploy related issue
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/test_configs/flows/export/linux/deploy.ps1
  src/promptflow/tests/test_configs/flows/export/linux/deploy.sh
Labels: sdk, promptflow

#533 [API Doc] Add api documentation guide
  docs/dev/documentation_guidelines.md
Labels: documentation

#391 [Serving] Extract FlowInvoker to enable easy custom score script
  src/promptflow/promptflow/_sdk/_serving/_errors.py
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/exceptions.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow_invoker.py
Labels: sdk, promptflow

#521 [SDK] Add arm connection operations
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/promptflow/azure/operations/_connection_operations.py
  src/promptflow/tests/executor/unittests/_core/test_connection_manager.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_arm_connection_build.py
Labels: sdk, promptflow

#394 Improve docstring in flow_executor.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow

#525 [Example] Add example flow for activate config
  .github/workflows/samples_flows_standard_conditional_flow_for_if_else.yml
  examples/README.md
  examples/flows/standard/conditional-flow-for-if-else/README.md
  examples/flows/standard/conditional-flow-for-if-else/content_safety_check.py
  examples/flows/standard/conditional-flow-for-if-else/content_safety_check_failed.png
  examples/flows/standard/conditional-flow-for-if-else/content_safety_check_passed.png
  examples/flows/standard/conditional-flow-for-if-else/data.jsonl
  examples/flows/standard/conditional-flow-for-if-else/default_result.py
  examples/flows/standard/conditional-flow-for-if-else/flow.dag.yaml
  examples/flows/standard/conditional-flow-for-if-else/generate_result.py
  examples/flows/standard/conditional-flow-for-if-else/llm_result.py
  examples/flows/standard/conditional-flow-for-if-else/requirements.txt
Labels: examples, fundamental

#536 Enable forked pr pull request MKII
  .github/actions/step_publish_test_results/action.yml
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
Labels: fundamental

#387 Refine doc string of connections.py, langchain.py and tool.py.
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/integrations/langchain.py
Labels: promptflow

#539 [Doc] Update python tool doc to explain more about how does tool works
  docs/how-to-guides/develop-a-flow/develop-standard-flow.md
  docs/media/how-to-guides/docker.png
  docs/reference/tools-reference/python-tool.md
  scripts/docs/_static/custom.js
Labels: documentation, fundamental

#543 [Bugfix][Executor] Update the node run info of bypassed node to the storage
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/run_tracker.py
Labels: promptflow

#540 error message refinement for flow_execution.py: single node execution
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/test_configs/wrong_flows/node_missing_type_or_source/divide_num.py
  src/promptflow/tests/test_configs/wrong_flows/node_missing_type_or_source/flow.dag.yaml
Labels: promptflow

#555 [CLI]Support remote data for pfazure CLI
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/schemas/_run.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: sdk, promptflow

#547 [SpellCheck] Refine spell check ci
  .github/workflows/spell_check.yml
  examples/flows/evaluation/eval-perceived-intelligence/README.md
Labels: examples, fundamental

#550 [Example] Add example flow for contional flow of switch scenario
  .github/workflows/samples_flows_standard_conditional_flow_for_switch.yml
  examples/README.md
  examples/flows/standard/conditional-flow-for-if-else/README.md
  examples/flows/standard/conditional-flow-for-switch/README.md
  examples/flows/standard/conditional-flow-for-switch/class_check.py
  examples/flows/standard/conditional-flow-for-switch/classify_with_llm.jinja2
  examples/flows/standard/conditional-flow-for-switch/conditional_flow_for_switch.png
  examples/flows/standard/conditional-flow-for-switch/data.jsonl
  examples/flows/standard/conditional-flow-for-switch/flow.dag.yaml
  examples/flows/standard/conditional-flow-for-switch/generate_response.py
  examples/flows/standard/conditional-flow-for-switch/order_search.py
  examples/flows/standard/conditional-flow-for-switch/product_info.py
  examples/flows/standard/conditional-flow-for-switch/product_recommendation.py
  examples/flows/standard/conditional-flow-for-switch/requirements.txt
  scripts/readme/readme_generator.py
  scripts/readme/workflow_generator.py
Labels: examples, fundamental

#552 [SDK/CLI] Hide internal constants
  docs/dev/documentation_guidelines.md
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: documentation, sdk, promptflow

#562 Update Connection README.md
  examples/connections/README.md
Labels: examples

#573 [SDK/CLI] Fix pfazure get-details error: switch to use rest client to get flow child runs
  .cspell.json
  .gitignore
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_runs_admin_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_runs_admin_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, promptflow

#520 [promptflow][BugFix] Not ignore any file under flow directory
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#567 [Internal] Remove cov-branch for executor ci pipelines
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  scripts/building/run_coverage_tests.py
Labels: fundamental

#571 [promptflow][BugFix] Read/write log file with encoding specified
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
Labels: sdk, promptflow

#354 [promptflow] feat: better format output for `pf flow validate`
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/__init__.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/entities/_validation/__init__.py
  src/promptflow/promptflow/_sdk/entities/_validation/core.py
  src/promptflow/promptflow/_sdk/entities/_validation/schema.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/flows/web_classification_invalid/flow.dag.yaml
Labels: sdk, cli, promptflow

#579 [SDK] Add a config class to store pf configurations
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
Labels: sdk, promptflow

#534 Fix chat-with-pdf example failed
  examples/flows/chat/chat-with-pdf/chat_with_pdf/utils/logging.py
Labels: examples

#570 add why and what to the beginning of custom tool doc
  docs/how-to-guides/how-to-create-and-use-your-own-tool-package.md
  docs/media/contributing/custom-tool-list-in-extension.png
Labels: documentation

#584 [promptflow][BugFix] Check bulk result first before get metrics
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_run_submitter.py
Labels: sdk, promptflow

#576 [Executor] Add iterator output support
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/tests/executor/unittests/_core/test_generator_proxy.py
Labels: promptflow

#319 Support custom strong type connection
  src/promptflow/dev-connections.json.example
  src/promptflow/promptflow/_cli/_pf/_connection.py
  src/promptflow/promptflow/_core/connection_manager.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/entities/__init__.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/schemas/_connection.py
  src/promptflow/promptflow/_utils/connection_utils.py
  src/promptflow/promptflow/connections/__init__.py
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/connections/custom_strong_type_connection.yaml
  src/promptflow/tests/test_configs/connections/update_custom_strong_type_connection.yaml
  src/promptflow/tests/test_configs/flows/custom_strong_type_connection_basic_flow/data.jsonl
  src/promptflow/tests/test_configs/flows/custom_strong_type_connection_basic_flow/flow.dag.yaml
Labels: sdk, cli, promptflow

#597 feat: allow pandas 2.x and add missed dependency strictyaml
  src/promptflow/NOTICE.txt
  src/promptflow/setup.py
Labels: promptflow

#589 [SDK/CLI] Add max-results and all-results for pf/pfazure get-details
  .pre-commit-config.yaml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/azure/_constants/_flow.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
Labels: sdk, cli, promptflow

#208 [SDK][Feature] Add local service APIs for local connection/run management
  .github/workflows/promptflow-sdk-pfs-e2e-test.yml
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_service/__init__.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/connection.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/run.py
  src/promptflow/promptflow/_sdk/_service/utils.py
  src/promptflow/pyproject.toml
  src/promptflow/setup.py
  src/promptflow/tests/sdk_pfs_test/.coveragerc
  src/promptflow/tests/sdk_pfs_test/__init__.py
  src/promptflow/tests/sdk_pfs_test/conftest.py
  src/promptflow/tests/sdk_pfs_test/e2etests/__init__.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_connection_apis.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_general_apis.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_run_apis.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: enhancement, sdk, promptflow, fundamental

#599 [Doc] Update contribution guidelines and PR template
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: fundamental

#563 Improve error message for aggregation input's validation.
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/executor/flow_validator.py
  src/promptflow/tests/executor/unittests/executor/test_flow_executor.py
  src/promptflow/tests/executor/unittests/executor/test_flow_validator.py
Labels: promptflow

#600 Alter canary workspace
  .github/workflows/samples_configuration.yml
  .github/workflows/samples_connections.yml
  .github/workflows/samples_connections_connection.yml
  .github/workflows/samples_flows_chat_basic_chat.yml
  .github/workflows/samples_flows_chat_chat_with_pdf.yml
  .github/workflows/samples_flows_chat_chat_with_wikipedia.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdf.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdfazure.yml
  .github/workflows/samples_flows_evaluation_eval_basic.yml
  .github/workflows/samples_flows_evaluation_eval_classification_accuracy.yml
  .github/workflows/samples_flows_evaluation_eval_entity_match_rate.yml
  .github/workflows/samples_flows_evaluation_eval_groundedness.yml
  .github/workflows/samples_flows_evaluation_eval_perceived_intelligence.yml
  .github/workflows/samples_flows_standard_autonomous_agent.yml
  .github/workflows/samples_flows_standard_basic.yml
  .github/workflows/samples_flows_standard_basic_with_builtin_llm.yml
  .github/workflows/samples_flows_standard_basic_with_connection.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_if_else.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_switch.yml
  .github/workflows/samples_flows_standard_customer_intent_extraction.yml
  .github/workflows/samples_flows_standard_flow_with_additional_includes.yml
  .github/workflows/samples_flows_standard_flow_with_symlinks.yml
  .github/workflows/samples_flows_standard_gen_docstring.yml
  .github/workflows/samples_flows_standard_maths_to_code.yml
  .github/workflows/samples_flows_standard_named_entity_recognition.yml
  .github/workflows/samples_flows_standard_web_classification.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  examples/README.md
  examples/flows/chat/chat-with-pdf/chat-with-pdf.ipynb
  scripts/readme/ghactions_driver/readme_templates/README.md.jinja2
  scripts/readme/ghactions_driver/workflow_steps/step_extract_steps_and_run.yml.jinja2
  scripts/readme/ghactions_driver/workflow_steps/step_extract_steps_and_run_gpt4.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/basic_workflow.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/basic_workflow_replace.yml.jinja2
  scripts/readme/ghactions_driver/workflow_templates/pdf_workflow.yml.jinja2
  scripts/readme/readme.py
  scripts/readme/readme_generator.py
  scripts/readme/workflow_generator.py
Labels: examples, fundamental

#310 [Doc]Add doc explain column mapping
  docs/how-to-guides/column-mapping.md
  docs/how-to-guides/index.md
  docs/how-to-guides/manage-runs.md
  docs/how-to-guides/run-and-evaluate-a-flow.md
  docs/media/column_mapping_details.png
Labels: documentation

#588 [SDK/CLI] Support connection provider config
  .cspell.json
  .github/workflows/promptflow-global-config-test.yml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf/_config.py
  src/promptflow/promptflow/_cli/_pf/_connection.py
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_utils/exception_utils.py
  src/promptflow/promptflow/azure/operations/_connection_operations.py
  src/promptflow/tests/sdk_cli_global_config_test/__init__.py
  src/promptflow/tests/sdk_cli_global_config_test/conftest.py
  src/promptflow/tests/sdk_cli_global_config_test/e2etests/__init__.py
  src/promptflow/tests/sdk_cli_global_config_test/e2etests/test_global_config.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_pf_client.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
  src/promptflow/tests/sdk_cli_test/unittests/test_pf_client.py
  src/promptflow/tests/test_configs/configs/.azureml/config.json
  src/promptflow/tests/test_configs/configs/mock_flow1/.azureml/config.json
Labels: sdk, cli, promptflow, fundamental

#554 [Doc] Add doc about Develop Chat flow
  docs/how-to-guides/develop-a-flow/develop-chat-flow.md
  docs/how-to-guides/develop-a-flow/index.md
Labels: documentation

#603 [promptflow][BugFix] Padding Azure run's outputs
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#574 [Executor] Improve UT coverage for _tool_resolver and tool_utils
  src/promptflow/tests/executor/unittests/_utils/test_tool_utils.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow

#339 [Executor] Add unittest for dataclass_serializer
  src/promptflow/tests/executor/unittests/_utils/test_dataclass_serializer.py
Labels: promptflow

#606 [SDK/CLI] Delete deprecated api list_flow_runs
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
Labels: sdk, promptflow

#288 [Executor] Calculating openai metrics under streaming mode
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_utils/openai_metrics_calculator.py
  src/promptflow/promptflow/executor/_result.py
  src/promptflow/setup.py
  src/promptflow/tests/executor/e2etests/test_langchain.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/test_configs/flows/openai_chat_api_flow/chat.py
  src/promptflow/tests/test_configs/flows/openai_chat_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_chat_api_flow/samples.json
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/completion.py
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/samples.json
Labels: promptflow

#607 [SDK & CLI] Add interactive browser as connection credential
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/tests/sdk_cli_global_config_test/conftest.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
Labels: sdk, promptflow

#340 [Executor] Remove useless metric reconstruction logic
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/storage/_common.py
Labels: promptflow, executor

#601 Add unit test on tracer
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
Labels: promptflow

#572 [Sample] Fix sample tests to align with latest executor change
  examples/flows/chat/chat-with-pdf/data/invalid-data-missing-column.jsonl
  examples/flows/chat/chat-with-pdf/tests/azure_chat_with_pdf_test.py
  examples/flows/chat/chat-with-pdf/tests/chat_with_pdf_test.py
Labels: examples

#592 Store package and package version for custom strong type connection, add test and support connection.key
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/schemas/_connection.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/connections/custom_strong_type_connection.yaml
  src/promptflow/tests/test_configs/connections/update_custom_strong_type_connection.yaml
  src/promptflow/tests/test_configs/flows/custom_strong_type_connection_basic_flow/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/custom_strong_type_connection_basic_flow/requirements.txt
Labels: sdk, promptflow

#612 Support gen tool meta for package tool with custom strong type connection
  scripts/tool/utils/tool_utils.py
  src/promptflow/promptflow/contracts/tool.py
Labels: promptflow, fundamental

#586 [SDK]Enable telemetry for CLI & default not logging
  .cspell.json
  README.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_connection_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_telemetry/__init__.py
  src/promptflow/promptflow/_telemetry/activity.py
  src/promptflow/promptflow/_telemetry/logging_handler.py
  src/promptflow/promptflow/_telemetry/telemetry.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
Labels: sdk, promptflow

#618 Update connection provider validation rule
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/tests/sdk_cli_test/unittests/test_pf_client.py
Labels: sdk, promptflow

#556 [Feature] Improve error handling for loading tool error.
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_utils/exception_utils.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/executor/e2etests/test_package_tool.py
  src/promptflow/tests/executor/package_tools/tool_with_init_error.py
  src/promptflow/tests/executor/package_tools/tool_with_init_error/flow.dag.yaml
  src/promptflow/tests/executor/package_tools/tool_with_init_error/package_tool_definition.json
  src/promptflow/tests/executor/unittests/_utils/test_exception_utils.py
  src/promptflow/tests/executor/unittests/executor/test_errors.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow

#619 Skip custom strong type connection test because of random pkg not found failure
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
Labels: promptflow

#596 Luluzuo/fix-process-hang-for-long-time
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow

#614 [SDK/CLI] Fix the portal url parse logic for asset id, add validation for cloud PFClient parameters
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#537 Fix bug when we use langchain traces
  .github/workflows/promptflow-executor-unit-test.yml
  src/promptflow/promptflow/integrations/langchain.py
  src/promptflow/tests/executor/unittests/integrations/test_langchain.py
Labels: promptflow, fundamental

#609 [Bugfix][Executor] Add validation for wrong node references related to aggregation nodes
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/flow_validator.py
  src/promptflow/tests/executor/unittests/executor/test_flow_validator.py
  src/promptflow/tests/test_configs/wrong_flows/aggregation_activate_reference_non_aggregation/flow.dag.yaml
  src/promptflow/tests/test_configs/wrong_flows/aggregation_skip_reference_non_aggregation/flow.dag.yaml
  src/promptflow/tests/test_configs/wrong_flows/non_aggregation_reference_aggregation/flow.dag.yaml
Labels: promptflow

#628 Update Run Info Inputs once input resolved in bulk run
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
Labels: promptflow

#627 [Bug fix] Local export docker conda path is fixed and may not match with base image
  src/promptflow/promptflow/_sdk/data/docker/Dockerfile.jinja2
  src/promptflow/promptflow/_sdk/data/docker/start.sh.jinja2
Labels: sdk, promptflow

#620 [SDK]Support overwrite connection with model
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/runs/run_with_connections_model.yaml
Labels: sdk, promptflow

#622 [SDK] Support macro when calling PFS
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flows_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, promptflow

#638 [PromptFlow] Add change log for the bug "fix process hang for a long time"
  src/promptflow/CHANGELOG.md
Labels: promptflow

#637 [SDK]Disable telemetry
  README.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_telemetry/telemetry.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
Labels: promptflow

#626 Add warning when no column mapping provided.
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/executor/test_flow_executor.py
Labels: promptflow

#608 [Executor] Support image type in executor
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/test_configs/flows/python_tool_with_image_input_and_output/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_image_input_and_output/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_image_input_and_output/python_with_image.py
Labels: promptflow

#640 Refine docstring's format in flow_executor.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow

#645 [SDK] Support VNet workspace discovery URL
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: sdk, promptflow

#643 [Executor][Image] Enable gen meta for image type
  src/promptflow/promptflow/contracts/tool.py
Labels: promptflow

#649 Add error handling for is_custom_strong_type function
  src/promptflow/promptflow/contracts/tool.py
Labels: promptflow

#650 modify tool test workflow
  .github/workflows/tools_tests.yml
Labels: fundamental

#653 fix serp api tests
  .github/workflows/tools_tests.yml
  src/promptflow-tools/tests/test_aoai.py
  src/promptflow-tools/tests/test_serpapi.py
Labels: promptflow-tools, fundamental

#647 Fix testing matrix to remove python 3 12
  .github/workflows/promptflow-release-testing-matrix.yml
Labels: fundamental

#658 pin pf version in tools tests
  src/promptflow-tools/requirements.txt
Labels: promptflow-tools

#659 [Release] Release/promptflow/0.1.0b7.post1
  examples/flows/standard/basic/README.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_version.py
  src/promptflow/setup.py
Labels: examples, cli, promptflow

#642 Make error message format more robust.
  src/promptflow/promptflow/exceptions.py
  src/promptflow/tests/executor/unittests/executor/test_exceptions.py
Labels: promptflow

#663 [Fix] Recover main branch sdk version to 0.0.1
  src/promptflow/promptflow/_version.py
Labels: promptflow

#621 Update sdk to support file_path type
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/contracts/types.py
Labels: promptflow

#616 [custom tool] Provide guidance for configuring tool icon
  .cspell.json
  docs/README.md
  docs/concepts/concept-tools.md
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/index.md
  docs/how-to-guides/index.md
  docs/media/contributing/custom-tool-with-icon-in-extension.png
  examples/tools/tool-package-quickstart/my_tool_package/icons/custom-tool-icon.png
  scripts/tool/convert_image_to_data_url.py
  src/promptflow-tools/README.md
Labels: documentation, promptflow-tools, examples, fundamental

#531 New PF Tool: Open_Source_llm - Dev, Test, & Documentation
  .cspell.json
  docs/media/reference/tools-reference/open_source_llm_on_vscode_promptflow.png
  docs/reference/index.md
  docs/reference/tools-reference/open_source_llm_tool.md
  src/promptflow-tools/connections.json.example
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/promptflow/tools/open_source_llm.py
  src/promptflow-tools/promptflow/tools/yamls/open_source_llm.yaml
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_source_llm.py
Labels: documentation, promptflow-tools
