Repository microsoft/promptflow, pull requests merged in 2024-03, with the labels that each got.

#2164 doc: update doc for using flow in pipeline
  .cspell.json
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
Labels: documentation

#2177 [promptflow][bugfix] Fix breaking test due to `LineRun.evaluations` contract change
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: promptflow

#2172 Remove minutes log in PFS
  .cspell.json
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/entry.py
Labels: sdk, promptflow

#2112 Upgrade tool version to 1.3.0
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#2161 Add summary info of data gen details
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/components.py
  examples/gen_test_data/gen_test_data/constants.py
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#2180 rename mdc trace exporter collector name
  src/promptflow/promptflow/_sdk/_serving/monitor/mdc_exporter.py
Labels: sdk, promptflow

#2099 [SDK] Support gen meta for eager flow
  scripts/docs/conf.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_eager_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/long_running/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/primitive_output/entry.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_req/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/simple_with_req/requirements.txt
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_cancel.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_crud.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_download.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_meta_generation.yaml
Labels: sdk, promptflow, fundamental

#2182 Normalize executable path to avoid generate different port files.
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
Labels: sdk, promptflow

#2188 [promptflow][bugfix] Rename a file to fix typo
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/_utils/__init__.py
  src/promptflow/promptflow/azure/_utils/general.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/promptflow/azure/operations/_fileshare_storeage_helper.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, promptflow

#2185 [Fundamental] stop record and warn to upgrade pydantic in record/replay mode
  docs/dev/replay-e2e-test.md
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
Labels: documentation, promptflow

#2178 Add created_by info to cosmosDB's trace
  src/promptflow/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_span.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_summary.py
Labels: sdk, promptflow

#2141 [SDK] Support local&cloud create run resume_from parameter
  docs/reference/pf-command-reference.md
  docs/reference/pfazure-command-reference.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_run_functions.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_resume.yaml
Labels: documentation, sdk, cli, promptflow

#2184 [Internal] run_info in RunRecord should has type dict
  src/promptflow/promptflow/storage/run_records.py
Labels: promptflow, executor

#2091 [Experiment] Support experiment run anonymous exp
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_orm/experiment.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: sdk, cli, promptflow

#2196 [Internal][SDK] Enable env var test.
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_environment_variables_run_yaml.yaml
Labels: promptflow

#2075 [Internal][Executor] Add cancel api for async flow test/single node run
  .cspell.json
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_utils/process_utils.py
  src/promptflow/promptflow/executor/_service/_errors.py
  src/promptflow/promptflow/executor/_service/apis/common.py
  src/promptflow/promptflow/executor/_service/apis/execution.py
  src/promptflow/promptflow/executor/_service/apis/tool.py
  src/promptflow/promptflow/executor/_service/contracts/execution_request.py
  src/promptflow/promptflow/executor/_service/utils/process_manager.py
  src/promptflow/promptflow/executor/_service/utils/process_utils.py
  src/promptflow/tests/executor/conftest.py
  src/promptflow/tests/executor/unittests/executor/_service/apis/test_execution.py
  src/promptflow/tests/executor/utils.py
Labels: promptflow, executor

#2169 [BugFix]Update list_deployment_names, check connection type
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
Labels: promptflow-tools

#1749 [Internal] Add doc for text box size and update the custom llm tool example
  docs/how-to-guides/develop-a-tool/customize_an_llm_tool.md
  docs/media/how-to-guides/develop-a-tool/use_custom_llm_tool_with_text_box_size.png
  docs/media/how-to-guides/develop-a-tool/use_my_custom_llm_tool.png
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_llm_type.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_custom_llm_type.yaml
  examples/tools/tool-package-quickstart/setup.py
  examples/tools/tool-package-quickstart/tests/test_tool_with_custom_llm_type.py
  examples/tools/use-cases/custom_llm_tool_showcase/flow.dag.yaml
Labels: documentation, examples

#2175 Migration OpenCencus to opentelemetry
  src/promptflow/promptflow/_sdk/_telemetry/logging_handler.py
  src/promptflow/promptflow/_sdk/_telemetry/telemetry.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
Labels: sdk, promptflow

#2199 [Internal] Init Span/LineSummary client in parallel
  src/promptflow/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/client.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cosmosdb.py
Labels: sdk, promptflow

#2189 Update runtime change log for 20240222.v3
  docs/cloud/azureai/runtime-change-log.md
Labels: documentation, external

#2205 Fix NameError: name 'exit' is not defined
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_tool.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
Labels: sdk, cli, promptflow

#2202 [Internal] Store column mapping in local run
  docs/reference/pf-command-reference.md
  docs/reference/pfazure-command-reference.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: documentation, sdk, promptflow

#2201 [Contract] Add flow.message_format section to represent different multimedia contracts.
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_image/flow.dag.yaml
Labels: promptflow, executor

#2153 [NewFeature] enable AOAI token based auth for built in tool
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/embedding.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/tests/test_common.py
Labels: promptflow-tools

#2207 [NewFeature] add "seed" to llm tool inputs
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/tests/test_aoai.py
  src/promptflow-tools/tests/test_aoai_gptv.py
  src/promptflow-tools/tests/test_openai.py
  src/promptflow-tools/tests/test_openai_gpt4v.py
Labels: promptflow-tools

#2186 [SDK] Support eager flow local deploy
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/entities/_eager_flow.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_context_resolver.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/primitive_output/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/primitive_output/primitive_output_entry.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_dict_output/dict_output_entry.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_dict_output/flow.dag.yaml
Labels: sdk, promptflow, executor

#2212 [promptflow][fundamental] Separate workflow for Azure live test against East US
  .github/workflows/sdk-cli-azure-test-production.yml
Labels: fundamental

#2209 [NewFeature] add seed to gptv tool yamls
  src/promptflow-tools/promptflow/tools/yamls/aoai_gpt4v.yaml
  src/promptflow-tools/promptflow/tools/yamls/openai_gpt4v.yaml
Labels: promptflow-tools

#2214 Cache update adapt to tool paramter changes.
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: promptflow

#2217 [Test] Fix live test test_run_bulk_without_retry after telemetry API change
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: promptflow

#2203 [promptflow] Increase `waitress-serve` number of threads
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_service/entry.py
Labels: sdk, promptflow

#2216 [Test] Fix run resume live test
  scripts/docs/conf.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_resume.yaml
Labels: promptflow, fundamental

#2190 refactor: update interface to generate meta for single file
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_sdk/_utils.py
Labels: sdk, promptflow, executor

#2208 Shutdown span processor when end process to guarantee span is exported
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow, executor

#1720 [Executor] Support exec_line_async executor APIs
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_async.py
Labels: promptflow, executor

#2220 [tracing][bugfix] Cleanup `referenced.batch_run_id` when submit run
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
Labels: sdk, promptflow

#2225 Add llm category for llm and llm-vision
  src/promptflow-tools/promptflow/tools/yamls/llm.yaml
  src/promptflow-tools/promptflow/tools/yamls/llm_vision.yaml
Labels: promptflow-tools

#1157 Add error handling for retrieve_tool_func_result in SDK
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/_utils/test_tool_utils.py
Labels: promptflow, executor

#2227 [promptflow][bugfix] Fix breaking live test by using automatic runtime for resumed run
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_resume.yaml
Labels: promptflow

#2224 [SDK] Skip generate meta for C# flow
  src/promptflow/promptflow/azure/operations/_flow_operations.py
Labels: sdk, promptflow

#2218 [internal][tracing] Move tracing related to `promptflow.tracing`
  src/promptflow/promptflow/__init__.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/tracing/__init__.py
  src/promptflow/promptflow/tracing/_start_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, promptflow, executor

#2215 [SDK] Support deploy eager flow with primitive type & dataclass outputs
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_serving/flow_result.py
  src/promptflow/promptflow/_sdk/_serving/response_creator.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/test_configs/eager_flows/non_json_serializable_output/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/non_json_serializable_output/non_serializable_output.py
Labels: sdk, promptflow

#2219 [Connection] Support aoai & oai connection from_env
  docs/how-to-guides/manage-connections.md
  examples/flows/standard/basic/hello.py
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/operations/_connection_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_connection.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
Labels: documentation, examples, sdk, promptflow

#2135 Include dataclass output in flow meta
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/flow_with_dataclass.meta.json
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/flow_with_dataclass.py
Labels: promptflow, executor

#2226 [SDK] Flow as async function
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_context_resolver.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/test_configs/flows/print_env_var_async/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/print_env_var_async/print_env.py
  src/promptflow/tests/test_configs/notebooks/dummy.ipynb
Labels: sdk, promptflow

#2242 Fixing flaky test: test_assistant_tool_with_connection
  src/promptflow/tests/executor/e2etests/test_assistant.py
Labels: promptflow, executor

#2111 Support gen flow meta with module
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
Labels: promptflow, executor

#2187 Update token_provider to support sovereign cloud
  src/promptflow/dev_requirements.txt
  src/promptflow/promptflow/_core/token_provider.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_utils/credential_utils.py
  src/promptflow/tests/executor/unittests/_core/test_token_provider.py
Labels: sdk, promptflow, executor

#2246 [Tracing] Move openai injector to promptflow.tracing
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/tracing/_openai_injector.py
  src/promptflow/promptflow/tracing/_start_trace.py
  src/promptflow/tests/executor/conftest.py
  src/promptflow/tests/executor/unittests/_core/test_api_injector.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/openai_inject_recording.py
Labels: promptflow, executor

#2256 [Doc] Update connection doc
  docs/cloud/azureai/consume-connections-from-azure-ai.md
  docs/how-to-guides/manage-connections.md
  docs/how-to-guides/set-global-configs.md
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
Labels: documentation, sdk, promptflow

#2255 fix: runs and logs won't respect PF_HOME_DIRECTORY
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/entities/_experiment.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, promptflow

#2267 [Bugfix] Fix the bug that call flow in flow function will fail
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#2254 [internal][tracing] Make `start_trace` standalone
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_tracing.py
  src/promptflow/promptflow/tracing/_constants.py
  src/promptflow/promptflow/tracing/_start_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow/tests/tracing_test/unittests/test_start_trace.py
Labels: sdk, promptflow

#2263 [Doc] Add environment variable in flow.dag.yaml reference doc
  docs/reference/flow-yaml-schema-reference.md
Labels: documentation

#2269 Add logger parameter for trace_collector
  src/promptflow/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/summary.py
Labels: sdk, promptflow

#2271 [Doc] Update pfazure run doc
  docs/reference/pfazure-command-reference.md
Labels: documentation

#1997 Enable executor recording mode
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  examples/flows/evaluation/eval-summarization/data.jsonl
  examples/flows/evaluation/eval-summarization/flow.dag.yaml
  src/promptflow/tests/executor/conftest.py
  src/promptflow/tests/executor/e2etests/test_activate.py
  src/promptflow/tests/executor/e2etests/test_assistant.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/e2etests/test_langchain.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/process_utils.py
  src/promptflow/tests/executor/record_utils.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/mock_tool.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/openai_inject_recording.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/test_configs/flows/hello-world/hello_world.py
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dir
Labels: examples, promptflow, fundamental, executor

#2274 [Internal] Remove variant_id in all executor related logic.
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/contracts/run_info.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/contracts/test_run_info.py
  src/promptflow/tests/executor/unittests/storage/test_queue_run_storage.py
  src/promptflow/tests/executor/unittests/storage/test_run_records.py
Labels: promptflow, executor

#2252 [Tracing] Add trace tests to tracing_test
  .github/workflows/promptflow-tracing-e2e-test.yml
  src/promptflow/tests/tracing_test/__init__.py
  src/promptflow/tests/tracing_test/e2etests/__init__.py
  src/promptflow/tests/tracing_test/e2etests/simple_functions.py
  src/promptflow/tests/tracing_test/e2etests/test_trace.py
  src/promptflow/tests/tracing_test/utils.py
Labels: promptflow, fundamental

#2244 fix telemetry test
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
Labels: promptflow

#2282 Add workspace triple default value for dynalic list funcs
  src/promptflow-tools/promptflow/tools/llm.py
Labels: promptflow-tools

#2251 update tool package changelog to latest version
  src/promptflow-tools/CHANGELOG.md
Labels: promptflow-tools

#2250 [Internal] update runtime changelog for 20240228.v3
  docs/cloud/azureai/runtime-change-log.md
Labels: documentation

#2245 [Internal] improve token connection error message
  src/promptflow-tools/connections.json.example
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_handle_openai_error.py
Labels: promptflow-tools

#2270 Rename LLM and Embedding span attributes
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/tracing/_trace.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/tracing_test/e2etests/test_trace.py
Labels: promptflow, executor

#2211 Improve error message when LLM tool meets gpt-4-vision-preview model
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_aoai.py
  src/promptflow-tools/tests/test_aoai_gptv.py
  src/promptflow-tools/tests/test_common.py
  src/promptflow-tools/tests/test_handle_openai_error.py
  src/promptflow-tools/tests/utils.py
Labels: promptflow-tools

#2298 Fix docs cli example to give the promised run details table output
  docs/how-to-guides/manage-runs.md
Labels: documentation, external

#2290 Remove flow exectue as async function from changelog
  src/promptflow/CHANGELOG.md
Labels: promptflow

#2302 Fix recording and remove None fields when create recording hash.
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: promptflow

#2234 [Internal][Executor] Refine the LineExecutionProcessPool to align more closely with a standard process pool
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/_utils/process_utils.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
  src/promptflow/promptflow/storage/_queue_run_storage.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/unittests/_utils/test_process_utils.py
  src/promptflow/tests/executor/unittests/executor/test_line_execution_process_pool.py
  src/promptflow/tests/executor/unittests/processpool/__init__.py
Labels: promptflow, executor

#2232 Improve created_by info for local to cloud trace
  src/promptflow/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/promptflow/_sdk/_service/app.py
Labels: sdk, promptflow

#2303 [Internal][Executor] Extract some common constants to promptflow._constants
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_activate.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_eager_flow.py
  src/promptflow/tests/executor/e2etests/test_image.py
  src/promptflow/tests/executor/e2etests/test_logs.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
Labels: sdk, promptflow, executor

#2311 [Experiment] Change experiment cli "--file" to "--template"
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow

#2284 fix: reset user agent for each requests in local pfs
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_service/apis/connection.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/_sdk/_telemetry/telemetry.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_connection_apis.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: sdk, promptflow, executor

#2310 [BugFix] set default values to workspace triad params of dynamic list tool func to avoid misleading errors
  docs/how-to-guides/develop-a-tool/create-dynamic-list-tool-input.md
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_dynamic_list_input.py
  src/promptflow-tools/promptflow/tools/open_model_llm.py
Labels: documentation, promptflow-tools, examples

#2318 Add null check for StringIO in case of line execution timeout.
  src/promptflow/promptflow/_core/log_manager.py
Labels: promptflow, executor

#2309 [Bugfix] Do not add otlp exporter if the env is not set to avoid the default http endpoint.
  src/promptflow/promptflow/_sdk/_tracing.py
Labels: sdk, promptflow

#2206 [Executor] Set otel trace name correctly
  src/promptflow/promptflow/tracing/_trace.py
  src/promptflow/promptflow/tracing/_tracer.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/test_configs/flows/flow_with_nested_tool/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_nested_tool/nested_tool.py
Labels: promptflow, executor

#2314 [tracing][bugfix] Correctly set or clear experiment test lineage
  src/promptflow/promptflow/_sdk/_tracing.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, promptflow

#2324 [Internal] add hyper link to pf chatbot in pf docsite
  scripts/docs/conf.py
Labels: fundamental

#2325 [tracing][test] Add UT to guard executor exporter init behavior
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: promptflow

#2249 [SDK/CLI] Add chat group poc
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/entities/_chat_group/__init__.py
  src/promptflow/promptflow/_sdk/entities/_chat_group/_chat_group.py
  src/promptflow/promptflow/_sdk/entities/_chat_group/_chat_group_io.py
  src/promptflow/promptflow/_sdk/entities/_chat_group/_chat_role.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_chat_group.py
  src/promptflow/tests/sdk_cli_test/unittests/test_chat_group.py
  src/promptflow/tests/test_configs/flows/chat_group_copilot/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat_group_copilot/prompt.jinja2
  src/promptflow/tests/test_configs/flows/chat_group_simulation/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat_group_simulation/simulator.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: sdk, promptflow

#2326 Rename display_name to name for UX easier handling
  src/promptflow/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_summary.py
Labels: sdk, promptflow

#2327 [tracing] Rename `display_name` to `name` in line run evaluations
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_trace.py
Labels: sdk, promptflow

#2200 [internal][bugfix] Create a placeholder for still running line runs
  scripts/compliance-check/user_exclusion.xml
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_orm/trace.py
  src/promptflow/promptflow/_sdk/_service/apis/line_run.py
  src/promptflow/promptflow/_sdk/_service/apis/ui.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/static/TraceViewPage.min.js
  src/promptflow/promptflow/_sdk/_service/static/assets/favicon.ico
  src/promptflow/promptflow/_sdk/_service/static/assets/index-4cTGdARK.js
  src/promptflow/promptflow/_sdk/_service/static/index.html
  src/promptflow/promptflow/_sdk/_tracing.py
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_trace.py
Labels: sdk, promptflow, fundamental

#2330 Revert "[Internal] add hyper link to pf chatbot in pf docsite (#2324)"
  scripts/docs/conf.py
Labels: fundamental

#2283 Include default value in flow meta
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow_with_trace.meta.json
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow_with_trace.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/flow_with_dataclass.meta.json
Labels: promptflow, executor

#2331 [Internal] Copy previous run output from debug_info when resume
  src/promptflow/promptflow/batch/_batch_engine.py
Labels: promptflow, executor

#2338 [tracing][bugfix] Update MANIFEST to include UX assets
  src/promptflow/MANIFEST.in
Labels: promptflow

#2319 pf serving support distributed tracing and feedback api
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/constants.py
  src/promptflow/promptflow/_sdk/_serving/extension/azureml_extension.py
  src/promptflow/promptflow/_sdk/_serving/extension/default_extension.py
  src/promptflow/promptflow/_sdk/_serving/extension/extension_factory.py
  src/promptflow/promptflow/_sdk/_serving/extension/extension_type.py
  src/promptflow/promptflow/_sdk/_serving/extension/otel_exporter_provider_factory.py
  src/promptflow/promptflow/_sdk/_serving/monitor/flow_monitor.py
  src/promptflow/promptflow/_sdk/_serving/monitor/metrics.py
  src/promptflow/promptflow/_sdk/_serving/resources/feedback_swagger.json
  src/promptflow/promptflow/_sdk/_serving/utils.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
Labels: sdk, promptflow

#2248 [SDK] Support streaming in eager mode
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/executor/_script_executor.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/builtin_llm/builtin_call.py
  src/promptflow/tests/test_configs/eager_flows/builtin_llm/chat.jinja2
  src/promptflow/tests/test_configs/eager_flows/builtin_llm/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_stream_outputs/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_stream_outputs/multiple_stream_outputs.py
  src/promptflow/tests/test_configs/eager_flows/multiple_stream_outputs_dataclass/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_stream_outputs_dataclass/multiple_stream_outputs_dataclass.py
  src/promptflow/tests/test_configs/eager_flows/stream_output/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/stream_output/stream_output.py
Labels: sdk, promptflow, executor

#2341 Fixing the recording mode error + fixing the assistant tests
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  src/promptflow/tests/executor/e2etests/test_assistant.py
Labels: promptflow, fundamental, executor

#2257 Fix pfs stop takes long time even pfs is not started
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_cli.py
Labels: sdk, promptflow

#2292 [Executor] Change root_run_id and parent_run_id in resume previous result
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
Labels: promptflow, executor

#2337 [Internal] Update Runtime change log for 20240306.v5
  docs/cloud/azureai/runtime-change-log.md
Labels: documentation

#2306 Create a core/_flow.py of middle layer of protected flows.
  .github/actions/step_sdk_setup/action.yml
  scripts/docs/promptflow.core.rst
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_eager_flow.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/core/__init__.py
  src/promptflow/promptflow/core/_connection.py
  src/promptflow/promptflow/core/_errors.py
  src/promptflow/promptflow/core/_flow.py
  src/promptflow/promptflow/core/_flow_context_resolver.py
  src/promptflow/promptflow/core/_utils.py
  src/promptflow/promptflow/exceptions.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow.py
  src/promptflow/tests/test_configs/notebooks/dummy.ipynb
Labels: sdk, promptflow, fundamental

#2280 Auotomate pyinstaller hidden import and metafile for msi build
  .github/workflows/build_msi_installer.yml
  scripts/installer/windows/README.md
  scripts/installer/windows/scripts/generate_dependency.py
  scripts/installer/windows/scripts/promptflow.spec.jinja2
Labels: fundamental

#2335 [Internal] Postpone the operation to get default datastore
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_download_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_wrong_workspace_type.yaml
Labels: sdk, promptflow

#2348 CI test failure fixing
  src/promptflow/tests/executor/unittests/executor/test_line_execution_process_pool.py
  src/promptflow/tests/test_configs/flows/assistant-tool-with-connection/add_message_and_run.py
  src/promptflow/tests/test_configs/flows/assistant-with-file/add_message_and_run.py
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/add_message_and_run.py
  src/promptflow/tests/test_configs/flows/food-calorie-assistant/add_message_and_run.py
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/executor_node_cache.shelve.dir
Labels: promptflow, executor

#2268 [internal][tracing] Placeholder for `promptflow-tracing`
  .github/workflows/promptflow-tracing-test.yml
  .gitignore
  src/promptflow-tracing/README.md
  src/promptflow-tracing/promptflow/tracing/__init__.py
  src/promptflow-tracing/promptflow/tracing/_start_trace.py
  src/promptflow-tracing/promptflow/tracing/_trace.py
  src/promptflow-tracing/promptflow/tracing/_version.py
  src/promptflow-tracing/pyproject.toml
  src/promptflow-tracing/tests/unittests/test_start_trace.py
Labels: fundamental

#2313 feat: enable multi container based on environment variable
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/_restclient/README.md
  src/promptflow/promptflow/azure/_restclient/flow/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_experiment_templates_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_experiments_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_tools_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_experiment_templates_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_experiments_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_tools_operations.py
  src/promptflow/promptflow/azure/_restclient/swagger.json
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, promptflow

#2350 [Internal] Update connection not found message to make it more clear
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
Labels: promptflow, executor

#2356 Fix auto stop pfs time bug in detach mode
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/entry.py
Labels: sdk, promptflow

#2355 [internal][tracing] Validate `trace.provider` in pf config
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/azure/_utils/_tracing.py
Labels: sdk, promptflow

#2301 [Tracing] Remove dependency of promptflow.tracing on promptflow
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_tracing.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/promptflow/_utils/exception_utils.py
  src/promptflow/promptflow/_utils/execution_utils.py
  src/promptflow/promptflow/_utils/run_tracker_utils.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
  src/promptflow/promptflow/executor/_service/utils/process_utils.py
  src/promptflow/promptflow/executor/_service/utils/service_utils.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/tracing/_integrations/__init__.py
  src/promptflow/promptflow/tracing/_integrations/_openai_injector.py
  src/promptflow/promptflow/tracing/_operation_context.py
  src/promptflow/promptflow/tracing/_start_trace.py
  src/promptflow/promptflow/tracing/_thread_local_singleton.py
  src/promptflow/promptflow/tracing/_trace.py
  src/promptflow/promptflow/tracing/_tracer.py
  src/promptflow/promptflow/tracing/_utils.py
  src/promptflow/promptflow/tracing/_version.py
  src/promptflow/promptflow/tracing/contracts/generator_proxy.py
  src/promptflow/tests/executor/conftest.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/record_utils.py
  src/promptflow/tests/executor/unittests/_core/test_api_injector.py
  src/promptflow/tests/executor/unittests/_core/test_operation_context.py
  src/promptflow/tests/executor/unittests/_core/test_run_tracker.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
  src/promptflow/tests/executor/unittests/_utils/test_dataclass_serializer.py
  src/promptflow/tests/executor/unittests/_utils/test_exception_utils.py
  src/promptflow/tests/executor/unittests/_utils/test_run_tracker_utils.py
  src/promptflow/tests/executor/unittests/executor/_service/utils/test_process_utils.py
  src/promptflow/tests/executor/unittests/executor/_service/utils/test_service_utils.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/openai_inject_recording.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_operation_context/flow_with_context.py
  src/promptflow/tests/tracing_test/e2etests/test_trace.py
  src/promptflow/tests/tracing_test/unittests/test_generator_proxy.py
  src/promptflow/tests/tracing_test/unittests/test_openai_injector.py
Labels: sdk, promptflow, executor

#2347 [Internal] Move _sdk/serving to core/_serving
  examples/tutorials/flow-deploy/create-service-with-flow/simple_score.py
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/main.py
  scripts/compliance-check/user_exclusion.xml
  src/promptflow/MANIFEST.in
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/_mlflow.py
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/data/docker/runit/promptflow-serve/run.jinja2
  src/promptflow/promptflow/core/_flow_context_resolver.py
  src/promptflow/promptflow/core/_serving/__init__.py
  src/promptflow/promptflow/core/_serving/_errors.py
  src/promptflow/promptflow/core/_serving/app.py
  src/promptflow/promptflow/core/_serving/blueprint/__init__.py
  src/promptflow/promptflow/core/_serving/blueprint/monitor_blueprint.py
  src/promptflow/promptflow/core/_serving/blueprint/static_web_blueprint.py
  src/promptflow/promptflow/core/_serving/constants.py
  src/promptflow/promptflow/core/_serving/extension/__init__.py
  src/promptflow/promptflow/core/_serving/extension/azureml_extension.py
  src/promptflow/promptflow/core/_serving/extension/default_extension.py
  src/promptflow/promptflow/core/_serving/extension/extension_factory.py
  src/promptflow/promptflow/core/_serving/extension/extension_type.py
  src/promptflow/promptflow/core/_serving/extension/otel_exporter_provider_factory.py
  src/promptflow/promptflow/core/_serving/flow_invoker.py
  src/promptflow/promptflow/core/_serving/flow_result.py
  src/promptflow/promptflow/core/_serving/monitor/__init__.py
  src/promptflow/promptflow/core/_serving/monitor/data_collector.py
  src/promptflow/promptflow/core/_serving/monitor/flow_monitor.py
  src/promptflow/promptflow/core/_serving/monitor/mdc_exporter.py
  src/promptflow/promptflow/core/_serving/monitor/metrics.py
  src/promptflow/promptflow/core/_serving/monitor/streaming_monitor.py
  src/promptflow/promptflow/core/_serving/resources/feedback_swagger.json
  src/promptflow/promptflow/core/_serving/response_creator.py
  src/promptflow/promptflow/core/_serving/static/index.html
  src/promptflow/promptflow/core/_serving/static/index.js
  src/promptflow/promptflow/core/_serving/swagger.py
  src/promptflow/promptflow/core/_serving/utils.py
  src/promptflow/tests/executor/.coveragerc
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_global_config_test/e2etests/test_global_config.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow_invoker.py
  src/promptflow/tests/sdk_cli_test/unittests/test_mlflow_dependencies.py
  src/promptflow/tests/test_configs/flows/export/linux/runit/promptflow-serve/run
  src/promptflow/tests/tracing_test/.coveragerc
Labels: examples, sdk, cli, promptflow, fundamental, executor

#2305 [BugFix] Do not dynamic list azure deployment names for aoai vision tool in local
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/common.py
Labels: promptflow-tools

#2366 [Internal] Add test case for rasie_ex=True
  src/promptflow/tests/executor/e2etests/test_executor_execution_failures.py
Labels: promptflow, executor

#2243 Create running placeholder item in LineSummary table
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_summary.py
Labels: sdk, promptflow

#2293 distinguish flow type in telemetry
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_telemetry.py
  src/promptflow/tests/test_configs/recordings/test_telemetry_TestTelemetry_test_run_yaml_type.yaml
Labels: sdk, promptflow

#2229 [SDK] Support override deployment_name and model for python tools
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/flows/deployment_name_not_enabled/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/deployment_name_not_enabled/print_env.py
  src/promptflow/tests/test_configs/flows/python_tool_deployment_name/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_deployment_name/print_env.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: sdk, promptflow

#2329 fix: generate flow.json for pfazure run create csharp
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/entities/_eager_flow.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_utils/flow_utils.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/promptflow/batch/_executor_proxy_factory.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/core/_flow.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_csharp_executor_proxy.py
  src/promptflow/tests/executor/unittests/batch/test_batch_engine.py
  src/promptflow/tests/executor/unittests/batch/test_csharp_executor_proxy.py
Labels: sdk, promptflow, executor

#2362 [Executor] Disable long runing logging by default
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/e2etests/test_logs.py
Labels: promptflow, executor

#2369 [Tracing] Remove dependence of tracing on jinja2
  src/promptflow/promptflow/tracing/_utils.py
Labels: promptflow

#2377 Skipping test_open_model_llm.TestOpenModelLLM tests as they require new test resources
  src/promptflow-tools/tests/test_open_model_llm.py
Labels: promptflow-tools, external

#2345 [Executor] Refine _exec in batch engine
  src/promptflow/promptflow/batch/_batch_engine.py
Labels: promptflow, executor

#2122 [Internal][Executor] Add batch run related apis for executor server
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/batch/__init__.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_executor_proxy_factory.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
  src/promptflow/promptflow/executor/_service/_errors.py
  src/promptflow/promptflow/executor/_service/apis/batch.py
  src/promptflow/promptflow/executor/_service/app.py
  src/promptflow/promptflow/executor/_service/contracts/batch_request.py
  src/promptflow/promptflow/executor/_service/contracts/execution_request.py
  src/promptflow/promptflow/executor/_service/utils/batch_coordinator.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/promptflow/storage/_queue_run_storage.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_server.py
  src/promptflow/tests/executor/e2etests/test_logs.py
  src/promptflow/tests/executor/unittests/executor/_service/contracts/test_execution_request.py
  src/promptflow/tests/executor/unittests/executor/test_line_execution_process_pool.py
  src/promptflow/tests/executor/utils.py
Labels: promptflow, executor

#2265 fix: revert BatchEngine.register_executor
  src/promptflow/promptflow/batch/_batch_engine.py
Labels: promptflow, executor

#2384 [internal][tracing] Not enable trace for `flow test --node` scenario
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_trace.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: sdk, promptflow

#2176 [Tool] fix dynamic list failed when load script
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/executor/e2etests/test_script_tool_generator.py
  src/promptflow/tests/executor/unittests/_utils/test_tool_utils.py
Labels: promptflow, executor

#2382 Move set UA from _sdk/utils -> _utils/user_agent_utils
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_utils/user_agent_utils.py
  src/promptflow/promptflow/azure/_models/_models.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/core/_serving/app.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_azure_cli_perf.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli_perf.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
  src/promptflow/tests/sdk_cli_test/unittests/test_pf_client.py
Labels: sdk, cli, promptflow, executor

#2378 [Internal][Executor] Refine the cancel api to allow the execution server to return partial results when receiving a cancel request
  src/promptflow/promptflow/contracts/run_info.py
  src/promptflow/promptflow/executor/_service/apis/execution.py
  src/promptflow/promptflow/executor/_service/utils/process_manager.py
  src/promptflow/promptflow/executor/_service/utils/process_utils.py
  src/promptflow/promptflow/executor/_service/utils/service_utils.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#2304 [Internal]update separator sample usage
  docs/how-to-guides/enable-streaming-mode.md
  examples/flows/chat/chat-basic/README.md
  examples/flows/chat/chat-basic/chat.jinja2
  examples/flows/chat/chat-math-variant/chat.jinja2
  examples/flows/chat/chat-math-variant/chat_variant_1.jinja2
  examples/flows/chat/chat-math-variant/chat_variant_2.jinja2
  examples/flows/chat/chat-with-wikipedia/README.md
  examples/flows/chat/chat-with-wikipedia/augmented_chat.jinja2
  examples/flows/chat/chat-with-wikipedia/extract_query_from_question.jinja2
  examples/flows/chat/use_functions_with_chat_models/use_functions_with_chat_models.jinja2
  examples/flows/evaluation/eval-groundedness/gpt_groundedness.md
  examples/flows/evaluation/eval-perceived-intelligence/gpt_perceived_intelligence.md
  examples/flows/evaluation/eval-qna-non-rag/gpt_coherence_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_fluency_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_groundedness_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_relevance_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_similarity_prompt.jinja2
  examples/flows/evaluation/eval-qna-rag-metrics/rag_generation_prompt.jinja2
  examples/flows/evaluation/eval-qna-rag-metrics/rag_groundedness_prompt.jinja2
  examples/flows/evaluation/eval-qna-rag-metrics/rag_retrieval_prompt.jinja2
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/chat.jinja2
  examples/flows/standard/basic-with-builtin-llm/hello.jinja2
  examples/flows/standard/conditional-flow-for-switch/classify_with_llm.jinja2
  examples/flows/standard/maths-to-code/ask_llm.jinja2
  examples/flows/standard/maths-to-code/prompt_gen.jinja2
  examples/flows/standard/named-entity-recognition/NER_LLM.jinja2
  examples/flows/standard/web-classification/classify_with_llm.jinja2
  examples/flows/standard/web-classification/summarize_text_content.jinja2
  examples/flows/standard/web-classification/summarize_text_content__variant_1.jinja2
  examples/tutorials/flow-fine-tuning-evaluation/promptflow-quality-improvement.md
Labels: documentation, examples

#2390 Update MANIFEST.in to include serving swagger template resource
  src/promptflow/MANIFEST.in
Labels: promptflow

#2391 [ProcesPool] Fix start flow run param
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow, executor

#2399 Add back init to _sdk/_serving folder
  src/promptflow/promptflow/_sdk/_serving/__init__.py
Labels: sdk, promptflow

#2070 [ProcessPool] Add stderror for process to get error message when process crashed.
  src/promptflow/promptflow/_utils/process_utils.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
  src/promptflow/tests/executor/unittests/executor/test_line_execution_process_pool.py
Labels: promptflow, executor

#2385 Warning for the first time import from promptflow
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/__init__.py
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/data/entry_flow/tool.py.jinja2
  src/promptflow/promptflow/_cli/data/evaluation_flow/aggregate.py
  src/promptflow/promptflow/_cli/data/evaluation_flow/line_process.py
  src/promptflow/promptflow/_cli/data/package_tool/setup.py.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/tool.py.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/utils.py.jinja2
  src/promptflow/promptflow/_cli/data/standard_flow/hello.py
  src/promptflow/promptflow/_sdk/_service/apis/span.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/data/executable/main.py
  src/promptflow/promptflow/_sdk/entities/_chat_group/_chat_role.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_utils/_errors.py
  src/promptflow/promptflow/_utils/inputs_mapping_utils.py
  src/promptflow/promptflow/client/__init__.py
  src/promptflow/promptflow/core/__init__.py
  src/promptflow/promptflow/core/_flow_context_resolver.py
  src/promptflow/promptflow/core/_serving/flow_invoker.py
  src/promptflow/tests/executor/unittests/batch/test_batch_inputs_processor.py
  src/promptflow/tests/sdk_cli_test/conftest.py
Labels: sdk, cli, promptflow, executor

#2381 Add portable install step of promptflow in msi installation pipeline
  .github/workflows/build_msi_installer.yml
Labels: fundamental

#2393 refactor - clean dependency: core to devkit
  src/promptflow/promptflow/_cli/_params.py
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_flow/__init__.py
  src/promptflow/promptflow/_sdk/entities/_flow/_flow_context_resolver.py
  src/promptflow/promptflow/_sdk/entities/_flow/async_dag.py
  src/promptflow/promptflow/_sdk/entities/_flow/base.py
  src/promptflow/promptflow/_sdk/entities/_flow/dag.py
  src/promptflow/promptflow/_sdk/entities/_flow/flex.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_utils/docs.py
  src/promptflow/promptflow/_utils/flow_utils.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/core/_flow.py
  src/promptflow/promptflow/core/_serving/app.py
  src/promptflow/promptflow/core/_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow_invoker.py
Labels: sdk, cli, promptflow

#2386 [Tracing] Remove trace type 'Tool'
  src/promptflow-tracing/promptflow/tracing/contracts/trace.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_tool.py
Labels: promptflow, executor

#2334 [SDK] Support batch run eager flow without YAML in SDK
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/schemas/_flow.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
  src/promptflow/tests/test_configs/eager_flows/multiple_entries/entry1.py
  src/promptflow/tests/test_configs/eager_flows/multiple_entries/entry2.py
  src/promptflow/tests/test_configs/eager_flows/multiple_entries/flow.dag.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_run_without_yaml.yaml
Labels: sdk, promptflow

#2407 finalize new llm tool yaml, add tools and tool_choice implementation
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/llm.py
  src/promptflow-tools/promptflow/tools/llm_vision.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/promptflow/tools/yamls/llm.yaml
  src/promptflow-tools/promptflow/tools/yamls/llm_vision.yaml
Labels: promptflow-tools

#2397 Add new llm and llm-vision tool doc
  docs/reference/index.md
  docs/reference/tools-reference/llm-tool.md
  docs/reference/tools-reference/llm-vision-tool.md
Labels: documentation

#2372 Move some azure part to promptflow.azure folder.
  scripts/installer/curl_install_pypi/install.py
  scripts/installer/windows/scripts/pfcli.py
  src/promptflow/promptflow/azure/_cli/__init__.py
  src/promptflow/promptflow/azure/_cli/_connection.py
  src/promptflow/promptflow/azure/_cli/_flow.py
  src/promptflow/promptflow/azure/_cli/_run.py
  src/promptflow/promptflow/azure/_cli/_utils.py
  src/promptflow/promptflow/azure/_cli/entry.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_azure_cli_perf.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_azure_cli_activity_name.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
Labels: sdk, promptflow, fundamental

#2354 fix sdk system error
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_utils/load_data.py
  src/promptflow/promptflow/_utils/yaml_utils.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/promptflow/exceptions.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_exceptions.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: sdk, cli, promptflow

#2405 [ProcessPool] Read logs when the process is not successfully started.
  src/promptflow/promptflow/_utils/process_utils.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
Labels: promptflow, executor

#2410 [UnitTest] Remove manager process log assert in win/macos
  src/promptflow/tests/executor/unittests/executor/test_line_execution_process_pool.py
Labels: promptflow, executor

#2408 [SDK] Support override not provided tool input
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/flows/connection_not_provided/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/connection_not_provided/print_env.py
  src/promptflow/tests/test_configs/flows/list_connection_not_provided/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/list_connection_not_provided/print_env.py
Labels: promptflow

#2420 [Internal] Align the extras_require with azure promptflow
  src/promptflow/setup.py
Labels: promptflow

#2392 [fundamental][tracing] Dev setup for promptflow-tracing
  scripts/dev-setup/main.py
  scripts/dev-setup/test_resources.py
  scripts/dev-setup/utils.py
  src/promptflow-tracing/pyproject.toml
Labels: fundamental

#2387 [Tracing] Refine promptflow tracing tests pipeline and add tests
  .github/workflows/promptflow-tracing-e2e-test.yml
  .github/workflows/promptflow-tracing-unit-test.yml
  src/promptflow-tracing/promptflow/tracing/_operation_context.py
  src/promptflow-tracing/pyproject.toml
  src/promptflow-tracing/tests/e2etests/simple_functions.py
  src/promptflow-tracing/tests/e2etests/test_tracing.py
  src/promptflow-tracing/tests/unittests/test_openai_injector.py
  src/promptflow-tracing/tests/unittests/test_operation_context.py
  src/promptflow-tracing/tests/unittests/test_trace.py
  src/promptflow-tracing/tests/unittests/test_utils.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/promptflow/_utils/flow_utils.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/storage/run_records.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_api_injector.py
  src/promptflow/tests/executor/unittests/_core/test_operation_context.py
  src/promptflow/tests/executor/unittests/_utils/test_dataclass_serializer.py
  src/promptflow/tests/executor/unittests/storage/test_run_records.py
Labels: sdk, promptflow, fundamental, executor

#2409 fix: unexpected SystemEror
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/entities/_flow/base.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/core/_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_non_string_stream_output/echo_input.py
  src/promptflow/tests/test_configs/flows/chat_flow_with_non_string_stream_output/flow.dag.yaml
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: sdk, promptflow

#2425 Add ui hint for tools to select reusable tools
  src/promptflow-tools/promptflow/tools/yamls/llm.yaml
Labels: promptflow-tools

#2426 pf serving add cors support
  src/promptflow/promptflow/core/_serving/app.py
Labels: promptflow

#2166 [Executor] Include tokens in span attributes for streaming mode
  .github/workflows/build_doc_ci.yml
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-global-config-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  .github/workflows/promptflow-tracing-unit-test.yml
  .github/workflows/sdk-cli-azure-test-pull-request.yml
  .github/workflows/sdk-cli-perf-monitor-test.yml
  scripts/check_enforcer/check_enforcer.py
  src/promptflow-tracing/promptflow/tracing/_openai_utils.py
  src/promptflow-tracing/promptflow/tracing/_trace.py
  src/promptflow-tracing/tests/e2etests/simple_functions.py
  src/promptflow-tracing/tests/e2etests/test_tracing.py
  src/promptflow-tracing/tests/unittests/test_trace.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/batch/_result.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/mock_tool.py
Labels: promptflow, fundamental, executor

#2428 Add separate log for each line in batch run.
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_utils/logger_utils.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/e2etests/test_logs.py
Labels: sdk, promptflow, executor

#2429 Add back global test in check enforcer
  scripts/check_enforcer/check_enforcer.py
Labels: fundamental

#2430 [Fundamental] Fix Matrix using tracing
  .cspell.json
  .github/actions/step_create_python_environment/action.yml
  .github/workflows/promptflow-release-testing-matrix.yml
Labels: fundamental
