Repository microsoft/promptflow, pull requests merged in 2024-11, with the labels that each got.

#3815 Add promptflow runtime release note
  .cspell.json
  docs/cloud/azureai/runtime-change-log.md
Labels: documentation

#3838 Upgrade to waitress 3.x and flask-cors 5.x
  src/promptflow-devkit/pyproject.toml
Labels: promptflow-devkit

#3863 CHANGELOG.md broken link fix
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow/tests/executor/e2etests/test_langchain.py
Labels: promptflow, promptflow-devkit

#3856 Vulnerability Fix - gunicorn to 22.0.0
  src/promptflow-devkit/promptflow/_sdk/data/docker/Dockerfile.jinja2
  src/promptflow/tests/test_configs/flows/export/flex_flow_build/Dockerfile
  src/promptflow/tests/test_configs/flows/export/linux/Dockerfile
Labels: promptflow, external, promptflow-devkit
