Repository microsoft/promptflow, pull requests merged in 2024-08, with the labels that each got.

#3607 [SDK/CLI][Azure] Add POST method to retry method list
  .github/pipelines/compliance_check.yml
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-azure/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_run_bulk_without_retry.yaml
  src/promptflow/CHANGELOG.md
Labels: promptflow, fundamental, promptflow-azure

#3609 [pf-evals] Document improvements and convert timeout to constant
  src/promptflow-evals/promptflow/evals/evaluators/_chat/_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/retrieval/_retrieval.py
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_hate_unfairness.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_self_harm.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_sexual.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_violence.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/constants.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/content_safety_base.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/evaluate_with_rai_service.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_qa/_qa.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
  src/promptflow-evals/promptflow/evals/synthetic/jailbreak_adversarial_simulator.py
Labels: promptflow-evals

#3611 Add missing changelog for OpenAI error handler fix for AsyncPrompty
  src/promptflow/CHANGELOG.md
Labels: promptflow

#3618 Check enforcer print merge commit diffs
  scripts/check_enforcer/check_enforcer.py
Labels: fundamental

#3603 [pf-evals] Fix the evaluate API relative data path is not working due to underlying working directory change
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
Labels: promptflow-evals

#3623 [Fundamental]Check enforcer print more messsage and fix some nits on readme parser
  scripts/check_enforcer/check_enforcer.py
  scripts/readme/readme.py
Labels: fundamental

#3630 [pf-evals] Switch to OIDC Login for evals test pipelines
  .github/workflows/promptflow-evals-e2e-test-azure.yml
  .github/workflows/promptflow-evals-e2e-test-local.yml
  .github/workflows/promptflow-evals-performance-test.yml
Labels: fundamental

#3621 Bugfix/non azure open ai prompty
  src/promptflow-core/promptflow/_core/tool_meta_generator.py
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/evaluators/_chat/_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/retrieval/_retrieval.py
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_qa/_qa.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
Labels: promptflow-core, promptflow-evals

#3636 Revert "Bugfix/non azure open ai prompty (#3621)" (release branch only)
  src/promptflow-core/promptflow/_core/tool_meta_generator.py
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/evaluators/_chat/_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/retrieval/_retrieval.py
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_qa/_qa.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
Labels: promptflow-core, promptflow-evals

#3640 Remove pylint-azure-guidelines references
  pylintrc
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_proxy_completion_model.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_rai_client.py
Labels: promptflow-evals

#3651 [Fundamental] Check enforcer change.
  scripts/readme/workflow_generator.py
Labels: fundamental

#3652 Fix doc link broken anchor
  docs/concepts/concept-connections.md
Labels: documentation

#3653 Fix broken doc link
  docs/reference/tools-reference/llm-tool.md
Labels: documentation

#3644 Tutorial on Continuous Monitoring using ML Pipelines
  examples/flows/integrations/continuous-monitoring-with-pipeline/README.md
  examples/flows/integrations/continuous-monitoring-with-pipeline/flows/standard/simple-summarization/flow.dag.yaml
  examples/flows/integrations/continuous-monitoring-with-pipeline/flows/standard/simple-summarization/requirements.txt
  examples/flows/integrations/continuous-monitoring-with-pipeline/flows/standard/simple-summarization/summarize_text_content.jinja2
  examples/flows/integrations/continuous-monitoring-with-pipeline/flows/standard/simple-summarization/summarize_text_content__variant_1.jinja2
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/components/convert_parquet/conda.yaml
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/components/convert_parquet/convert_parquet.py
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/components/convert_parquet/convert_parquet.yaml
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/continuous_monitoring_pipeline.ipynb
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/data/monitoring_dataset.jsonl
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/media/compare_button.png
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/media/compare_metrics.png
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/media/continuous_monitoring_pipeline.png
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/media/convert_parquet.png
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/media/metrics_tab.png
Labels: examples, external

#3639 [pf-evals] post release changelog update
  src/promptflow-evals/CHANGELOG.md
Labels: promptflow-evals

#3661 [azure][test] pin `azure-ai-ml` to aovid azure replay test breaking
  src/promptflow-azure/pyproject.toml
Labels: promptflow-azure

#3655 [promptflow][release] 1.15.0 release branch merge back
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow-tracing/pyproject.toml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_version.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#3616 Unify AI flex flow example
  examples/flows/integrations/unify-ai/.env.example
  examples/flows/integrations/unify-ai/README.md
  examples/flows/integrations/unify-ai/data.jsonl
  examples/flows/integrations/unify-ai/eval_code_flow/code-eval-flow.flex.yaml
  examples/flows/integrations/unify-ai/eval_code_flow/code_quality_unify_ai.py
  examples/flows/integrations/unify-ai/eval_code_flow/eval_code_quality.prompty
  examples/flows/integrations/unify-ai/eval_code_flow/sample.json
  examples/flows/integrations/unify-ai/flex-flow-quickstart-unify-ai.ipynb
  examples/flows/integrations/unify-ai/flow.flex.yaml
  examples/flows/integrations/unify-ai/hello.jinja2
  examples/flows/integrations/unify-ai/llm.py
  examples/flows/integrations/unify-ai/programmer.py
  examples/flows/integrations/unify-ai/requirements.txt
Labels: examples, external

#3664 skip test_log_artifact .
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_log_artifact.yaml
Labels: promptflow-evals

#3659 Move eval rai call to shared package
  src/promptflow-evals/promptflow/evals/_common/__init__.py
  src/promptflow-evals/promptflow/evals/_common/constants.py
  src/promptflow-evals/promptflow/evals/_common/rai_service.py
  src/promptflow-evals/promptflow/evals/_common/utils.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_base.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_hate_unfairness.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_self_harm.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_sexual.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_violence.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/__init__.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/unittests/test_content_safety_rai_script.py
Labels: promptflow-evals

#3658 Add custom exception class and helper classes for promptflow-evals
  src/promptflow-evals/promptflow/evals/_exceptions.py
Labels: promptflow-evals

#3679 Fix Continuous Monitoring notebook metadata
  examples/flows/integrations/continuous-monitoring-with-pipeline/monitoring/continuous_monitoring_pipeline.ipynb
Labels: examples, external

#3680 Set logger level instead of using debug
  src/promptflow-core/promptflow/_utils/logger_utils.py
Labels: promptflow-core

#3685 [experiment] Verify command injection when starting experiments asynchronously
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/experiment_orchestrator.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: promptflow-devkit

#3683 refactor: Remove networking imports outside azure core
  src/promptflow-evals/promptflow/evals/_common/rai_service.py
  src/promptflow-evals/promptflow/evals/_http_utils.py
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/promptflow/evals/synthetic/_conversation/__init__.py
  src/promptflow-evals/promptflow/evals/synthetic/_conversation/_conversation.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/__init__.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_async_http_client.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_identity_manager.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_proxy_completion_model.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_rai_client.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/models.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/tests/evals/unittests/test_content_safety_rai_script.py
  src/promptflow-evals/tests/evals/unittests/test_eval_run.py
  src/promptflow-evals/tests/evals/unittests/test_synthetic_conversation_bot.py
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_service_unavailable.yaml
Labels: promptflow-evals

#3698 Remove urllib3 dependency
  src/promptflow-evals/pyproject.toml
Labels: promptflow-evals
