Repository microsoft/promptflow, pull requests merged in 2024-07, with the labels that each got.

#3460 Minor English tweaks to quick-start.md
  docs/how-to-guides/quick-start.md
Labels: documentation, external

#3487 Adding user agent to prompt based evaluators
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
Labels: promptflow-evals

#3486 [Promptflow Serve] Benchmarking Framework To Measure Throughput of Promptflow Serve
  .cspell.json
  .devcontainer/devcontainer.json
  .gitignore
  benchmark/promptflow-serve/README.md
  benchmark/promptflow-serve/makefile
  benchmark/promptflow-serve/mock_api/Dockerfile
  benchmark/promptflow-serve/mock_api/main.py
  benchmark/promptflow-serve/mock_api/requirements.txt
  benchmark/promptflow-serve/pf_flows/flex_async/flow.flex.yaml
  benchmark/promptflow-serve/pf_flows/flex_async/flow.py
  benchmark/promptflow-serve/pf_flows/flex_async/requirements.txt
  benchmark/promptflow-serve/pf_flows/static_async/chat.py
  benchmark/promptflow-serve/pf_flows/static_async/flow.dag.yaml
  benchmark/promptflow-serve/pf_flows/static_async/node1.py
  benchmark/promptflow-serve/pf_flows/static_async/node2.py
  benchmark/promptflow-serve/pf_flows/static_async/node3.py
  benchmark/promptflow-serve/pf_flows/static_async/requirements.txt
  benchmark/promptflow-serve/pf_flows/static_sync/chat.py
  benchmark/promptflow-serve/pf_flows/static_sync/flow.dag.yaml
  benchmark/promptflow-serve/pf_flows/static_sync/node1.py
  benchmark/promptflow-serve/pf_flows/static_sync/node2.py
  benchmark/promptflow-serve/pf_flows/static_sync/node3.py
  benchmark/promptflow-serve/pf_flows/static_sync/requirements.txt
  benchmark/promptflow-serve/requirements.txt
  benchmark/promptflow-serve/result-archive/v1.12.0/README.md
  benchmark/promptflow-serve/result-archive/v1.12.0/fastapi-flex-async.png
  benchmark/promptflow-serve/result-archive/v1.12.0/fastapi_async.png
  benchmark/promptflow-serve/result-archive/v1.12.0/flask_sync.png
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_flex_async_report_u500_h50.html
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_flex_async_report_u500_h50_exceptions.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_flex_async_report_u500_h50_failures.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_flex_async_report_u500_h50_stats.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_flex_async_report_u500_h50_stats_history.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_async_report_u500_h50.html
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_async_report_u500_h50_exceptions.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_async_report_u500_h50_failures.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_async_report_u500_h50_stats.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_async_report_u500_h50_stats_history.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_sync_report_u500_h50.html
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_sync_report_u500_h50_exceptions.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_sync_report_u500_h50_failures.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_sync_report_u500_h50_stats.csv
  benchmark/promptflow-serve/result-archive/v1.12.0/pf_static_sync_report_u500_h50_stats_history.csv
  benchmark/promptflow-serve/test_runner/build.sh
  benchmark/promptflow-serve/test_runner/docker-compose.yml
  benchmark/promptflow-serve/test_runner/mock_locustfile.py
  benchmark/promptflow-serve/test_runner/pf_locustfile.py
  benchmark/promptflow-serve/test_runner/run_locust.sh
  benchmark/promptflow-serve/test_runner/settings.env
  benchmark/promptflow-serve/test_runner/test.sh
Labels: external

#3491 Using token Cache to reduce token get calls
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
Labels: promptflow-evals

#3489 Make some English grammar corrections for clarity
  examples/flex-flows/basic/flex-flow-quickstart-azure.ipynb
Labels: examples, external

#3496 Fix complince check config
  .github/pipelines/compliance_check.yml
  scripts/compliance-check/user_exclusion.xml
Labels: fundamental

#3498 [SDK/CLI] Add telemetry for run upload
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
Labels: promptflow-azure

#3497 Release/promptflow/1.13.0
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow-tracing/pyproject.toml
  src/promptflow-tracing/tests/e2etests/test_tracing.py
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_version.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#3506 [Fundamental] Limit output tracebacks and add documentation on rotate aoai keys
  .cspell.json
  .github/workflows/promptflow-core-test.yml
  .github/workflows/promptflow-global-config-test.yml
  .github/workflows/promptflow-release-testing-matrix.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  .github/workflows/promptflow-tracing-e2e-test.yml
  .github/workflows/promptflow-tracing-unit-test.yml
  .github/workflows/sdk-cli-azure-test-production.yml
  .github/workflows/sdk-cli-azure-test-pull-request.yml
  docs/dev/rotate_aoai_keys.md
Labels: documentation, fundamental

#3505 Update chat group tests to check output content
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
Labels: promptflow

#3507 [Bug fix] Use default pfs host to ping service when pfs host in wildcard address
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_service/utils/utils.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/tests/conftest.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_cli.py
  src/promptflow-recording/promptflow/recording/local/test_utils.py
Labels: promptflow-devkit

#3351 Update chat-with-pdf-azure.ipynb (Typo "Azure Open AI"→"Azure OpenAI")
  examples/flows/chat/chat-with-pdf/chat-with-pdf-azure.ipynb
Labels: examples, no-recent-activity, external

#3514 Fixing Evaluate when no target present
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run_target_fn.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_log_artifact.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_logging_metrics.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_writing_to_run_history.yaml
Labels: promptflow-evals

#3518 [doc] highlight tracing feature
  README.md
  docs/index.md
  scripts/docs/_static/custom.css
  scripts/docs/conf.py
  src/promptflow/README.md
Labels: documentation, promptflow, fundamental

#3455 Task/jailbreak adv sim
  src/promptflow-evals/promptflow/evals/synthetic/README.md
  src/promptflow-evals/promptflow/evals/synthetic/__init__.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
  src/promptflow-evals/promptflow/evals/synthetic/jailbreak_adversarial_simulator.py
  src/promptflow-evals/tests/evals/unittests/test_jailbreak_simulator.py
Labels: promptflow-evals

#3523 Adding the credential to jailbreak adv sim init to make sure it can b…
  src/promptflow-evals/promptflow/evals/synthetic/jailbreak_adversarial_simulator.py
Labels: promptflow-evals

#3527 Update dependency for pf dependences and local import for dependences related to pf-azure
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/pyproject.toml
Labels: promptflow-evals

#3493 Log performance metrics to the application insights
  .github/workflows/promptflow-evals-e2e-test.yml
  .github/workflows/promptflow-evals-regression-test.yml
  .github/workflows/promptflow-evals-unit-test.yml
  scripts/code_qa/report_to_app_insights.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run_target_fn.yaml
Labels: fundamental, promptflow-evals

#3529 Make evaluation run a context manager instead of a singleton.
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/evals/unittests/test_eval_run.py
Labels: promptflow-evals

#3539 [fundamental] Update PR template to emphasize license issue
  .github/PULL_REQUEST_TEMPLATE.md
Labels: fundamental

#3534 Add local e2e test gate
  .github/workflows/promptflow-evals-e2e-test-azure.yml
  .github/workflows/promptflow-evals-e2e-test-local.yml
  .gitignore
  scripts/code_qa/assert_local_install.py
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_adv_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
Labels: fundamental, promptflow-evals

#3544 add category to template_parameters in the output of simulations
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/synthetic/README.md
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
Labels: promptflow-evals

#3545 Fixing user agent header name
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
  src/promptflow-tracing/promptflow/tracing/_integrations/_openai_injector.py
  src/promptflow-tracing/tests/unittests/test_openai_injector.py
Labels: promptflow-tracing, promptflow-evals

#3546 Split installation tests from other e2e tests.
  .github/workflows/promptflow-evals-e2e-test-azure.yml
  .github/workflows/promptflow-evals-e2e-test-local.yml
  .github/workflows/promptflow-evals-installation-test.yml
  .github/workflows/promptflow-evals-performance-test.yml
  .github/workflows/promptflow-evals-unit-test.yml
  scripts/code_qa/calculate_install_time.sh
  scripts/code_qa/report_to_app_insights.py
  scripts/code_qa/test_reporter.py
Labels: fundamental

#3542 Leverage async batch run for first async-enabled evaluator - FluencyEvaluator
  src/promptflow-devkit/promptflow/_proxy/_python_executor_proxy.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/batch/_batch_engine.py
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/batch_run_context.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/proxy_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_built_in_evaluator.py
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.bak
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dat
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dir
  src/promptflow/tests/executor/unittests/_utils/test_async_utils.py
Labels: promptflow, promptflow-devkit, promptflow-evals

#3556 [devkit] Add promptflow package to dockerfile
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/data/docker/Dockerfile.jinja2
  src/promptflow/CHANGELOG.md
  src/promptflow/tests/test_configs/flows/export/flex_flow_build/Dockerfile
  src/promptflow/tests/test_configs/flows/export/linux/Dockerfile
Labels: promptflow, promptflow-devkit

#3559 DOC: Update contributing link for the pull request template.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: fundamental, external

#3521 Replace dag with flex in evals
  .github/workflows/promptflow-evals-e2e-test-local.yml
  .github/workflows/promptflow-evals-unit-test.yml
  scripts/code_qa/assert_local_install.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_sub_evaluator_base.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_hate_unfairness.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_self_harm.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_sexual.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_violence.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/constants.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/evaluate_with_rai_service.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/utils.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/flow/flow.dag.yaml
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/flow/requirements.txt
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/_f1_score.py
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/flow/data.jsonl
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/flow/f1_score.py
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/flow/flow.dag.yaml
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/flow/requirements.txt
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/flow/validate_inputs.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_chat/False-True.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_chat/True-True.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/False-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/True-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_qa/False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_service_unavailable.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_individual_evaluator_prompt_based.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_individual_evaluator_prompt_based_with_dict_input.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_individual_evaluator_service_based.yaml
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.bak
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dat
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dir
Labels: fundamental, promptflow-evals

#3554 Add readme about ApplicationInsights logging
  src/promptflow-evals/tests/evals/e2etests/README.md
Labels: promptflow-evals

#3557 Convert prompty based evaluators to async based implementation
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_chat/False-True.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_chat/True-True.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/False-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/True-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_qa/False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_evaluator_violence.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_service_unavailable.yaml
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.bak
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dat
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dir
Labels: promptflow-evals

#3550 Update GPT based evaluators to force output to be a single integer
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/coherence.prompty
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/fluency.prompty
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/groundedness.prompty
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/relevance.prompty
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/similarity.prompty
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_chat/False-True.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/False-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/True-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_qa/False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_evaluator_violence.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_service_unavailable.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_qa_evaluator_for_nans.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_coherence.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_fluency.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_groundedness.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_prompt_based_with_dict_input.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_relevance.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_similarity.yaml
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.bak
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dat
  src/promptflow-evals/tests/recordings/local/evals.node_cache.shelve.dir
Labels: promptflow-evals

#3558 DOC: Fix typo in concept-flows
  docs/concepts/concept-flows.md
Labels: documentation, external

#3548 Remove dependency on docutils package
  src/promptflow-core/promptflow/executor/_docstring_parser.py
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/promptflow/_sdk/data/executable/requirements.txt
  src/promptflow/tests/executor/unittests/executor/test_docstring_parser.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/test_configs/flows/tool_with_assistant_definition/test_assistant_definition.py
Labels: promptflow, promptflow-core, promptflow-devkit

#3501 Add batch timeout override
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/batch_run_context.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/proxy_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/tests/evals/unittests/test_batch_run_context.py
Labels: promptflow-evals

#3572 [Example] Add flow.flex.yaml for chat-minimal
  examples/flex-flows/chat-minimal/flow.flex.yaml
Labels: examples

#3574 [pf-evals] Convert content safety and f1 score to async-enabled implementation
  .github/workflows/promptflow-evals-e2e-test-local.yml
  .pre-commit-config.yaml
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_sub_evaluator_base.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_hate_unfairness.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_self_harm.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_sexual.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_violence.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/content_safety_base.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/evaluate_with_rai_service.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/_f1_score.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_chat/False-True.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/False-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_content_safety_chat/True-False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_composite_evaluator_qa/False.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_evaluator_hate_unfairness.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_evaluator_self_harm.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_evaluator_sexual.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_evaluator_violence.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_content_safety_service_unavailable.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_qa_evaluator_for_nans.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_coherence.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_fluency.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_groundedness.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_prompt_based_with_dict_input.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_relevance.yaml
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_quality_evaluator_similarity.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run_target_fn.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_log_artifact.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_logging_metrics.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_writing_to_run_history.yaml
  src/promptflow-recording/promptflow/recording/azure/processors.py
  src/promptflow-recording/pyproject.toml
Labels: fundamental, promptflow-evals

#3581 Release promptflow 1.14.0
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow-tracing/pyproject.toml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_version.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#3587 Fix Test Case by Replacing `text-ada-001` with `gpt-35-turbo-instruct`
  src/promptflow-tracing/tests/e2etests/simple_functions.py
  src/promptflow-tracing/tests/e2etests/test_tracing.py
Labels: promptflow-tracing

#3595 [Doc] fix doc link
  docs/integrations/tools/llmlingua-prompt-compression-tool.md
Labels: documentation

#3594 Fix typo
  docs/how-to-guides/manage-connections.md
Labels: documentation, external

#3599 More eval test coverage
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/common/evaluate_with_rai_service.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/unittests/test_content_safety_rai_script.py
Labels: promptflow-evals

#3598 Fix openai error handler not working for async prompty
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty_error_handler.py
Labels: promptflow-core, promptflow-devkit
