Repository microsoft/promptflow, pull requests merged in 2024-10, with the labels that each got.

#3791 [promptflow][release] 1.16.0 release branch merge back
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow-tracing/pyproject.toml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_version.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#3793 Fix bug in token usage merging logic for promptflow-tracing SDK
  src/promptflow-tracing/CHANGELOG.md
  src/promptflow-tracing/promptflow/tracing/_trace.py
Labels: promptflow-tracing

#3783 Fix Build Doc CI issues
  docs/cloud/azureai/tracing/index.md
  docs/cloud/azureai/tracing/run_tracking.md
  docs/concepts/concept-connections.md
  docs/reference/tools-reference/llm-tool.md
  examples/tutorials/run-flow-with-pipeline/pipeline.ipynb
  examples/tutorials/tracing/autogen-groupchat/trace-autogen-groupchat.ipynb
  examples/tutorials/tracing/langchain/trace-langchain.ipynb
Labels: documentation, examples, no-recent-activity
