Repository microsoft/promptflow, pull requests merged in 2024-02, with the labels that each got.

#1897 improve data gen flow
  examples/gen_test_data/gen_test_data/generate_test_data_flow/flow.dag.yaml
  examples/gen_test_data/gen_test_data/generate_test_data_flow/score_text_trunk_prompt.jinja2
  examples/gen_test_data/gen_test_data/generate_test_data_flow/seed_question_prompt.jinja2
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_question_prompt.jinja2
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_suggested_answer_prompt.jinja2
  examples/gen_test_data/gen_test_data/utils/constants.py
Labels: examples

#1886 [Feature][Executor] Support specifying worker count in batch engine
  src/promptflow/promptflow/_utils/feature_utils.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow, executor

#1905 [promptflow][internal] Refine `start_trace` and dummy traces UI
  src/promptflow/promptflow/_sdk/_service/__init__.py
  src/promptflow/promptflow/_sdk/_service/apis/ui.py
  src/promptflow/promptflow/_sdk/_service/templates/ui_traces.html
  src/promptflow/setup.py
Labels: sdk, promptflow

#1907 Update flow structure
  examples/gen_test_data/gen_test_data/generate_test_data_flow/flow.dag.yaml
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_debug_info.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_question_prompt.jinja2
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_test_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_text_trunk.py
  examples/gen_test_data/gen_test_data/utils/constants.py
Labels: examples

#1891 [promptflow][internal] Set session id in `OperationContext` and get inside `@trace`
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow/tests/test_configs/notebooks/trace.ipynb
Labels: promptflow, executor

#1910 [promptflow][internal] Invoke `inject_openai_api` when `start_trace`
  src/promptflow/promptflow/_trace/_start_trace.py
Labels: promptflow

#1912 Fix some comments
  examples/gen_test_data/README.md
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/document-nodes-test.jsonl
  examples/gen_test_data/gen_test_data/run.py
  examples/gen_test_data/gen_test_data/utils/common.py
  examples/gen_test_data/gen_test_data/utils/components.py
  examples/gen_test_data/requirements.txt
  examples/gen_test_data/requirements_cloud.txt
Labels: examples

#1903 [Internal][Executor] Update the batch timeout test
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
Labels: promptflow, executor

#1913 [Executor][Internal] Add line run id to otel span
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#1911 Remove pfs extra dependency.
  .github/actions/step_sdk_setup/action.yml
  .github/workflows/build_msi_installer.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  scripts/installer/curl_install_pypi/install.py
  scripts/installer/windows/README.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_upgrade.py
Labels: cli, promptflow, fundamental

#1909 [Executor][Internal]Put only required items in aoai telemetry headers
  src/promptflow/promptflow/_core/openai_injector.py
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_eager_flow.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/unittests/_core/test_api_injector.py
  src/promptflow/tests/executor/unittests/_core/test_operation_context.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_operation_context/flow_with_context.py
Labels: promptflow, executor

#1915 Fix clean data component
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/utils/components.py
Labels: examples

#1895 Implementing Tracing Functionality in Flow Execution
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/contracts/trace.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#1920 improve log, prompt and dag
  examples/gen_test_data/gen_test_data/generate_test_data_flow/flow.dag.yaml
  examples/gen_test_data/gen_test_data/generate_test_data_flow/score_text_trunk_prompt.jinja2
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_question_prompt.jinja2
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_text_trunk.py
  examples/gen_test_data/gen_test_data/run.py
  examples/gen_test_data/gen_test_data/utils/common.py
Labels: examples

#1924 [data gen] lazy import all azure dependencies, remove connection_name, set prs component output mode as mount
  examples/gen_test_data/gen_test_data/run.py
  examples/gen_test_data/gen_test_data/utils/constants.py
Labels: examples

#1928 [data gen] fix mldesigner cannot find component issue
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/components.py
  examples/gen_test_data/gen_test_data/constants.py
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#1927 [Internal][Executor] Fix ci test
  src/promptflow/tests/executor/unittests/executor/_service/apis/test_common.py
Labels: promptflow, executor

#1906 [SDK][Internal] Set context for experiment
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/entities/_experiment.py
  src/promptflow/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_cli_test/unittests/test_experiment.py
Labels: sdk, cli, promptflow, executor

#1930 [PFS] Nit fix for connection test
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: promptflow

#1917 [Executor][Internal] Add executor e2e tests for otel integration
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/process_utils.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
  src/promptflow/tests/executor/utils.py
Labels: promptflow, executor

#1925 [SDK][azure] Support specify compute instance as session compute
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/schemas/_run.py
  src/promptflow/promptflow/azure/_restclient/README.md
  src/promptflow/promptflow/azure/_restclient/flow/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/_configuration.py
  src/promptflow/promptflow/azure/_restclient/flow/_vendor.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/_configuration.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_connection_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_connections_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_runs_admin_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_runtimes_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_runtimes_workspace_independent_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flows_provider_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_tools_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_connection_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_connections_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_runs_admin_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_runtimes_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_runtimes_workspace_independent_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flow_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flows_provider_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_tools_operations.py
  src/promptflow/promptflow/azure/_restclient/swagger.json
  src/promptflow/tests/_constants.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_compute_instance_session.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_compute_instance_session_yml.yaml
  src/promptflow/tests/test_configs/runs/sample_bulk_run_with_compute_instance.yaml
Labels: sdk, promptflow

#1929 [Executor][Internal]Use folder name as flow name in the trace
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: sdk, promptflow, executor

#1926 Seprate cloud part
  docs/cloud/azureai/generate-test-data-cloud.md
  docs/how-to-guides/generate-test-data.md
  examples/gen_test_data/conda.yml
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/components.py
  examples/gen_test_data/gen_test_data/constants.py
  examples/gen_test_data/gen_test_data/run.py
Labels: documentation, examples

#1918 [Executor] Update openai tokens to trace
  src/promptflow/promptflow/_core/tracer.py
Labels: promptflow, executor

#1934 [data gen] streaming log batch run progress, modify debug info, modify doc, wording, update tool, remove text_meta
  docs/cloud/azureai/generate-test-data-cloud.md
  docs/how-to-guides/generate-test-data.md
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/components.py
  examples/gen_test_data/gen_test_data/constants.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/flow.dag.yaml
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_debug_info.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_suggested_answer.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/score_text_chunk_prompt.jinja2
  examples/gen_test_data/gen_test_data/generate_test_data_flow/utils.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_suggested_answer.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_text_chunk.py
  examples/gen_test_data/gen_test_data/run.py
  examples/gen_test_data/gen_test_data/utils/__init__.py
  examples/gen_test_data/gen_test_data/utils/analyze_data.py
Labels: documentation, examples

#1921 refactor: update interface for test submitter
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
Labels: sdk, promptflow

#1938 Support relative path
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#1941 [data gen] fix doc links, progress bar, hide max_tokens
  docs/how-to-guides/generate-test-data.md
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_suggested_answer.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/utils.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_suggested_answer.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_text_chunk.py
  examples/gen_test_data/gen_test_data/run.py
Labels: documentation, examples

#1942 [PFS] fix trace ui url
  src/promptflow/promptflow/_sdk/_service/apis/span.py
  src/promptflow/promptflow/_sdk/_service/apis/ui.py
Labels: sdk, promptflow

#1933 [Executor][Internal]Remove values in operation context after exec line
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/executor/_script_executor.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_traces.py
Labels: promptflow, executor

#1945 [Trace] add trace_id, root_span_id to trace line run contract
  src/promptflow/promptflow/_sdk/entities/_trace.py
Labels: sdk, promptflow

#1896 Update pfs start logic and pfs start api telemetry
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/promptflow/_trace/_start_trace.py
Labels: sdk, promptflow

#1943 refactor: add a shared base for local executor proxy and runtime executor proxy
  src/promptflow/promptflow/batch/_csharp_base_executor_proxy.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
Labels: promptflow, executor

#1937 Override node inputs
  .gitignore
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/flow.dag.yaml
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#1922 pfserving monitoring improvement
  src/promptflow/promptflow/_sdk/_serving/extension/extension_factory.py
  src/promptflow/promptflow/_sdk/_serving/monitor/flow_monitor.py
  src/promptflow/setup.py
Labels: sdk, promptflow

#1949 Fix version and invalid file path
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/requirements.txt
  examples/gen_test_data/requirements_cloud.txt
Labels: examples

#1951 Override flow component name
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#1796 [Tool] Cache tool meta to improve list tool performance
  src/promptflow/promptflow/_cli/data/package_tool/setup.py.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/utils.py.jinja2
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#1948 refactor: expose CSharpBaseExecutorProxy via _internal
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_csharp_base_executor_proxy.py
Labels: sdk, promptflow, executor

#1953 fix flow run on portal
  examples/gen_test_data/gen_test_data/generate_test_data_flow/flow.dag.yaml
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_debug_info.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_question.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_suggested_answer.py
  examples/gen_test_data/gen_test_data/generate_test_data_flow/validate_text_chunk.py
Labels: examples

#1874 Only assign inputs after validation and loading image.
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
Labels: promptflow, executor

#1957 fix batch run output json empty error
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#1956 Filter unsupport file types
  docs/how-to-guides/generate-test-data.md
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/constants.py
Labels: documentation, examples

#1845 optimizing telemetry fields
  .cspell.json
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_test/unittests/test_config.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#1954 [SDK][Internal] Call `start_trace()` for flow test when internal enabled
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: sdk, promptflow

#1916 [Doc] Refine deploy a flow document
  docs/cloud/azureai/deploy-to-azure-appservice.md
  docs/how-to-guides/deploy-a-flow/deploy-using-docker.md
  examples/tutorials/flow-deploy/azure-app-service/README.md
  examples/tutorials/flow-deploy/azure-app-service/deploy.ps1
Labels: documentation, examples

#1960 Fix streaming --ui bug
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/data/executable/main.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_csharp_cli.py
Labels: sdk, cli, promptflow, executor

#1962 fix uai get token bug
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_serving/extension/azureml_extension.py
Labels: sdk, promptflow

#1964 rename logger name of node inputs override
  examples/gen_test_data/gen_test_data/common.py
Labels: examples

#1965 [data gen] comment document_nodes_file, fix typo/broken links in doc
  docs/cloud/azureai/generate-test-data-cloud.md
  docs/how-to-guides/generate-test-data.md
  examples/gen_test_data/config.ini.example
Labels: documentation, examples

#1967 [Executor][Internal] Adjust legacy tracer logic to avoid warnings when directly uses trace
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
Labels: promptflow, executor

#1968 [Example]Fix not responsible part of prompt
  examples/flows/standard/basic-with-builtin-llm/hello.jinja2
  examples/flows/standard/basic-with-connection/README.md
  examples/flows/standard/basic-with-connection/hello.jinja2
  examples/flows/standard/basic/README.md
  examples/flows/standard/basic/hello.jinja2
  src/promptflow/promptflow/_cli/data/standard_flow/hello.jinja2
  src/promptflow/tests/executor/package_tools/custom_llm_tool/my_prompt.jinja2
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/flows/basic-with-connection/hello.jinja2
  src/promptflow/tests/test_configs/flows/basic_with_builtin_llm_node/hello.jinja2
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: examples, cli, promptflow, executor

#1952 [doc] Add doc for automatic runtime
  docs/cloud/azureai/manage-flows.md
  docs/cloud/azureai/quick-start/create-run-with-automatic-runtime.md
  docs/cloud/azureai/quick-start/index.md
  docs/cloud/index.md
  docs/how-to-guides/develop-a-flow/referencing-external-files-or-folders-in-a-flow.md
  docs/how-to-guides/quick-start.md
  docs/how-to-guides/run-and-evaluate-a-flow/use-column-mapping.md
  docs/how-to-guides/tune-prompts-with-variants.md
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
Labels: documentation, promptflow

#1963 [promptflow][internal] Fix standard OpenTelemetry traces collection and line run list bug
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_orm/trace.py
  src/promptflow/promptflow/_sdk/_service/apis/span.py
  src/promptflow/promptflow/_sdk/_service/templates/ui_traces.html
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: sdk, promptflow

#1931 feat: support streaming for csharp
  docs/how-to-guides/develop-a-tool/create-your-own-custom-strong-type-connection.md
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/data/executable/main.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_csharp_base_executor_proxy.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/tests/executor/e2etests/test_csharp_executor_proxy.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_csharp_cli.py
Labels: documentation, sdk, cli, promptflow, executor

#1847 [Orchestrator] Add experiment orchestrator
  .cspell.json
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_orm/__init__.py
  src/promptflow/promptflow/_sdk/_orm/experiment_node_run.py
  src/promptflow/promptflow/_sdk/_orm/orchestrator.py
  src/promptflow/promptflow/_sdk/_orm/session.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/test_configs/experiments/command-node-exp-template/basic-command.exp.yaml
  src/promptflow/tests/test_configs/experiments/command-node-exp-template/sleep/sleep.py
Labels: sdk, cli, promptflow

#1971 [SDK] Fix flow as function connection override when node has default variant.
  README.md
  docs/how-to-guides/execute-flow-as-a-function.md
  examples/tutorials/e2e-development/chat-with-pdf.md
  examples/tutorials/get-started/flow-as-function.ipynb
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_flow_context_resolver.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/convert_to_dict.py
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/data.jsonl
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/fetch_text_content_from_url.py
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/fetch_text_content_from_url_input.jsonl
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/prepare_examples.py
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/samples.json
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/summarize_text_content.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/summarize_text_content__variant_1.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_default_variant_no_llm_type/webClassification20.csv
Labels: documentation, examples, sdk, promptflow

#1975 fix stuck issue when connection name is wrong
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#1973 [BugFix][SDK] Fix load template function
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/tests/sdk_cli_test/unittests/test_experiment.py
  src/promptflow/tests/test_configs/experiments/basic-script-template/mock.exp.yaml
Labels: sdk, cli, promptflow

#1976 [promptflow][internal] Fix `datetime.datetime` in evaluations
  src/promptflow/promptflow/_sdk/entities/_trace.py
Labels: sdk, promptflow

#1972 [promptflow][internal] Upgrade Swagger for retrieving Cosmos token
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/promptflow/azure/_restclient/README.md
  src/promptflow/promptflow/azure/_restclient/flow/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/_azure_machine_learning_designer_service_client.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/aio/operations/_trace_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/__init__.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_bulk_runs_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_flows_operations.py
  src/promptflow/promptflow/azure/_restclient/flow/operations/_trace_sessions_operations.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/_restclient/swagger.json
  src/promptflow/promptflow/azure/operations/_trace_operations.py
Labels: sdk, promptflow, external

#1979 improve test get_mac_address
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: promptflow

#1978 [Internal][Executor] Fix release matrix ci pipeline
  .github/workflows/promptflow-release-testing-matrix.yml
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/e2etests/test_traces.py
Labels: promptflow, fundamental, executor

#1982 [Executor] Update llm.token_count for llm node in otel traces
  src/promptflow/promptflow/_core/tracer.py
Labels: promptflow, executor

#1984 [promptflow][internal] BugFix: ignore line run when main root span is absent
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_sdk/operations/_trace_operations.py
Labels: sdk, promptflow

#1955 [Executor] Add e2e tests for including openai tokens in otel traces
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/test_configs/flows/flow_with_async_llm_tasks/chat.py
  src/promptflow/tests/test_configs/flows/flow_with_async_llm_tasks/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_async_llm_tasks/samples.json
Labels: promptflow, executor

#1989 [Executor] Fix otel trace tests
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#1988 [Executor][Internal] Add batch run id for batch run
  src/promptflow/promptflow/executor/_script_executor.py
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#1981 Upgrade tool version to 1.2.0
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#1939 Add load function for flow run and node run
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/storage/__init__.py
  src/promptflow/promptflow/storage/_run_storage.py
  src/promptflow/tests/executor/unittests/storage/test_local_storage_operations.py
Labels: sdk, promptflow, executor

#1987 [promptflow][internal] Make session and experiment in OTel resource
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, promptflow

#1991 [SDK][Internal] Start trace for batch run
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: sdk, promptflow

#1985 Refine generate document nodes logic
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/components.py
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#1999 add new line
  docs/how-to-guides/generate-test-data.md
Labels: documentation

#1998 [SDK/CLI] Support user to configure AzureCliCredential for pfazure commands
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_utils.py
Labels: sdk, cli, promptflow

#1992 Fix MSI installation scripts
  .github/workflows/build_msi_installer.yml
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
Labels: sdk, promptflow, fundamental

#1995 Add input/output/error to root level api_calls
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_utils/run_tracker_utils.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_run_tracker.py
  src/promptflow/tests/executor/unittests/_utils/test_run_tracker_utils.py
Labels: promptflow, executor

#1969 [Executor] Update prompt info in otel traces
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/tests/executor/e2etests/test_traces.py
Labels: promptflow, executor

#2004 improve get_mac_address
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#2028 [Sample] rename chat-basic
  .github/workflows/samples_flows_chat_chat_basic.yml
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  docs/how-to-guides/execute-flow-as-a-function.md
  docs/how-to-guides/init-and-test-a-flow.md
  docs/reference/flow-yaml-schema-reference.md
  examples/README.md
  examples/flows/chat/chat-basic/README.md
  examples/flows/chat/chat-basic/chat.jinja2
  examples/flows/chat/chat-basic/data.jsonl
  examples/flows/chat/chat-basic/flow.dag.yaml
  examples/flows/chat/chat-basic/requirements.txt
  examples/flows/evaluation/eval-qna-non-rag/README.md
  examples/flows/evaluation/eval-qna-rag-metrics/README.md
  examples/tutorials/flow-fine-tuning-evaluation/promptflow-quality-improvement.md
  examples/tutorials/get-started/flow-as-function.ipynb
  scripts/docs/conf.py
  scripts/readme/ghactions_driver/readme_templates/README.md.jinja2
  scripts/readme/ghactions_driver/resource_resolver.py
  scripts/readme/workflow_generator.py
Labels: documentation, examples, fundamental

#2001 [promptflow][internal] Support batch run scenario when generate line run
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_sdk/_service/apis/ui.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/promptflow/_utils/async_utils.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: sdk, promptflow, executor

#1986 [Executor] Add embedding trace type and update attributes for it
  src/promptflow/promptflow/_core/openai_injector.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/contracts/trace.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_api_injector.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/openai_inject_recording.py
  src/promptflow/tests/test_configs/flows/openai_embedding_api_flow/embedding.py
  src/promptflow/tests/test_configs/flows/openai_embedding_api_flow/flow.dag.yaml
Labels: promptflow, executor

#1996 Create util method to create new thread with context vars.
  src/promptflow/promptflow/_utils/thread_utils.py
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/tests/executor/e2etests/test_logs.py
  src/promptflow/tests/executor/unittests/_utils/test_thread_utils.py
Labels: promptflow, executor

#1966 Add resume from contract to batch engine
  src/promptflow/promptflow/batch/_batch_engine.py
Labels: promptflow, executor

#2042 Update runtime release log doc
  docs/cloud/azureai/runtime-change-log.md
Labels: documentation

#2040 Support data asset input
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/gen_test_data/common.py
  examples/gen_test_data/gen_test_data/run.py
Labels: examples

#2035 [promptflow][internal] Support trace UI page
  .github/pipelines/compliance_check.yml
  src/promptflow/promptflow/__init__.py
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_orm/trace.py
  src/promptflow/promptflow/_sdk/_service/apis/line_run.py
  src/promptflow/promptflow/_sdk/_service/apis/span.py
  src/promptflow/promptflow/_sdk/_service/apis/ui.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/static/TraceViewPage.min.js
  src/promptflow/promptflow/_sdk/_service/templates/index.html
  src/promptflow/promptflow/_sdk/_service/templates/ui_traces.html
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, promptflow, fundamental

#2045 Update msi package process and get latest json version when msi pf upgrade
  .github/workflows/build_msi_installer.yml
  src/promptflow/promptflow/_cli/_pf/_upgrade.py
  src/promptflow/promptflow/_utils/version_hint_utils.py
Labels: cli, promptflow, fundamental

#2050 Fixing the AssistantDefinition not serializable warnings when ensure input serializable
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/_utils/utils.py
Labels: promptflow, executor

#2052 [promptflow][internal] Feat: update TraceViewPage.min.js
  src/promptflow/promptflow/_sdk/_service/static/TraceViewPage.min.js
Labels: sdk, promptflow

#2047 [SDK][Test] Use separate thread for experiment test
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: sdk, promptflow

#2049 [promptflow][internal] Fix `cumulative_token_count` schema error
  src/promptflow/MANIFEST.in
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_service/apis/line_run.py
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_trace.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: sdk, promptflow

#2048 [Fundamental]Fix Compliance Check
  .github/pipelines/compliance_check.yml
  scripts/compliance-check/user_exclusion.xml
Labels: fundamental

#2055 [promptflow][internal] Fix traces missing attributes collection bug
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, promptflow

#2054 [Internal][Executor] Add line_timeout_sec to the initialization parameters of BatchEngine
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
Labels: promptflow, executor

#2058 [promptflow][bugfix] XFail for flaky test `test_get_details_against_partial_completed_run`
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: promptflow

#1959 Log each pfs request to pfs.log
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/promptflow/_trace/_start_trace.py
Labels: sdk, promptflow

#2057 [promptflow][internal] Fix visualize HTML missing JS bug
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_visualize_functions.py
  src/promptflow/promptflow/_sdk/data/bulkTestDetails.min.js
  src/promptflow/promptflow/_sdk/data/visualize.j2
  src/promptflow/promptflow/contracts/_run_management.py
  src/promptflow/tests/executor/unittests/contracts/test_run_management.py
Labels: sdk, promptflow, executor

#2060 [Internal] Filter None value out when get otel attributes
  src/promptflow/promptflow/_core/operation_context.py
Labels: promptflow, executor

#2063 [Doc] Fix 404 doc link
  docs/reference/tools-reference/faiss_index_lookup_tool.md
Labels: documentation

#2066 Add skip-open-browser for pf flow test --ui
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
Labels: sdk, cli, promptflow

#2067 [SDK] Support non-dict eager flow output in exp test
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/entities/_experiment.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/test_configs/experiments/eager-flow-exp-template/flow.exp.yaml
Labels: sdk, promptflow

#2043 [Improvement][Executor] Use subprocess to run flow/node in executor server
  src/promptflow/promptflow/_core/operation_context.py
  src/promptflow/promptflow/_utils/logger_utils.py
  src/promptflow/promptflow/executor/_service/_errors.py
  src/promptflow/promptflow/executor/_service/apis/common.py
  src/promptflow/promptflow/executor/_service/apis/execution.py
  src/promptflow/promptflow/executor/_service/app.py
  src/promptflow/promptflow/executor/_service/contracts/base_request.py
  src/promptflow/promptflow/executor/_service/contracts/execution_request.py
  src/promptflow/promptflow/executor/_service/utils/process_utils.py
  src/promptflow/promptflow/executor/_service/utils/service_utils.py
  src/promptflow/tests/executor/unittests/executor/_service/__init__.py
  src/promptflow/tests/executor/unittests/executor/_service/apis/__init__.py
  src/promptflow/tests/executor/unittests/executor/_service/apis/test_common.py
  src/promptflow/tests/executor/unittests/executor/_service/apis/test_execution.py
  src/promptflow/tests/executor/unittests/executor/_service/contracts/__init__.py
  src/promptflow/tests/executor/unittests/executor/_service/contracts/test_execution_request.py
  src/promptflow/tests/executor/unittests/executor/_service/utils/__init__.py
  src/promptflow/tests/executor/unittests/executor/_service/utils/test_process_utils.py
  src/promptflow/tests/executor/unittests/executor/_service/utils/test_service_utils.py
  src/promptflow/tests/executor/utils.py
Labels: promptflow, executor

#2053 [SDK] improve Exception
  src/promptflow/promptflow/_utils/yaml_utils.py
  src/promptflow/promptflow/exceptions.py
Labels: promptflow

#2051 [SDK] improve systemExit exception
  src/promptflow/promptflow/_cli/_pf/_connection.py
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_pf/_tool.py
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/_cli/_pf_azure/_run.py
  src/promptflow/promptflow/_cli/_pf_azure/entry.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_azure_cli_perf.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli_perf.py
Labels: sdk, cli, promptflow

#2072 [SDK][Internal]Fix inconsistent reference id in experiment start
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: sdk, promptflow

#2074 [Doc] fix doc typo: execute_flow_as_function
  docs/how-to-guides/execute-flow-as-a-function.md
Labels: documentation

#2056 [SDK] Support environment variable in eager mode
  src/promptflow/promptflow/_sdk/schemas/_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/environment_variables/entry.py
  src/promptflow/tests/test_configs/eager_flows/environment_variables/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/environment_variables_connection/entry.py
  src/promptflow/tests/test_configs/eager_flows/environment_variables_connection/flow.dag.yaml
Labels: sdk, promptflow

#1769 disable openai built-in retry mechanism for better debuggability and real-time status updates
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/tests/test_aoai.py
  src/promptflow-tools/tests/test_aoai_gptv.py
  src/promptflow-tools/tests/test_openai.py
  src/promptflow-tools/tests/test_openai_gpt4v.py
Labels: promptflow-tools

#2059 [Bugfix] fix naming error of legacy 'OpenSourceLLMOnlineEndpointError'
  src/promptflow-tools/promptflow/tools/open_model_llm.py
Labels: promptflow-tools

#2073 [Internal] Refine the retry-after interval for openai retry error
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/tests/test_handle_openai_error.py
Labels: promptflow-tools

#2077 [Tests] Fix environment related eager flow tests & test_get_incomplete_run
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/environment_variables/env_var.py
  src/promptflow/tests/test_configs/eager_flows/environment_variables/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/environment_variables_connection/evc.py
  src/promptflow/tests/test_configs/eager_flows/environment_variables_connection/flow.dag.yaml
Labels: promptflow

#2079 [CLI] remove batch run timeout tests.
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: promptflow

#2080 [SDK][Connection] Support serverless connection type
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/schemas/_connection.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_arm_connection_build.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/tests/test_configs/connections/serverless_connection.yaml
Labels: sdk, promptflow

#2027 [Executor] Gen flow meta for eager flow
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow_with_trace.meta.json
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow_with_trace.py
Labels: promptflow, executor

#2083 [SDK] Add serverless connection to init & fix vulnerable package
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/entities/__init__.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/promptflow/connections/__init__.py
  src/promptflow/setup.py
Labels: sdk, promptflow

#2062 Convert config.ini to config.yml
  .gitignore
  docs/cloud/azureai/generate-test-data-cloud.md
  docs/how-to-guides/generate-test-data.md
  examples/gen_test_data/README.md
  examples/gen_test_data/config.ini.example
  examples/gen_test_data/config.yml.example
  examples/gen_test_data/gen_test_data/run.py
  examples/gen_test_data/requirements.txt
  examples/gen_test_data/requirements_cloud.txt
Labels: documentation, examples

#2076 [Executor][Bugfix] Adjust flow traces logic to make sure error is correctly raised
  src/promptflow/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#2086 Load image in local storage
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/tests/executor/unittests/storage/test_local_storage_operations.py
Labels: sdk, promptflow, executor

#2084 [Executor][Feature]Enable serverless connection by converting to openai connection
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
Labels: promptflow, executor

#2069 [promptflow][internal] Support query spans via trace id & add hash header in list line runs
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_orm/trace.py
  src/promptflow/promptflow/_sdk/_service/apis/line_run.py
  src/promptflow/promptflow/_sdk/_service/apis/span.py
  src/promptflow/promptflow/_sdk/_service/static/TraceViewPage.min.js
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_trace.py
Labels: sdk, promptflow

#2095 Add resume batch run feature
  src/promptflow/promptflow/_utils/feature_utils.py
Labels: promptflow

#2090 [Internal] Return connection in env var for flow
  src/promptflow/promptflow/_core/connection_manager.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/test_configs/flows/flow_with_connection_ref_environment_variables/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_connection_ref_environment_variables/inputs.jsonl
  src/promptflow/tests/test_configs/flows/flow_with_connection_ref_environment_variables/print_env.py
Labels: sdk, promptflow, executor

#2096 Resolve CosmosResourceExistsError
  src/promptflow/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cosmosdb.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cosmosdb.py
Labels: sdk, promptflow

#2041 [Tool] Generate input settings of script tool in meta info
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_core/tool_settings_parser.py
  src/promptflow/promptflow/_core/tool_validation.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/operations/_tool_operations.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/executor/e2etests/test_script_tool_generator.py
  src/promptflow/tests/executor/unittests/_core/test_tool_settings_parser.py
  src/promptflow/tests/executor/unittests/_core/test_tool_validation.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_tool.py
  src/promptflow/tests/test_configs/flows/flow-with_tool_settings/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow-with_tool_settings/tool_with_input_settings.py
  src/promptflow/tests/test_configs/flows/flow-with_tool_settings/tool_with_invalid_input_settings.py
  src/promptflow/tests/test_configs/tools/tool_with_invalid_dynamic_list.py
  src/promptflow/tests/test_configs/tools/tool_with_invalid_enabled_by.py
  src/promptflow/tests/test_configs/tools/tool_with_invalid_icon.py
  src/promptflow/tests/test_configs/tools/tool_with_invalid_schema.py
Labels: sdk, promptflow, executor

#2003 Add resume to batch engine
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_utils/execution_utils.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/executor/unittests/batch/test_batch_engine.py
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/flow_artifacts/000000000_000000000.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/flow_artifacts/000000002_000000002.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/flow_outputs/output.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/inputs.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/logs.txt
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/meta.json
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/metrics.json
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/node_artifacts/grade/000000000.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/node_artifacts/grade/000000001.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/node_artifacts/grade/000000002.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/outputs.jsonl
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/aggregation_assert.py
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/calculate_accuracy.py
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/expected_metrics.json
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/expected_status_summary.json
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/flow.dag.yaml
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/grade.py
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/samples.json
  src/promptflow/tests/test_configs/runs/classification_accuracy_evaluation_default_20240208_152402_694000/snapshot/samples.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/flow_artifacts/000000000_000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/flow_artifacts/000000002_000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/flow_outputs/output.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/inputs.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/logs.txt
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/meta.json
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/metrics.json
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/classify_with_llm/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/classify_with_llm/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/classify_with_llm/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/convert_to_dict/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/convert_to_dict/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/convert_to_dict/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/fetch_text_content_from_url/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/fetch_text_content_from_url/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/fetch_text_content_from_url/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/prepare_examples/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/prepare_examples/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/prepare_examples/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/summarize_text_content/000000000.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/summarize_text_content/000000001.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/node_artifacts/summarize_text_content/000000002.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/outputs.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/convert_to_dict.py
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/data.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/fetch_text_content_from_url.py
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/fetch_text_content_from_url_input.jsonl
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/flow.dag.yaml
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/prepare_examples.py
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/samples.json
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/summarize_text_content.jinja2
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/summarize_text_content__variant_1.jinja2
  src/promptflow/tests/test_configs/runs/web_classification_default_20240207_165606_643000/snapshot/webClassification20.csv
Labels: promptflow, executor

#2082 [SDK/CLI] Add pfazure flow update
  docs/reference/pfazure-command-reference.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/azure/_entities/_flow.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_update_flow.yaml
Labels: documentation, sdk, cli, promptflow

#2061 [SDK] Support validation for eager flow
  README.md
  src/promptflow/promptflow/_sdk/entities/_eager_flow.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
Labels: sdk, promptflow

#2094 [internal][trace] Support list line runs with `run` and `experiment`
  src/promptflow/promptflow/_sdk/_orm/trace.py
  src/promptflow/promptflow/_sdk/_service/apis/line_run.py
  src/promptflow/promptflow/_sdk/_service/static/TraceViewPage.min.js
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/promptflow/_trace/_start_trace.py
Labels: sdk, promptflow

#2104 [Example] Update port in app-service examples
  examples/tutorials/flow-deploy/azure-app-service/deploy.ps1
  examples/tutorials/flow-deploy/azure-app-service/deploy.sh
Labels: examples

#2093 [SDK][azure] Fix session id calculation logic to make sure image change will take effect
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/_constants/_flow.py
  src/promptflow/promptflow/azure/_entities/_flow.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_flow_id_in_submission.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_session_id_with_different_env.yaml
Labels: sdk, promptflow

#2115 [Bugfix] Update expected error message of 'test_completion_with_chat_model'
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/tests/test_aoai_gptv.py
Labels: promptflow-tools

#2123 [internal][bugfix] Handle illegal JSON values in trace
  src/promptflow/promptflow/_sdk/entities/_trace.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_trace.py
Labels: sdk, promptflow

#2120 [Document] Add change log.
  src/promptflow/CHANGELOG.md
Labels: promptflow

#2106 [internal][trace] Support `pf config set trace.provider` and print url for local to cloud
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, cli, promptflow

#2124 [internal][trace] Support icon for trace UI page
  src/promptflow/promptflow/_sdk/_service/static/favicon.ico
  src/promptflow/promptflow/_sdk/_service/templates/index.html
Labels: sdk, promptflow

#2117 [Connection] Add auth_mode for AzureOpenAIConnection
  .cspell.json
  .pre-commit-config.yaml
  setup.cfg
  src/promptflow/dev-connections.json.example
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/entities/_connection.py
  src/promptflow/promptflow/_sdk/schemas/_connection.py
  src/promptflow/promptflow/azure/_models/__init__.py
  src/promptflow/promptflow/azure/_models/_models.py
  src/promptflow/promptflow/azure/_models/_version.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_arm_connection_build.py
  src/promptflow/tests/sdk_cli_test/.coveragerc
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_connection.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/tests/test_configs/connections/azure_openai_aad_connection.yaml
  src/promptflow/tests/test_configs/connections/invalid/azure_openai_missing_key.yaml
  src/promptflow/tests/test_configs/flows/flow_with_aad_connection/assert_aad_conn.py
  src/promptflow/tests/test_configs/flows/flow_with_aad_connection/flow.dag.yaml
Labels: sdk, promptflow

#2125 [internal][bugfix] Fix wrong metrics retrieval logic in JavaScript
  src/promptflow/promptflow/_sdk/_service/static/TraceViewPage.min.js
Labels: sdk, promptflow

#2126 [Internal] Add test to guard env var in flow.dag.yaml and run.yaml
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/flows/flow_with_environment_variables/inputs_1.jsonl
  src/promptflow/tests/test_configs/flows/flow_with_environment_variables/run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_environment_variables.yaml
Labels: promptflow

#2098 Save local run's trace to cosmosDB when workspace info is configured
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/promptflow/_trace/_start_trace.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/client.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cosmosdb.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_span.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_summary.py
Labels: sdk, promptflow

#2097 [internal][trace] Support persisting `events`, `links` and `status.description`
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_service/apis/span.py
  src/promptflow/promptflow/_sdk/entities/_trace.py
Labels: sdk, promptflow

#2039 pfserving support mdc exporter for otel trace
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/extension/azureml_extension.py
  src/promptflow/promptflow/_sdk/_serving/extension/default_extension.py
  src/promptflow/promptflow/_sdk/_serving/monitor/mdc_exporter.py
Labels: sdk, promptflow

#2127 [Executor][Trace] Enable traces for LLM streaming
  src/promptflow/promptflow/_core/tracer.py
Labels: promptflow, executor

#2139 Add __init__ file for _storage folder
  src/promptflow/promptflow/azure/_storage/__init__.py
  src/promptflow/promptflow/azure/_storage/cosmosdb/__init__.py
Labels: sdk, promptflow

#2140 Init sys.stdout and sys.stderr to avoid exception when started in detach mode.
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_utils.py
Labels: sdk, promptflow

#2107 Tune prompt to avoid question with `in this context/in given code/in table`
  examples/gen_test_data/gen_test_data/generate_test_data_flow/generate_question_prompt.jinja2
Labels: examples

#2103 [Executor] Line process to wait for otel exporter
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
Labels: promptflow, executor

#2092 Update pfs start command
  src/promptflow/promptflow/_sdk/_service/entry.py
Labels: sdk, promptflow

#2116 Fix bug when collect package tools
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  src/promptflow/promptflow/_core/tools_manager.py
Labels: documentation, promptflow, executor

#2128 [Internal]Modify gen_json_schema to allow input parameters to generate
  scripts/json_schema/gen_json_schema.py
Labels: fundamental
