Repository microsoft/promptflow, pull requests merged in 2024-05, with the labels that each got.

#3086 Add execution target to distinguish dag or non-dag flow
  src/promptflow-core/promptflow/executor/_prompty_executor.py
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-tracing/promptflow/tracing/_operation_context.py
Labels: promptflow-core, promptflow-tracing

#3097 Add more instructions to the instructions.md, notebook and link to it.
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/Load_saved_evaluator.ipynb
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/answer.py
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/apology-prompty/apology.prompty
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/apology-prompty/sample.json
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/apology_dag/apology.py
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/apology_dag/flow.dag.yaml
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/evaluation_dataset_context.jsonl
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/flex_flow/answer.py
  src/promptflow-evals/samples/bug-bash/LoadSaveEvals/flex_flow/flow.flex.yaml
  src/promptflow-evals/samples/bug-bash/instructions.md
Labels: promptflow-evals

#3098 Nirovins/additional instructions
  src/promptflow-evals/samples/bug-bash/instructions.md
Labels: promptflow-evals

#3104 Local to remote tracking for evaluation
  .github/workflows/promptflow-evals-e2e-test.yml
  .github/workflows/promptflow-evals-unit-test.yml
  src/promptflow-evals/promptflow/evals/_user_agent.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: fundamental, promptflow-evals

#3057 fix config override tracing.destination
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_pf_client.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
Labels: promptflow-devkit

#3082 Add environment into flow.dag.yaml for eval-chat-math flow
  examples/flows/evaluation/eval-chat-math/flow.dag.yaml
Labels: examples

#3111 [CI] Update link check white list
  scripts/docs/conf.py
Labels: fundamental

#3081 [Internal] Make runtime cloud trace also async
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
Labels: promptflow-devkit

#3077 Change tools-tests workflow to use federated credential instead of client secret
  .github/workflows/tools_secret_upload.yml
  .github/workflows/tools_tests.yml
  scripts/tool/generate_connection_config.py
  scripts/tool/upload_tool_secret.py
  scripts/tool/utils/secret_manager.py
  scripts/tool/validate_tool_secret.py
Labels: fundamental

#3115 [promptflow] Bump pf version in main branch
  src/promptflow/promptflow/_version.py
Labels: promptflow

#3112 [pfserving] Improve log and add OTLP exporter aad auth support
  src/promptflow-core/promptflow/core/_serving/extension/azureml_extension.py
  src/promptflow-core/promptflow/core/_serving/extension/otel_exporter_provider_factory.py
  src/promptflow-core/promptflow/core/_serving/flow_invoker.py
Labels: promptflow-core

#3074 Add util method to summarize trace telemetry.
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-devkit/promptflow/_internal/__init__.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/tracing_utils.py
  src/promptflow-devkit/tests/unittests/_sdk/_utilities/test_tracing_utils.py
Labels: promptflow-core, promptflow-devkit

#3121 Removing private util depenency
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
Labels: promptflow-evals

#3109 Update promptflow evals msi package
  scripts/installer/windows/scripts/promptflow.spec.jinja2
Labels: fundamental

#3048 [trace][bugfix] Refine persist logic to handle aggregation node in eval run
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_trace.py
Labels: promptflow-devkit

#3117 [Connection] Add AI services connection & AI search AAD
  scripts/json_schema/gen_json_schema.py
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-core/promptflow/connections/__init__.py
  src/promptflow-core/promptflow/core/_connection.py
  src/promptflow-core/promptflow/core/_connection_provider/_workspace_connection_provider.py
  src/promptflow-core/tests/azureml-serving/unittests/test_workspace_connection_provider.py
  src/promptflow-devkit/promptflow/_sdk/entities/_connection.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_connection.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/tests/test_configs/connections/azure_ai_services_aad_connection.yaml
  src/promptflow/tests/test_configs/connections/azure_ai_services_connection.yaml
  src/promptflow/tests/test_configs/connections/cognitive_search_aad_connection.yaml
Labels: promptflow, fundamental, promptflow-core, promptflow-devkit

#3124 [utils] resolve_flow_language returns python when flow path is prompty
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_utils.py
Labels: promptflow-devkit

#3127 Smaller retry count for UnprocessableEntityError(422)
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/tests/test_handle_openai_error.py
Labels: promptflow-tools

#3137 Revert version in pyproject.toml
  src/promptflow-evals/pyproject.toml
Labels: promptflow-evals

#3141 Removing dependency on azure-ai-ml
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/flow/evaluate_with_rai_service.py
  src/promptflow-evals/pyproject.toml
Labels: promptflow-evals

#3090 [Sample] Add a sample which converts a langchain app to flex flow with custom connection
  .github/workflows/samples_flex_flows_eval_criteria_with_langchain.yml
  .github/workflows/samples_flexflows_evalcriteriawithlangchain_langchaineval.yml
  examples/README.md
  examples/flex-flows/eval-criteria-with-langchain/README.md
  examples/flex-flows/eval-criteria-with-langchain/data.jsonl
  examples/flex-flows/eval-criteria-with-langchain/eval_conciseness.py
  examples/flex-flows/eval-criteria-with-langchain/flow.flex.yaml
  examples/flex-flows/eval-criteria-with-langchain/langchain-eval.ipynb
  examples/flex-flows/eval-criteria-with-langchain/requirements.txt
  scripts/docs/conf.py
Labels: examples, fundamental

#3075 [Doc]Update flex flow doc
  .cspell.json
  docs/how-to-guides/develop-a-flex-flow/class-based-flow.md
  docs/how-to-guides/develop-a-flex-flow/connection-support.md
  docs/how-to-guides/develop-a-flex-flow/function-based-flow.md
  docs/how-to-guides/develop-a-flex-flow/index.md
  docs/how-to-guides/develop-a-flex-flow/input-output-format.md
  docs/how-to-guides/develop-a-flex-flow/model-config.md
  scripts/docs/conf.py
Labels: documentation, fundamental

#3134 [Fundamental] Fix Recording.
  src/promptflow-devkit/promptflow/_sdk/_orm/retry.py
  src/promptflow-devkit/pyproject.toml
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_chat_group.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_serve_fastapi.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
Labels: promptflow-devkit

#3063 [SDK] Support default value specified in flow.flex.yaml & type validation for flex flow
  src/promptflow-azure/promptflow/azure/_entities/_flow.py
  src/promptflow-azure/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-core/promptflow/contracts/flow.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/__init__.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/test_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/utils.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/signature_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/dag.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_run.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/test_configs/datas/simple_eager_flow_data_numbers.jsonl
  src/promptflow/tests/test_configs/eager_flows/basic_with_yaml_default/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/basic_with_yaml_default/init.json
  src/promptflow/tests/test_configs/eager_flows/basic_with_yaml_default/inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/basic_with_yaml_default/inputs_override.jsonl
  src/promptflow/tests/test_configs/eager_flows/basic_with_yaml_default/run.yaml
  src/promptflow/tests/test_configs/eager_flows/basic_with_yaml_default/yaml_default.py
  src/promptflow/tests/test_configs/eager_flows/code_yaml_signature_merge/data.jsonl
  src/promptflow/tests/test_configs/eager_flows/code_yaml_signature_merge/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/code_yaml_signature_merge/partial_signatures.py
  src/promptflow/tests/test_configs/eager_flows/stream_prompty/flow.flex.yaml
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-azure

#3142 pfserving tracing improvemnt
  src/promptflow-core/promptflow/core/_serving/app_base.py
  src/promptflow-core/promptflow/core/_serving/constants.py
  src/promptflow-core/promptflow/core/_serving/extension/default_extension.py
  src/promptflow-core/promptflow/core/_serving/flow_invoker.py
  src/promptflow-core/promptflow/core/_serving/monitor/flow_monitor.py
  src/promptflow-core/promptflow/executor/flow_executor.py
Labels: promptflow-core

#3129 [prompty] expose prompty.render to get the prompt template
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
Labels: promptflow-core, promptflow-devkit

#3153 [Internal] Update tool validation json schema && update gen json schema script
  scripts/json_schema/gen_json_schema.py
  src/promptflow-core/promptflow/_core/data/tool.schema.json
Labels: fundamental, promptflow-core

#3133 [prompty] sample as input signature in prompty
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_save.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow/tests/test_configs/prompty/sample_as_input_signature.prompty
Labels: promptflow, promptflow-core, promptflow-devkit

#3135 Adding test to check fro PF eval dependencies on private API's
  src/promptflow-azure/promptflow/azure/_dependencies/_pf_evals.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_upload.py
  src/promptflow-devkit/promptflow/_dependencies/_pf_evals.py
  src/promptflow-devkit/tests/unittests/_sdk/_utilities/test_pf_eval_dependencies.py
Labels: promptflow-devkit, promptflow-azure

#3160 replace doc link for copilot sample to main branch
  docs/tutorials/index.md
Labels: documentation

#3156 support async streaming with fastapi engine
  src/promptflow-core/promptflow/core/_serving/_errors.py
  src/promptflow-core/promptflow/core/_serving/response_creator.py
  src/promptflow-core/promptflow/core/_serving/v1/flask_response_creator.py
  src/promptflow-core/promptflow/core/_serving/v2/fastapi_response_creator.py
  src/promptflow-devkit/tests/sdk_cli_test/conftest.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_serve_fastapi.py
  src/promptflow/tests/test_configs/flows/async_generator_tools/echo.py
  src/promptflow/tests/test_configs/flows/async_generator_tools/flow.dag.yaml
Labels: promptflow, promptflow-core, promptflow-devkit

#3149 [SDK/CLI][Executor] Add new folder for e2e test cases
  src/promptflow/tests/test_configs/e2e_test_flows/README.md
  src/promptflow/tests/test_configs/e2e_test_flows/add_test_flow_folder.png
  src/promptflow/tests/test_configs/e2e_test_flows/basic_flex_flow/flow.flex.yaml
  src/promptflow/tests/test_configs/e2e_test_flows/basic_flex_flow/inputs.jsonl
  src/promptflow/tests/test_configs/e2e_test_flows/basic_flex_flow/print_input_flex.py
  src/promptflow/tests/test_configs/e2e_test_flows/basic_flex_flow/test_configs/batch_run_config_1.json
Labels: promptflow

#3157 Generate reference docs for azureml-rag
  .github/workflows/build_doc_ci.yml
  .github/workflows/publish_doc.yml
  docs/reference/index.md
  scripts/docs/doc_generation.ps1
  src/promptflow-rag/CHANGELOG.md
Labels: documentation, fundamental

#3163 [Executor] Fix Executor Pipeline recordings
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.bak
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.dat
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.dir
Labels: fundamental

#3151 [Experiment] Support command node test
  src/promptflow-devkit/promptflow/_cli/_pf/_experiment.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/experiment_orchestrator.py
  src/promptflow-devkit/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_experiment_apis.py
Labels: promptflow-devkit

#3154 [devkit][trace] Handle inputs/output in span attributes & non-JSON string inputs/output
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_trace.py
Labels: promptflow-devkit

#3139 Use ip directly to check pfs status
  docs/how-to-guides/develop-a-prompty/index.md
  docs/how-to-guides/tracing/trace-ui.md
  examples/tutorials/tracing/README.md
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_service/README.md
  src/promptflow-devkit/promptflow/_sdk/_service/utils/utils.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/tests/conftest.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_cli.py
  src/promptflow-recording/promptflow/recording/local/test_utils.py
Labels: documentation, examples, promptflow-devkit

#3166 [devkit][trace] Refine list collections API to return a list of JSON
  src/promptflow-devkit/promptflow/_sdk/_service/apis/line_run.py
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
  src/promptflow-devkit/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_trace.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_trace.py
Labels: promptflow-devkit

#3167 [azure] Update Swagger generated REST client code
  src/promptflow-azure/promptflow/azure/_restclient/README.md
  src/promptflow-azure/promptflow/azure/_restclient/flow/aio/operations/_trace_sessions_operations.py
  src/promptflow-azure/promptflow/azure/_restclient/flow/models/__init__.py
  src/promptflow-azure/promptflow/azure/_restclient/flow/models/_azure_machine_learning_designer_service_client_enums.py
  src/promptflow-azure/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow-azure/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow-azure/promptflow/azure/_restclient/flow/operations/_trace_sessions_operations.py
  src/promptflow-azure/promptflow/azure/_restclient/swagger.json
Labels: promptflow-azure

#3130 Refine openai native error message with invalid tool calls
  docs/reference/tools-reference/llm-tool.md
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/tests/test_handle_openai_error.py
Labels: documentation, promptflow-tools

#3169 Don't pass "presence_penalty" and "frequency_penalty" when they are none for completion api
  src/promptflow-tools/promptflow/tools/aoai.py
Labels: promptflow-tools

#3155 [prompty] prompty support tools/functions
  src/promptflow-core/promptflow/core/_errors.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/test_configs/prompty/prompty_example_with_tools.prompty
Labels: promptflow, promptflow-core, promptflow-devkit

#3181 [promptflow-evals] Bug Fix: The evaluator no longer performs string conversion for inputs as it did previously
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/unittests/test_built_in_evaluator.py
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.bak
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.dat
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.dir
Labels: promptflow-evals

#3146 [Devkit] Remove variant from flex/prompty run
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow-devkit, promptflow-azure

#3177 [Internal] Remove env var param from experiment api
  scripts/docs/conf.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/experiment_orchestrator.py
  src/promptflow-devkit/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_experiment.py
Labels: fundamental, promptflow-devkit

#3187 [Doc] Remove python version to avoid confusion
  .github/workflows/build_doc_ci.yml
  .github/workflows/publish_doc.yml
  README.md
  src/promptflow/README.md
Labels: promptflow, fundamental

#3067 Fix bugs about OpenAI tokens
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
  src/promptflow-devkit/promptflow/batch/_result.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow-tracing/promptflow/tracing/_openai_utils.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/executor/e2etests/test_eager_flow.py
  src/promptflow/tests/executor/unittests/batch/test_result.py
  src/promptflow/tests/test_configs/eager_flows/callable_class_with_openai/openai_chat.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing

#3170 [prompty] Fix prompt config override does not take effect during batch run
  src/promptflow-core/promptflow/executor/_prompty_executor.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-devkit/promptflow/_sdk/_pf_client.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
Labels: promptflow-core, promptflow-devkit

#3190 [devkit][trace] Fix "Failed to load trace ... is not a valid JSON" when traces have invalid JSON values
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_trace.py
Labels: promptflow-devkit

#3150 [prompty] prompty support retry
  src/promptflow-core/promptflow/core/_errors.py
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-core/promptflow/core/_utils.py
  src/promptflow-devkit/promptflow/_cli/_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty_error_handler.py
  src/promptflow-recording/promptflow/recording/local/record_storage.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
Labels: promptflow-core, promptflow-devkit

#3192 Update msi release workflow because disable storage account key access
  .github/workflows/build_msi_installer.yml
Labels: fundamental

#3184 Add environment for build job so that we can only use one federated credential
  .github/workflows/tools_tests.yml
Labels: fundamental

#3178 [doc][trace] Add page for trace local to cloud
  docs/cloud/azureai/tracing/index.md
  docs/cloud/index.md
  docs/media/trace/trace-ui-portal-demo.gif
  docs/reference/pf-command-reference.md
Labels: documentation

#3164 Generate flex yaml file in temp folder when testing non-yaml flex flow
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/flex.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-devkit

#3191 [Executor] Handle the case where the default value is empty string
  src/promptflow-core/promptflow/_utils/tool_utils.py
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_empty_string/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_empty_string/flow_with_empty_string.py
Labels: promptflow, promptflow-core

#3189 [Executor] Ensure flow inputs for flex flow
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/primitive_type_inputs/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/primitive_type_inputs/init.json
  src/promptflow/tests/test_configs/eager_flows/primitive_type_inputs/primitive_type_inputs.py
Labels: promptflow, promptflow-core, promptflow-devkit

#3168 [SDK]Ban secrets model config value in cloud run & add validation to init value
  src/promptflow-azure/promptflow/azure/_entities/_flow.py
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_run.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_exception_in_model_config.yaml
  src/promptflow/tests/test_configs/eager_flows/basic_model_config/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/basic_model_config/requirements.txt
  src/promptflow/tests/test_configs/eager_flows/basic_single_model_config/class_with_single_model_config.py
  src/promptflow/tests/test_configs/eager_flows/basic_single_model_config/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/basic_single_model_config/inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/basic_single_model_config/run.yaml
Labels: promptflow, promptflow-devkit, promptflow-azure

#3175 [azure][trace] Refine error message when setup Cosmos DB
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-azure/promptflow/azure/_constants/_trace.py
  src/promptflow-azure/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow-azure/promptflow/azure/_utils/_tracing.py
  src/promptflow-azure/promptflow/azure/operations/_trace_operations.py
  src/promptflow-azure/tests/sdk_cli_azure_test/unittests/test_trace.py
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-azure

#3180 [Prompty] Support file reference in prompty file
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow/tests/test_configs/datas/prompty_configuration.json
  src/promptflow/tests/test_configs/datas/prompty_sample.json
  src/promptflow/tests/test_configs/datas/prompty_sample.yaml
  src/promptflow/tests/test_configs/datas/prompty_tools.json
  src/promptflow/tests/test_configs/prompty/prompty_with_reference_file.prompty
Labels: promptflow, promptflow-core, promptflow-devkit

#3199 [Internal] add public function get_trace_destination
  src/promptflow-devkit/promptflow/_dependencies/_pf_evals.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/tests/unittests/_sdk/_utilities/test_pf_eval_dependencies.py
Labels: promptflow-devkit

#2703 Add simulator.
  .cspell.json
  .github/workflows/promptflow-evals-unit-test.yml
  src/promptflow-evals/promptflow/evals/synthetic/README.md
  src/promptflow-evals/promptflow/evals/synthetic/__init__.py
  src/promptflow-evals/promptflow/evals/synthetic/_conversation/__init__.py
  src/promptflow-evals/promptflow/evals/synthetic/_conversation/_conversation.py
  src/promptflow-evals/promptflow/evals/synthetic/_conversation/constants.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/__init__.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_async_http_client.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_identity_manager.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_proxy_completion_model.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_rai_client.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_template_handler.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/models.py
  src/promptflow-evals/promptflow/evals/synthetic/_utils.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_scenario.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
  src/promptflow-evals/promptflow/evals/synthetic/qa.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/samples/bug-bash/instructions.md
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_adv_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/unittests/test_qa_simulator.py
  src/promptflow-evals/tests/evals/unittests/test_simulator.py
  src/promptflow-evals/tests/evals/unittests/test_synthetic_callback_conv_bot.py
  src/promptflow-evals/tests/evals/unittests/test_synthetic_conversation_bot.py
Labels: fundamental, promptflow-evals

#3205 Callback fix and api call fix
  src/promptflow-evals/promptflow/evals/synthetic/README.md
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_proxy_completion_model.py
Labels: promptflow-evals

#3158 [promptflow-evals] Add ContentSafetyChatEvaluator
  .github/workflows/promptflow-evals-e2e-test.yml
  src/promptflow-evals/promptflow/evals/evaluators/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_chat.py
  src/promptflow-evals/samples/built_in_evaluators.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/unittests/test_content_safety_chat_evaluator.py
Labels: fundamental, promptflow-evals

#3065 [Eval] Add model config signatures for evaluators so it can be used as flex flow
  src/promptflow-evals/promptflow/evals/evaluators/_chat/_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_qa/_qa.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
Labels: promptflow-evals

#3204 Changing tracking uri to azure_ai_project
  src/promptflow-evals/promptflow/evals/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/samples/chat_sample_data.jsonl
  src/promptflow-evals/samples/evaluate_chat.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3213 [Fix bug] ConfigFileNotFound error when test non-yaml flow in azureml trace provider
  examples/flex-flows/chat-stream/flow.flex.yaml
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
Labels: examples, promptflow-devkit

#3211 Add one line in init for dev setup
  scripts/dev-setup/main.py
Labels: fundamental

#3197 add flow type to telemetry
  src/promptflow-azure/promptflow/azure/operations/_flow_operations.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_telemetry.py
Labels: promptflow-core, promptflow-devkit, promptflow-azure

#3210 [prompty] Prompty supports to estimate token count
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
Labels: promptflow-core, promptflow-devkit

#3195 [SDK] Gen meta before update signatures
  src/promptflow-azure/promptflow/azure/_entities/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/test_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/utils.py
Labels: promptflow-devkit, promptflow-azure

#3216 [Connection] Return secrets in connection obj for better flex flow experience
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-azure/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow-core/promptflow/core/_connection.py
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_cli/_pf/_connection.py
  src/promptflow-devkit/promptflow/_sdk/entities/_connection.py
  src/promptflow-devkit/promptflow/_sdk/operations/_connection_operations.py
  src/promptflow-devkit/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_connection.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_custom_strong_type_connection.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-azure

#3161 support serving engine switch in pf serve cmd
  docs/reference/pf-command-reference.md
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/serve_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_flow_serve_cli.py
  src/promptflow/CHANGELOG.md
Labels: documentation, promptflow, promptflow-devkit

#3056 [Internal][tracing] Refactor span enrich logic to make it more clear.
  src/promptflow-tracing/promptflow/tracing/_span_enricher.py
  src/promptflow-tracing/promptflow/tracing/_trace.py
  src/promptflow-tracing/promptflow/tracing/contracts/trace.py
Labels: promptflow-tracing

#3212 [Internal][Executor] Return inputs definition and has aggregation by initialize api in execution server
  src/promptflow-core/promptflow/executor/_prompty_executor.py
  src/promptflow-core/promptflow/executor/_service/apis/batch.py
  src/promptflow-core/promptflow/executor/_service/utils/batch_coordinator.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/executor/_service/apis/test_batch.py
  src/promptflow/tests/executor/utils.py
Labels: promptflow, promptflow-core

#2956 build support flex flow
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-core/promptflow/contracts/flow.py
  src/promptflow-core/promptflow/core/_serving/app_base.py
  src/promptflow-core/promptflow/core/_utils.py
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/utils.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/promptflow/_sdk/data/docker/Dockerfile.jinja2
  src/promptflow-devkit/promptflow/_sdk/data/docker/README.md
  src/promptflow-devkit/promptflow/_sdk/data/docker_csharp/README.md
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/base.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/dag.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/flex.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/prompty.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/eager_flows/chat-basic/chat.jinja2
  src/promptflow/tests/test_configs/eager_flows/chat-basic/chat.prompty
  src/promptflow/tests/test_configs/eager_flows/chat-basic/data.jsonl
  src/promptflow/tests/test_configs/eager_flows/chat-basic/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/chat-basic/flow.py
  src/promptflow/tests/test_configs/eager_flows/chat-basic/init.json
  src/promptflow/tests/test_configs/eager_flows/chat-basic/paths.py
  src/promptflow/tests/test_configs/eager_flows/chat-basic/requirements-azure.txt
  src/promptflow/tests/test_configs/eager_flows/chat-basic/requirements.txt
  src/promptflow/tests/test_configs/eager_flows/chat-basic/run.yml
  src/promptflow/tests/test_configs/eager_flows/chat-basic/sample.json
Labels: promptflow, promptflow-core, promptflow-devkit

#3193 [SDK/CLI] Use new trace link instead of original run portal link
  src/promptflow-azure/promptflow/azure/_restclient/README.md
  src/promptflow-azure/promptflow/azure/_restclient/flow/models/_models.py
  src/promptflow-azure/promptflow/azure/_restclient/flow/models/_models_py3.py
  src/promptflow-azure/promptflow/azure/_restclient/swagger.json
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/_configuration.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orm/run_info.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_show_run.yaml
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-devkit, promptflow-azure

#3221 refien code owners for doc
  .github/CODEOWNERS
Labels: fundamental

#3223 [SDK/CLI] Fix log level setting for promptflow logger
  src/promptflow-devkit/promptflow/_sdk/operations/_local_storage_operations.py
Labels: promptflow-devkit

#3144 [Executor] Convert sync generator to async generator
  src/promptflow-core/promptflow/_utils/async_utils.py
  src/promptflow-core/promptflow/executor/flow_executor.py
Labels: promptflow-core

#3176 [Executor] Add timeout task to async scheduler to achieve timeout feature.
  src/promptflow-core/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow-core/promptflow/executor/flow_executor.py
Labels: promptflow-core

#3066 [Tracing][devkit] Persist span when start a span so we could see the root spans earlier.
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow-devkit/promptflow/_sdk/_orm/trace.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
Labels: promptflow-devkit, promptflow-azure

#3228 [Internal][Executor] Update types of batch_inputs and aggregation_inputs in AggregationRequest for flex flow
  src/promptflow-core/promptflow/executor/_service/contracts/batch_request.py
Labels: promptflow-core

#3218 [Doc] Add installation page
  docs/how-to-guides/installation/index.md
  docs/how-to-guides/installation/standalone.md
  docs/how-to-guides/quick-start.md
Labels: documentation

#3145 [Bugfix][Executor] Fix the issue of duplicate line numbers in the chat group run scenario
  src/promptflow-core/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
Labels: promptflow, promptflow-core

#3235 feat: pf flow serve support for directory with 1 and only 1 prompty
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-core/promptflow/core/_serving/app_base.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/serve_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/conftest.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_flow_serve_cli.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_utils.py
  src/promptflow/tests/test_configs/prompty/single_prompty/prompty_example.prompty
Labels: promptflow, promptflow-core, promptflow-devkit

#3020 [tracing][doc] PromptFlow Span Specifications
  docs/reference/index.md
  docs/reference/trace-span-spec-reference.md
Labels: documentation

#3224 [Doc] refine quick start doc
  docs/how-to-guides/develop-a-dag-flow/develop-standard-flow.md
  docs/how-to-guides/develop-a-dag-flow/index.md
  docs/how-to-guides/develop-a-dag-flow/quick-start.md
  docs/how-to-guides/index.md
  docs/how-to-guides/installation/index.md
  docs/how-to-guides/installation/standalone.md
  docs/how-to-guides/quick-start.md
  docs/how-to-guides/run-and-evaluate-a-flow/index.md
  docs/index.md
  docs/media/how-to-guides/quick-start/flow_test_trace_ui.png
  docs/media/how-to-guides/quick-start/flow_test_ui.png
Labels: documentation

#3217 [prompty][Local] Load the .env file before test/batch run prompty
  .cspell.json
  src/promptflow-devkit/promptflow/_cli/_params.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/prompty/prompty_with_env.prompty
Labels: promptflow, promptflow-devkit

#3226 [SDK/CLI] Refine run upload logs and structures
  src/promptflow-azure/promptflow/azure/_utils/_artifact_client.py
  src/promptflow-azure/promptflow/azure/_utils/_asset_client.py
  src/promptflow-azure/promptflow/azure/_utils/_metrics_client.py
  src/promptflow-azure/promptflow/azure/_utils/_run_history_client.py
  src/promptflow-azure/promptflow/azure/operations/_async_run_uploader.py
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
Labels: promptflow-devkit, promptflow-azure

#3237 [devkit] Fix potential empty portal url & wrong flow type of run
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/operations/_run_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow-devkit

#3230 [Doc] Generate of tutorial
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runflowwithpipeline_pipeline.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tracing_autogengroupchat_traceautogengroupchat.yml
  .github/workflows/samples_tracing_customotlpcollector_otlptracecollector.yml
  .github/workflows/samples_tracing_langchain_tracelangchain.yml
  .github/workflows/samples_tracing_llm_tracellm.yml
  docs/tutorials/index.md
  examples/tutorials/develop-promptflow-copilot/develop-promptflow-copilot.md
  examples/tutorials/e2e-development/chat-with-pdf.md
  examples/tutorials/flow-deploy/azure-app-service/README.md
  examples/tutorials/flow-deploy/create-service-with-flow/README.md
  examples/tutorials/flow-deploy/distribute-flow-as-executable-app/README.md
  examples/tutorials/flow-deploy/docker/README.md
  examples/tutorials/flow-deploy/kubernetes/README.md
  examples/tutorials/flow-fine-tuning-evaluation/promptflow-quality-improvement.md
  examples/tutorials/tracing/README.md
  scripts/readme/ghactions_driver/readme_step.py
  scripts/readme/ghactions_driver/readme_templates/tutorial_index.md.jinja2
  scripts/readme/ghactions_driver/resource_resolver.py
  scripts/readme/readme.py
  scripts/readme/readme_generator.py
  scripts/readme/workflow_generator.py
Labels: documentation, examples, fundamental

#3241 Changed the link in error message
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_rai_client.py
Labels: promptflow-evals

#3214 Allow target function to output columns already present in the data set
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/target_fn.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/data/questions_answers_ground_truth.jsonl
  src/promptflow-evals/tests/evals/unittests/data/questions_ground_truth.jsonl
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3242 Add support for getting retrieval score for ChatEvaluator
  src/promptflow-evals/promptflow/evals/evaluators/_chat/_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/retrieval/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/retrieval/_retrieval.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/retrieval/retrieval.prompty
  src/promptflow-evals/samples/built_in_evaluators.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.bak
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.dat
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.dir
Labels: promptflow-evals

#3064 Wording Change: automatic runtime to compute session
  docs/cloud/azureai/create-run-with-compute-session.md
  docs/cloud/azureai/run-promptflow-in-azure-ai.md
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
  docs/cloud/index.md
  docs/how-to-guides/faq.md
  docs/how-to-guides/run-and-evaluate-a-flow/index.md
  docs/reference/pfazure-command-reference.md
  docs/reference/run-yaml-schema-reference.md
  examples/flows/integrations/azure-ai-language/analyze_conversations/README.md
  examples/flows/integrations/azure-ai-language/analyze_documents/README.md
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/README.md
  examples/tutorials/run-management/cloud-run-management.ipynb
  src/promptflow-azure/promptflow/azure/_constants/_flow.py
  src/promptflow-azure/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow-recording/promptflow/recording/azure/bases.py
Labels: documentation, examples, promptflow-azure

#3132 [Bugfix][Executor] Fix json serialization issue in executor server when outputs contain float NaN
  src/promptflow-core/promptflow/executor/_service/app.py
  src/promptflow/tests/executor/e2etests/test_execution_server.py
  src/promptflow/tests/test_configs/e2e_test_flows/flow_with_nan_inf/flow.dag.yaml
  src/promptflow/tests/test_configs/e2e_test_flows/flow_with_nan_inf/inputs.jsonl
  src/promptflow/tests/test_configs/e2e_test_flows/flow_with_nan_inf/nan_inf.py
  src/promptflow/tests/test_configs/e2e_test_flows/flow_with_nan_inf/test_configs/batch_run_config_1.json
Labels: promptflow, promptflow-core

#3227 [Release] Update change log
  src/promptflow/CHANGELOG.md
Labels: promptflow

#3247 [DO NOT MERGE] update tests for chat ui debug service
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_monitor_utils.py
Labels: promptflow-devkit

#2953 [Feature][Executor] Support custom promptflow logger format
  src/promptflow-core/promptflow/_utils/logger_utils.py
  src/promptflow/tests/executor/e2etests/test_logs.py
Labels: promptflow, promptflow-core

#3249 [devkit][bugfix] Run snapshot honors gitignore/AML ignore file
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/CHANGELOG.md
  src/promptflow/tests/test_configs/flows/print_env_var_with_aml_ignore/.amlignore
  src/promptflow/tests/test_configs/flows/print_env_var_with_aml_ignore/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/print_env_var_with_aml_ignore/ignore_a
  src/promptflow/tests/test_configs/flows/print_env_var_with_aml_ignore/ignore_b
  src/promptflow/tests/test_configs/flows/print_env_var_with_aml_ignore/print_env.py
Labels: promptflow, promptflow-devkit

#3120 Enhance Traceability of Generator Outputs in Promptflow Tracing
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-tracing/promptflow/tracing/_openai_utils.py
  src/promptflow-tracing/promptflow/tracing/_trace.py
  src/promptflow-tracing/tests/e2etests/test_tracing.py
  src/promptflow-tracing/tests/unittests/test_openai_injector.py
  src/promptflow-tracing/tests/unittests/test_trace.py
  src/promptflow/tests/executor/e2etests/test_traces.py
Labels: promptflow, promptflow-core, promptflow-tracing

#3233 [ProcessPool] Remove useless comments when failed to delete the log files
  src/promptflow-core/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow-core

#3250 [Doc] Add cloud run tracking doc
  docs/cloud/azureai/tracing/index.md
  docs/cloud/azureai/tracing/run_tracking.md
  docs/media/cloud/azureai/tracing/portal_url.png
  docs/media/cloud/azureai/tracing/run_tracking_list.png
Labels: documentation

#3245 [Doc] Adjust Sequence of tutorial doc.
  docs/tutorials/index.md
  examples/flows/chat/chat-with-pdf/chat-with-pdf-azure.ipynb
  examples/flows/chat/chat-with-pdf/chat-with-pdf.ipynb
  examples/tutorials/flow-deploy/create-service-with-flow/README.md
  examples/tutorials/flow-deploy/kubernetes/README.md
  scripts/docs/doc_generation.ps1
  scripts/readme/readme.py
Labels: documentation, examples, fundamental

#2919 [Prompty] Optimize logic for build message in prompty
  src/promptflow-core/promptflow/core/_errors.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_prompty.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/test_configs/datas/chat_history_with_tools.json
  src/promptflow/tests/test_configs/datas/prompty_with_multi_tools.json
  src/promptflow/tests/test_configs/prompty/prompty_tool_with_chat_history.prompty
  src/promptflow/tests/test_configs/prompty/prompty_with_escape_role.prompty
Labels: promptflow, promptflow-core, promptflow-devkit

#3252 [devkit] Ignore `.git` under flow directory when dump snapshot
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
Labels: promptflow-devkit

#3244 Update token_provider.py to Oauth2.0 scope instead of OAuth 1.0 audience
  src/promptflow-core/promptflow/_core/token_provider.py
Labels: external, promptflow-core

#3246 refine flex flow init error message
  src/promptflow-core/promptflow/core/_serving/_errors.py
  src/promptflow-core/promptflow/core/_serving/app_base.py
Labels: promptflow-core

#3232 [FlexFlow] Support sample for flex flow & support file reference in it
  src/promptflow-core/promptflow/contracts/flow.py
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_save.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_flow.py
  src/promptflow/tests/test_configs/eager_flows/basic_callable_class_with_sample_file/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/flow_with_sample_inner_ref.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/flow_with_sample_ref.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/init.json
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/inputs.json
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/sample.json
  src/promptflow/tests/test_configs/eager_flows/flow_with_sample/simple_flow_with_multiple_inputs.py
  src/promptflow/tests/test_configs/eager_flows/function_flow_with_sample/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/function_flow_with_sample/flow_with_sample_inner_ref.yaml
  src/promptflow/tests/test_configs/eager_flows/function_flow_with_sample/flow_with_sample_ref.yaml
  src/promptflow/tests/test_configs/eager_flows/function_flow_with_sample/function_flow_with_multiple_inputs.py
  src/promptflow/tests/test_configs/eager_flows/function_flow_with_sample/inputs.json
  src/promptflow/tests/test_configs/eager_flows/function_flow_with_sample/inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/function_flow_with_sample/sample.json
Labels: promptflow, promptflow-core, promptflow-devkit

#2944 [prompty] prompty support submit to remote
  src/promptflow-azure/promptflow/azure/_entities/_flow.py
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
Labels: promptflow-devkit, promptflow-azure

#3253 [Internal] Update the change log and documentation for customizing the log format
  docs/how-to-guides/faq.md
  scripts/docs/conf.py
  src/promptflow-core/CHANGELOG.md
  src/promptflow/CHANGELOG.md
Labels: documentation, promptflow, fundamental, promptflow-core

#3256 Remove bugbash instructions
  src/promptflow-evals/samples/bug-bash/instructions.md
Labels: promptflow-evals

#3248 Follow up changes for bug #3170343.
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3259 Handle Nan-s/errors in the evaluator.
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3258 Make content safety levels consistent with eval flows
  src/promptflow-evals/README.md
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/flow/constants.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/flow/utils.py
  src/promptflow-evals/samples/built_in_evaluators.py
  src/promptflow-evals/samples/evaluation.py
Labels: promptflow-evals

#3231 [Bugfix][Executor] Persist multimedia data after getting a LineResult from output queue in line process pool for execution server
  src/promptflow-core/promptflow/executor/_line_execution_process_pool.py
  src/promptflow-core/promptflow/executor/_process_manager.py
  src/promptflow-core/promptflow/executor/_service/utils/batch_coordinator.py
  src/promptflow-core/promptflow/storage/_queue_run_storage.py
  src/promptflow-core/promptflow/storage/_service_storage.py
  src/promptflow/tests/executor/e2etests/test_batch_server.py
Labels: promptflow, promptflow-core

#3238 [tracing][devkit] Use `OTEL_EXPORTER_OTLP_TRACES_ENDPOINT` for OTLP endpoint environ
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-tracing/promptflow/tracing/_start_trace.py
Labels: promptflow-devkit, promptflow-tracing

#3264 [Internal] Remove the existing link from linkcheck_ignore
  scripts/docs/conf.py
Labels: fundamental

#3267 [pf-evals] Content safety level change for ContentSafetyChatEvaluator
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_chat.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/unittests/test_content_safety_chat_evaluator.py
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.bak
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.dat
  src/promptflow-recording/recordings/local/evals.node_cache.shelve.dir
Labels: promptflow-evals

#3261 [Prompty] Check the required parameters in model configuration is configured
  src/promptflow-core/promptflow/core/_model_configuration.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_prompty.py
Labels: promptflow-core, promptflow-devkit

#3270 Revert "[Tracing][devkit] Persist span when start a span so we could see the root spans earlier."
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow-devkit/promptflow/_sdk/_orm/trace.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
Labels: promptflow-devkit, promptflow-azure

#3271 [SDK/CLI] Improve parallelism for local to cloud run
  src/promptflow-azure/promptflow/azure/_utils/_metrics_client.py
  src/promptflow-azure/promptflow/azure/operations/_async_run_uploader.py
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
Labels: promptflow-azure

#3262 [Executor] Update script executor to support async generator in batch run
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
Labels: promptflow-core

#3274 [trace][bugfix] Check both OTel environ for exporter to PFS
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
Labels: promptflow-devkit

#3273 [SDK][FlexFlow] Avoid using current working directory for pypi installed entry
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow-devkit

#3278 Revert "[Prompty] Check the required parameters in model configuration is configured"
  src/promptflow-core/promptflow/core/_model_configuration.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_prompty.py
Labels: promptflow-core, promptflow-devkit

#3263 fix: support entry as flow in pf flow test --ui
  src/promptflow-core/promptflow/core/_serving/app.py
  src/promptflow-core/promptflow/core/_utils.py
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/serve_utils.py
Labels: promptflow-core, promptflow-devkit

#3276 [SDK] Fix run name when flow is entry string
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
Labels: promptflow-devkit

#3257 Add the sphinx docbuild for promptflow-evals.
  .github/workflows/build_doc_ci.yml
  .github/workflows/publish_doc.yml
  docs/reference/index.md
  scripts/docs/doc_generation.ps1
  src/promptflow-evals/CHANGELOG.md
Labels: documentation, fundamental, promptflow-evals

#3260 Add a user-agent to the RAI service calls
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/flow/evaluate_with_rai_service.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_proxy_completion_model.py
  src/promptflow-evals/promptflow/evals/synthetic/_model_tools/_rai_client.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_adv_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_simulator.py
Labels: promptflow-evals

#3280 feat: allow passing environment variables in chat UI
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/chat_utils.py
Labels: promptflow-devkit

#3284 Add try catch around versions
  src/promptflow-azure/promptflow/azure/_version.py
  src/promptflow-core/promptflow/core/_version.py
  src/promptflow-devkit/promptflow/_sdk/_version.py
  src/promptflow-evals/promptflow/evals/_version.py
  src/promptflow-tracing/promptflow/tracing/_version.py
Labels: promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure, promptflow-evals

#3286 Move column mapping logic to Code client
  src/promptflow-evals/promptflow/evals/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3283 Updating doc strings for evaluate API
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
Labels: promptflow-evals

#3266 Refinement of Trace Span Specification Documentation
  docs/reference/trace-span-spec-reference.md
Labels: documentation

#3288 [test][bugfix] Add another to mock to avoid side effect
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_upload.py
Labels: promptflow-azure

#3275 [SDK/CLI][Perf] Initialize run uploader simultaneously with run execution
  src/promptflow-azure/promptflow/azure/operations/_async_run_uploader.py
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_upload.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
  src/promptflow-azure/tests/sdk_cli_azure_test/unittests/test_run_operations.py
  src/promptflow-devkit/promptflow/_sdk/_configuration.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
Labels: promptflow-devkit, promptflow-azure, promptflow-evals

#3289 [Core] Update changelog for async generator
  src/promptflow-core/CHANGELOG.md
Labels: promptflow-core

#3287 feat: support specifying flow file for test --ui
  src/promptflow-core/promptflow/core/_serving/app.py
  src/promptflow-core/promptflow/core/_serving/app_base.py
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/chat_utils.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/serve_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_flow_serve.py
Labels: promptflow-core, promptflow-devkit

#3290 clear temp doc changes
  docs/cloud/azureai/generate-test-data-cloud.md
  examples/tutorials/generate-test-data/README.md
  scripts/docs/conf.py
Labels: documentation, examples, fundamental

#3294 Remove unnecessary keys and values from simulator output
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
Labels: promptflow-evals

#3297 Append user agent for OpenAI calls
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/__init__.py
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_qa/_qa.py
  src/promptflow-evals/tests/evals/unittests/test_batch_run_context.py
Labels: promptflow-evals

#3296 Users/singankit/fix remote tracking
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/tests/evals/unittests/test_get_trace_destination_config.py
Labels: promptflow-evals

#3179 Support context manager protocol for traced iterator APIs
  src/promptflow-core/promptflow/_core/run_tracker.py
  src/promptflow-core/promptflow/_utils/run_tracker_utils.py
  src/promptflow-core/promptflow/core/_serving/response_creator.py
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow-recording/promptflow/recording/local/record_storage.py
  src/promptflow-tracing/promptflow/tracing/_trace.py
  src/promptflow-tracing/promptflow/tracing/_tracer.py
  src/promptflow-tracing/promptflow/tracing/_utils.py
  src/promptflow-tracing/promptflow/tracing/contracts/context_manager_proxy.py
  src/promptflow-tracing/promptflow/tracing/contracts/iterator_proxy.py
  src/promptflow-tracing/tests/e2etests/test_tracing.py
  src/promptflow-tracing/tests/unittests/test_iterator_proxy.py
  src/promptflow-tracing/tests/unittests/test_openai_injector.py
  src/promptflow-tracing/tests/unittests/test_utils.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_run_tracker.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
  src/promptflow/tests/executor/unittests/_utils/test_dataclass_serializer.py
  src/promptflow/tests/executor/unittests/_utils/test_run_tracker_utils.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing

#3298 [Test Fix]Fix test nit, there is no public is_live method provided.
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_serve.py
Labels: promptflow-devkit

#3300 [Internal] Fix gen schema file name bug
  scripts/json_schema/gen_json_schema.py
Labels: fundamental

#3299 [Release] Release 1.11.0
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow-tracing/pyproject.toml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_version.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#3306 [pf-evals] regression fix for threadtool in evaluate API
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
Labels: promptflow-evals

#3309 [pf-evals] Fix the user agent not populated
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
Labels: promptflow-evals

#3315 only pass user parameter when it is not empty for chat api
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/openai.py
Labels: promptflow-tools
