Repository microsoft/promptflow, pull requests merged in 2024-04, with the labels that each got.

#2539 Update test matrix
  .github/workflows/promptflow-release-testing-matrix.yml
  src/promptflow-azure/promptflow/azure/operations/_artifact_utilities.py
  src/promptflow-core/promptflow/core/_connection_provider/_utils.py
  src/promptflow-core/promptflow/core/_connection_provider/_workspace_connection_provider.py
  src/promptflow-core/pyproject.toml
  src/promptflow/promptflow/__init__.py
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_pf_client.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/test_configs/flows/flow_with_custom_connection/hello.py
Labels: sdk, promptflow, fundamental

#2553 [Tracing][Internal] Use otel_trace_id for correlation between line run and otel trace
  src/promptflow-core/promptflow/_core/run_tracker.py
  src/promptflow-core/promptflow/contracts/run_info.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-tracing/promptflow/tracing/_trace.py
Labels: promptflow, executor, promptflow-tracing

#2413 Integrate pfs in pf command
  .cspell.json
  .github/workflows/promptflow-sdk-cli-test.yml
  scripts/installer/curl_install_pypi/README.md
  scripts/installer/curl_install_pypi/install.py
  scripts/installer/windows/scripts/pf.bat
  scripts/installer/windows/scripts/pfcli.py
  scripts/installer/windows/scripts/pfs.bat
  scripts/installer/windows/scripts/pfsvc.bat
  scripts/installer/windows/scripts/promptflow.spec.jinja2
  scripts/installer/windows/scripts/promptflow_service.vbs
  src/promptflow-devkit/pf
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_cli/_pf/entry.py
  src/promptflow-devkit/promptflow/_sdk/_service/app.py
  src/promptflow-devkit/promptflow/_sdk/_service/pfsvc.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/pyproject.toml
  src/promptflow/tests/sdk_pfs_test/e2etests/test_cli.py
Labels: sdk, cli, fundamental

#2570 [tracing] Rename concept session to collection
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/collector.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-tracing/promptflow/tracing/_constants.py
  src/promptflow-tracing/promptflow/tracing/_start_trace.py
  src/promptflow-tracing/tests/unittests/test_start_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, promptflow, promptflow-tracing

#2568 refactor: move and hide executor proxies
  .github/CODEOWNERS
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_internal/__init__.py
  src/promptflow-devkit/promptflow/_proxy/__init__.py
  src/promptflow-devkit/promptflow/_proxy/_base_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_csharp_base_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_csharp_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_proxy_factory.py
  src/promptflow-devkit/promptflow/_proxy/_python_executor_proxy.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/batch/__init__.py
  src/promptflow-devkit/promptflow/batch/_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_server.py
  src/promptflow/tests/executor/e2etests/test_csharp_executor_proxy.py
  src/promptflow/tests/executor/unittests/batch/test_base_executor_proxy.py
  src/promptflow/tests/executor/unittests/batch/test_batch_engine.py
  src/promptflow/tests/executor/unittests/batch/test_csharp_executor_proxy.py
Labels: sdk, cli, fundamental, executor

#2419 Update description
  src/promptflow-tools/promptflow/tools/yamls/llm.yaml
  src/promptflow-tools/promptflow/tools/yamls/llm_vision.yaml
Labels: promptflow-tools

#2558 Use batch run id as partition key for local batch run
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/collection.py
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/collector.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_collection.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_summary.py
Labels: sdk

#2573 tools,tool_choice enabled_by api chat
  src/promptflow-tools/promptflow/tools/yamls/llm.yaml
Labels: promptflow-tools

#2572 refine READMEs for the subpackages
  src/promptflow-azure/README.md
  src/promptflow-core/README.md
  src/promptflow-devkit/README.md
  src/promptflow-tracing/README.md
Labels: promptflow, promptflow-tracing

#2571 [fundamental][bugfix] Refine dev setup script to not automatically touch `__init__.py`
  docs/dev/dev_setup.md
  scripts/dev-setup/main.py
  src/promptflow-core/pyproject.toml
Labels: documentation, promptflow, fundamental

#2576 fix: add ProxyFactory to _internal for runtime
  src/promptflow-devkit/promptflow/_internal/__init__.py
Labels: executor

#2526 [SDK] Support init in batch run
  src/promptflow-azure/promptflow/azure/_pf_client.py
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-devkit/promptflow/_cli/_params.py
  src/promptflow-devkit/promptflow/_cli/_pf/_run.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_pf_client.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_run.py
  src/promptflow/tests/executor/e2etests/test_eager_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/eager_flows/basic_callable_class/run.yaml
  src/promptflow/tests/test_configs/eager_flows/invalid_illegal_entry/flow.dag.yaml
Labels: sdk, cli, promptflow, executor

#2557 Add promptflow-core test
  .github/workflows/promptflow-core-test.yml
  scripts/check_enforcer/check_enforcer.py
  src/promptflow-core/promptflow/_utils/user_agent_utils.py
  src/promptflow-core/promptflow/contracts/flow.py
  src/promptflow-core/promptflow/core/_serving/app.py
  src/promptflow-core/promptflow/core/_serving/extension/azureml_extension.py
  src/promptflow-core/promptflow/core/_serving/extension/default_extension.py
  src/promptflow-core/promptflow/exceptions.py
  src/promptflow-core/promptflow/executor/_service/apis/common.py
  src/promptflow-core/promptflow/executor/_service/utils/service_utils.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-core/pyproject.toml
  src/promptflow-core/tests/__init__.py
  src/promptflow-core/tests/conftest.py
  src/promptflow-core/tests/core/__init__.py
  src/promptflow-core/tests/core/e2etests/__init__.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
  src/promptflow-core/tests/core/unittests/__init__.py
  src/promptflow-core/tests/core/unittests/test_basic.py
  src/promptflow-core/tests/unittests/test.py
  src/promptflow-devkit/pyproject.toml
  src/promptflow/tests/executor/e2etests/test_eager_flow.py
  src/promptflow/tests/executor/unittests/executor/_service/apis/test_common.py
  src/promptflow/tests/executor/unittests/executor/_service/utils/test_service_utils.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve_azureml_extension.py
Labels: promptflow, fundamental, executor

#2578 [Internal][Executor] Add more logs to finalize api for executor server
  src/promptflow-core/promptflow/executor/_process_manager.py
  src/promptflow-core/promptflow/executor/_service/apis/batch.py
  src/promptflow-core/promptflow/executor/_service/utils/batch_coordinator.py
Labels: promptflow, executor

#2582 Remove core from check enforcer
  scripts/check_enforcer/check_enforcer.py
Labels: fundamental

#2533 Fix pf upgrade and msi building
  .github/workflows/build_msi_installer.yml
  scripts/installer/windows/scripts/generate_dependency.py
  scripts/installer/windows/scripts/promptflow.spec.jinja2
  src/promptflow-devkit/pf
  src/promptflow-devkit/promptflow/_cli/pf.py
  src/promptflow-devkit/pyproject.toml
  src/promptflow/pf.bat
  src/promptflow/setup.py
Labels: cli, fundamental

#2349 [SDK] Support batch run func object without YAML in SDK
  src/promptflow-azure/promptflow/azure/_pf_client.py
  src/promptflow-devkit/promptflow/_proxy/_base_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_python_executor_proxy.py
  src/promptflow-devkit/promptflow/_sdk/_pf_client.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: sdk

#2575 [tracing][feature] Support delete traces in devkit
  src/promptflow-devkit/promptflow/_cli/_pf/_trace.py
  src/promptflow-devkit/promptflow/_cli/_pf/entry.py
  src/promptflow-devkit/promptflow/_sdk/_pf_client.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/line_run.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/span.py
  src/promptflow-devkit/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, cli

#2581 Update testing matrix
  .github/workflows/promptflow-release-testing-matrix.yml
  docs/dev/dev_setup.md
Labels: documentation, fundamental

#2585 Fix multimedia_utils.
  src/promptflow-core/promptflow/_utils/multimedia_utils.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_utils.py
Labels: promptflow, executor

#2579 Add test to validate otel traces of batch run
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/test_configs/flows/flow_with_trace/inputs.jsonl
Labels: executor

#2574 Use batch run id as evaluation dict's key for batch run.
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_summary.py
Labels: sdk

#2590 [tracing][bugfix] Use eval run name instead of root span name
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
Labels: sdk

#2469 Update pf component example
  .github/workflows/samples_runflowwithpipeline_pipeline.yml
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
  docs/media/cloud/flow-in-pipeline/pf-base-component.png
  docs/media/cloud/flow-in-pipeline/pf-component-parameters.png
  examples/README.md
  examples/tutorials/flow-in-pipeline/pipeline.ipynb
  examples/tutorials/run-flow-with-pipeline/components/data-prep/conda.yaml
  examples/tutorials/run-flow-with-pipeline/components/data-prep/data-prep.py
  examples/tutorials/run-flow-with-pipeline/components/data-prep/data-prep.yaml
  examples/tutorials/run-flow-with-pipeline/components/result-parser/conda.yaml
  examples/tutorials/run-flow-with-pipeline/components/result-parser/result-parser.py
  examples/tutorials/run-flow-with-pipeline/components/result-parser/result-parser.yaml
  examples/tutorials/run-flow-with-pipeline/pipeline.ipynb
  scripts/readme/workflow_generator.py
Labels: documentation, examples, fundamental

#2440 Add experiment test api
  src/promptflow-devkit/promptflow/_cli/_pf/_experiment.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/experiment_orchestrator.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/experiment.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/flow.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/ui.py
  src/promptflow-devkit/promptflow/_sdk/_service/app.py
  src/promptflow-devkit/promptflow/_sdk/_service/swagger.json
  src/promptflow-devkit/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_experiment_apis.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_flow_apis.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_ui_apis.py
  src/promptflow/tests/sdk_pfs_test/utils.py
  src/promptflow/tests/test_configs/experiments/basic-no-script-template/basic_without_binding/basic.exp.yaml
  src/promptflow/tests/test_configs/experiments/basic-no-script-template/bind_to_flow_input/basic.exp.yaml
  src/promptflow/tests/test_configs/experiments/dummy-basic-no-script-template/basic.exp.yaml
  src/promptflow/tests/test_configs/experiments/dummy-basic-no-script-template/basic_without_binding/basic.exp.yaml
  src/promptflow/tests/test_configs/experiments/dummy-basic-no-script-template/bind_to_flow_input/basic.exp.yaml
  src/promptflow/tests/test_configs/flows/dummy_web_classification/convert_to_dict.py
  src/promptflow/tests/test_configs/flows/dummy_web_classification/data.jsonl
  src/promptflow/tests/test_configs/flows/dummy_web_classification/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/dummy_web_classification/prepare_examples.py
Labels: sdk, cli

#2592 [Internal] Use datastore credential to access blob
  src/promptflow-azure/promptflow/azure/_storage/blob/client.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_blob_client.py
Labels: sdk

#2601 Start chat ui through streamlit when enable_internal_features disabled
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/data/executable/main.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
Labels: sdk, cli

#2604 api needs dynamic list because we do not offer "completion" api for serverless connection.
  src/promptflow-tools/promptflow/tools/llm.py
  src/promptflow-tools/promptflow/tools/yamls/llm.yaml
Labels: promptflow-tools

#2547 [Feature][Tools] llm vision tool support detail parameter
  docs/reference/tools-reference/aoai-gpt4-turbo-vision.md
  docs/reference/tools-reference/openai-gpt-4v-tool.md
  src/promptflow-tools/CHANGELOG.md
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/promptflow/tools/yamls/aoai_gpt4v.yaml
  src/promptflow-tools/promptflow/tools/yamls/openai_gpt4v.yaml
  src/promptflow-tools/tests/test_common.py
Labels: documentation, promptflow-tools

#2613 [Devkit][Azure]Fix Version Bug
  src/promptflow-azure/promptflow/azure/_cli/entry.py
  src/promptflow-devkit/promptflow/_cli/_pf/entry.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
Labels: sdk, cli

#2599 Enable unittest workflow for promptflow-evals
  .github/workflows/promptflow-evals-unit-test.yml
  .github/workflows/promptflow-import-linter.yml
  src/promptflow-evals/MANIFEST.in
  src/promptflow-evals/promptflow/version.txt
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/requirements.txt
  src/promptflow-evals/setup.py
  src/promptflow-evals/tests/unittests/test_chat_evaluator.py
Labels: fundamental

#2612 fix llm tool output issue, add details to llm-vision tool
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/llm_vision.py
  src/promptflow-tools/promptflow/tools/yamls/llm_vision.yaml
Labels: promptflow-tools

#2505 internal interface: pf.flows._save
  src/promptflow-core/promptflow/_core/entry_meta_generator.py
  src/promptflow-core/promptflow/_core/tool_meta_generator.py
  src/promptflow-core/promptflow/core/_utils.py
  src/promptflow-devkit/promptflow/_proxy/_base_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_base_inspector_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_csharp_inspector_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_errors.py
  src/promptflow-devkit/promptflow/_proxy/_proxy_factory.py
  src/promptflow-devkit/promptflow/_proxy/_python_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_python_inspector_proxy.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow-devkit/promptflow/batch/_errors.py
  src/promptflow/tests/executor/unittests/batch/test_base_executor_proxy.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_save.py
  src/promptflow/tests/test_configs/flows/saved/.gitignore
  src/promptflow/tests/test_configs/functions/class_init/hello.py
  src/promptflow/tests/test_configs/functions/data_class_output/hello.py
  src/promptflow/tests/test_configs/functions/hello_world/hello.py
  src/promptflow/tests/test_configs/functions/requirements
Labels: sdk, promptflow, executor

#2406 Prompty is callable
  .cspell.json
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-core/promptflow/core/_errors.py
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-core/promptflow/core/_utils.py
  src/promptflow-core/promptflow/executor/_prompty_executor.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/utils.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_experiment.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/__init__.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/base.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/dag.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/prompty.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow-devkit/promptflow/batch/_batch_engine.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow/tests/test_configs/datas/prompty_inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/flow_with_prompty/entry.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_prompty/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_prompty/hello.prompty
  src/promptflow/tests/test_configs/experiments/experiment-with-prompty-template/basic-script.exp.yaml
  src/promptflow/tests/test_configs/experiments/experiment-with-prompty-template/generate_data/generate_data.py
  src/promptflow/tests/test_configs/prompty/prompty_example.prompty
Labels: sdk, promptflow, executor

#2623 [Internal] Add CosmosDBContainerName to promptflow._internal
  src/promptflow-devkit/promptflow/_internal/__init__.py
Labels: executor

#2606 Force flush traces for execute_flow
  src/promptflow-core/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#2600 Support tool and tool choice
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/exception.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_common.py
  src/promptflow-tools/tests/test_configs/prompt_templates/prompt_with_tool.jinja2
Labels: promptflow-tools

#2441 Redirect print content to log for flex.
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow/tests/executor/e2etests/test_logs.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/test_configs/eager_flows/print_input_flex/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/print_input_flex/inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/print_input_flex/print_input_flex.py
Labels: promptflow, executor

#2625 [Connection][Internal] Add ConnectionProvider.get_instance() and HTTPConnectionProvider
  src/promptflow-core/promptflow/connections/__init__.py
  src/promptflow-core/promptflow/core/_connection.py
  src/promptflow-core/promptflow/core/_connection_provider/_connection_provider.py
  src/promptflow-core/promptflow/core/_connection_provider/_dict_connection_provider.py
  src/promptflow-core/promptflow/core/_connection_provider/_http_connection_provider.py
  src/promptflow-core/promptflow/core/_connection_provider/_workspace_connection_provider.py
  src/promptflow-devkit/promptflow/_sdk/_connection_provider/_local_connection_provider.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
Labels: sdk, promptflow

#2608 Pf doc update
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
Labels: documentation

#2616 [devkit][refactor] Move protobuf span parse function to trace operation
  src/promptflow-devkit/promptflow/_sdk/_service/apis/collector.py
  src/promptflow-devkit/promptflow/_sdk/entities/_trace.py
  src/promptflow-devkit/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk

#2628 [Executor] Support connection init for flex flow
  src/promptflow-core/promptflow/executor/_errors.py
  src/promptflow-core/promptflow/executor/_script_executor.py
Labels: promptflow, executor

#2624 [Eval] Refine CodeOwners
  .github/CODEOWNERS
Labels: fundamental

#2637 Skip flushing if tracer provider doesn't have method
  src/promptflow-core/promptflow/executor/_line_execution_process_pool.py
  src/promptflow-core/promptflow/executor/flow_executor.py
Labels: promptflow, executor

#2640 Append v1 to ServerlessConnection in _tool_resolver.py
  src/promptflow-core/promptflow/executor/_tool_resolver.py
Labels: promptflow, executor

#2642 Alignement with new promptflow packages
  .github/workflows/promptflow-evals-unit-test.yml
  scripts/dev-setup/main.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_flow_run_wrapper.py
  src/promptflow-evals/promptflow/evals/evaluators/chat/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/coherence/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/coherence/flow/parse_score.py
  src/promptflow-evals/promptflow/evals/evaluators/coherence/flow/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/content_safety/flow/evaluate_with_rai_service.py
  src/promptflow-evals/promptflow/evals/evaluators/content_safety/flow/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/content_safety/hate_unfairness.py
  src/promptflow-evals/promptflow/evals/evaluators/content_safety/self_harm.py
  src/promptflow-evals/promptflow/evals/evaluators/content_safety/sexual.py
  src/promptflow-evals/promptflow/evals/evaluators/content_safety/violence.py
  src/promptflow-evals/promptflow/evals/evaluators/f1_score/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/f1_score/flow/f1_score.py
  src/promptflow-evals/promptflow/evals/evaluators/f1_score/flow/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/fluency/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/fluency/flow/parse_score.py
  src/promptflow-evals/promptflow/evals/evaluators/fluency/flow/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/groundedness/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/groundedness/flow/parse_score.py
  src/promptflow-evals/promptflow/evals/evaluators/groundedness/flow/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/relevance/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/relevance/flow/parse_score.py
  src/promptflow-evals/promptflow/evals/evaluators/relevance/flow/validate_inputs.py
  src/promptflow-evals/promptflow/evals/evaluators/similarity/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/similarity/flow/parse_score.py
  src/promptflow-evals/promptflow/evals/evaluators/similarity/flow/validate_inputs.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/samples/built_in_evaluators.py
  src/promptflow-evals/tests/unittests/test_chat_evaluator.py
Labels: fundamental

#2639 Update labeler by package
  .github/labeler.yml
Labels: fundamental

#2619 Update outdated link to the doc in readme
  src/promptflow-devkit/promptflow/_sdk/data/docker/README.md
  src/promptflow-devkit/promptflow/_sdk/data/docker_csharp/README.md
  src/promptflow/tests/test_configs/flows/export/linux/README.md
Labels: sdk, external

#2617 [devkit] Refine CLI `pf trace delete` experience
  src/promptflow-devkit/promptflow/_cli/_pf/_trace.py
  src/promptflow-devkit/promptflow/_sdk/operations/_trace_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_trace.py
Labels: sdk, cli

#2641 Revert "Support ServerlessConnection in llm tool (#2540)"
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/openai.py
Labels: promptflow-tools

#2653 [Sample] Make tokens_per_message as flow input for autonomous agent sample
  examples/flows/standard/autonomous-agent/autogpt_class.py
  examples/flows/standard/autonomous-agent/autogpt_easy_start.py
  examples/flows/standard/autonomous-agent/flow.dag.yaml
  examples/flows/standard/autonomous-agent/util.py
Labels: examples

#2659 [CLI] refine pf cli command help
  src/promptflow-devkit/README.md
  src/promptflow-devkit/promptflow/_cli/_pf/_config.py
  src/promptflow-devkit/promptflow/_cli/_pf/_connection.py
  src/promptflow-devkit/promptflow/_cli/_pf/_experiment.py
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_cli/_pf/_run.py
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_cli/_pf/_tool.py
  src/promptflow-devkit/promptflow/_cli/_pf/_trace.py
  src/promptflow-devkit/promptflow/_cli/_pf/_upgrade.py
  src/promptflow-devkit/promptflow/_cli/_pf/entry.py
Labels: promptflow-devkit

#2664 fix: add codeowners for sdk
  .github/CODEOWNERS
Labels: fundamental

#2626 Distinguish flex flow and dag flow(use flow.flex.yaml for flex flow, flow.dag.yaml for dag flow)
  src/promptflow-azure/promptflow/azure/_entities/_flow.py
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/base.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/dag.py
  src/promptflow-devkit/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow.py
  src/promptflow/tests/test_configs/eager_flows/multiple_flow_yaml/entry.py
  src/promptflow/tests/test_configs/eager_flows/multiple_flow_yaml/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_flow_yaml/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_flow_yaml/hello_world.py
Labels: sdk, promptflow, promptflow-core, promptflow-devkit, promptflow-azure

#2667 [Internal] Init FlowRequestException with _inner_exception.
  src/promptflow-azure/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: promptflow, promptflow-azure

#2660 [Internal]Add executable path to environment variable to avoid start pfs failed in some environment
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_cli.py
Labels: promptflow, promptflow-devkit

#2666 [Hotfix]Fix pf flow build executable
  src/promptflow-devkit/promptflow/_sdk/_service/utils/utils.py
  src/promptflow-devkit/promptflow/_sdk/data/executable/requirements.txt
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: promptflow, promptflow-devkit

#2668 modify and add todos
  src/promptflow-tools/promptflow/tools/llm.py
Labels: promptflow-tools

#2669 [Internal] Add promptflow-recording to dev-setup
  scripts/dev-setup/main.py
Labels: fundamental

#2675 Refine promptflow init error
  src/promptflow/promptflow/__init__.py
Labels: promptflow

#2676 [Fix]Trace UI returns text/plain in header for js file
  src/promptflow-devkit/promptflow/_sdk/_service/apis/ui.py
Labels: promptflow-devkit

#2672 Support connection provider list & setup azureml-serving test
  .github/workflows/promptflow-core-test.yml
  .github/workflows/promptflow-release-testing-matrix.yml
  src/promptflow-core/promptflow/core/_connection_provider/_connection_provider.py
  src/promptflow-core/promptflow/core/_connection_provider/_dict_connection_provider.py
  src/promptflow-core/promptflow/core/_connection_provider/_http_connection_provider.py
  src/promptflow-core/promptflow/core/_connection_provider/_workspace_connection_provider.py
  src/promptflow-core/tests/azureml-serving/__init__.py
  src/promptflow-core/tests/azureml-serving/unittests/__init__.py
  src/promptflow-core/tests/azureml-serving/unittests/test_workspace_connection_provider.py
  src/promptflow-devkit/promptflow/_sdk/_connection_provider/_local_connection_provider.py
  src/promptflow-recording/promptflow/recording/azure/processors.py
  src/promptflow-recording/recordings/azure/test_workspace_connection_provider_TestWorkspaceConnectionProvider_test_list_connections.yaml
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_workspace_connection_provider.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_arm_connection_build.py
Labels: promptflow, fundamental, promptflow-core, promptflow-devkit

#2622 feat: enable validation in pf.flow._save
  scripts/json_schema/FlexFlow.schema.json
  scripts/json_schema/gen_json_schema.py
  src/promptflow-core/promptflow/_core/entry_meta_generator.py
  src/promptflow-core/promptflow/_core/tool_meta_generator.py
  src/promptflow-core/promptflow/contracts/flow.py
  src/promptflow-core/promptflow/core/_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/flex.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_save.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/test_configs/functions/class_init_complicated_ports/hello.py
  src/promptflow/tests/test_configs/functions/class_init_with_dataclass_entity_fields/hello.py
  src/promptflow/tests/test_configs/functions/class_init_with_entity_inputs/hello.py
  src/promptflow/tests/test_configs/functions/class_init_with_entity_outputs/hello.py
  src/promptflow/tests/test_configs/functions/class_init_with_list_init/hello.py
Labels: sdk, promptflow, fundamental, executor, promptflow-core, promptflow-devkit

#2665 [Executor][Feature]Allow function/instance as the entry of script executor
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
  src/promptflow-devkit/promptflow/batch/_batch_engine.py
Labels: promptflow-core, promptflow-devkit

#2633 Truncate LineSummary inputs and outputs for cosmosDB 2MB limit.
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/summary.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_summary.py
Labels: sdk, promptflow, promptflow-azure

#2681 fix serverless connection does not work issue
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/llm.py
  src/promptflow-tools/promptflow/tools/llm_vision.py
Labels: promptflow-tools

#2684 Add serverless connection test for llm
  src/promptflow-tools/connections.json.example
  src/promptflow-tools/promptflow/tools/llm_vision.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_common.py
  src/promptflow-tools/tests/test_llm.py
  src/promptflow-tools/tests/test_llm_vision.py
Labels: promptflow-tools

#2662 Delete DAG_FILE_NAME constant and use the resolve_flow_path function to obtain the flow path and flow file.
  src/promptflow-azure/promptflow/azure/operations/_flow_operations.py
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-devkit/promptflow/_proxy/_base_executor_proxy.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_mlflow.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_chat_group/_chat_role.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/unittests/test_mlflow_dependencies.py
  src/promptflow/tests/test_configs/eager_flows/mutiple_flow_yaml/entry.py
  src/promptflow/tests/test_configs/eager_flows/mutiple_flow_yaml/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/mutiple_flow_yaml/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/mutiple_flow_yaml/hello_world.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-azure

#2683 [test][bugfix] Fix promptflow-recording not work in non-editable mode & try to fix a flaky test
  src/promptflow-recording/promptflow/recording/azure/bases.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_cli_with_azure.py
Labels: promptflow

#2687 serverless connection forward compatible
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/llm.py
  src/promptflow-tools/requirements.txt
Labels: promptflow-tools

#2658 Add kwargs for flow_executor creation and use it for name
  src/promptflow-core/promptflow/_utils/feature_utils.py
  src/promptflow-core/promptflow/contracts/flow.py
  src/promptflow-core/promptflow/executor/_line_execution_process_pool.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-devkit/promptflow/_proxy/_python_executor_proxy.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/test_configs/flows/flow_name/yaml_with_name.yaml
  src/promptflow/tests/test_configs/flows/flow_name/yaml_without_name.yaml
Labels: promptflow, promptflow-core, promptflow-devkit

#2677 [trace][devkit] Refine trace provider validation to let SDK request Cosmos DB initialization API
  src/promptflow-azure/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow-azure/promptflow/azure/_utils/_tracing.py
  src/promptflow-azure/promptflow/azure/operations/_trace_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_trace.py
Labels: promptflow, promptflow-azure

#2694 [Doc] Fix quick start doc link
  docs/how-to-guides/quick-start.md
Labels: documentation

#2693 [Connection] Support workspace new strong type oai & serp connection
  src/promptflow-core/promptflow/core/_connection.py
  src/promptflow-core/promptflow/core/_connection_provider/_models/_models.py
  src/promptflow-core/promptflow/core/_connection_provider/_models/_version.py
  src/promptflow-core/promptflow/core/_connection_provider/_workspace_connection_provider.py
  src/promptflow-core/tests/azureml-serving/unittests/test_workspace_connection_provider.py
Labels: promptflow-core

#2697 [Bugfix][Executor] Change the run id to line run id when creating line result with error
  src/promptflow-core/promptflow/contracts/run_info.py
Labels: promptflow-core

#2620 Adding the qa generator as is
  src/promptflow-evals/promptflow/evals/synthetic/README.md
  src/promptflow-evals/promptflow/evals/synthetic/qa.py
  src/promptflow-evals/tests/test_configs/generated_qa_chat_conv.jsonl
  src/promptflow-evals/tests/test_configs/generated_qa_chat_short.jsonl
  src/promptflow-evals/tests/test_configs/generated_qa_pf_conv.jsonl
  src/promptflow-evals/tests/test_configs/generated_qa_pf_short.jsonl
  src/promptflow-evals/tests/unittests/test_qa_simulator.py
Labels: promptflow-evals

#2700 [Bugfix] Fix ci test cases and add ci pipeline trigger paths
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  src/promptflow/tests/executor/mock_execution_server.py
  src/promptflow/tests/executor/unittests/batch/test_base_executor_proxy.py
Labels: promptflow, fundamental

#2695 [Recording] Use platform compatible cache
  .github/workflows/promptflow-sdk-cli-test.yml
  src/promptflow-recording/promptflow/recording/local/record_storage.py
  src/promptflow-recording/recordings/local/node_cache.shelve
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
Labels: fundamental

#2706 [Internal][Executor] Collect package tools when executor server starts to avoid loading latency in request
  src/promptflow-core/promptflow/executor/_service/apis/tool.py
Labels: promptflow-core

#2701 [Flow test] Support flow test with input file
  src/promptflow-devkit/promptflow/_cli/_params.py
  src/promptflow-devkit/promptflow/_sdk/_pf_client.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
Labels: promptflow, promptflow-devkit

#2691 Apply flow_name for multi container execution
  src/promptflow-core/promptflow/executor/_service/apis/batch.py
  src/promptflow-core/promptflow/executor/_service/apis/execution.py
  src/promptflow-core/promptflow/executor/_service/contracts/execution_request.py
  src/promptflow-core/promptflow/executor/_service/utils/batch_coordinator.py
  src/promptflow/tests/executor/unittests/executor/_service/utils/test_batch_coordinator.py
Labels: promptflow, promptflow-core

#2709 Add tool choice type string to guide user string is allowed
  src/promptflow-tools/promptflow/tools/yamls/llm.yaml
Labels: promptflow-tools

#2629 Update pfazure/pfs version
  src/promptflow-azure/promptflow/azure/_cli/entry.py
  src/promptflow-azure/promptflow/azure/operations/_flow_operations.py
  src/promptflow-core/promptflow/_utils/version_hint_utils.py
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_cli/_pf/_upgrade.py
  src/promptflow-devkit/promptflow/_cli/_pf/entry.py
  src/promptflow-devkit/promptflow/_sdk/_service/app.py
  src/promptflow-devkit/promptflow/_sdk/_service/utils/utils.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_general_apis.py
Labels: sdk, cli, promptflow, promptflow-core, promptflow-devkit, promptflow-azure

#2690 [devkit] Refactor static files for trace and chat window
  src/promptflow-devkit/promptflow/_sdk/_service/apis/ui.py
  src/promptflow-devkit/promptflow/_sdk/_service/static/chat-window/assets/style.css
  src/promptflow-devkit/promptflow/_sdk/_service/static/chat-window/index.html
  src/promptflow-devkit/promptflow/_sdk/_service/static/index.html
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/assets/icon-IVYk8x5p.svg
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/assets/icon_for_dark-3C8HbOu4.svg
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/assets/index-7tTeIXuY.js
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/index.html
Labels: promptflow-devkit

#2713 Add unit tests for openai connection
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/tests/test_llm.py
  src/promptflow-tools/tests/test_llm_vision.py
Labels: promptflow-tools

#2717 Fix recording of telemetry test
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.bak
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.dat
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.dir
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/process_utils.py
Labels: promptflow

#2548 Migrate the yaml used by the eager flow to flow.flex.yaml, code support both flow.flex.yaml and flow.dag.yaml.
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-core/tests/conftest.py
  src/promptflow-devkit/promptflow/_proxy/_base_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_csharp_executor_proxy.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_service/apis/ui.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/base.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow-devkit/promptflow/_sdk/operations/_run_operations.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_eager_flow_cancel.yaml
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_eager_flow_crud.yaml
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_eager_flow_download.yaml
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_eager_flow_meta_generation.yaml
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_eager_flow_run_without_yaml.yaml
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow.py
  src/promptflow/tests/test_configs/eager_flows/builtin_llm/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_exception/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/environment_variables/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/environment_variables_connection/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/evc_connection_not_exist/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_additional_includes/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_environment/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_operation_context/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/incorrect_entry/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/invalid_extra_fields_nodes/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/invalid_illegal_path/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/long_running/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_entries/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_stream_outputs/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_stream_outputs_dataclass/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/nested_entry/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/non_json_serializable_output/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/primitive_output/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/print_environment_variables/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/required_inputs/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/simple_with_dict_output/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/simple_with_req/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/simple_with_yaml/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/stream_output/flow.flex.yaml
  src/promptflow/tests/test_configs/experiments/eager-flow-exp-template/flow.exp.yaml
Labels: sdk, promptflow, executor, promptflow-core, promptflow-devkit

#2719 Flex flow is compatible with old flow.dag.yaml, not just flow.flex.yaml
  src/promptflow-devkit/promptflow/_proxy/_base_executor_proxy.py
Labels: promptflow-devkit

#2718 [SDK] Fix init param in serve
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
Labels: cli

#2591 [BatchEngine] Chat group orchestrator and related change in batch engine
  src/promptflow-devkit/promptflow/_orchestrator/__init__.py
  src/promptflow-devkit/promptflow/_orchestrator/_chat_group_orchestrator.py
  src/promptflow-devkit/promptflow/_orchestrator/_constants.py
  src/promptflow-devkit/promptflow/_orchestrator/_errors.py
  src/promptflow-devkit/promptflow/_proxy/_base_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_chat_group_orchestrator_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_proxy_factory.py
  src/promptflow-devkit/promptflow/_proxy/_python_executor_proxy.py
  src/promptflow-devkit/promptflow/_sdk/entities/_chat_group/_chat_role.py
  src/promptflow-devkit/promptflow/batch/_batch_engine.py
  src/promptflow-devkit/promptflow/batch/_batch_inputs_processor.py
  src/promptflow/tests/executor/e2etests/test_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_server.py
  src/promptflow/tests/executor/single_line_python_executor_proxy.py
  src/promptflow/tests/executor/unittests/batch/test_batch_inputs_processor.py
  src/promptflow/tests/executor/unittests/batch/test_chat_group_orchestrator.py
  src/promptflow/tests/sdk_cli_test/unittests/test_chat_group.py
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/chat_group_copilot/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/chat_group_copilot/prompt.jinja2
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/chat_group_simulation/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/chat_group_simulation/simulator.py
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/chat_group_simulation_stop_signal/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/chat_group_simulation_stop_signal/simulator.py
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/copilot_input.json
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/inputs.json
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/inputs_using_default_value.json
  src/promptflow/tests/test_configs/flows/chat_group/cloud_batch_runs/simulation_input.json
Labels: sdk, promptflow, executor, promptflow-devkit

#2723 [Connection] Let pfazure connection operations return devkit obj
  src/promptflow-azure/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_arm_connection_operations.py
Labels: promptflow, promptflow-azure

#2715 Add connection meid token doc
  docs/how-to-guides/manage-connections.md
Labels: documentation

#2685 feat: add public API for pf flow save
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow/CHANGELOG.md
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_save.py
  src/promptflow/tests/test_configs/functions/file_code/hello.py
  src/promptflow/tests/test_configs/functions/file_code/world.py
Labels: promptflow, promptflow-devkit

#2729 Limit docutils since newer version is breaking
  src/promptflow-core/pyproject.toml
Labels: promptflow-core

#2726 Add optional for flow_name.
  src/promptflow-core/promptflow/executor/_service/contracts/execution_request.py
Labels: promptflow-core

#2725 Evaluate API class based evaluator support
  src/promptflow-evals/promptflow/evals/__init__.py
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/__init__.py
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_flow_run_wrapper.py
  src/promptflow-evals/samples/evaluation.py
  src/promptflow-evals/samples/using_evaluate.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/data/evaluate_test_data.jsonl
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/data/evaluate_test_data.jsonl
  src/promptflow-evals/tests/evals/unittests/data/invalid_evaluate_test_data.jsonl
  src/promptflow-evals/tests/evals/unittests/data/missing_columns_evaluate_test_data.jsonl
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#2698 Implement Attribute Truncation in to_cosmosdb_item to Comply with CosmosDB Size Limit
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_span.py
Labels: promptflow, promptflow-azure

#2583 [tracing/devkit] `start_trace` just merge new resources
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-tracing/promptflow/tracing/_start_trace.py
  src/promptflow-tracing/tests/unittests/test_start_trace.py
  src/promptflow/tests/sdk_cli_test/unittests/test_trace.py
Labels: sdk, promptflow, long-term, promptflow-devkit, promptflow-tracing

#2731 Add DAG_FILE_NAME back for mlflow
  .cspell.json
  .github/CODEOWNERS
  src/promptflow-devkit/promptflow/_sdk/_mlflow.py
Labels: fundamental, promptflow-devkit

#2727 Adjust assistant tool function parse logic
  src/promptflow-core/promptflow/_core/tools_manager.py
  src/promptflow-core/promptflow/contracts/tool.py
  src/promptflow-core/promptflow/executor/_assistant_tool_invoker.py
  src/promptflow-core/promptflow/executor/_docstring_parser.py
  src/promptflow-core/promptflow/executor/_errors.py
  src/promptflow-core/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/unittests/executor/test_docstring_parser.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/test_configs/assistant_definitions/assistant_definition_partial_description.yaml
  src/promptflow/tests/test_configs/assistant_definitions/assistant_definition_types.yaml
  src/promptflow/tests/test_configs/assistant_definitions/assistant_definition_with_connection.yaml
  src/promptflow/tests/test_configs/assistant_definitions/assistant_definition_without_functions.yaml
  src/promptflow/tests/test_configs/assistant_definitions/echo.py
  src/promptflow/tests/test_configs/assistant_definitions/echo_types.py
  src/promptflow/tests/test_configs/assistant_definitions/echo_with_partial_description.py
Labels: promptflow, promptflow-core

#2586 [SDK/CLI] Support flow run local to cloud
  .cspell.json
  src/promptflow-azure/promptflow/azure/_cli/_utils.py
  src/promptflow-azure/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow-azure/promptflow/azure/_utils/general.py
  src/promptflow-azure/promptflow/azure/operations/_async_run_uploader.py
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-devkit/promptflow/_cli/_utils.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_errors.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-recording/promptflow/recording/azure/bases.py
  src/promptflow-recording/promptflow/recording/azure/processors.py
  src/promptflow-recording/promptflow/recording/azure/utils.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_upload_run.yaml
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_run_operations.py
  src/promptflow/tests/test_configs/datas/webClassification1.jsonl
  src/promptflow/tests/test_configs/flows/web_classification/.promptflow/flow.tools.json
Labels: sdk, cli, promptflow, promptflow-devkit, promptflow-azure

#2724 Add feature_list and e2e test cases for openai_vision image contract feature.
  src/promptflow-core/promptflow/_utils/feature_utils.py
  src/promptflow/tests/executor/e2etests/test_image.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/image_inputs/inputs.jsonl
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/image_inputs/logo_1.png
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/image_inputs/logo_2.png
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/inputs.jsonl
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/logo.jpg
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/logo_2.png
  src/promptflow/tests/test_configs/flows/python_tool_with_openai_vision_image/pick_an_image.py
Labels: promptflow, promptflow-core

#2534 [SDK/CLI] added autocompletion for pf cli
  docs/reference/pf-command-reference.md
  src/promptflow-devkit/promptflow/_cli/_completers/_param_completers.py
  src/promptflow-devkit/promptflow/_cli/_params.py
  src/promptflow-devkit/promptflow/_cli/_pf/entry.py
  src/promptflow-devkit/promptflow/_sdk/_orm/run_info.py
  src/promptflow-devkit/promptflow/_sdk/data/executable/requirements.txt
  src/promptflow-devkit/promptflow/_sdk/operations/_run_operations.py
  src/promptflow-devkit/pyproject.toml
  src/promptflow/CHANGELOG.md
  src/promptflow/pf.autocomplete.sh
  src/promptflow/setup.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: documentation, cli, promptflow, external, promptflow-devkit

#2607 Release/promptflow/1.8.0
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdf.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdfazure.yml
  scripts/readme/ghactions_driver/workflow_templates/pdf_workflow.yml.jinja2
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/promptflow/core/_errors.py
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/pyproject.toml
  src/promptflow-tracing/pyproject.toml
  src/promptflow/CHANGELOG.md
Labels: sdk, cli, promptflow, fundamental, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#2740 Update dev version promptflow-evals
  src/promptflow-evals/pyproject.toml
Labels: promptflow-evals

#2692 [SDK] Support pfazure init
  .cspell.json
  src/promptflow-azure/promptflow/azure/_pf_client.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_flex_flow_run.yaml
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/eager_flows/basic_callable_class/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/basic_callable_class/flow.flex.yaml
Labels: promptflow, promptflow-devkit, promptflow-azure

#2744 Fix msi release pipeline
  .github/workflows/build_msi_installer.yml
Labels: fundamental

#2714 feat: support TypedDict as flex flow return type
  src/promptflow-core/promptflow/_core/tool_meta_generator.py
  src/promptflow-core/promptflow/_utils/tool_utils.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_save.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/basic_callable_class/simple_callable_class.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow_with_trace.meta.json
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow_with_trace.py
  src/promptflow/tests/test_configs/eager_flows/multiple_stream_outputs/multiple_stream_outputs.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_dict_output/dict_output_entry.py
  src/promptflow/tests/test_configs/functions/class_init_complicated_ports/hello.py
  src/promptflow/tests/test_configs/functions/class_init_with_entity_init/hello.py
Labels: sdk, promptflow, promptflow-core, promptflow-devkit

#2738 [Flow test] Fix flow test with json file
  src/promptflow-devkit/promptflow/_cli/_params.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/datas/webClassification.json
Labels: promptflow, promptflow-devkit

#2746 Connection override fix
  src/promptflow-devkit/promptflow/_sdk/entities/_flows/_flow_context_resolver.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_as_func.py
  src/promptflow/tests/test_configs/flows/llm_tool_non_existing_connection/echo.py
  src/promptflow/tests/test_configs/flows/llm_tool_non_existing_connection/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/llm_tool_non_existing_connection/joke.jinja2
Labels: promptflow, promptflow-devkit

#2734 feat: avoid dump flow.json for python flows
  src/promptflow-azure/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
Labels: promptflow, promptflow-azure

#2716 [Fix] Promptflow service start hang.
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_cli/_pf/_upgrade.py
  src/promptflow-devkit/promptflow/_sdk/_service/app.py
  src/promptflow-devkit/promptflow/_sdk/_service/utils/utils.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_general_apis.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: promptflow, promptflow-devkit

#2752 [SDK]Support passing class in pf.run
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow, promptflow-devkit

#2627 [Executor] Support connection provider in executor
  src/promptflow-core/promptflow/core/_connection_provider/_dict_connection_provider.py
  src/promptflow-core/promptflow/executor/_tool_resolver.py
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow, executor, promptflow-core

#2745 [Internal] Set timeout when getting cosmos db token
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/client.py
Labels: promptflow-azure

#2743 [Schema] Update flow schema
  scripts/json_schema/Flow.schema.json
Labels: fundamental

#2748 revert: use dag type system for infer_signature
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/promptflow/_sdk/schemas/_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_save.py
Labels: promptflow, promptflow-devkit

#2751 Add some package and resource checks
  docs/reference/pf-command-reference.md
  src/promptflow-azure/promptflow/azure/operations/_run_operations.py
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-core/promptflow/core/_connection_provider/_utils.py
  src/promptflow-core/promptflow/core/_connection_provider/_workspace_connection_provider.py
  src/promptflow-core/promptflow/core/_errors.py
  src/promptflow-core/promptflow/core/_serving/extension/azureml_extension.py
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-recording/promptflow/recording/azure/utils.py
  src/promptflow-recording/recordings/azure/test_arm_connection_operations_TestArmConnectionOperations_test_get_connection.yaml
  src/promptflow-recording/recordings/azure/test_workspace_connection_provider_TestWorkspaceConnectionProvider_test_list_connections.yaml
  src/promptflow/CHANGELOG.md
Labels: documentation, promptflow, promptflow-core, promptflow-devkit, promptflow-azure

#2721 Execution server support batch run line log
  src/promptflow-core/promptflow/executor/_service/contracts/execution_request.py
  src/promptflow-core/promptflow/executor/_service/utils/service_utils.py
Labels: promptflow-core

#2750 support both yaml and yml postfix
  src/promptflow-core/promptflow/_utils/flow_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_flow.py
  src/promptflow/tests/test_configs/eager_flows/multiple_flex_yaml/entry.py
  src/promptflow/tests/test_configs/eager_flows/multiple_flex_yaml/flow.flex.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_flex_yaml/flow.flex.yml
  src/promptflow/tests/test_configs/eager_flows/mutiple_flow_yaml/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/mutiple_flow_yaml/hello_world.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_yml/entry.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_yml/flow.flex.yml
Labels: promptflow, promptflow-core, promptflow-devkit

#2753 Fix unset span_type. Align default value with local sdk
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/summary.py
Labels: promptflow-azure

#2742 [SDK/CLI] Support flex flow local to cloud
  src/promptflow-azure/promptflow/azure/operations/_async_run_uploader.py
  src/promptflow-azure/tests/sdk_cli_azure_test/conftest.py
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow-core/promptflow/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_upload_prompty_run.yaml
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_upload_run.yaml
  src/promptflow/tests/test_configs/flows/web_classification/.promptflow/flow.tools.json
Labels: promptflow-core, promptflow-devkit, promptflow-azure

#2747 [trace][devkit] Support new design of collection in trace experience
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/test_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow-devkit/tests/conftest.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_trace.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow-tracing/promptflow/tracing/_constants.py
  src/promptflow-tracing/promptflow/tracing/_start_trace.py
  src/promptflow-tracing/tests/unittests/test_start_trace.py
Labels: promptflow-devkit, promptflow-tracing

#2593 Refine sdk resume test
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_run_resume.yaml
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_run_resume_token.yaml
  src/promptflow-recording/recordings/azure/test_run_operations_TestFlowRun_test_run_resume_with_image_aggregation.yaml
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/count_image.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/data.jsonl
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/flip_image.py
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/input_data/data.jsonl
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/input_data/logo.gif
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/input_data/logo.jpg
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/input_data/logo.png
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/logo.gif
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/logo.jpg
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/logo.png
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/question_on_image.jinja2
  src/promptflow/tests/test_configs/flows/eval_flow_with_image_resume_random_fail/requirements.txt
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/classify_with_llm.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/convert_to_dict.py
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/data.jsonl
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/fetch_text_content_from_url.py
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/prepare_examples.py
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/random_fail.py
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/summarize_text_content.jinja2
  src/promptflow/tests/test_configs/flows/web_classification_random_fail/summarize_text_content__variant_1.jinja2
Labels: promptflow, promptflow-devkit, promptflow-azure

#2756 [PFS] Start pfs in foreground and log in terminal and file in debug mode
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_sdk/_service/app.py
  src/promptflow-devkit/promptflow/_sdk/_service/utils/utils.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_cli.py
Labels: promptflow-devkit

#2728 [Prompty] Support model config in prompty
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-core/promptflow/core/_model_configuration.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow/tests/test_configs/prompty/prompty_example.prompty
Labels: promptflow, promptflow-core, promptflow-devkit

#2767 [trace] Move trace feature out of internal flag & improve trace experience
  src/promptflow-devkit/promptflow/_sdk/_configuration.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/test_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/_utils.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_trace.py
Labels: promptflow-devkit

#2772 [trace][bugfix] Add missing local import to print portal url
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
Labels: promptflow-devkit

#2732 add promptflow-rag code owner
  .github/CODEOWNERS
Labels: fundamental

#2708 [Prompty] Format prompty output
  src/promptflow-core/promptflow/core/_errors.py
  src/promptflow-core/promptflow/core/_flow.py
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-core/promptflow/executor/_prompty_executor.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
  src/promptflow-recording/recordings/local/node_cache.shelve.bak
  src/promptflow-recording/recordings/local/node_cache.shelve.dat
  src/promptflow-recording/recordings/local/node_cache.shelve.dir
  src/promptflow-tracing/promptflow/tracing/_trace.py
  src/promptflow-tracing/promptflow/tracing/_tracer.py
  src/promptflow/tests/test_configs/prompty/prompty_example_with_json_format.prompty
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing

#2773 [Connection] Raise not supported instead of 404 when creating AzureAI connection
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_cli/_pf/_connection.py
  src/promptflow-devkit/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow-devkit/tests/sdk_cli_global_config_test/e2etests/test_connection_cli.py
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-devkit, promptflow-azure

#2778 feat: Update UI resources for local trace view
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/assets/index-a0L2Hk9o.js
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/assets/index-dXnQq95A.js
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/index.html
Labels: promptflow-devkit

#2759 Persist Original OpenTelemetry Span Data as JSON in Blob Storage
  src/promptflow-azure/promptflow/azure/_storage/cosmosdb/span.py
  src/promptflow-azure/tests/sdk_cli_azure_test/unittests/test_span.py
Labels: promptflow-azure

#2775 feat: support pf.run for dynamic callable
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/_pf_client.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow-devkit

#2774 [Doc] Add reference doc for pf service cli.
  docs/reference/pf-command-reference.md
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
Labels: documentation, promptflow-devkit

#2776 [Devkit][Azure][Fundamental] Fix multiple issues after migration.
  .github/workflows/promptflow-core-test.yml
  .github/workflows/promptflow-tracing-e2e-test.yml
  .github/workflows/promptflow-tracing-unit-test.yml
  .github/workflows/sdk-cli-perf-monitor-test.yml
  scripts/check_enforcer/check_enforcer.py
  src/promptflow-azure/promptflow/azure/_cli/_connection.py
  src/promptflow-azure/promptflow/azure/_cli/_utils.py
  src/promptflow-azure/promptflow/azure/_cli/entry.py
  src/promptflow-azure/promptflow/azure/_utils/_tracing.py
  src/promptflow-azure/tests/sdk_cli_azure_test/unittests/test_utils.py
  src/promptflow-devkit/promptflow/_cli/_utils.py
Labels: fundamental, promptflow-devkit, promptflow-azure

#2770 fix: csharp graceful shutdown
  src/promptflow-devkit/promptflow/_proxy/_csharp_executor_proxy.py
  src/promptflow-devkit/promptflow/_proxy/_csharp_inspector_proxy.py
Labels: promptflow-devkit

#2782 [Fundamental] Pipeline Fix
  .github/workflows/promptflow-release-testing-matrix.yml
  src/promptflow-devkit/tests/conftest.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_connection_apis.py
Labels: fundamental, promptflow-devkit

#2787 [propmty] Fix prompty batch run failed in ci
  src/promptflow-core/promptflow/executor/_process_manager.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty.py
Labels: promptflow-core, promptflow-devkit

#2791 Azure Fix for movement not covered
  .github/workflows/promptflow-release-testing-matrix.yml
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
Labels: fundamental, promptflow-devkit

#2794 [Connection] Support strong type custom connection
  src/promptflow-core/promptflow/core/_connection_provider/_workspace_connection_provider.py
  src/promptflow-core/tests/azureml-serving/unittests/test_workspace_connection_provider.py
Labels: promptflow-core

#2792 [trace][bugfix] Fix typo in AI project tracing url
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
Labels: promptflow-devkit

#2793 [Internal] Add exec_line_async support for script executor
  src/promptflow-core/promptflow/executor/_script_executor.py
  src/promptflow-core/tests/core/e2etests/test_eager_flow.py
Labels: promptflow-core

#2795 [pfs] Fix list remote connection failed in pfs
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_connection_apis.py
Labels: promptflow-devkit

#2796 feat: update trace view's ui resource
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/assets/index-M7U6jpSX.js
  src/promptflow-devkit/promptflow/_sdk/_service/static/trace/index.html
Labels: promptflow-devkit

#2785 Fixing Tracing Metrics Error - Validate run.system_metrics is not none
  src/promptflow-core/promptflow/core/_serving/monitor/metrics.py
  src/promptflow-core/tests/core/unittests/test_metrics.py
Labels: external, promptflow-core

#2797 Add code import to promptflow._internal
  src/promptflow-devkit/promptflow/_internal/__init__.py
Labels: promptflow-devkit

#2802 [Internal] Refine connection usage
  src/promptflow-azure/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow-core/tests/azureml-serving/unittests/test_workspace_connection_provider.py
  src/promptflow-devkit/promptflow/_sdk/entities/_connection.py
  src/promptflow-devkit/promptflow/_sdk/operations/_connection_operations.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_connection.py
Labels: promptflow-core, promptflow-devkit, promptflow-azure

#2760 [Feature][Tools] Escape/unescape roles for input
  src/promptflow-tools/CHANGELOG.md
  src/promptflow-tools/promptflow/tools/aoai.py
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/common.py
  src/promptflow-tools/promptflow/tools/openai.py
  src/promptflow-tools/promptflow/tools/openai_gpt4v.py
  src/promptflow-tools/tests/test_common.py
Labels: promptflow-tools

#2811 Fix merge error
  src/promptflow-tools/promptflow/tools/common.py
Labels: promptflow-tools
