Repository microsoft/promptflow, pull requests merged in 2024-09, with the labels that each got.

#3691 Update documents to include rerank tool
  .cspell.json
  docs/reference/index.md
  docs/reference/tools-reference/rerank-tool.md
Labels: documentation

#3702 changes to align with spec
  src/promptflow-evals/promptflow/evals/_common/rai_service.py
  src/promptflow-evals/promptflow/evals/evaluators/_eci/_eci.py
  src/promptflow-evals/promptflow/evals/evaluators/_protected_materials/_protected_materials.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_scenario.py
  src/promptflow-evals/tests/evals/e2etests/test_adv_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
Labels: promptflow-evals

#3711 rename PMs to PM
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/evaluators/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_protected_material/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_protected_material/_protected_material.py
  src/promptflow-evals/promptflow/evals/evaluators/_protected_materials/__init__.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/recordings/azure/test_builtin_evaluators_TestBuiltInEvaluators_test_protected_material_evaluator.yaml
Labels: promptflow-evals

#3705 rename direct attack sim
  .cspell.json
  src/promptflow-evals/CHANGELOG.md
  src/promptflow-evals/promptflow/evals/synthetic/README.md
  src/promptflow-evals/promptflow/evals/synthetic/__init__.py
  src/promptflow-evals/promptflow/evals/synthetic/direct_attack_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_adv_simulator.py
  src/promptflow-evals/tests/evals/unittests/test_jailbreak_simulator.py
Labels: promptflow-evals

#3720 PM/ECI defect rates in evaluation
  src/promptflow-evals/promptflow/evals/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_scenario.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_adv_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3719 Math Evaluators
  .cspell.json
  src/promptflow-evals/promptflow/evals/_common/utils.py
  src/promptflow-evals/promptflow/evals/evaluators/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_bleu/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_bleu/_bleu.py
  src/promptflow-evals/promptflow/evals/evaluators/_gleu/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_gleu/_gleu.py
  src/promptflow-evals/promptflow/evals/evaluators/_meteor/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_meteor/_meteor.py
  src/promptflow-evals/promptflow/evals/evaluators/_rouge/__init__.py
  src/promptflow-evals/promptflow/evals/evaluators/_rouge/_rouge.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/samples/built_in_evaluators.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_save_eval.py
  src/promptflow-evals/tests/evals/unittests/test_utils.py
Labels: promptflow-evals

#3724 Add CHANGELOG entry for math evaluators
  src/promptflow-evals/CHANGELOG.md
Labels: promptflow-evals

#3727 Include xpia in handled_metrics for evaluation aggregation
  src/promptflow-evals/promptflow/evals/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
Labels: promptflow-evals

#3729 Rename IndirectAttack evaluation enum to "xpia"
  src/promptflow-evals/promptflow/evals/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
Labels: promptflow-evals

#3730 Remove tracing from navigation and experimental label from pf CLI
  docs/cloud/index.md
  docs/reference/pf-command-reference.md
Labels: documentation

#3771 Change eci prefix from upper case to lowercase
  src/promptflow-evals/promptflow/evals/_common/rai_service.py
  src/promptflow-evals/promptflow/evals/evaluators/_eci/_eci.py
  src/promptflow-evals/tests/evals/e2etests/test_builtin_evaluators.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3784 Enhance the validation of local media_save API
  src/promptflow-devkit/promptflow/_sdk/_service/apis/ui.py
Labels: promptflow-devkit
