Repository microsoft/promptflow, pull requests merged in 2024-12, with the labels that each got.

#3820 prompty: fix parsing of tool_calls when array in arguments
  src/promptflow-core/promptflow/core/_prompty_utils.py
Labels: external, promptflow-core

#3885 Fixed TypeError in Tracing issue with tokens that are dicts
  src/promptflow-tracing/CHANGELOG.md
  src/promptflow-tracing/promptflow/tracing/_trace.py
Labels: external, promptflow-tracing

#3887 Remove support for Python 3.8
  .github/workflows/promptflow-core-test.yml
  .github/workflows/promptflow-evals-e2e-test-azure.yml
  .github/workflows/promptflow-evals-e2e-test-local.yml
  .github/workflows/promptflow-evals-installation-test.yml
  .github/workflows/promptflow-evals-performance-test.yml
  .github/workflows/promptflow-evals-unit-test.yml
  .github/workflows/promptflow-parallel-e2e-test.yml
  .github/workflows/promptflow-parallel-unit-test.yml
  .github/workflows/promptflow-release-testing-matrix.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  .github/workflows/promptflow-tracing-e2e-test.yml
  .github/workflows/promptflow-tracing-unit-test.yml
  .github/workflows/sdk-cli-azure-test-production.yml
  .github/workflows/sdk-cli-azure-test-pull-request.yml
  docs/dev/dev_setup.md
  docs/how-to-guides/installation/index.md
  pylintrc
  scripts/installer/curl_install_pypi/install.py
  src/promptflow-azure/CHANGELOG.md
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow-devkit/tests/sdk_pfs_test/utils.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-parallel/pyproject.toml
  src/promptflow-rag/pyproject.toml
  src/promptflow-rag/setup.py
  src/promptflow-recording/pyproject.toml
  src/promptflow-tools/CHANGELOG.md
  src/promptflow-tools/setup.py
  src/promptflow-tracing/CHANGELOG.md
  src/promptflow-tracing/pyproject.toml
  src/promptflow-tracing/tests/e2etests/test_tracing.py
  src/promptflow/CHANGELOG.md
  src/promptflow/pyproject.toml
  src/promptflow/setup.py
  src/promptflow/tests/executor/unittests/batch/test_base_executor_proxy.py
Labels: documentation, promptflow-tools, promptflow, fundamental, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure, promptflow-evals, promptflow-parallel
