Repository microsoft/promptflow, pull requests merged in 2024-01, with the labels that each got.

#1616 [Executor] Add root level api_calls
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_run_tracker.py
Labels: promptflow

#1620 [fundamental] Add `pre-commit install` in dev setup script
  scripts/building/dev_setup.py
Labels: fundamental

#1565 Add @trace decorator to log traces for sub functions in tools
  src/promptflow/CHANGELOG.md
  src/promptflow/dev_requirements.txt
  src/promptflow/promptflow/__init__.py
  src/promptflow/promptflow/_core/tool.py
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_tool.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/mock_tool.py
  src/promptflow/tests/test_configs/flows/flow_with_trace/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_trace/greetings.py
  src/promptflow/tests/test_configs/flows/flow_with_trace_async/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_trace_async/greetings.py
Labels: promptflow

#1632 [Doc] Add doc for pfazure run download
  docs/reference/pf-command-reference.md
  docs/reference/pfazure-command-reference.md
Labels: documentation

#1637 [Bugfix][SDK/CLI] Fix csharp flow test
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
Labels: sdk, promptflow

#1625 [Executor] Exit the process when all async tools are done or exceeded timeout after cancellation
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/tests/test_configs/flows/async_tools_with_sync_tools/async_passthrough.py
  src/promptflow/tests/test_configs/flows/async_tools_with_sync_tools/flow.dag.yaml
Labels: promptflow

#1602 [promptflow][bugfix] Fix unaligned IO during get details against partial completed Azure run
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/datas/numbers.jsonl
  src/promptflow/tests/test_configs/flows/mod-n/three/.promptflow/flow.tools.json
  src/promptflow/tests/test_configs/flows/mod-n/three/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/mod-n/three/mod_three.py
  src/promptflow/tests/test_configs/flows/mod-n/two/.promptflow/flow.tools.json
  src/promptflow/tests/test_configs/flows/mod-n/two/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/mod-n/two/mod_two.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_get_details_against_partial_completed_run.yaml
Labels: sdk, promptflow

#1640 Add image util method to internal module.
  src/promptflow/promptflow/_internal/__init__.py
Labels: promptflow

#1641 [fundamental] Disable weekly update CI hosted runtime workflow
  .github/workflows/update-ci-runtime.yml
Labels: fundamental

#1636 Support tracer when running async tasks in parallel
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/promptflow/contracts/trace.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/_core/test_tool.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
Labels: promptflow

#1642 Add doc about python tools' Keyword Arguments Support
  docs/media/reference/tools-reference/python_tool_kwargs.png
  docs/reference/tools-reference/python-tool.md
Labels: documentation

#1530 add tool owner
  .github/CODEOWNERS
Labels: fundamental, no-recent-activity

#1645 [promptflow][bugfix] Fix flaky test due to fork mode
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow

#1635 [Doc] Refine the doc, create flow from existing code
  docs/how-to-guides/init-and-test-a-flow.md
  examples/flows/standard/customer-intent-extraction/intent.py
Labels: documentation, examples

#1652 Guess mime type when init Image
  src/promptflow/promptflow/_utils/multimedia_utils.py
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_utils.py
Labels: promptflow

#1613 Remove tool resolver from thread local context
  src/promptflow/promptflow/executor/_assistant_tool_invoker.py
  src/promptflow/promptflow/executor/_docstring_parser.py
  src/promptflow/promptflow/executor/_tool_invoker.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/unittests/executor/test_assistant_tool_invoker.py
  src/promptflow/tests/test_configs/flows/assistant_tool/data.jsonl
  src/promptflow/tests/test_configs/flows/assistant_tool/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/assistant_tool/get_all_clothes.py
  src/promptflow/tests/test_configs/flows/assistant_tool/get_calorie.py
  src/promptflow/tests/test_configs/flows/assistant_tool/get_current_location.py
  src/promptflow/tests/test_configs/flows/assistant_tool/get_current_weather.py
  src/promptflow/tests/test_configs/flows/assistant_tool/multiply.py
  src/promptflow/tests/test_configs/flows/assistant_tool/oai_assistant.py
Labels: promptflow

#1643 [Executor] Use os._exit instead of sys.exit so that the non-daemon thread can be…
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
Labels: promptflow

#1656 [SDK] Fix invalid flow path in run YAML
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/schemas/_run.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
  src/promptflow/tests/test_configs/runs/bulk_run_invalid_flow_path.yaml
  src/promptflow/tests/test_configs/runs/bulk_run_invalid_remote_flow_str.yaml
Labels: sdk, promptflow

#1664 [Internal][Executor] Enable PF_WORKER_COUNT when creating semaphore
  src/promptflow/promptflow/batch/_batch_engine.py
Labels: promptflow

#1623 Extend OpenAI Python Interface to Async Version for Promptflow
  src/promptflow/promptflow/_core/openai_injector.py
  src/promptflow/tests/executor/unittests/_core/test_api_injector.py
Labels: promptflow

#1412 Add RAI QA RAG and non-RAG flows
  .cspell.json
  .github/workflows/samples_flows_evaluation_eval_qna_non_rag.yml
  .github/workflows/samples_flows_evaluation_eval_qna_rag_metrics.yml
  examples/README.md
  examples/flows/evaluation/eval-qna-non-rag/README.md
  examples/flows/evaluation/eval-qna-non-rag/ada_cosine_similarity_score.py
  examples/flows/evaluation/eval-qna-non-rag/aggregate_variants_results.py
  examples/flows/evaluation/eval-qna-non-rag/concat_scores.py
  examples/flows/evaluation/eval-qna-non-rag/data.jsonl
  examples/flows/evaluation/eval-qna-non-rag/f1_score.py
  examples/flows/evaluation/eval-qna-non-rag/flow.dag.yaml
  examples/flows/evaluation/eval-qna-non-rag/gpt_coherence_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_fluency_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_groundedness_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_relevance_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/gpt_similarity_prompt.jinja2
  examples/flows/evaluation/eval-qna-non-rag/requirements.txt
  examples/flows/evaluation/eval-qna-non-rag/select_metrics.py
  examples/flows/evaluation/eval-qna-non-rag/validate_input.py
  examples/flows/evaluation/eval-qna-rag-metrics/README.md
  examples/flows/evaluation/eval-qna-rag-metrics/aggregate_variants_results.py
  examples/flows/evaluation/eval-qna-rag-metrics/concat_scores.py
  examples/flows/evaluation/eval-qna-rag-metrics/data.jsonl
  examples/flows/evaluation/eval-qna-rag-metrics/flow.dag.yaml
  examples/flows/evaluation/eval-qna-rag-metrics/parse_generation_score.py
  examples/flows/evaluation/eval-qna-rag-metrics/parse_groundedness_score.py
  examples/flows/evaluation/eval-qna-rag-metrics/parse_retrival_score.py
  examples/flows/evaluation/eval-qna-rag-metrics/rag_generation_prompt.jinja2
  examples/flows/evaluation/eval-qna-rag-metrics/rag_groundedness_prompt.jinja2
  examples/flows/evaluation/eval-qna-rag-metrics/rag_retrieval_prompt.jinja2
  examples/flows/evaluation/eval-qna-rag-metrics/requirements.txt
  examples/flows/evaluation/eval-qna-rag-metrics/select_metrics.py
  examples/flows/evaluation/eval-qna-rag-metrics/validate_input.py
Labels: examples, fundamental, no-recent-activity

#1634 test: run flow in notebook
  src/promptflow/dev_requirements.txt
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/notebooks/dummy.ipynb
Labels: promptflow

#1614 [Internal][Executor] Create the executor proxy in batch_engine.run to ensure that the life cycle of it is in the run function
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
Labels: promptflow

#1659 Fix bug when guessing mime type
  src/promptflow/promptflow/contracts/multimedia.py
  src/promptflow/tests/executor/unittests/contracts/test_multimedia.py
Labels: promptflow

#1669 Check dollar schema field in examples folder
  .github/workflows/flowdag_schema_check.yml
  examples/flows/chat/chat-math-variant/flow.dag.yaml
  examples/flows/chat/chat-with-image/flow.dag.yaml
  examples/flows/integrations/azure-ai-language/analyze_documents/flow.dag.yaml
  examples/flows/integrations/azure-ai-language/multi_intent_conversational_language_understanding/flow.dag.yaml
  examples/flows/standard/customer-intent-extraction/flow.dag.yaml
  examples/flows/standard/describe-image/flow.dag.yaml
  examples/tools/use-cases/cascading-inputs-tool-showcase/flow.dag.yaml
  examples/tools/use-cases/custom_llm_tool_showcase/flow.dag.yaml
  examples/tools/use-cases/dynamic-list-input-tool-showcase/flow.dag.yaml
  examples/tools/use-cases/filepath-input-tool-showcase/flow.dag.yaml
  examples/tutorials/flow-deploy/create-service-with-flow/echo_connection_flow/flow.dag.yaml
  scripts/readme/schema_checker.py
Labels: examples, fundamental

#1644 Check_enforcer enforce readme and examples check
  .github/workflows/check_enforcer.yml
  .github/workflows/samples_configuration.yml
  .github/workflows/samples_connections.yml
  .github/workflows/samples_connections_connection.yml
  .github/workflows/samples_flowinpipeline_pipeline.yml
  .github/workflows/samples_flows_chat_basic_chat.yml
  .github/workflows/samples_flows_chat_chat_math_variant.yml
  .github/workflows/samples_flows_chat_chat_with_image.yml
  .github/workflows/samples_flows_chat_chat_with_pdf.yml
  .github/workflows/samples_flows_chat_chat_with_wikipedia.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdf.yml
  .github/workflows/samples_flows_chat_chatwithpdf_chatwithpdfazure.yml
  .github/workflows/samples_flows_evaluation_eval_basic.yml
  .github/workflows/samples_flows_evaluation_eval_chat_math.yml
  .github/workflows/samples_flows_evaluation_eval_classification_accuracy.yml
  .github/workflows/samples_flows_evaluation_eval_entity_match_rate.yml
  .github/workflows/samples_flows_evaluation_eval_groundedness.yml
  .github/workflows/samples_flows_evaluation_eval_perceived_intelligence.yml
  .github/workflows/samples_flows_evaluation_eval_qna_non_rag.yml
  .github/workflows/samples_flows_evaluation_eval_qna_rag_metrics.yml
  .github/workflows/samples_flows_standard_autonomous_agent.yml
  .github/workflows/samples_flows_standard_basic.yml
  .github/workflows/samples_flows_standard_basic_with_builtin_llm.yml
  .github/workflows/samples_flows_standard_basic_with_connection.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_if_else.yml
  .github/workflows/samples_flows_standard_conditional_flow_for_switch.yml
  .github/workflows/samples_flows_standard_customer_intent_extraction.yml
  .github/workflows/samples_flows_standard_describe_image.yml
  .github/workflows/samples_flows_standard_flow_with_additional_includes.yml
  .github/workflows/samples_flows_standard_flow_with_symlinks.yml
  .github/workflows/samples_flows_standard_gen_docstring.yml
  .github/workflows/samples_flows_standard_maths_to_code.yml
  .github/workflows/samples_flows_standard_named_entity_recognition.yml
  .github/workflows/samples_flows_standard_web_classification.yml
  .github/workflows/samples_getstarted_flowasfunction.yml
  .github/workflows/samples_getstarted_quickstart.yml
  .github/workflows/samples_getstarted_quickstartazure.yml
  .github/workflows/samples_runmanagement_cloudrunmanagement.yml
  .github/workflows/samples_runmanagement_runmanagement.yml
  .github/workflows/samples_tools_use_cases_cascading_inputs_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_llm_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_package_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_custom_strong_type_connection_script_tool_showcase.yml
  .github/workflows/samples_tools_use_cases_dynamic_list_input_tool_showcase.yml
  .github/workflows/samples_tutorials_e2e_development_chat_with_pdf.yml
  .github/workflows/samples_tutorials_flow_deploy_azure_app_service.yml
  .github/workflows/samples_tutorials_flow_deploy_create_service_with_flow.yml
  .github/workflows/samples_tutorials_flow_deploy_distribute_flow_as_executable_app.yml
  .github/workflows/samples_tutorials_flow_deploy_docker.yml
  .github/workflows/samples_tutorials_flow_deploy_kubernetes.yml
  .github/workflows/samples_tutorials_flow_fine_tuning_evaluation_promptflow_quality_improvement.yml
  examples/dev_requirements.txt
  scripts/building/check_enforcer.ps1
  scripts/building/check_enforcer.py
  scripts/readme/ghactions_driver/readme_step.py
  scripts/readme/ghactions_driver/workflow_templates/workflow_skeleton.yml.jinja2
  scripts/readme/readme.py
  scripts/readme/workflow_generator.py
Labels: examples, fundamental

#1661 [promptflow][bugfix] Fix "Without Import Data" error in run visualize page due to invalid JSON value
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/flows/flow-with-nan-inf/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow-with-nan-inf/nan_inf.py
Labels: sdk, promptflow

#1671 [SDK/CLI] Handle user name for non-msft tenant
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/_utils/gerneral.py
Labels: sdk, promptflow

#1676 Update promptflow-tools from 1.0.2 to 1.0.3
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#1679 [Bugfix][Executor] Skip signal handler registration in non-main thread
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow

#1678 [Improvement][Executor] Exit health check loop if executor service is exited
  src/promptflow/promptflow/batch/_base_executor_proxy.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/tests/executor/e2etests/test_csharp_executor_proxy.py
  src/promptflow/tests/executor/mock_execution_server.py
Labels: promptflow

#1657 Support AssistantDefinition contract in executor
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/contracts/types.py
  src/promptflow/promptflow/executor/_assistant_tool_invoker.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/executor/unittests/contracts/test_tool.py
  src/promptflow/tests/executor/unittests/contracts/test_types.py
  src/promptflow/tests/executor/unittests/executor/test_assistant_tool_invoker.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/test_configs/flows/tool_with_assistant_definition/assistant_definition.yaml
  src/promptflow/tests/test_configs/flows/tool_with_assistant_definition/echo.py
  src/promptflow/tests/test_configs/flows/tool_with_assistant_definition/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/tool_with_assistant_definition/test_assistant_definition.py
Labels: promptflow

#1663 [Internal] When load data for batch run, only read first max_rows_count of rows.
  .cspell.json
  src/promptflow/promptflow/_utils/load_data.py
  src/promptflow/promptflow/batch/_batch_inputs_processor.py
  src/promptflow/tests/executor/unittests/batch/test_batch_inputs_processor.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: promptflow

#1680 fix metric name concatenating bug
  src/promptflow/promptflow/_sdk/_serving/monitor/metrics.py
Labels: sdk, promptflow

#1681 [Internal]Add validate functionality in schema_checker
  .github/workflows/flowdag_schema_check.yml
  examples/flows/evaluation/eval-qna-non-rag/flow.dag.yaml
  examples/flows/evaluation/eval-qna-rag-metrics/flow.dag.yaml
  scripts/readme/schema_checker.py
Labels: examples, fundamental

#1414 Update tools documents about openai parameters
  docs/reference/tools-reference/llm-tool.md
Labels: documentation

#1455 add error category
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/exceptions.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/sdk_cli_test/unittests/test_exceptions.py
Labels: sdk, promptflow

#1685 [Bugfix] Add validation for wrong connection type for LLM node.
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/test_configs/wrong_flows/flow_llm_with_wrong_conn/flow.dag.yaml
  src/promptflow/tests/test_configs/wrong_flows/flow_llm_with_wrong_conn/wrong_llm.jinja2
Labels: promptflow, executor

#1633 [Tool] Fixed the issue of raise unexpected exception when verifying the class tool
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_sdk/operations/_tool_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_tool.py
  src/promptflow/tests/sdk_cli_test/unittests/test_tool.py
  src/promptflow/tests/test_configs/tools/tool_with_dynamic_list_input.py
Labels: documentation, sdk, promptflow

#1682 [SDK/CLI] Refine azure flow create and run create schema validation
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf_azure/_flow.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/entities/_validation/core.py
  src/promptflow/promptflow/_sdk/schemas/_run.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_cli.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
  src/promptflow/tests/test_configs/runs/extra_field.yaml
  src/promptflow/tests/test_configs/runs/illegal/extra_field.yaml
Labels: sdk, cli, promptflow

#1631 Do not wait "check_latest_version" to complete.
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#1699 [promptflow] Make Azure test optional in check-enforcer
  scripts/building/check_enforcer.py
Labels: fundamental

#1670 [Internal][Executor] Add unit tests for batch folder
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/batch/_csharp_executor_proxy.py
  src/promptflow/tests/executor/mock_execution_server.py
  src/promptflow/tests/executor/unittests/batch/test_base_executor_proxy.py
  src/promptflow/tests/executor/unittests/batch/test_batch_engine.py
  src/promptflow/tests/executor/unittests/batch/test_batch_inputs_processor.py
  src/promptflow/tests/executor/unittests/batch/test_csharp_executor_proxy.py
  src/promptflow/tests/executor/unittests/batch/test_result.py
Labels: promptflow

#1703 [SDK/CLI] Use local flow folder name instead of display name to create remote file share flow folder
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_create_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_get_flow.yaml
Labels: sdk, promptflow

#1697 [promptflow][bugfix] Fix `SubscriptionNotFound` in Azure replay test
  .github/workflows/sdk-cli-azure-test.yml
  scripts/building/check_enforcer.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
Labels: sdk, promptflow, fundamental

#1689 [SDK] ochestrator
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_orm/__init__.py
  src/promptflow/promptflow/_sdk/_orm/experiment.py
  src/promptflow/promptflow/_sdk/_orm/session.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/entities/_experiment.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_sdk/schemas/_experiment.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/experiments/basic-no-script-template/basic.exp.yaml
  src/promptflow/tests/test_configs/flows/web_classification/data.jsonl
Labels: sdk, cli, promptflow

#1710 [promptflow][test] Make Azure test optional again
  scripts/building/check_enforcer.py
Labels: fundamental

#1707 [fundamental]Fix publish names
  .github/workflows/promptflow-global-config-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  .github/workflows/sdk-cli-azure-test.yml
Labels: fundamental

#1712 pf run create: add more details for --data and --flow when used with --file parameter.
  src/promptflow/promptflow/_cli/_pf/_run.py
Labels: cli, promptflow

#1713 Update pf version import
  src/promptflow/promptflow/_utils/version_hint_utils.py
Labels: promptflow

#1715 Update pf-command-reference.md
  docs/reference/pf-command-reference.md
Labels: documentation

#1714 [promptflow][bugfix] Fix `ValueError: invalid width -1` in `show-details` edge case
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: cli, promptflow

#1704 [SDK/CLI] Add eager flow schema
  scripts/json_schema/EagerFlow.schema.json
  scripts/json_schema/Flow.schema.json
  scripts/json_schema/gen_json_schema.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/entities/_eager_flow.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/schemas/_flow.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_environment/entry.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_environment/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_environment/requirements.txt
  src/promptflow/tests/test_configs/eager_flows/invalid_extra_fields_nodes/entry.py
  src/promptflow/tests/test_configs/eager_flows/invalid_extra_fields_nodes/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/invalid_illegal_path/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/invalid_no_path/entry.py
  src/promptflow/tests/test_configs/eager_flows/invalid_no_path/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/multiple_entries/entry1.py
  src/promptflow/tests/test_configs/eager_flows/multiple_entries/entry2.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_yaml/entry.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_yaml/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/simple_without_yaml/entry.py
Labels: sdk, promptflow, fundamental

#1719 [Internal][Executor] Add a new error for invalid activate config
  src/promptflow/promptflow/contracts/_errors.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/executor/e2etests/test_activate.py
  src/promptflow/tests/executor/unittests/executor/test_dag_manager.py
  src/promptflow/tests/test_configs/wrong_flows/invalid_activate_config/flow.dag.yaml
Labels: promptflow

#1721 [SDK] Add orchestrator inputs, data entity
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/entities/_experiment.py
  src/promptflow/promptflow/_sdk/schemas/_experiment.py
  src/promptflow/tests/test_configs/experiments/basic-no-script-template/basic.exp.yaml
Labels: sdk, cli, promptflow

#1709 Update README files of RAI QA RAG and non-RAG evaluation flows
  examples/flows/evaluation/eval-qna-non-rag/README.md
  examples/flows/evaluation/eval-qna-rag-metrics/README.md
Labels: examples

#1705 [SDK]Support UA in pf client kwargs
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_telemetry.py
Labels: sdk, promptflow

#1690 [SDK] Switch automatic runtime to system wait
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
  src/promptflow/tests/test_configs/recordings/test_azure_cli_perf_TestAzureCliPerf_test_pfazure_run_create.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_automatic_runtime_with_environment.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_automatic_runtime_with_resources.yaml
  src/promptflow/tests/test_configs/runs/sample_bulk_run_with_resources.yaml
Labels: sdk, promptflow

#1729 Revert change ["[pf tool] Update how to doc of tool develop"
  docs/how-to-guides/develop-a-tool/add-a-tool-icon.md
  docs/how-to-guides/develop-a-tool/add-category-and-tags-for-tool.md
  docs/how-to-guides/develop-a-tool/create-and-use-tool-package.md
  docs/how-to-guides/develop-a-tool/create-cascading-tool-inputs.md
  docs/how-to-guides/develop-a-tool/create-dynamic-list-tool-input.md
  docs/how-to-guides/develop-a-tool/create-your-own-custom-strong-type-connection.md
  docs/how-to-guides/develop-a-tool/customize_an_llm_tool.md
  docs/how-to-guides/develop-a-tool/use-file-path-as-tool-input.md
  examples/tools/tool-package-quickstart/my_tool_package/tools/my_tool_1.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/my_tool_2.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_cascading_inputs.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_llm_type.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_custom_strong_type_connection.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_dynamic_list_input.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_file_path_input.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/tool_with_generated_by_input.py
  examples/tools/tool-package-quickstart/my_tool_package/tools/utils.py
  examples/tools/tool-package-quickstart/my_tool_package/yamls/my_tool_1.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/my_tool_2.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_cascading_inputs.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_custom_llm_type.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_custom_strong_type_connection.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_dynamic_list_input.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_file_path_input.yaml
  examples/tools/tool-package-quickstart/my_tool_package/yamls/tool_with_generated_by_input.yaml
Labels: documentation, examples

#1717 [promptflow][bugfix] Fix flaky Azure replay test
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/bases.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/constants.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_basic_flow_run_bulk_without_env.yaml
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_cli_telemetry.yaml
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_run_file_with_set.yaml
  src/promptflow/tests/test_configs/recordings/test_cli_with_azure_TestCliWithAzure_test_run_with_remote_data.yaml
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_create_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_get_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_automatic_runtime_with_resources.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_basic_evaluation.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_basic_evaluation_without_data.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_cancel_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_default_run_display_name.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_download_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_failed_run_to_dict_exclude.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_get_detail_against_partial_fail_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_get_details_against_partial_completed_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_input_mapping_with_dict.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_from_yaml.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_with_registry_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_with_remote_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_display_name_with_macro.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_connection_overwrite.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_env_overwrite.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_with_remote_data.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_without_dump.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_metrics.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_show_run_details.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_failed_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_invalid_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_stream_run_logs.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_update_run.yaml
  src/promptflow/tests/test_configs/recordings/test_telemetry_TestTelemetry_test_inner_function_call.yaml
Labels: promptflow

#1732 [Internal] First version of create flow with script + function in python
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/executor/_script_executor.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow.py
Labels: promptflow

#1733 [CLI] Resolve additional includes for flow serve
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/unittests/test_flow_serve.py
Labels: sdk, cli, promptflow

#1738 [promptflow][fundamental] Revert to make Azure test CI required again
  scripts/building/check_enforcer.py
Labels: fundamental

#1668 [Internal] Use ruamel.yaml instead of pyyaml in promptflow
  examples/tools/tool-package-quickstart/my_tool_package/tools/utils.py
  scripts/tool/generate_package_tool_meta.py
  scripts/tool/templates/utils.py.j2
  src/promptflow-tools/promptflow/tools/list.py
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_connection.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/_sdk/_configuration.py
  src/promptflow/promptflow/_sdk/_load_functions.py
  src/promptflow/promptflow/_sdk/_service/apis/run.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/promptflow/_sdk/_serving/extension/default_extension.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/entities/_yaml_translatable.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/_sdk/schemas/_base.py
  src/promptflow/promptflow/_utils/_errors.py
  src/promptflow/promptflow/_utils/connection_utils.py
  src/promptflow/promptflow/_utils/flow_utils.py
  src/promptflow/promptflow/_utils/yaml_utils.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/setup.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/executor/test_flow_validator.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_flow_in_azure_ml.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_local_operations.py
  src/promptflow/tests/sdk_cli_test/unittests/test_connection.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
Labels: promptflow-tools, examples, sdk, cli, promptflow, fundamental

#1742 [PromptFlow] Update coverage version.
  src/promptflow/dev_requirements.txt
Labels: promptflow

#1666 [Executor] Show long running message for async tool
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
  src/promptflow/tests/test_configs/flows/async_tools_with_sync_tools/flow.dag.yaml
Labels: promptflow

#1743 [CLI] Add --skip-open-browser for flow serve
  docs/reference/pf-command-reference.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_flow.py
Labels: documentation, cli, promptflow

#1684 Create installer for ubuntu
  .cspell.json
  scripts/installer/curl_install_pypi/README.md
  scripts/installer/curl_install_pypi/install
  scripts/installer/curl_install_pypi/install.py
Labels: fundamental

#1731 [SDK] Add pf run delete support
  docs/how-to-guides/manage-runs.md
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: documentation, sdk, cli, promptflow

#1739 [Tool] Fix invalid tool code generated when initializing the script tool with icon
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_init_entry_generators.py
  src/promptflow/promptflow/_cli/_pf/_tool.py
  src/promptflow/promptflow/_cli/data/package_tool/README.md.jinja2
  src/promptflow/promptflow/_cli/data/package_tool/setup.py.jinja2
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#1706 [pfazure] support sovereign cloud
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/_utils/gerneral.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_azure_cli_perf.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
  src/promptflow/tests/test_configs/recordings/test_azure_cli_perf_TestAzureCliPerf_test_pfazure_run_create.yaml
  src/promptflow/tests/test_configs/recordings/test_azure_cli_perf_TestAzureCliPerf_test_pfazure_run_update.yaml
  src/promptflow/tests/test_configs/recordings/test_azure_cli_perf_TestAzureCliPerf_test_run_restore.yaml
Labels: sdk, promptflow

#1718 Support pf upgrade
  scripts/installer/windows/scripts/pf.bat
  src/promptflow/pf
  src/promptflow/pf.bat
  src/promptflow/promptflow/_cli/_pf/_upgrade.py
  src/promptflow/promptflow/_cli/_pf/entry.py
  src/promptflow/promptflow/_constants.py
  src/promptflow/promptflow/_sdk/_service/apis/run.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/_utils/version_hint_utils.py
  src/promptflow/setup.py
Labels: sdk, cli, promptflow, fundamental

#1740 Add pf upgrade doc.
  docs/reference/pf-command-reference.md
  scripts/installer/windows/install_from_msi.md
Labels: documentation, fundamental

#1758 Add resource id in rest connection object
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_arm_connection_build.py
Labels: sdk, promptflow

#1673 Open_Model_LLM Tool - Local connection tests
  src/promptflow-tools/connections.json.example
  src/promptflow-tools/promptflow/tools/open_model_llm.py
  src/promptflow-tools/tests/conftest.py
  src/promptflow-tools/tests/test_open_model_llm.py
Labels: promptflow-tools

#1677 chat flow with assistant
  src/promptflow/tests/test_configs/flows/assistant-with-file/README.md
  src/promptflow/tests/test_configs/flows/assistant-with-file/add_message_and_run.py
  src/promptflow/tests/test_configs/flows/assistant-with-file/assistant_definition.yaml
  src/promptflow/tests/test_configs/flows/assistant-with-file/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/assistant-with-file/get_or_create_thread.py
  src/promptflow/tests/test_configs/flows/assistant-with-file/get_stock_eod_price.py
  src/promptflow/tests/test_configs/flows/assistant-with-file/requirements.txt
  src/promptflow/tests/test_configs/flows/assistant-with-file/stock_price.csv
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/README.md
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/add_message_and_run.py
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/assistant_definition.yaml
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/data.jsonl
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/get_calorie_by_jogging.py
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/get_calorie_by_swimming.py
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/get_current_city.py
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/get_or_create_thread.py
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/get_temperature.py
  src/promptflow/tests/test_configs/flows/chat-with-assistant-no-file/requirements.txt
Labels: promptflow

#1582 [PromptFlow][Executor][Internal] Refine process pool.
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_logs.py
  src/promptflow/tests/executor/e2etests/test_telemetry.py
  src/promptflow/tests/executor/unittests/_utils/test_utils.py
  src/promptflow/tests/executor/unittests/processpool/test_healthy_ensured_process.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/flows/simple_flow_with_ten_inputs/data.jsonl
  src/promptflow/tests/test_configs/flows/simple_flow_with_ten_inputs/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/simple_flow_with_ten_inputs/python_node.py
  src/promptflow/tests/test_configs/flows/simple_flow_with_ten_inputs/samples.json
Labels: promptflow

#1759 [CLI] Support env variables in yaml file for local test/run.
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/test_configs/flows/flow_with_environment_variables/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_environment_variables/inputs.jsonl
Labels: sdk, promptflow

#1736 Add util method to convert image url to path and vice versa.
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_utils/multimedia_format_converter.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_format_converter.py
Labels: promptflow

#1764 [promptflow][bugfix] Fix fixture `mock_get_user_identity_info` to use real ids during record mode
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/test_configs/recordings/test_flow_operations_TestFlow_test_list_flows.yaml
Labels: promptflow

#1757 fix get user identity info
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/azure/_restclient/flow_service_caller.py
  src/promptflow/promptflow/azure/_utils/gerneral.py
  src/promptflow/tests/sdk_cli_azure_test/recording_utilities/utils.py
Labels: sdk, promptflow

#1744 [CLI] Support env variables in yaml file for serving.
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/contracts/flow.py
  src/promptflow/tests/executor/unittests/contracts/test_flow.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_serve.py
Labels: sdk, promptflow

#1763 [SDK/CLI] Add basic orchestrator test
  .cspell.json
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/entities/_experiment.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/operations/_experiment_operations.py
  src/promptflow/promptflow/_sdk/schemas/_experiment.py
  src/promptflow/promptflow/_sdk/schemas/_fields.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/test_configs/experiments/basic-no-script-template/basic.exp.yaml
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: sdk, cli, promptflow

#1774 [promptflow][bugfix] Use `unittest.mock.patch` instead of `MockerFixture`
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
Labels: promptflow

#1765 [promptflow][test] Add a UT for `get_user_identity_info`
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_operations.py
Labels: promptflow

#1773 Redesign multimedia data converter
  src/promptflow/promptflow/_internal/__init__.py
  src/promptflow/promptflow/_utils/multimedia_data_converter.py
  src/promptflow/promptflow/_utils/multimedia_format_converter.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_data_converter.py
  src/promptflow/tests/executor/unittests/_utils/test_multimedia_format_converter.py
Labels: promptflow

#1767 [SDK][azure] Automatically put requirements.txt to flow.dag.yaml if exists in flow snapshot.
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/_constants/_flow.py
  src/promptflow/promptflow/azure/_entities/_flow.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_flow_entity.py
  src/promptflow/tests/test_configs/flows/flow_with_requirements_txt/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_requirements_txt/print_env.py
  src/promptflow/tests/test_configs/flows/flow_with_requirements_txt/requirements.txt
  src/promptflow/tests/test_configs/flows/flow_with_requirements_txt_and_env/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_requirements_txt_and_env/print_env.py
  src/promptflow/tests/test_configs/flows/flow_with_requirements_txt_and_env/requirements.txt
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_auto_resolve_requirements.yaml
Labels: sdk, promptflow

#1775 [SDK/CLI] Improve error handling for run downaloader
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/azure/operations/_async_run_downloader.py
Labels: sdk, promptflow

#1782 Update documentation for deploying docker
  docs/how-to-guides/deploy-a-flow/deploy-using-docker.md
Labels: documentation, external

#1698 [Executor] Support node_concurrency when running an async flow
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/tests/executor/e2etests/test_async.py
Labels: promptflow

#1766 [Internal][SDK/Executor] Extract common flow execution logic to flow executor
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_utils/utils.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_executor_happypath.py
Labels: sdk, promptflow

#1789 [promptflow][bugfix] Use `monkeypatch` to set envrion
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: promptflow

#1792 [SDK] Add test for requirements in additional includes
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/flows/flow_with_additional_include_req/flow.dag.yaml
  src/promptflow/tests/test_configs/flows/flow_with_additional_include_req/print_env.py
  src/promptflow/tests/test_configs/flows/flow_with_environment/requirements
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_requirements_in_additional_includes.yaml
Labels: promptflow

#1779 [promptflow][refactor] Extract some file operations in local storage operations
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
Labels: sdk, promptflow

#1794 fix 1.4.0 test
  src/promptflow/tests/sdk_cli_azure_test/unittests/test_pf_client.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
Labels: promptflow

#1791 [Internal][Executor] Fix tests to be compatible with various versions of python and os
  src/promptflow/promptflow/executor/_async_nodes_scheduler.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/e2etests/test_traces.py
  src/promptflow/tests/executor/unittests/batch/test_batch_engine.py
  src/promptflow/tests/executor/unittests/batch/test_batch_inputs_processor.py
  src/promptflow/tests/test_configs/flows/flow_with_langchain_traces/test_langchain_traces.py
Labels: promptflow

#1801 [PromptFlow][Process Pool] Add environment variable 'PF_BATCH_METHOD' to set the multiprocessing start method.
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow

#1786 Enable the executor label for promptflow executor related PRs
  .github/labeler.yml
Labels: fundamental

#1696 [Feature][Executor] Support line timeout in exec_line to ensure run_info is also persisted in batch run.
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_core/flow_execution_context.py
  src/promptflow/promptflow/_core/run_tracker.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_flow_nodes_scheduler.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/test_configs/flows/one_line_of_bulktest_timeout/samples_all_timeout.json
Labels: promptflow, executor

#1785 upgrade tool package version to 1.1.0
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools

#1803 Remove unused __wrapped_function
  src/promptflow/promptflow/_core/tracer.py
  src/promptflow/tests/executor/unittests/_core/test_tracer.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/mock_tool.py
Labels: promptflow

#1662 Use relative path in gen meta/ load tool error message.
  src/promptflow/promptflow/_core/_errors.py
  src/promptflow/promptflow/_core/tool_meta_generator.py
  src/promptflow/promptflow/_core/tools_manager.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_tool_resolver.py
  src/promptflow/tests/executor/e2etests/test_executor_validation.py
  src/promptflow/tests/executor/unittests/_core/test_tools_manager.py
  src/promptflow/tests/executor/unittests/_utils/test_generate_tool_meta_utils.py
  src/promptflow/tests/executor/unittests/executor/test_tool_resolver.py
Labels: promptflow, executor, no-recent-activity

#1817 [promptflow][bugfix] Fix release date typo for 1.4.0
  src/promptflow/CHANGELOG.md
Labels: promptflow

#1798 Match the promptflow-tools setup to promptflow setup
  src/promptflow-tools/setup.py
Labels: promptflow-tools, external

#1811 [SDK] Fix list error when run flow snapshot is incomplete
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
Labels: sdk, cli, promptflow

#1805 [SDK] Add retry for cloud serving credential and workspace connection calls
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_serving/app.py
  src/promptflow/promptflow/_sdk/_serving/extension/azureml_extension.py
  src/promptflow/promptflow/_sdk/_serving/extension/default_extension.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_utils/retry_utils.py
  src/promptflow/promptflow/azure/operations/_arm_connection_operations.py
  src/promptflow/tests/sdk_cli_test/unittests/test_utils.py
Labels: sdk, promptflow

#1820 [Doc] Update deploy locally icon
  docs/media/how-to-guides/local.png
Labels: documentation

#1755 [Internal][Executor] Support batch run for eager flow
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_utils/dataclass_serializer.py
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/contracts/tool.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_script_executor.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_eager_flow.py
  src/promptflow/tests/executor/utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_exception/entry.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_exception/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_exception/inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/entry.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/inputs.jsonl
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/entry.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/inputs.jsonl
Labels: sdk, promptflow, executor

#1806 Protect entry point of batch run script in sample code
  docs/how-to-guides/run-and-evaluate-a-flow/index.md
Labels: documentation

#1807 [DOC] Add document for supporting environment variables in flow.dag.yaml file.
  docs/how-to-guides/faq.md
Labels: documentation

#1826 [Tool] Update Tool CI
  .github/workflows/tools_tests.yml
Labels: fundamental

#1822 Add CHANGELOG and capability list for supporting environment variables in yaml file feature.
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_utils/feature_utils.py
Labels: promptflow

#1827 [Cli]Add option to skip confirm dialog
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_cli/_pf/_connection.py
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_cli/_pf/_run.py
  src/promptflow/promptflow/_cli/_utils.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: cli, promptflow

#1630 [example][fundamental] Migrate to automatic runtime
  examples/flows/chat/chat-with-pdf/README.md
  examples/flows/chat/chat-with-pdf/chat-with-pdf-azure.ipynb
  examples/flows/chat/chat-with-pdf/runtime_env/Dockerfile
  examples/flows/chat/chat-with-pdf/runtime_env/build.sh
  examples/flows/chat/chat-with-pdf/runtime_env/environment_runtime.yaml
  examples/flows/chat/chat-with-pdf/runtime_env/requirements.txt
  examples/flows/chat/chat-with-pdf/tests/azure_chat_with_pdf_test.py
  examples/flows/chat/chat-with-pdf/tests/base_test.py
  examples/flows/evaluation/eval-qna-non-rag/README.md
  examples/flows/standard/basic-with-connection/README.md
  examples/flows/standard/basic/README.md
  examples/flows/standard/flow-with-additional-includes/README.md
  examples/flows/standard/flow-with-symlinks/README.md
  examples/flows/standard/maths-to-code/math_test.ipynb
  examples/flows/standard/named-entity-recognition/eval_test.py
  examples/flows/standard/web-classification/README.md
  examples/tutorials/get-started/quickstart-azure.ipynb
  examples/tutorials/run-management/cloud-run-management.ipynb
Labels: examples

#1823 [promptflow][internal] Integrate JS visualize bundle
  .github/pipelines/compliance_check.yml
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_visualize_functions.py
  src/promptflow/promptflow/_sdk/data/bulkTestDetails.min.js
  src/promptflow/promptflow/_sdk/data/visualize.j2
  src/promptflow/promptflow/contracts/_run_management.py
  src/promptflow/tests/executor/unittests/contracts/test_run_management.py
Labels: sdk, promptflow, fundamental, executor

#1829 [Test] Fix azureml serving test missing creds in CI
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
Labels: promptflow

#1833 Fix gpt4v examples.
  examples/flows/chat/chat-with-image/README.md
  examples/flows/chat/chat-with-image/flow.dag.yaml
  examples/flows/standard/describe-image/README.md
  examples/flows/standard/describe-image/flow.dag.yaml
Labels: examples

#1836 [examples] Fix examples nit, delete model in image flow dag
  examples/flows/chat/chat-with-image/flow.dag.yaml
  examples/flows/standard/describe-image/flow.dag.yaml
Labels: examples

#1814 Allow for non-dictionary inputs for testing nodes with node property references
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
Labels: sdk, promptflow, external

#1795 [Test] Inputs of node test allows pass in the value of node output directly
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
Labels: sdk, promptflow

#1750 feat: add private api to record telemetry directly
  src/promptflow/promptflow/_cli/_pf/_experiment.py
  src/promptflow/promptflow/_sdk/_pf_client.py
  src/promptflow/promptflow/_sdk/_service/.gitignore
  src/promptflow/promptflow/_sdk/_service/apis/connection.py
  src/promptflow/promptflow/_sdk/_service/apis/run.py
  src/promptflow/promptflow/_sdk/_service/apis/telemetry.py
  src/promptflow/promptflow/_sdk/_service/app.py
  src/promptflow/promptflow/_sdk/_service/entry.py
  src/promptflow/promptflow/_sdk/_service/generator_configs/csharp.yaml
  src/promptflow/promptflow/_sdk/_service/swagger.json
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_telemetry/activity.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_connection_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_azure_connection_operations.py
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/_sdk/operations/_run_operations.py
  src/promptflow/promptflow/azure/_pf_client.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_connection_apis.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_run_apis.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_telemetry_apis.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: sdk, cli, promptflow

#1838 [promptflow][internal] Support configurable additional flow test output folder
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/_utils.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
Labels: sdk, cli, promptflow

#1821 [BugFix][Executor] Fix bug when raising exception in load_multimedia_data
  src/promptflow/promptflow/_utils/multimedia_utils.py
Labels: promptflow, executor

#1844 [Bugfix][Executor] Include line_number in run_info.inputs for eager flow
  src/promptflow/promptflow/executor/_script_executor.py
Labels: promptflow, executor

#1818 [Feature][Executor] Enable batch timeout for python flow batch run
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_flow_nodes_scheduler.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow, executor

#1846 [Doc] Add flow operations to reference doc
  src/promptflow/promptflow/_sdk/operations/__init__.py
  src/promptflow/promptflow/azure/operations/__init__.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/promptflow/azure/operations/_run_operations.py
Labels: sdk, promptflow

#1853 [promptflow][internal] Remove TODO for SQLAlchemy silent warning
  src/promptflow/promptflow/_sdk/_orm/session.py
Labels: sdk, promptflow

#1856 [promptflow] Revert silence warning for SQLAlchemy and update comment
  src/promptflow/promptflow/_sdk/_orm/session.py
Labels: sdk, promptflow

#1858 [fundamental] Check enforcer should check against merge_base
  .github/workflows/check_enforcer.yml
  scripts/check_enforcer/check_enforcer.py
Labels: fundamental

#1860 Refactor code
  examples/test_data_gen/src/__init__.py
  examples/test_data_gen/src/construct_test_data_flow/flow.dag.yaml
  examples/test_data_gen/src/construct_test_data_flow/generate_debug_info.py
  examples/test_data_gen/src/construct_test_data_flow/generate_ground_truth.py
  examples/test_data_gen/src/construct_test_data_flow/generate_ground_truth_prompt.jinja2
  examples/test_data_gen/src/construct_test_data_flow/requirements.txt
  examples/test_data_gen/src/construct_test_data_flow/seed_question_prompt.jinja2
  examples/test_data_gen/src/construct_test_data_flow/utils.py
  examples/test_data_gen/src/construct_test_data_flow/validate_and_generate_seed_question.py
  examples/test_data_gen/src/construct_test_data_flow/validate_and_generate_test_question.py
  examples/test_data_gen/src/construct_test_data_flow/validate_ground_truth.py
  examples/test_data_gen/src/construct_test_data_flow/validate_ground_truth_prompt.jinja2
  examples/test_data_gen/src/construct_test_data_flow/validate_question_prompt.jinja2
  examples/test_data_gen/src/construct_test_data_flow/validate_test_question.py
  examples/test_data_gen/src/construct_test_data_flow/validate_text_trunk_prompt.jinja2
  examples/test_data_gen/src/document-nodes-test.jsonl
  examples/test_data_gen/src/test_data_gen_local/__init__.py
  examples/test_data_gen/src/test_data_gen_local/config.ini
  examples/test_data_gen/src/test_data_gen_local/requirements.txt
  examples/test_data_gen/src/test_data_gen_local/run_test_data_gen.py
  examples/test_data_gen/src/test_data_gen_pipeline/__init__.py
  examples/test_data_gen/src/test_data_gen_pipeline/config.ini
  examples/test_data_gen/src/test_data_gen_pipeline/requirements.txt
  examples/test_data_gen/src/test_data_gen_pipeline/run_test_data_gen_pipeline.py
  examples/test_data_gen/src/utils/__init__.py
  examples/test_data_gen/src/utils/common.py
  examples/test_data_gen/src/utils/components.py
  examples/test_data_gen/src/utils/constants.py
  examples/test_data_gen/test_data_gen_local/constants.py
  examples/test_data_gen/test_data_gen_local/doc_split.py
  examples/test_data_gen/test_data_gen_pipeline/components.py
  examples/test_data_gen/test_data_gen_pipeline/conda.yml
  examples/test_data_gen/test_data_gen_pipeline/constants.py
  examples/test_data_gen/test_data_gen_pipeline/run_test_data_gen_pipeline.py
Labels: examples

#1854 Add sample with function calling
  .github/workflows/samples_flows_chat_use_functions_with_chat_models.yml
  examples/README.md
  examples/flows/chat/use_functions_with_chat_models/README.md
  examples/flows/chat/use_functions_with_chat_models/data.jsonl
  examples/flows/chat/use_functions_with_chat_models/flow.dag.yaml
  examples/flows/chat/use_functions_with_chat_models/requirements.txt
  examples/flows/chat/use_functions_with_chat_models/run_function.py
  examples/flows/chat/use_functions_with_chat_models/use_functions_with_chat_models.jinja2
  examples/tutorials/run-management/cloud-run-management.ipynb
Labels: examples, fundamental

#1863 [PromptFlow][ProcessPool] Remove os.getpid() of exception message to avoid show many same errors in daily DRITrack.
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
Labels: promptflow, executor

#1840 Add gcc dependency in flow deploy docker file
  src/promptflow/promptflow/_sdk/data/docker/Dockerfile.jinja2
Labels: sdk, promptflow

#1865 Add mode logs
  examples/test_data_gen/src/test_data_gen_local/run_test_data_gen.py
  examples/test_data_gen/src/test_data_gen_pipeline/run_test_data_gen_pipeline.py
  examples/test_data_gen/src/utils/common.py
  examples/test_data_gen/src/utils/components.py
  examples/test_data_gen/src/utils/constants.py
Labels: examples

#1859 [PFS] support PFS delete run
  src/promptflow/promptflow/_sdk/_service/apis/connection.py
  src/promptflow/promptflow/_sdk/_service/apis/run.py
  src/promptflow/promptflow/_sdk/_service/utils/utils.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_connection_apis.py
  src/promptflow/tests/sdk_pfs_test/e2etests/test_run_apis.py
  src/promptflow/tests/sdk_pfs_test/utils.py
Labels: sdk, promptflow

#1855 [SDK][Internal] Support command node in orchstrator
  src/promptflow/promptflow/_sdk/_constants.py
  src/promptflow/promptflow/_sdk/_errors.py
  src/promptflow/promptflow/_sdk/_submitter/__init__.py
  src/promptflow/promptflow/_sdk/_submitter/experiment_orchestrator.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/entities/_experiment.py
  src/promptflow/promptflow/_sdk/entities/_run.py
  src/promptflow/promptflow/_sdk/schemas/_experiment.py
  src/promptflow/promptflow/_sdk/schemas/_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_experiment.py
  src/promptflow/tests/test_configs/experiments/basic-script-template/basic-script.exp.yaml
  src/promptflow/tests/test_configs/experiments/basic-script-template/generate_data/generate_data.py
Labels: sdk, promptflow

#1809 Add runtime change log in docs/cloud.
  docs/cloud/azureai/runtime-change-log.md
  docs/cloud/index.md
  docs/media/cloud/runtime-change-log/runtime-version.png
Labels: documentation, external

#1831 [SDK]Support cloud eager run submission
  .cspell.json
  src/promptflow/promptflow/_sdk/operations/_local_storage_operations.py
  src/promptflow/promptflow/azure/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_azure_test/conftest.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/eager_flows/long_running/entry.py
  src/promptflow/tests/test_configs/eager_flows/long_running/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/simple_with_req/entry.py
  src/promptflow/tests/test_configs/eager_flows/simple_with_req/flow.dag.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_cancel.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_crud.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_eager_flow_download.yaml
Labels: sdk, promptflow

#1839 [PromptFlow][ProcessPool] Solve spawned fork process manager hangs for a long time when parameters are passed incorrectly.
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_process_manager.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow, executor

#1784 [PromptFlow][Document] Modify default worker count to 4.
  docs/how-to-guides/faq.md
Labels: documentation

#1834 [Improvement][Executor] Pass dynamic line_timeout_sec when executing lines in batch run
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
  src/promptflow/tests/executor/unittests/processpool/test_line_execution_process_pool.py
Labels: promptflow, executor

#1808 [SDK][Local] Support additional includes for eager flow test
  src/promptflow/promptflow/_cli/_pf/_flow.py
  src/promptflow/promptflow/_sdk/_serving/flow_invoker.py
  src/promptflow/promptflow/_sdk/_submitter/run_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/test_submitter.py
  src/promptflow/promptflow/_sdk/_submitter/utils.py
  src/promptflow/promptflow/_sdk/entities/_eager_flow.py
  src/promptflow/promptflow/_sdk/entities/_flow.py
  src/promptflow/promptflow/_sdk/operations/_flow_context_resolver.py
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/sdk_cli_test/unittests/test_run.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_additional_includes/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_additional_includes/flow.py
Labels: sdk, cli, promptflow

#1788 [Tools] Support Azure OpenAI GPT-4 Turbo with Vision auto list deployment_name
  src/promptflow-tools/promptflow/tools/aoai_gpt4v.py
  src/promptflow-tools/promptflow/tools/yamls/aoai_gpt4v.yaml
  src/promptflow-tools/setup.py
  src/promptflow-tools/tests/test_aoai_gptv.py
  src/promptflow/promptflow/_utils/tool_utils.py
  src/promptflow/tests/executor/unittests/_utils/test_tool_utils.py
Labels: promptflow-tools, promptflow, executor

#1862 [Internal][Executor] Add batch error dict to batch result and update it if batch run timeout
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_errors.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/batch/_result.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/tests/executor/e2etests/test_batch_timeout.py
Labels: promptflow, executor

#1762 [fundamental] Recording support metrics
  .github/workflows/promptflow-sdk-cli-test.yml
  src/promptflow/tests/conftest.py
  src/promptflow/tests/executor/conftest.py
  src/promptflow/tests/sdk_cli_test/conftest.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/__init__.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/mock_tool.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/openai_inject_recording.py
  src/promptflow/tests/sdk_cli_test/recording_utilities/record_storage.py
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.bak
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dat
  src/promptflow/tests/test_configs/node_recordings/node_cache.shelve.dir
Labels: promptflow, fundamental, executor

#1870 [Executor] Support new entry format for eager flow
  src/promptflow/promptflow/batch/_batch_engine.py
  src/promptflow/promptflow/batch/_python_executor_proxy.py
  src/promptflow/promptflow/executor/_errors.py
  src/promptflow/promptflow/executor/_line_execution_process_pool.py
  src/promptflow/promptflow/executor/_script_executor.py
  src/promptflow/promptflow/executor/flow_executor.py
  src/promptflow/tests/executor/e2etests/test_eager_flow.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_run.py
  src/promptflow/tests/sdk_cli_test/e2etests/test_flow_test.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_exception/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_exception/flow_with_exception.py
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/dummy_flow_with_trace/flow_with_trace.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_dataclass_output/flow_with_dataclass.py
  src/promptflow/tests/test_configs/eager_flows/flow_with_operation_context/flow.dag.yaml
  src/promptflow/tests/test_configs/eager_flows/flow_with_operation_context/flow_with_context.py
Labels: promptflow, executor

#1873 Update runtime doc to make it more organized.
  docs/cloud/azureai/runtime-change-log.md
Labels: documentation, external

#1878 Refactor trace injection for sync/async functions to streamline logic and improve maintainability
  src/promptflow/promptflow/_core/openai_injector.py
  src/promptflow/promptflow/_core/tracer.py
Labels: promptflow, executor

#1882 [SDK/CLI]Fix batch run with registry and automatic runtime
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/azure/operations/_run_operations.py
  src/promptflow/tests/sdk_cli_azure_test/e2etests/test_run_operations.py
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_with_registry_flow.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_with_registry_flow_automatic_runtime.yaml
  src/promptflow/tests/test_configs/recordings/test_run_operations_TestFlowRun_test_run_bulk_with_remote_flow.yaml
Labels: sdk, promptflow

#1888 [SDK/CLI] Fix load yaml in flow operations
  src/promptflow/promptflow/_sdk/operations/_flow_operations.py
Labels: sdk, promptflow
