Repository microsoft/promptflow, pull requests merged in 2024-06, with the labels that each got.

#3363 install langchain_community to fix failed executor e2e test case
  .github/workflows/promptflow-release-testing-matrix.yml
Labels: fundamental

#3368 [trace][feature] Add trace usage telemetry
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/_service/apis/collector.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/tracing_utils.py
  src/promptflow-recording/promptflow/recording/azure/bases.py
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-devkit

#3366 Fix stream test case failed due to modifying GeneratorProxy
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/utils.py
Labels: promptflow-devkit

#3364 Fix typos in use-prompty-in-flow.md
  docs/how-to-guides/develop-a-prompty/use-prompty-in-flow.md
Labels: documentation, external

#3390 Replace mlflow and azure-mlflow by custom code.
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/pyproject.toml
  src/promptflow-evals/tests/evals/e2etests/data/questions_answers.jsonl
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/evals/unittests/test_eval_run.py
  src/promptflow-evals/tests/evals/unittests/test_get_trace_destination_config.py
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run_target_fn.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_log_artifact.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_logging_metrics.yaml
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_writing_to_run_history.yaml
  src/promptflow-recording/promptflow/recording/azure/bases.py
  src/promptflow-recording/promptflow/recording/azure/constants.py
  src/promptflow-recording/promptflow/recording/azure/utils.py
Labels: promptflow-evals

#3399 Log aggregated metric generated by flex flow to eval run
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_utils.py
  src/promptflow-evals/tests/evals/e2etests/custom_evaluators/answer_length_with_aggregation.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
Labels: promptflow-evals

#3361 Fixing timezone issue with local to cloud run
  src/promptflow-azure/tests/sdk_cli_azure_test/e2etests/test_run_upload.py
  src/promptflow-devkit/promptflow/_sdk/_orchestrator/run_submitter.py
  src/promptflow-devkit/promptflow/_sdk/entities/_run.py
Labels: promptflow-devkit, promptflow-azure

#3404 [azure][bugfix] Fix Azure replay test wrong sanitizations
  .github/workflows/sdk-cli-azure-test-pull-request.yml
  src/promptflow-azure/tests/conftest.py
  src/promptflow-recording/promptflow/recording/azure/constants.py
  src/promptflow-recording/promptflow/recording/azure/utils.py
Labels: fundamental, promptflow-azure

#3397 [Doc]fix typo
  src/promptflow-azure/promptflow/azure/operations/_flow_operations.py
Labels: external, promptflow-azure

#3400 [Release] Release 1.12.0
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/pyproject.toml
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow-tracing/pyproject.toml
  src/promptflow/CHANGELOG.md
  src/promptflow/promptflow/_version.py
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#3407 [devkit][bugfix] Add check for `trace.NoOpTracerProvider` to avoid crash
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-devkit

#3415 Update External Link Reference in trace-span-spec-reference.md
  docs/reference/trace-span-spec-reference.md
Labels: documentation

#3406 Pass subscription/resource_group/workspace settings define in customer folder repo to PF SDK
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow/pyproject.toml
Labels: promptflow, promptflow-devkit

#3423 [Internal] Fix tool ci by skipping acs test since the test resource is not valid
  src/promptflow-tools/tests/test_acs.py
Labels: promptflow-tools

#3424 [fundamental][bugfix] Pin `tenacity`<8.4.0 to fix import-linter CI
  .github/workflows/build_doc_ci.yml
  .github/workflows/promptflow-executor-e2e-test.yml
  .github/workflows/promptflow-executor-unit-test.yml
  .github/workflows/promptflow-import-linter.yml
Labels: fundamental

#3380 [Perf] Evaluate API: Support parallelized evaluator batch run through pf.run
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/general_utils.py
  src/promptflow-evals/promptflow/evals/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/__init__.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/batch_run_context.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/code_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/proxy_client.py
  src/promptflow-evals/promptflow/evals/evaluate/_code_client/__init__.py
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/evals/unittests/test_batch_run_context.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run.yaml
Labels: promptflow-devkit, promptflow-evals

#3426 Show user friendly error message for multi-process boostrapping error
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_evaluate.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
Labels: promptflow-evals

#3412 [Perf] Evaluate API: Using threads to infer signatures for eval batch runs instead of processes.
  src/promptflow-devkit/promptflow/_proxy/_python_inspector_proxy.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-evals/promptflow/evals/evaluate/_batch_run_client/batch_run_context.py
Labels: promptflow-devkit, promptflow-evals

#3421 [devkit][bugfix] Add missing user agent in trace telemetry
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/promptflow/_sdk/_utilities/tracing_utils.py
  src/promptflow-devkit/pyproject.toml
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-devkit

#3429 [fundamental][bugfix] Replace retired model `"text-ada-001"`
  .github/workflows/promptflow-executor-unit-test.yml
  src/promptflow-devkit/promptflow/_sdk/_utilities/tracing_utils.py
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.bak
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.dat
  src/promptflow-recording/recordings/local/executor_node_cache.shelve.dir
  src/promptflow/tests/test_configs/flows/openai_completion_api_flow/completion.py
Labels: promptflow, fundamental, promptflow-devkit

#3387 [Test] Update error msg response from backend
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_prompty_error_handler.py
Labels: promptflow-devkit

#3417 Remove sys sxit when show pfs status
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_cli.py
Labels: promptflow-devkit

#3427 [perf] Reduce eval local to remote tracking latency by caching the arm token
  src/promptflow-azure/promptflow/azure/_utils/_token_cache.py
  src/promptflow-azure/promptflow/azure/_utils/general.py
  src/promptflow-azure/tests/sdk_cli_azure_test/unittests/test_utils.py
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/tests/evals/unittests/test_eval_run.py
Labels: promptflow-azure, promptflow-evals

#3457 Skip the unit test for e2e run in recording.
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run.yaml
Labels: promptflow-evals

#3453 PR to unblock release
  src/promptflow-evals/promptflow/evals/evaluate/_eval_run.py
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/tests/evals/conftest.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate.py
  src/promptflow-evals/tests/recordings/azure/test_metrics_upload_TestMetricsUpload_test_e2e_run.yaml
Labels: promptflow-evals

#3431 [Examples] use gpt-4o instead of gpt-35-turbo-0125
  examples/dev_requirements.txt
  examples/flex-flows/basic/flex-flow-quickstart-azure.ipynb
  examples/flex-flows/basic/flex-flow-quickstart.ipynb
  examples/flex-flows/basic/llm.py
  examples/flex-flows/basic/programmer.py
  examples/flex-flows/chat-async-stream/chat-stream-with-async-flex-flow.ipynb
  examples/flex-flows/chat-async-stream/chat.prompty
  examples/flex-flows/chat-async-stream/flow.py
  examples/flex-flows/chat-async-stream/init.json
  examples/flex-flows/chat-basic/chat-with-class-based-flow-azure.ipynb
  examples/flex-flows/chat-basic/chat-with-class-based-flow.ipynb
  examples/flex-flows/chat-basic/chat.prompty
  examples/flex-flows/chat-basic/flow.flex.yaml
  examples/flex-flows/chat-basic/flow.py
  examples/flex-flows/chat-basic/init.json
  examples/flex-flows/chat-basic/run.yml
  examples/flex-flows/chat-minimal/chat.prompty
  examples/flex-flows/chat-stream/chat-stream-with-flex-flow.ipynb
  examples/flex-flows/chat-stream/chat.prompty
  examples/flex-flows/chat-stream/flow.py
  examples/flex-flows/chat-stream/init.json
  examples/flex-flows/chat-with-functions/chat_with_tools.prompty
  examples/flex-flows/eval-checklist/check_list.py
  examples/flex-flows/eval-checklist/eval.prompty
  examples/flex-flows/eval-checklist/init.json
  examples/flex-flows/eval-code-quality/code_quality.py
  examples/flex-flows/eval-code-quality/eval_code_quality.prompty
  examples/flex-flows/eval-code-quality/init.json
  examples/flex-flows/eval-criteria-with-langchain/eval_conciseness.py
  examples/flows/standard/basic-with-connection/flow.dag.yaml
  examples/flows/standard/basic/flow.dag.yaml
  examples/prompty/basic/basic.prompty
  examples/prompty/basic/prompty-quickstart.ipynb
  examples/prompty/chat-basic/chat-with-prompty.ipynb
  examples/prompty/chat-basic/chat.prompty
  examples/prompty/eval-apology/README.md
  examples/prompty/eval-apology/apology.prompty
  examples/prompty/eval-basic/README.md
  examples/prompty/eval-basic/eval.prompty
  examples/prompty/format-output/README.md
  examples/prompty/format-output/all_response.prompty
  examples/prompty/format-output/json_format.prompty
  examples/prompty/format-output/prompty-output-format.ipynb
  examples/prompty/format-output/stream_output.prompty
  examples/prompty/format-output/text_format.prompty
  examples/tutorials/tracing/custom-otlp-collector/llm.py
  examples/tutorials/tracing/custom-otlp-collector/otlp-trace-collector.ipynb
  examples/tutorials/tracing/langchain/requirements.txt
Labels: examples

#3448 Bugfix/large sim jinja exception
  src/promptflow-evals/promptflow/evals/synthetic/_conversation/__init__.py
  src/promptflow-evals/tests/evals/unittests/test_synthetic_conversation_bot.py
Labels: promptflow-evals

#3466 [Examples] add column mapping for quickstart
  examples/tutorials/get-started/quickstart-azure.ipynb
  examples/tutorials/get-started/quickstart.ipynb
Labels: examples

#3449 Fix docstrings
  scripts/docs/conf.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_chat/retrieval/_retrieval.py
  src/promptflow-evals/promptflow/evals/evaluators/_coherence/_coherence.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_content_safety_chat.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_hate_unfairness.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_self_harm.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_sexual.py
  src/promptflow-evals/promptflow/evals/evaluators/_content_safety/_violence.py
  src/promptflow-evals/promptflow/evals/evaluators/_f1_score/_f1_score.py
  src/promptflow-evals/promptflow/evals/evaluators/_fluency/_fluency.py
  src/promptflow-evals/promptflow/evals/evaluators/_groundedness/_groundedness.py
  src/promptflow-evals/promptflow/evals/evaluators/_qa/_qa.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
  src/promptflow-evals/promptflow/evals/evaluators/_similarity/_similarity.py
  src/promptflow-evals/promptflow/evals/synthetic/adversarial_simulator.py
  src/promptflow-evals/tests/evals/e2etests/test_metrics_upload.py
Labels: fundamental, promptflow-evals

#3464 Add lower bound for test coverage and upper bond for installation time.
  .github/workflows/promptflow-evals-unit-test.yml
Labels: fundamental

#3472 [Doc] Add comment on directly running function in `pf.run`
  docs/how-to-guides/develop-a-flex-flow/function-based-flow.md
Labels: documentation

#3473 Adding telemetry for evaluate API
  src/promptflow-evals/promptflow/evals/evaluate/_evaluate.py
  src/promptflow-evals/promptflow/evals/evaluate/_telemetry/__init__.py
  src/promptflow-evals/tests/evals/unittests/test_evaluate_telemetry.py
  src/promptflow-evals/tests/evals/unittests/test_evaluators/apology_dag/apology.py
  src/promptflow-evals/tests/evals/unittests/test_evaluators/apology_dag/flow.dag.yaml
  src/promptflow-evals/tests/evals/unittests/test_evaluators/apology_prompty/apology.prompty
  src/promptflow-evals/tests/evals/unittests/test_evaluators/apology_prompty/sample.json
Labels: promptflow-evals

#3470 Support config local pfs host and remove pfs auto-stop
  src/promptflow-devkit/promptflow/_cli/_pf/_flow.py
  src/promptflow-devkit/promptflow/_cli/_pf/_service.py
  src/promptflow-devkit/promptflow/_sdk/_configuration.py
  src/promptflow-devkit/promptflow/_sdk/_constants.py
  src/promptflow-devkit/promptflow/_sdk/_service/app.py
  src/promptflow-devkit/promptflow/_sdk/_service/utils/utils.py
  src/promptflow-devkit/promptflow/_sdk/_tracing.py
  src/promptflow-devkit/promptflow/_sdk/_utilities/chat_utils.py
  src/promptflow-devkit/promptflow/_sdk/operations/_run_operations.py
  src/promptflow-devkit/tests/conftest.py
  src/promptflow-devkit/tests/sdk_cli_test/unittests/test_trace.py
  src/promptflow-devkit/tests/sdk_pfs_test/e2etests/test_cli.py
  src/promptflow-recording/promptflow/recording/local/test_utils.py
Labels: promptflow-devkit

#3430 [Flow test] Remove useless code to support prompty/flex return stream output
  src/promptflow-devkit/promptflow/_sdk/operations/_flow_operations.py
Labels: promptflow-devkit

#3475 Add user agent to prompty standalone execution
  src/promptflow-core/promptflow/core/_prompty_utils.py
  src/promptflow-evals/promptflow/evals/evaluators/_relevance/_relevance.py
Labels: promptflow-core, promptflow-evals

#3479 fix pf flow validate command typo
  examples/tutorials/run-flow-with-pipeline/pipeline.ipynb
Labels: examples

#3478 [docs]fix invalid option of `pf flow validate`
  docs/cloud/azureai/use-flow-in-azure-ml-pipeline.md
Labels: documentation, external

#3461 Update quick-start.md
  docs/how-to-guides/quick-start.md
Labels: documentation, external

#3481 [fundamental] Touch result file for fork repository
  .github/pipelines/compliance_check.yml
Labels: fundamental, external
