Repository microsoft/promptflow, pull requests merged in 2025-06, with the labels that each got.

#4019 Update flask-cors dependency in devkit
  src/promptflow-devkit/pyproject.toml
Labels: promptflow-devkit

#4021 v1.18.1 change
  src/promptflow/promptflow/_version.py
Labels: promptflow, external

#4023 Main to Release Branch 1.18.1
  src/promptflow-tools/promptflow/version.txt
  src/promptflow/promptflow/_version.py
Labels: promptflow-tools, promptflow
