Repository microsoft/promptflow, pull requests merged in 2025-01, with the labels that each got.

#3903 remove _T dependency
  src/promptflow-devkit/promptflow/_sdk/schemas/_fields.py
Labels: promptflow-devkit

#3907 Disable tracing in Promptflow by default
  .github/workflows/promptflow-core-test.yml
  .github/workflows/promptflow-sdk-cli-test.yml
  .github/workflows/promptflow-tracing-e2e-test.yml
  .github/workflows/promptflow-tracing-unit-test.yml
  .pre-commit-config.yaml
  src/promptflow-azure/pyproject.toml
  src/promptflow-core/promptflow/executor/flow_executor.py
  src/promptflow-devkit/tests/sdk_cli_global_config_test/e2etests/test_global_config.py
  src/promptflow-devkit/tests/sdk_cli_test/e2etests/test_cli.py
  src/promptflow-tracing/promptflow/tracing/_utils.py
  src/promptflow/tests/executor/conftest.py
Labels: promptflow, fundamental, promptflow-core, promptflow-devkit, promptflow-tracing, promptflow-azure

#3912 update changelog for 1.17.1 release
  src/promptflow-core/CHANGELOG.md
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-tracing/CHANGELOG.md
  src/promptflow/CHANGELOG.md
Labels: promptflow, promptflow-core, promptflow-devkit, promptflow-tracing

#3927 MSRC93736-RCE-Fix
  .pre-commit-config.yaml
  src/promptflow-core/CHANGELOG.md
  src/promptflow-core/promptflow/core/_utils.py
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow-devkit/pyproject.toml
  src/promptflow/tests/executor/unittests/_utils/test_utils.py
Labels: promptflow, external, promptflow-core, promptflow-devkit

#3940 Promptflow Release 1.17.2
  src/promptflow-core/CHANGELOG.md
  src/promptflow-devkit/CHANGELOG.md
  src/promptflow/CHANGELOG.md
Labels: promptflow, external, promptflow-core, promptflow-devkit

#3935 fix(ci): Fix "poetry could not find a pyproject.toml" in import lint workflow
  .github/workflows/promptflow-import-linter.yml
Labels: fundamental

#3945 Prepare promptflow tools v1.5
  src/promptflow-tools/CHANGELOG.md
  src/promptflow-tools/promptflow/version.txt
Labels: promptflow-tools, external
